[2017-10-03 21:09] mario opened #1 "Prepare underlaying infrastructure"

[2017-10-03 21:10] mario opened #2 "Implement login mechanism"

[2017-10-03 21:10] mario opened #3 "Implement Contacts view"

[2017-10-03 21:10] mario opened #4 "Implement Rooms view"

[2017-10-03 21:11] mario opened #5 "Manual 1-on-1 calls"

[2017-10-22 19:08] #1 closed, assigned to mario

[2017-10-22 19:08] #2 closed, assigned to mario

[2017-10-22 19:08] #3 closed, assigned to mario

[2017-10-22 19:08] #4 closed, assigned to mario

[2017-10-23 11:56] mario opened #6 "Refactor search functionality into SearchController"
Create new controller out of Base Controller that would implement search functionality currently implemented in both CallsListController and  ContactsController.

[2017-10-23 11:56] mario opened #7 "Implement settings screen"

[2017-10-23 11:58] mario opened #8 "Loading & Error screens"

[2017-10-23 11:58] mario opened #9 "Integrate Merlin"
https://github.com/novoda/merlin

Via Dagger module.

[2017-10-23 12:04] mario opened #10 "Handle SSL issues / certificate acceptance"

[2017-10-23 12:04] mario opened #11 "Handle web login load failure"

[2017-10-26 18:11] mario opened #13 "Implement proxy setup in the onboarding phase"

[2017-10-29 22:15] mario commented on #10
Basic SSL acceptance implemented.

[2017-10-29 22:15] #10 closed

[2017-10-30 16:06] jancborchardt opened #14 "Take server address & credentials from main Nextcloud app"
@nextcloud/android is it possible that we can transfer the server address & credentials over from the main Nextcloud app?

Ideal would be completely seamless log in, but it’s also ok if we just port the URL and the username like we do for DAVdroid.

[2017-10-30 17:07] mario commented on #14
There is a way to import credentials from the Nextcloud app, and we're working on a way to share credentials (and other things) directly in the future.

However this improvement for the Talk app is in the future, as we first need to have a working app and multi-account support, which is not the case now :)

[2017-10-30 17:08] mario opened #15 "Create graphics"
https://material.io/guidelines/style/icons.html#icons-product-icons

Relevant files are in:
mipmap-*
ic_launcher_background.xml in drawable directory

I also need an svg that will be used on the logo screen.

[2017-11-03 10:55] Spartachetto opened #16 "Change readme in coherence with ios app"
A bit more "Brand" identity with talk-ios could be good.

A really simple proposal for the first part of the readme

-------------------------------------------

# Nextcloud Talk Android app

This is the Android app for the [Nextcloud Talk](https://github.com/nextcloud/spreed) app.

## Prerequisites

*    Nexcloud instance with Nextcloud Talk app installed (Latest [master](https://github.com/nextc

[2017-11-06 19:25] mario commented on #7
Working on this, partly implemented.

[2017-11-06 19:25] mario commented on #13
Implemented in settings, but not yet in onboarding.

[2017-11-07 20:58] #7 closed

[2017-11-07 20:58] mario commented on #16
Will talk with @Ivansss about this, but priority is to get the apps running. Thanks for the note! :)

[2017-11-21 12:24] #5 closed

[2017-11-24 14:48] jancborchardt commented on #15
The Talk app icon is here:
https://github.com/nextcloud/promo/blob/master/Specific%20designs/icon-talk-android.svg

Also adjusted the regular app icon with dotted background and round circle:
https://github.com/nextcloud/promo/blob/master/Specific%20designs/icon-android.svg

Beta logo, if needed:
https://github.com/nextcloud/promo/blob/master/Specific%20designs/icon-android-beta.svg

Dotted backgr

[2017-11-28 08:09] mario commented on #15
Thanks!

[2017-11-28 08:09] #15 closed

[2017-12-08 14:07] mario opened #17 "Handle permission acceptance/decline better"

[2017-12-08 14:07] mario opened #18 "Check & fix signaling with multiple users"

[2017-12-13 00:18] #17 closed

[2017-12-13 10:04] mathiasconradt opened #19 "Login/confirm button for submitted the URL"
There should be a login/confirm button after entering the URL. Only making the submit action available via keyboard/done key works, but is not that user friendly IMHO

[2017-12-13 10:09] mathiasconradt opened #20 "Avoid SSL certificate check if possible"
Not sure if it's possible on Android
https://gist.github.com/aembleton/889392
but if, the SSL cert check should be avoided. It's technical and cryptic for non-technical end-users. They wouldn't even know what exactly they should check and how.
![image](https://user-images.githubusercontent.com/295122/33933450-0c7b0040-dff6-11e7-9ffc-aa0d40975fdf.png)

[2017-12-13 10:11] mario commented on #20
Well, if it's an untrusted cert, what would you like me to do? xD Just trusting every certificate out there is not acceptable.

[2017-12-13 10:11] mathiasconradt opened #21 ""Your SSL setup prevented us from connecting" message not making sense"
The "Your SSL setup prevented us from connecting" message I get is confusing, it doesn't make much sense. It happened when on the NC i tried to connect, there was still NC12 without the Talk app (server-side) running.

So, of course the talk app wouldn't work without a server-side Talk app installed.

But SSL is fine, and should not be related, therefore the message does not make much sense here.

[2017-12-13 10:15] mathiasconradt opened #22 "If server has no Talk app installed, message should be more dominant and clear"
When the Nextcloud server has no Talk app installed, the user gets redirected back to the screen with the URL input field without a permanent message there.

The message _"Nextcloud talk app not installed, aborting"_ only appears for a few seconds and does not remain on-screen. Also, the wording is ambiguous. I would phrase it: _"Nextcloud talk app not installed **on the server**, aborting"_

![im

[2017-12-13 10:22] mathiasconradt commented on #20
Depends if untrusted or unknown. If it's untrusted, don't proceed. If it's unknown, proceed.

I mean, how can a user know if he should trust this certificate, when this dialog comes up? What is he supposed to do? It says "Please check out the certificate" but it doesn't tell how/what exactly he should check.
I assume that 99,99% of the user will click "yes" just because they want to proceed with t

[2017-12-13 10:24] mario commented on #20
It's basically untrusted, because I cannot find it in any of the system trust managers. Maybe @MorrisJobke can check if we serve the intermediate certificate too, which should resolve the problem?

[2017-12-13 10:26] mario commented on #21
Did you accept the SSL certificate?

[2017-12-13 10:26] mathiasconradt commented on #20
With "untrusted", I mean if a user has actively rejected a cert before by having pressed "No" anywhere else in the system (i.e. another app). While with "unknown" it would be like in the screen above.
Not sure if the cert validation state between "untrusted" and "unknown" can be differentiated in code.

[2017-12-13 10:28] mario commented on #20
As far as I know, it can't - either you trust it or you don't trust it. (It's different with our own trust store, but yea...)

[2017-12-13 10:37] mathiasconradt commented on #21
Yes, I did. You can try it yourself. Choose https://nextcloud.com as URL (of course, there is no Talk or even NC running, but it's still a valid SSL cert), and you would get the same message.

[2017-12-13 11:00] MorrisJobke commented on #20
We never have seen problems here and also the SSL test says, that it is okay: https://www.ssllabs.com/ssltest/analyze.html?d=cloud.nextcloud.com&hideResults=on The intermediate is properly served.

[2017-12-13 12:31] rullzer commented on #20
Also Letsencrypt certs work just fine in the Nextcloud app

[2017-12-13 14:37] #20 closed

[2017-12-13 14:38] mario commented on #20
Fixed, thanks!

[2017-12-13 14:38] mario commented on #21
Fixed. You'd get 404 now :P

[2017-12-13 14:38] #21 closed

[2017-12-13 14:48] mathiasconradt opened #23 "UI layout overlap with list items across tabs"
I have entered a call/room and returned back to the calls list (and the problem only seems to happen then). When switching tabs, the list rendering is a bit weird, text is overlapping:

![image](https://user-images.githubusercontent.com/295122/33944592-f181bf1e-e01c-11e7-9bf2-50367183836a.png)

[2017-12-13 18:04] oparoz opened #24 "Cannot login with app token"
Tested on our cloud.
Got message that app was not installed on the server
Had to start from scratch, the app did not remember my token.

[2017-12-13 18:07] mario commented on #24
Of course not. How is this a bug? If the server doesn't support Talk, why would I keep the account?

[2017-12-13 18:29] oparoz commented on #24
The server supports Talk

[2017-12-13 18:30] oparoz commented on #24
But I agree, if the app detects that the server doesn't support it, then there is no point keeping the account's data.

[2017-12-13 18:32] mario commented on #24
Not the right version, otherwise this would most definitely work? Glad we agree though :P

[2017-12-13 18:32] #24 closed

[2017-12-13 18:34] oparoz commented on #24
What do you mean? We're on 13, using Talk for 13.

[2017-12-13 19:50] mario commented on #24
@oparoz I mean that I just triple checked with our cloud and it works.

[2017-12-13 20:01] oparoz commented on #24
Just tried again and it worked 👍 . Could have been a typo in the token. Would be good to have more granularity in the error messages if possible :)

[2017-12-13 20:04] oparoz opened #25 "Make camera access optional"
It shouldn't be mandatory to enable the camera to use the app.

[2017-12-13 20:08] mario commented on #24
You login with your password and the app generates a token for you :)

[2017-12-14 10:56] rullzer opened #26 "server url should respect url format"
When entering the url: cloud.<domain> the input apparenrly doesn't tell my keyboard it is an url. So the `.` after cloud also gets a space.

This works in the Nextcloud app.

[2017-12-14 11:00] rullzer opened #27 "Assume https"
We build secure software. We should assume that any url entered in the main screen if there is no protocol provided we first try https.

If https fails. Show a big warning and offer to fall back to http

[2017-12-14 11:23] mario commented on #26
Easy to fix, will be done.

On Thu, 14 Dec 2017 at 11:56, Roeland Jago Douma <notifications@github.com>
wrote:

[2017-12-14 11:25] mario commented on #27
Or fallback to http automatically like we do on the Nc app?

On Thu, 14 Dec 2017 at 12:00, Roeland Jago Douma <notifications@github.com>
wrote:

[2017-12-14 11:48] rullzer commented on #27
I would show a warning (actually we should also do that in the NC app I'll open an issue there as well). So usersknow they are communication over an insecure connections.

@jancborchardt any ideas how to show this in a nice way?

[2017-12-14 12:00] mario commented on #27
We do show that its insecure in the Android app but then it quickly
proceeds to webview, so not sure users see this.

On Thu, 14 Dec 2017 at 12:48, Roeland Jago Douma <notifications@github.com>
wrote:

[2017-12-14 12:04] rullzer commented on #27
k, well just the same behaviour as in the app should be fine. Maybe we can show it in a bar on top of the webview or something ? But lets fix it later :)

[2017-12-14 13:20] jancborchardt commented on #27
Yes, the behavior in the Android app is for a reason and covers all concerns mentioned. It should be done exactly the same here. :)

[2017-12-14 13:38] pierrecdlc commented on #26
What's the server url ? Because I enter : http://account.gamacloud.com/gamacloud/index.php/apps/spreed

But it don't work... How can i do ?

[2017-12-14 13:40] pierrecdlc opened #28 "Problem with connexion"

[2017-12-14 13:40] pierrecdlc commented on #28
What's the server url ? Because I enter : http://account.gamacloud.com/gamacloud/index.php/apps/spreed

But it don't work... How can i do ?

[2017-12-14 13:43] pierrecdlc commented on #28
Unexpected character "<" (code 60)): expected a valid value (number, String, array, object, true, false 'or' null) at [Source: buffer (buffer (okio .Gzipsource @ ef2f94f))) input Stream0; line: 1, column: 2]

[2017-12-14 15:21] mario commented on #28
The url would be just http://account.gamacloud.com/gamacloud.

[2017-12-14 15:21] #28 closed

[2017-12-14 15:22] mario commented on #26
@pierrecdlc answered in a separate ticket: https://github.com/nextcloud/talk-android/issues/28

[2017-12-14 15:36] pierrecdlc commented on #26
The URL http://account.gamacloud.com/gamacloud don't work, i receive "only works on nextcloud server"

[2017-12-14 15:41] mario commented on #26
You have changed the product name from Nextcloud to Gamacloud. Currently talk only works with Nextcloud as a product, for anything else I'd suggest you contact our Nextcloud sales department, or change & compile the app yourself.

[2017-12-14 16:05] pierrecdlc commented on #26
Thanks for all, Pierre.

[2017-12-14 18:03] #26 closed

[2017-12-14 21:59] vikingredwolf opened #29 "Site not recognised as Nextcloud"
The android app doesn't recognise my server as a valid Nextcloud site. It accepts my certificate and then it gets stuck.

[2017-12-14 22:08] mario commented on #29
Does your status.php show "productname" as "Nextcloud"?

[2017-12-14 22:10] mario commented on #28
I will do a new release soon so it'll work with Gamacloud.

[2017-12-14 22:12] vikingredwolf commented on #29
That file is "untouched". It contains this:
'productname'=>$defaults->getName());

[2017-12-14 22:13] mario commented on #29
Can you mail me pls with the url? mario@nextcloud.com

[2017-12-14 22:13] vikingredwolf commented on #29
Sure!

[2017-12-14 22:18] mario commented on #26
@pierrecdlc like I commented in another ticket, will be fixed in 0.1.1 - thanks for the patience!

[2017-12-14 22:22] #29 closed

[2017-12-15 14:08] tobiasKaminsky opened #30 "Granting permissions"
![2017-12-15-150545](https://user-images.githubusercontent.com/5836855/34045527-8afc9f3c-e1a9-11e7-9315-6b187be7e65f.png)

Instead of letting the user enable permissions on settings, it should directly ask for the permission, like on nextcloud app:
![2017-12-15-150732](https://user-images.githubusercontent.com/5836855/34045552-b0ffeb9e-e1a9-11e7-80ef-3a4a19f2c318.png)

Code reference: https://gith

[2017-12-15 14:17] tobiasKaminsky opened #31 "Login screen"
The input field is a little darker, which in my opinion, does not look very good.
In general it looks very empty, maybe add also some infos, like on nc app?
Maybe also remove "talk" in "nextcloud talk server" as it can lead to the impression that there is a special talk server instead of the regular nextcloud server (of course with talk app enabled)
@jancborchardt

![2017-12-15-151350](https://use

[2017-12-15 14:18] tobiasKaminsky opened #32 "Add drone / lint"
To have some QA/CI drone and lint should be added.
I can add integrate both of them.

[2017-12-15 14:23] tobiasKaminsky opened #33 ""app not found" with http instead of https"
I accidentally typed in http://cloud.nc.c instead of https://... and login worked without a problem, but then it was shown app not found and then I was logged out.

[2017-12-15 14:37] mario commented on #33
This is currently expected since the webview follows redirects, while the http client does not (for a reason) and I use the url the user initially entered. Since my PR to the server has been merged, I'll change the code to use the url the server returns so this will fix it.

Thanks for the report.

[2017-12-15 14:37] mario commented on #30
This should already work. I'll investigate.

[2017-12-15 14:38] tobiasKaminsky opened #34 "Starting a call: more feedback needed"
I started a call on our company instance and also tried it with a local server.
As soon as I start a call I see myself (front camera), but do not see any recipient.
Trying to start a call on the web ui also did not succeed.

The question is now, what is happening. Is it really trying to connect? So any feedback is necessary.

(Edit: I used the self compiled version directly out of AndroidStudio on

[2017-12-15 14:39] mario commented on #31
a) I need to check what's up with the logo
b) title was already changed to "Nextcloud server address"
c) There will be a proceed button under this all
d) IHMO, the input box looks nice - it's TextField Box according to Material guidelines

[2017-12-15 14:39] mario commented on #32
Sure, PRs welcome :P

[2017-12-15 16:00] jancborchardt commented on #31
Fully agree with @tobiasKaminsky’s points, as I also noted via email @mario ;)

- The dark background of the input box is unnecessary, the white line already is enough.
- The arrow is good as a confirm button. Either way we do it, it should be consistent across both apps please.
- We can put the same notice we have in the Files app there too. @jospoortvliet maybe a filter on the providers page as

[2017-12-15 17:55] mario commented on #31
Like I mentioned, I don't necessarily agree, but one cannot win all the fights so ... :)

[2017-12-15 20:54] jancborchardt commented on #31
As said, we designed the Files app view for a reason like that and I'm not fond of going through the same design discussion process again when we already know how to do it. ;)

[2017-12-18 22:54] #19 closed

[2017-12-18 22:54] #27 closed

[2017-12-18 22:54] #31 closed

[2017-12-18 22:54] #33 closed

[2017-12-19 16:20] #23 closed

[2017-12-19 16:20] mario opened #37 "Migrate push keys to the database"

[2017-12-19 16:21] mario opened #38 "Implement in-call controls (audio, video, end call)"

[2017-12-19 16:22] mario opened #39 "Implement push actions"

[2017-12-19 16:24] mario opened #40 "Implement room actions"

[2017-12-20 10:03] tobiasKaminsky opened #42 "Use account from Nextcloud app"
To have a great UX it would be nice to have the accounts of NC app automatically shown on startup if available:
- use current state and fetch all accounts by name. Drawback: password needs to be entered again
- use https://github.com/nextcloud/ownCloud-Account-Importer/issues/3 so it can work directly

(not now, but maybe for version 1?)

[2017-12-20 10:06] mario commented on #42
Already reported/suggested here, so closing as duplicate of #14.

[2017-12-20 10:06] #42 closed

[2017-12-21 02:17] #38 closed

[2017-12-21 21:26] #22 closed

[2017-12-28 11:06] mario opened #47 "The icon looks VERY bad"
Using S7, which is a relatively recent phone:

- forced round icon looks awful since it's surrounded by a semi-rounded square (due to the way Samsung shows icons), so I vote for going back to squared icon in most cases (e.g. letting the phone/OS/manufacturer decide what's best)
- the dots on the background are completely INVISIBLE, so I vote for removing them completely

cc @AndyScherzinger

cc @j

[2017-12-28 12:28] mario opened #48 "Change & improve call UI/UX"

[2017-12-28 12:31] #25 closed

[2017-12-28 12:31] #30 closed

[2017-12-28 12:34] mario opened #49 "Switch to simpler bottom navigation view"

[2017-12-28 13:11] mario opened #50 "Add support for Xiaomi to Effortless permissions"

[2017-12-28 17:16] jancborchardt commented on #47
I thought we came to an agreement now through the latest icon discussion in the main app repo?

- where manufacturers decide the shape, we let them
- the dots are very large and at 30% opacity now, so super visible

[2017-12-28 17:16] jancborchardt commented on #47
Maybe best post a screenshot to illustrate.

[2017-12-28 17:36] mario commented on #47
Have you seen the icon on a phone? I need to use a magnifying glass in order to see the dots.

The screenshot is useless since it needs to be seen on a phone to see what's happening.

[2017-12-28 17:39] mario commented on #47
As for "where manufacturers decide a shape" is not as simple as you imagine, and can't really be done properly before Android 8, so it looks very ugly. (e.g. Android 7.0 now has a round icon surrounded by semi-rounded grey square imposed by Samsung)

[2017-12-28 18:39] mario commented on #47
I have now updated the icon to use square where needed, round icon on API 25, and for Android 8 adaptive which means the os/manufacturer/whatever decides. As for the dots, they're still there, but I wish I could show you how this looks :(

[2017-12-28 23:48] mario commented on #49
Fixed issue with existing implementation so this will not be needed.

[2017-12-28 23:48] #49 closed

[2017-12-29 08:23] tobiasKaminsky commented on #47
I could only test the nextcloud (files) app with a Samsung S5 with android 6.0.1 and there the icon is round and the dots are big enough to see and distinguish them without any problems, not blurry.
I liked the icon in its very first state, but now it looks even better, @AndyScherzinger 🎉

[2017-12-29 09:06] mario commented on #47
*shrug*

Will leave it as-is and hope the next version of logo will have plain
background :p

On Fri, 29 Dec 2017 at 09:23, Tobias Kaminsky <notifications@github.com>
wrote:

[2017-12-29 12:22] #47 closed

[2017-12-29 14:22] AndyScherzinger commented on #47
I am not an expert and so I can't say what is right or wrong, maybe a matter of taste when it comes to the dots but I agree with Mario. To me the dots are distinguishable now due to the raised contrast but to me it makes the background rather noisy where I would prefer a minimal gradient to give it a slight 3D effect as mentioned by the material guidelines.
It did the icon changes for the files ap

[2017-12-30 22:47] mario commented on #14
Current TODO:

- [ ] Implement better alert dialog
- [ ] Handle API above 22 (Dangerous permissions)
- [ ] Investigate crashes on the "Add account" button sometimes
- [ ] Investigate double "Server selection" controller happening sometimes
- [ ] Add support for checking if imported account is HTTP or HTTPS

If luck serves me, this will be in the next release.

[2018-01-01 10:29] mario opened #51 "Double "Server selection" controller on "Add new account""

[2018-01-01 15:35] #14 closed

[2018-01-01 15:37] mario commented on #14
You can now choose to import account(s) from the Nextcloud app - including username, password and the url.

[2018-01-02 18:19] #39 closed

[2018-01-03 07:49] mario commented on #37
After some thinking, not needed so removing milestone and closing.

[2018-01-03 07:49] #37 closed

[2018-01-04 21:27] jancborchardt commented on #14
Is this part of the initial setup also? Like when the Nextcloud app is detected (if possible), you can import?

[2018-01-04 21:31] mario commented on #14
If Nextcloud app is detected, once you start the Talk app and the server entry screen is shown you'll see "IMPORT ACCOUNT FROM THE NEXTCLOUD APP" or "IMPORT ACCOUNTS FROM THE NEXTCLOUD APP" if you have more than 1 account.

[2018-01-05 16:51] jancborchardt commented on #14
Ah sure, sorry I was just confused there. Thanks!

[2018-01-08 22:23] mario opened #52 "Handle network changes / reconnect"

[2018-01-08 22:23] mario opened #53 "Support local instances"

[2018-01-09 15:53] mase76 commented on #34
Similar here. The webif gets a signalling, even from a caller with the android app. But no signalling in the android app at all.

[2018-01-09 16:01] mario commented on #34
Good things come to those that wait :P

[2018-01-09 20:11] jancborchardt opened #54 "Logo in new icon is too small"
The main round form in the logo is significantly smaller than in the previous Talk app.

I'm a bit confused why since in the source file I only modified the background size and opacity.

[2018-01-09 20:19] mario commented on #54
It is 80% of the original size, as mandated by the Material design.

[2018-01-09 20:22] jancborchardt opened #55 "Video controls layout"
Currently the video controls (hang up, video, mute, switch camera) are in that order, very small, on the top of the view. They stay for a long 10 seconds, no matter if something was touched, and then fade out slowly.

Instead of that:

- they should be on the bottom
- have more padding for better tappability (I guess the icon size itself is standard? Maybe a bit small)
- they should be sorted: Han

[2018-01-09 20:23] jancborchardt commented on #8
Yup, currently it's quite confusing to have just the black screen instead of the emptycontent screen.

[2018-01-09 20:25] jancborchardt commented on #54
I am not talking about the blue background, but the white app logo.

As you can see from this screenshot, the logo circle is much too small:
https://cloud.jancborchardt.net/s/k21ARdN9u8bwUfY

[2018-01-09 20:28] mario commented on #54
I know what you're referring to. The icons were generated using the generator inside the Android Studio with size set to 80%, so it should be good.

@AndyScherzinger can tell you more once he's back :)

[2018-01-09 20:45] mario commented on #54
Will re-open for now, at least until @AndyScherzinger comes back ^_^

[2018-01-09 20:54] mario commented on #55
I agree with almost everything except putting them on the bottom. Do you have a reasoning for that?

The bottom is occupied by the small own-video view in the right, and I'd like to keep the UI clutter-less, and putting the controls on the top achieves that.

[2018-01-09 21:06] mase76 commented on #34
Are Google services needed for this to work?

[2018-01-09 21:57] mario commented on #34
Google Play services are needed for the push notifications, not for this particular issue.

[2018-01-10 06:30] tobiasKaminsky commented on #55
Yesterday I used Skype on my mobile phone. There they have the control buttons on bottom, as also known from VLC and other media players, The small own-video is on top right and is also draggable so it can snap to other corners.
Putting the own-video on top has also the advantage that if you are looking at your own video you look nearly directly in the front camera (as on most devices it is at top

[2018-01-10 14:59] andyxh opened #56 "External Contacts"
Hello I think there should be a feature that shows external contacts for example I have a server that's shared via Federation and and if I click under contacts via web it shows all the contacts on the other server that's being shared is there a way to make this app able to see external contacts from other servers

[2018-01-10 15:01] andyxh opened #57 "Nextcloud Talk for iOS"
Well nextcloud talk be out on iOS devices?

[2018-01-10 15:14] mario commented on #57
Yes.

https://github.com/nextcloud/talk-ios

[2018-01-10 15:14] #57 closed

[2018-01-10 15:16] mario commented on #56
While showing contacts should be possible (cc @schiessle for confirmation), federated calls are not yet available.

[2018-01-10 15:24] lachmanfrantisek opened #58 "Publish to F-droid"
Hello,

thank all of you for such a nice app. Would it be possible to publish *talk* also to the [f-droid repository](https://f-droid.org/) like [other nextcloud apps for android](https://f-droid.org/packages/#q=nextcloud)?

Thanks in advance!

[2018-01-10 15:25] mario commented on #58
Hopefully in the future, yes - but the issue is you won't be able to receive push notifications unless you have MicroG, and I hear it's relatively hard to install?

[2018-01-10 15:31] lachmanfrantisek commented on #58
Thank you for a quick answer.

I am not sure about the MicroG -- it can be probably installed directly via apk? (Or use play only for this.)

Would be nice to install at least talk via f-droid.

[2018-01-10 15:38] mario commented on #58
MicroG is a set of services that are open source replacements for the Google Play services on "regular" devices.

https://microg.org/

You can download an APK of the Talk app directly until I figure out a proper way to support F-droid.
https://github.com/nextcloud/talk-android/releases

[2018-01-10 15:43] lachmanfrantisek commented on #58
OK, sorry that I messed the MicroG and GlooglePlayServices...

I have a google-play, but would like to use it as little as possible...;-)

Thank you!

[2018-01-10 15:43] mario commented on #58
Understood. Feel free to install the APK directly for now and let me know how you like the app!

[2018-01-10 15:49] lachmanfrantisek commented on #58
Still waiting for the server update and preparing on the phone side..;-)

[2018-01-11 20:32] mase76 commented on #34
Since the latest server update, I am able to establish a call. There is no notification when a call arrives, even when the app is open, but basically the conversation works.

[2018-01-12 00:45] fredscud opened #59 "Text messages"
Hi,
do you plan to implement text chat to talk-android ?
Thanks,
Fred.

[2018-01-12 07:06] mario commented on #59
Yes, but not very soon because the API doesn't support it yet.

[2018-01-12 10:06] Matttter commented on #58
To publish to F-Droid, there would need to be a seperate FOSS flavor without GCM... And I don't think it's acceptable to be dependent on Google services for a project such as Nextcloud in the long run. Anyway, really cool app, I would love it to be completely independent from proprietary alternatives like Telegram :)

[2018-01-12 10:11] mario commented on #58
@Matttter I've done the separation for the Nextcloud Android app, so I know. There's no way to do push notification without Google services, at least not on the server side. On the client side I hear it's possible to use MicroG but I've never tried it.

Maybe I will in the future.

[2018-01-12 14:48] hurrikan77 opened #60 "Android app only for nextcloud 13 why?"
Hi

I use the latest stable version nextcloud 12 with an rapsberry pi 3 (NextcloudPi Project).
I tried to install the talk app and it works great.

But if I try to use the android app it say it works only with nextcloud 13.
Is there any possibility to use the app with nextcloud 12 until Nextcloud 13 goes to stable?

Best regards

Hurrikan77

[2018-01-12 14:52] mario commented on #60
Unfortunately no. We need features in 13 in order for app to work correctly. You can install Nextcloud 13 beta and test the app that way.

Sorry that I don't have better news!

[2018-01-12 14:52] #60 closed

[2018-01-12 15:21] hex-m commented on #58
We had the discussions of GCM-dependency for years until it was fixed in [Signal](https://github.com/WhisperSystems/Signal-Android/commit/1669731329bcc32c84e33035a67a2fc22444c24b). It's true that you don't have push notifications without gapps/microg but that just means the device has to contact the server regularly and thus use more battery - right?

[2018-01-12 18:50] mario commented on #59
My apologies, the API is there, but not documented. So eventually :)

[2018-01-12 18:57] mario commented on #58
This is not a philosophical, but a technical issue. This is a talk application - once I get a call, I want to get a notification right away, not in 5 or 10 minutes. Now, technically:

- the only way to make sure I can check the server in an interval is alarm manager
- how often would you query the server? 0.5 seconds? 1 second? 5 seconds? 10?
- to make sure such frequent polling works, you would:

[2018-01-12 21:25] jancborchardt opened #61 "Use own avatar as icon for »Settings«"
Currently it’s a bland settings icon, but since it’s all about your own settings, having your own avatar there would be nice. This also show you how you appear to others, and will be good feedback for when we support multiple accounts.

cc @mario what do you think?

[2018-01-12 21:26] jancborchardt opened #62 "Show Talk icon left of the »Nextcloud Talk« title in header, left-align text with content text"
Currently the header text is all the way to the left and there is no icon. We should display the Talk icon on the left next to the »Nextcloud Talk« header. :)

[2018-01-12 21:28] mario commented on #62
Unsure. This hasn't been like that on Android since like ... forever? :)

[2018-01-12 21:28] jancborchardt opened #63 "Use link-icon instead of world globe for public calls"
To be symmetric to the icons we use on the server and iOS, we should use the link icon instead of the globe:
![screenshot from 2018-01-12 22-27-50](https://user-images.githubusercontent.com/925062/34895889-e9e9cb92-f7e7-11e7-97a6-491fa74a63d8.png)
https://material.io/icons/#ic_link

[2018-01-12 21:30] mario commented on #63
Absolutely.

[2018-01-12 21:30] jancborchardt commented on #62
When apps have a sidebar. When they don’t, it looks strange to have the text unaligned. Signal for example has their logo there.

[2018-01-12 21:35] mario commented on #61
Well, it's also global settings, but I agree ;)

We also support multiple accounts on Android :P

[2018-01-12 21:36] mario commented on #62
Gimme a few days to think about it, and I'll come back to you.

[2018-01-13 14:17] kertase commented on #58
hasn’t push been around since way longer than google play? So it should be possible to use a http push protocol instead of google play?

[2018-01-14 06:19] Scoub29 commented on #50
Hello,
On huawei P8 (android 7), i need to set permissions (mic, camera, storage) and disable battery optimization manually.
Best regards,

[2018-01-14 06:24] Scoub29 opened #64 "Notification sound"
Hello,
Is it possible to choose another notification sound for incoming call than the smartphone default one ?
A long ringtone would be better than a short notification ;)
Best regards

[2018-01-14 06:56] mario commented on #50
I'll investigate, thanks for letting me know.

[2018-01-14 06:56] mario commented on #64
Not yet. But the plan is to support this eventually :)

[2018-01-14 19:41] AndyScherzinger commented on #54
I can have a look next week if the logo can be larger while staying within the safe zone, when I am back at a laptop

[2018-01-15 08:11] SlavikCA commented on #50
On my Nexus 6P (Android 8.1) I needed to manually add permissions, too

[2018-01-15 08:12] mario commented on #50
@SlavikCA this is a bug that I'll fix. Xiaomi has a strange permission system, and I heard Huawei has something similar (but that I have to investigate).

For Nexus, it's "just" a bug :)

[2018-01-15 09:16] tobiasKaminsky commented on #58
Until you find the time @mario to get push implemented on f-droid in a proper way, why not do it the same as in the nextcloud app:
If detected that push is not supported/working show a snackbar saying that the user will not receive a notification on an incoming call.
But the user can still use the app to call people, to join a conference call.

I think that people that are using a complete google

[2018-01-15 09:21] mario commented on #50
@SlavikCA @Scoub29 1.0.10 is out which should fix your particular problems.
As for battery optimizations, I don't see the need to disable it?

[2018-01-15 15:23] mario commented on #18
Seems to work already.

[2018-01-15 15:23] #18 closed

[2018-01-15 15:23] mario commented on #51
Seems like it's been fixed.

[2018-01-15 15:23] #51 closed

[2018-01-16 01:22] HammyHavoc opened #65 "Push-to-talk"
Hey all,

Would love to see push-to-talk support come to Talk; really promising. :- )

[2018-01-16 03:51] mario commented on #65
Would this not be just a gimmick? :) What's the practical idea behind it?:)

[2018-01-16 10:23] HammyHavoc commented on #65
Not in any way... for one thing, it's a great way of eliminating noise and feedback, and on group calls it's a complete no-brainer, especially if any of your employees are working in the field and are outside or in a generally noisy environment. This is a standard with most enterprise VoIP systems. Push-to-talk is a cornerstone of enterprise voice communication. This is why you need to hold a butt

[2018-01-16 10:26] mario commented on #65
@HammyHavoc

- ability to mute others should be in the apps eventually, I think web interface already has this
- rejoining call if it disconnects - on the agenda

I'm interested in implementing this, but I'd like to know your take where would you put it in the interface? (the big TALK button). Would it be a config option? Something else?

[2018-01-16 10:41] HammyHavoc commented on #65
@mario

I'm not sure if muting others is quite what I have in mind when talking about PTT; your implementation of muting implies I don't want to hear the other party, that's not the case. PTT is similar to everybody having their own mic muted by default, they then unmute it with the depression of a key or holding their finger on a certain virtual button on the screen, it then goes back to muting t

[2018-01-16 10:52] bryandesrosiers commented on #65
Although aimed for Gamers, Discord does Push To Talk pretty darn well. Even on their mobile platforms, PTT is able to be utilized. Only thing lacking is a potential floating PTT button for when out side of app, similar to Facebook's Messenger app.

Personally, I use PTT religiously. So much that a prospecting software WILL lose my interest if no PTT function exists.

End of the day, the way I look

[2018-01-16 11:27] mario commented on #65
@HammyHavoc let's first implement this on Android, and if it works like you want it to, then we can poke @nextcloud/talk and @nextcloud/talk-ios. Sounds good? :)

[2018-01-16 11:28] mario commented on #65
cc @nickvergessen @Ivansss

[2018-01-16 11:30] HammyHavoc commented on #65
@mario Awesome! :- )

[2018-01-16 12:22] Matttter commented on #58
Yes, if it's not possible or practical to implement a notification service, then just having the app available on F-Droid, even without the notifications, would be great. Like @tobiasKaminsky proposed, a snackbar or a dialog on first launch or something of the sort that tells users what's up would then make sure users who do really need the notifications could resort to the regular app

[2018-01-16 12:45] nickvergessen commented on #65
Push to Talk sounds nice to me, if it's easy enough I'd do it in the mobile apps.

[2018-01-16 13:25] MorrisJobke commented on #65
cc @nextcloud/designers to bring up a nice UX for this.

[2018-01-16 23:11] #55 closed

[2018-01-16 23:23] mario commented on #65
My thoughts:

- functionality would be enabled per-room (in a menu)
- you'd still have the option to have microphone ON all the time in a call, disabling microphone shows PTT button again
- this is based on clients, so someone could STILL be in the call with its microphone on, as said above
- button would be rounded and with mic inside located at bottom right, emiting glow when sending audio

Let

[2018-01-17 00:01] HammyHavoc commented on #65
@mario This sounds fantastic. I'm impressed by how fast you guys move. :- ) 👍

[2018-01-17 05:33] ernesst opened #66 "Connexion initialized : no sound no video only with app"
First of all thanks for the app and talk.

I'm running right now on nextcloud 13 rc1 with talk updated to the latest and also the latest nextcloud talk app on the app store.

I've installed the app on a phone and a tablet for tests. I've noticed with different accounts :

1) tablet + app (outside of the local network) calling the phone + app (in the local network of the server), when the call is i

[2018-01-17 07:21] mario commented on #66
Hello @ernesst!

Thanks for setting the up. I'm not an expert, but:

219222: session 001000000000000141: realm <nextcloud13rc1.org> user <1516252609>: incoming packet message processed, error 403: Forbidden IP

And also:

These log lines look fishy to me.

For revelant code that checks if IP is OK in coturn take a look here:
https://github.com/svn2github/coturn/blob/master/src/server/ns_turn_serve

[2018-01-17 11:34] MorrisJobke commented on #65
Could we get some feedback from @nextcloud/designers here to have the same feature set on all devices/platforms.

[2018-01-17 13:14] AndyScherzinger commented on #54
PR is #67

[2018-01-17 13:24] #54 closed

[2018-01-17 16:25] KevinAT commented on #58
@mario

why is that? what is so exceptional about GCM that it can't be replicated by another party? is there any documentation where i can read up on this? how does it work, shouldn't it just be a server sending notifications to a client and that's it? how does Google prevent the enormous battery drain and what prevents anyone else from doing the same?

[2018-01-17 19:05] mario commented on #58
It's a long story. Like I said - you can use MicroG to receive notifications sent by Google WITHOUT having Google services installed, but it's a bit involved. Alternate ways include things what signals does, or what we'll eventually do - service, IGNORE BATTERY OPTIMIZATIONS, and do http get every now and then (quite often, 10 seconds?).

I'd say GCM is magical in a way it can interact with the sy

[2018-01-17 19:34] mario commented on #65
New thoughts: add a PTT button next to microphone if disabled. Keeps UI consistent, and there's no room setting so makes it simpler.

[2018-01-17 19:46] mario commented on #65
Or even better! Long press and hold on the muted microphone initiates PPT!

This gets better by the second!

[2018-01-17 19:52] HammyHavoc commented on #65
Love the elegance and simplicity of that. Intuitive. :- ) 👍

[2018-01-17 20:19] kertase commented on #58
Instead of get could you not use use long pooling or maybe webpush api could be implemented in nextcloud and could be used instead ?

[2018-01-17 20:25] mario commented on #58
Since Nextcloud has to be accessible on lots of installations, websockets or such is not an option (and you'd still need a service!). And long polling still requires a service that would do it.

[2018-01-17 21:09] mario commented on #65
Thanks to the awesome feedback from you all, this will be in 1.1 which means in say 3-4 weeks rather than in 1.2 :) Thanks folks!

[2018-01-17 21:11] KevinAT commented on #58
@mario

so the only actual advantages that GCM has over other notification services is that it's very optimized to not drain much battery, and that its service doesn't have to restart because the system will never kill it?

then maybe the best way to do it without requiring multiple different app versions would be:

if GCM/microG is installed on the system then the app uses it

if GCM/microG is no

[2018-01-17 21:21] mario commented on #58
GCM == FCM mostly. It's the same thing.

[2018-01-17 22:24] #65 closed

[2018-01-17 22:25] mario commented on #65
Majority of this has now been implemented, some details remain in order to improve animations and stuff.

[2018-01-17 22:35] HammyHavoc commented on #65
@mario This might be the fastest feature implementation I've seen for a few years! Thank you! Will be looking forward to trying this on launch... now we have a far more compelling argument to roll out Nextcloud. :- )

[2018-01-17 22:38] mario commented on #65
@HammyHavoc :)

Sorry that it won't be released sooner - some things just need to go in 1.1, so don't want to rush it.

[2018-01-18 01:22] freddresken commented on #66
Hi @ernest @Mario,

Same situation as Ernest described I have here but with the difference that I don't have stun/turn on my system. So it's not a stun/turn issue.

Going to test with coturn later today.

[2018-01-18 05:13] ernesst commented on #66
@freddresken
Yes I think you need a turn server.
Try also from the web interface only.

@mario
I was in doubt that was a problem with my coturn server as the call through the web interface from Internet was good.
I figured out that was my system adblocker, blokada. As soon i deactivate it, the call and video work.
FYI : with DNS66 works fine.

Thanks

[2018-01-18 05:13] #66 closed

[2018-01-18 06:36] mario commented on #66
@freddresken by default you have Nextcloud's STUN configured, but in lots of cases, you need TURN to get a connection. :)

@ernesst glad it works! :)

[2018-01-18 07:23] tobiasKaminsky commented on #65
Is this somehow shown to the user? Maybe as text like we have on initial FAB on nextcloud files? Otherwise I would never expect that long pressing this button allows me to speak.

[2018-01-18 08:30] mario commented on #65
@tobiasKaminsky to me it's quite intuitive and judging by the @HammyHavoc comment he likes it too. Saying that, there will eventually be an animated introduction into this feature :)

[2018-01-18 08:40] mario commented on #65
(I will however consider putting PTT text underneath the icon, let me just think about it)

[2018-01-18 14:45] Deltafox79 opened #69 "Url case-sensitive not support..."
Hi, i have compiled latest Android build v1.0.11 Build 22 of today and login access work fine but the url displayed does not support uppercase letters **xxxxx.yyy/Nextcloud** but the app not recognize the case-sensitive N and display url xxxx.zzz/**n**extcloud and not see any user contact after login..

ios app instead work fine...

Regards

[2018-01-18 14:50] mario commented on #69
Thanks for the report @Deltafox79. Could you send me test credentials to mario AT nextcloud DOT com so I can test and fix? :)

[2018-01-18 18:06] Deltafox79 commented on #69
https://www.pensierando.it/Nextcloud
Username=mario
psw=nextcloud

the bug for android is :
1) After login I not see any contact but whit ios app all work fine..
For iOs
2) Is possible like android to login whit many account?

Regards

[2018-01-18 18:13] mario commented on #69
@Deltafox79 I will test in a bit. For iOS, we don't yet support multi-account.

[2018-01-18 18:30] tigernero79 commented on #69
I also have the same problem, I have the cartel anextcloud with the N in upper case (Nextcloud) app nextcloud talk makes me log in but then the account entry digs me www.xxxx.it/nextcloud and does not show me the users only white screen. and in setting me

https://tigernero.no-ip.org/nextcloud instead of the final Nextcloud

[2018-01-18 18:57] mario commented on #69
Thanks folks, you can delete the test account @Deltafox79 now :) Please look into your admin settings where you'll see you miss TTF-something, so avatars aren't properly generated.

As for the problem you're having with uppercase, it's fixed, and you'll have a new version tomorrow.

[2018-01-18 19:06] #69 closed

[2018-01-18 19:10] mario commented on #69
cc @tigernero79 too ^_^

[2018-01-18 19:59] tigernero79 commented on #69
after having compiled your version with uppercase fix I see only users that when I make a call alert it exits from android to ios to accept call but from android to android or iOS to android warning that someone is calling you does not exit. coincidence or general bug? warning comes out only from android to ios

[2018-01-18 20:01] mario commented on #69
@tigernero79 this is normal. Once you install an update 1.0.12 from Play Store, it'll work :)

[2018-01-18 20:04] Deltafox79 opened #70 "Notifications call Incoming missing on Android"
When try to call a user whit Android to other Android no Notification Incoming call appare.. In background or foreground... Test whit latest v1.0.22 build 23...

[2018-01-18 20:05] mario commented on #70
Like I mentioned in another issue, you need to use a build from Play Store or download an APK from here to have notifications: https://github.com/nextcloud/talk-android/releases

Cheers! :)

[2018-01-18 20:05] #70 closed

[2018-01-18 20:14] Deltafox79 commented on #70
I understand I signed whit my Signatures.. Right.. On play store is present always 1.0.11 i Wait new version whit case sensitive fix

[2018-01-19 08:19] AndyScherzinger commented on #62
I'd also say don't add the logo.

While Signal is doing that and it is technically possible API wise (well, Signal is doing it...) it is something I haven't seen in any app except for signal (running >100 apps on my phone).

[2018-01-19 11:06] jookk opened #71 "Calling with app"
I have problem with app to app calling.
Using androids.
Call is not working, no sound, no video on both sides.
Tried in my local network and tried in mobile network both sides.
Calling via webui working fine in one local network and mobile to mobile networks.
Using own turnserver and own stun 2ip adresses.

I have not checked calling via web ui to mobile talk app.

[2018-01-19 11:08] mario commented on #71
Can I get two test accounts please: mario AT nextcloud DOT com. Also what
version of the app and what phones and Android?

On Fri, 19 Jan 2018 at 12:06, jookk <notifications@github.com> wrote:

[2018-01-19 11:17] jookk commented on #71
Your account is created, hoope, email was sent to you...
app version 1.0.12 on all of them.
Xiaomi Redmi note 4 global android 7
Lg optimus android 5.1
Lenovo tab android 6
Asus tab android 6
all permissions granted for app

[2018-01-19 12:02] mario commented on #71
@jookk thanks, let me check.

[2018-01-19 12:10] mario commented on #71
Just tried webUI <-> Android works. Will try Android <-> Android tonight. Thanks for the accounts!

[2018-01-19 12:17] mario commented on #71
I tried it. I got it to work, but it does not always work which is strange. Wil try to look into it!
Please keep the accounts! :)

[2018-01-19 13:24] tobiasKaminsky opened #72 "Weblogin: user agent with unneeded prefix"
"Mozilla/5.0" should be removed, I think.

![screenshot_20180119-121924](https://user-images.githubusercontent.com/5836855/35152824-42e88ff8-fd24-11e7-940a-d211f1b27878.png)

[2018-01-19 13:26] mario commented on #72
This was discussed with @Ivansss and @nickvergessen before we decided to do this, so closing. They can chime in to complain :P

[2018-01-19 13:26] tobiasKaminsky opened #73 "Cannot end call -> app hangs"
I only have this one call ("Du" = "you").
If I click on it, I can see myself, flip camera, but on ending call (red button) or clicking back, the whole app freezes.
I have to hard kill it and restart it to get back to the call list.

![screenshot_20180119-142132](https://user-images.githubusercontent.com/5836855/35152884-7ed62444-fd24-11e7-8f09-3063136592ce.png)

[2018-01-19 13:27] mario commented on #72
The Nextcloud app does the same btw :)

 <string name="user_agent">Mozilla/5.0 (Android) ownCloud-android/%1$s</string>

[2018-01-19 13:27] tobiasKaminsky opened #74 "Create new public call"
Scenario: I want to do a video call from the app with someone who does not have the app:
- how can I create a new public call?
- where do I see the url to give it to the user

I assume that this is not possible yet?

[2018-01-19 13:31] tobiasKaminsky commented on #62
Imdb has it ;-)
But I also think that is not neccessary 🙃

![screenshot_20180119-143050](https://user-images.githubusercontent.com/5836855/35153096-65e48c2c-fd25-11e7-8711-f62b02dc5adc.png)

[2018-01-19 13:34] tobiasKaminsky commented on #72
![2018-01-19-143230](https://user-images.githubusercontent.com/5836855/35153148-9388b1bc-fd25-11e7-9fb3-c8a2371772d2.png)

I am only talking about the "mozilla" part.
But I am currently also unsure where this gets removed as indeed our useragent also have "mozilla".

[2018-01-19 16:08] jookk commented on #73
A cant sometimes end call too. One click and no call control buttons are visible.

[2018-01-19 16:10] jookk commented on #71
I tried calling with other side on other network with app on both sides (androids)
First call: no call success. So I ended call and started new call and it succeed.
(sometime I receiving late notifications about call in progress (someone call me notify).

[2018-01-19 16:55] mario commented on #71
I cannot impact how fast the notifications appear, but we've set priority to high.

As for the connectivity, I'll check - just please keep my accounts! :)

[2018-01-19 16:55] mario commented on #73
What version @tobiasKaminsky ?

[2018-01-19 16:56] mario commented on #74
It's not available yet, but is planned.

[2018-01-19 16:56] mario commented on #72
@tobiasKaminsky this is probably the server side magic :)

[2018-01-19 18:24] mario commented on #71
Fixed, will be in the next minor release. You can now delete the accounts :)

[2018-01-19 18:24] #71 closed

[2018-01-19 18:40] mario commented on #73
@jookk your particular bug will be fixed in the next minor release :)

[2018-01-19 19:01] mario commented on #65
@HammyHavoc can you mail me please? mario AT nextcloud DOT com

[2018-01-19 19:04] #63 closed

[2018-01-20 05:31] nathan-sain opened #75 "Support push notifications for systems without Google Play Services"
Would it be possible to add support for push notifications using services other than F/GCM which requires Google Play Services?

For example, [Pushy](https://pushy.me) works on platforms which do not have Google Play Services installed. The [Fastmail Android app uses Pushy](https://blog.fastmail.com/2016/12/21/what-we-talk-about-when-we-talk-about-push/) on systems without support for F/GCM.

Alth

[2018-01-20 06:21] mario commented on #75
There is already a discussion here about this: https://github.com/nextcloud/talk-android/issues/58

As for the actual push infrastructure - sure, you could NOT rely on Google, but you'd also need to do changes to Nextcloud and the way it does push. Keep it mind very minimal amount of data is sent via push message, and it's all encrypted anyway.

I'll close this issue as there's already so much sai

[2018-01-20 06:21] #75 closed

[2018-01-20 06:41] nathan-sain commented on #75
That make sense. We can keep the discussion on #58. I did want to note that the Google Play Service isn't just a push notification service. It provides a large number of other services for the android platform that many of us are not comfortable with installing, regardless of the security of the F/GCM messages. For that reason IMHO it's worth having an alternative push option.

[2018-01-20 06:43] mario commented on #75
@nathan-sain I completely understand. For now, you can install MicroG which allows you to use push while NOT having Google services installed.

[2018-01-20 06:45] MorrisJobke commented on #65
@mario could you open a ticket in the talk repo to implement it there too

[2018-01-20 06:46] mario commented on #65
@MorrisJobke absolutely.

[2018-01-20 06:48] mario commented on #65
@MorrisJobke:

https://github.com/nextcloud/spreed/issues/603
https://github.com/nextcloud/talk-ios/issues/42

[2018-01-20 10:05] tobiasKaminsky commented on #73
Latest App yesterday 1.0.12

[2018-01-20 10:10] mario commented on #73
Please try 1.0.14 :D

On Sat, 20 Jan 2018 at 11:05, Tobias Kaminsky <notifications@github.com>
wrote:

[2018-01-20 11:40] tobiasKaminsky commented on #73
Same.
On Monday I'll try to get a logcat, if possible.

[2018-01-20 11:41] mario commented on #73
Thanks

On Sat, 20 Jan 2018 at 12:40, Tobias Kaminsky <notifications@github.com>
wrote:

[2018-01-20 21:22] tigernero79 opened #76 "possible to make video calls to three or more users?"
And in anticipation of opportunities to make video calls to three or more by applying nextcloud talk from mobile as already happens by browser? allow you to add more users to a video call. from mobile I mean.

[2018-01-20 21:23] mario commented on #76
You can create a call with more users on the web, and then join the call on the mobile. Mobile will get the opportunity to create group/public calls a bit later.

[2018-01-20 21:23] mario commented on #76
See #74.

[2018-01-20 21:23] #76 closed

[2018-01-22 07:03] tobiasKaminsky commented on #73
This is all I get.
After clicking back / red button, the video stops and I can toggle the overlay icons, but I can never get back to the "start/calling screen".
I have to manually force close it.

[code]

[2018-01-22 07:07] tobiasKaminsky commented on #73
It seems to happen only if I am the only one (or maybe the last one?) in the call.

[2018-01-22 07:43] mario commented on #73
@nickvergessen @Ivansss hey folks! @tobiasKaminsky has this talk called "You" which keeps reappearing. Since the Android app never creates such a talk, I was wondering if you've got any idea what's going on?

On the WebUI this call doesn't have the right detail side.

[2018-01-22 07:49] tobiasKaminsky commented on #73
Server is NC13.0.0 RC2
Spreed/talk sever app is: 3.0.1
Android app is: 1.0.14

[2018-01-22 08:18] Ivansss commented on #73
This "You" call was probably created by clicking on "New public call" in the web UI.
It is just a public call where you are the only participant.
You should be able to rename it or add more participants.

If you click on that call, the right side bar doesn't show up?

[2018-01-22 08:50] tobiasKaminsky commented on #72
Then this should be also done on server side talk app, or? @nickvergessen

[2018-01-22 08:53] tobiasKaminsky commented on #73
This is "you" / "Du": https://nextcloud.kaminsky.me/index.php/s/7P8sYfE7yMxJZZR
this is "call": https://nextcloud.kaminsky.me/index.php/s/bcf6oRA96nQbDmP

Clicking on "you" does not open the detail/right view.

[2018-01-22 09:22] tobiasKaminsky commented on #73
![screenshot_20180122_101543](https://user-images.githubusercontent.com/5836855/35213471-089f86c6-ff5e-11e7-8355-f3d1ed718682.png)

Debugged with @Ivansss and it appears that there were null rooms. I removed them and now the app is working as expected.
But maybe these rooms should be somehow avoided / auto cleaned?

[2018-01-22 09:42] mario commented on #73
I can NOT show them. Dunno why they would appear.

On Mon, 22 Jan 2018 at 10:22, Tobias Kaminsky <notifications@github.com>
wrote:

[2018-01-22 09:43] nickvergessen commented on #73
Server/update issue => https://github.com/nextcloud/spreed/pull/606

[2018-01-22 09:43] #73 closed

[2018-01-22 10:20] nickvergessen commented on #72
Well, not entirely sure how this is done in the other app, but the files app shows "Huawei ALE-L21" for me, not anything user agent related at all...

[2018-01-22 10:23] mario commented on #72
@nickvergessen probably related to the login flow :) I do exactly the same as we do on the Files app.

[2018-01-22 10:38] nickvergessen commented on #72
Yeah but I tried to find the code, but it does not use the user agent constants anywhere.

[2018-01-22 10:49] mario commented on #72
@nickvergessen @tobiasKaminsky found the issue. Android app uses:

    private static String getWebLoginUserAgent() {
        return Build.MANUFACTURER.substring(0, 1).toUpperCase(Locale.getDefault()) +
                Build.MANUFACTURER.substring(1).toLowerCase(Locale.getDefault()) + " " + Build.MODEL;
    }

[2018-01-22 10:51] #72 closed

[2018-01-22 10:51] mario commented on #72
@tobiasKaminsky and @nickvergessen - thanks for debugging with me! :)

[2018-01-22 13:47] kafisc opened #77 "No notification on LineageOS 14.1"
Hello,

i'm on a Moto Z Play LineageOS 14.1 and i do not get notifications for incoming calls (I do not use gapps).
Does the notifications depend on the gapps framework?

I do not have another LineageOS 14.1 phone so i can't cross check.

Thank you in advance
kafisc

[2018-01-22 13:48] mario commented on #77
You need either gapps or microg. I just learned today there is a Lineage with MicroG already installed.

https://lineage.microg.org/

[2018-01-22 13:48] #77 closed

[2018-01-25 15:06] #40 closed

[2018-01-25 21:15] mario opened #78 "Support joining password-protected public rooms"

[2018-01-26 06:56] jobyrlen commented on #34
I'm unable to make it work as well. I wrote about it on the Nextcloud community forum: https://help.nextcloud.com/t/using-nextcloud-talk-in-a-vpn/26015/4

Is there an ability to turn on verbose logging in the app? I don't see much when running adb logcat.

[2018-01-26 07:01] mario commented on #34
@jobyrlen will answer you in the forums.

[2018-01-26 10:56] mario commented on #78
Partially done, needs support for actually pasting the URL so one can join.

[2018-01-26 19:33] mario commented on #48
The list of tasks PROBABLY includes:

- [ ] Moving to Flexbox layout as suggested by #46 (though probably not the same implementation)
- [ ] Showing avatars when there's no video/video has been disabled

[2018-01-26 19:33] mario opened #79 "Participants management"
Allow managing participants in an existing conversation.

[2018-01-26 19:34] mario commented on #74
This will also include ability to create group calls.

[2018-01-26 20:29] jookk opened #80 "Receiving call screen"
You can now receive call by:
Phone ringing, display is off,
You have to unock phone, swipe down to Nextcloud Talk notification > answered by tap, or dismissed by swiping.

New users (not advanced android users) are in state (what to do? )
Is is possible to implement:
Nextcloud talk ringing -> display on > Calling screen with Two choices (Pick Up or Dismiss buttons)?

So, user know how to answer re

[2018-01-26 20:33] mario commented on #80
Will be in 1.2 I hope.

[2018-01-27 21:26] elpraga opened #81 "Camera not working (black) Huawei MediaPad 10 Android 7.0"
It does work correctly when I use the Talk app via the web interface on the same tablet.

app version 1.0.14

[2018-01-27 21:27] elpraga opened #82 "When a call is picked up on one device it should stop ringing on other devices"
at the moment it keeps ringing on a second device even after the call is picked up on one device.

[2018-01-27 23:02] mario commented on #81
Could you go into settings and tell me what it says for the model name? Thanks! :)

[2018-01-27 23:02] mario commented on #81
(Also, did you enable it? Call controls are in the bottom of the call screen)

[2018-01-27 23:22] elpraga commented on #81
I can give you __Device name:__ HUAWEI MediaPad T3 10 or __Model number:__ AGS-W09

Yes, I did enable it, but it just shows a black square, it does work when I use the web interface though (as I mentioned before). Switching cams does nothing either.

What more can I help you with?

[2018-01-28 05:10] jookk commented on #81
Have you enabled app permissions for camera, mic?

[2018-01-28 12:04] elpraga commented on #81
@jookk Yes I did (I double checked that) @mario stock ROM and Android 7.0 (as I wrote in the description)
@jookk which Android version is T3 8.0 running? My Phone is also Huawei running Android 6.0, and it also works fine.  I thought it might be Android 7.0 issue. Is it working fine on other Android 7.0 devices?

[2018-01-28 12:08] jookk commented on #81
Yes, working on nougat xiaomi redmi note 4.
My brother have t3 8.0 on Android 7 and talk worked well (as my memory
telling me)
I ll recheck at thursday.

Dňa 28. januára 2018 1:04:32 PM používateľ elpraga
<notifications@github.com> napísal:

[2018-01-28 13:29] mario commented on #81
@elpraga I'll build a separate APK for you to try soon :)

[2018-01-28 13:36] mario commented on #81
@elpraga http://172.104.243.61/nextcloud/index.php/s/S7YtxX37msFLZGA

[2018-01-28 17:24] elpraga commented on #81
Ok, I can confirm. The camera is working correctly now on my device.

Thank you! Great you were able to find the problem so quickly! What was it?

I'm experiencing some more issues, I will  give it more testing, and I'll report them if needed!

Thank you!

[2018-01-28 17:31] #81 closed

[2018-01-28 17:37] elpraga opened #83 "Buttons sometimes fail to appear on the screen"
Once in call, the buttons (hang up, mute audio, mute video) sometimes don't appear on the screen. I keep taping, but they don't show up. (sometimes I see only the left half of the red hang up button)

Rotating the device makes them appear.

[2018-01-28 17:43] elpraga opened #84 "Advise users to set the "Keep running after screen off" atribute"
If the app gets closed after the screen is locked (default on my phone), calls cannot be received for no (at least to me :disappointed:) apparent reason.

Maybe users should be advised to change the settings? (I might be just a little dumb, might be obvious to others, I'm not sure :rofl: )

[2018-01-28 17:44] mario commented on #84
This shouldn't be true. I will, however, test it out - assuming I have this setting on one of my phones.

[2018-01-28 17:45] mario commented on #81
@elpraga thanks for letting me know, the fix will be in the next release. Some devices, unfortunately, don't support video hardware acceleration, and when something like this happens, there's no video.

By disabling hardware acceleration, it starts working (even if a bit slower than it should!).

Report all the issues, and I'll be happy to help! :)

[2018-01-28 17:47] elpraga opened #85 "Let user know if the call is hung up by the other party"
Currently, there is an option not to receive a call (swipe), but the caller has no idea it had happened.

Shouldn't the app let him/her know about it? Right now there is no difference between waiting for the other one to pick up and staring on the screen after the other party had declined the call.

[2018-01-28 18:02] elpraga commented on #84
I was just testing it again, and I can confirm the behavior. I've got two Huawei devices and they both have this feature (it is called __Don't close after screen off__). Calls don't get through if not set.

The same is true if I forcibly close the app (I guess that's what happen if the attribute is not set, and the screen switches off), the calls are not received.

[2018-01-28 18:26] mario commented on #84
I just looked, doesn't look like Samsung has it.

Folks, anyone else has this "feature"?

[2018-01-28 21:45] elpraga commented on #84
I would guess all Huawei phones and tablets have it..

[2018-01-29 01:50] jookk commented on #84
Yes, at huawei, this is their battery optimisation - app to app setting. As I know from Android 4.4 to 7.
Xiaomi have miui battery optimisation. App to app too - individually. (I have set it to No savings.)
And other (chinese?) can have their "optimisations" too.

[2018-01-29 01:53] mario commented on #84
Awesome :-/ Strange ideas about memory and battery management - just kill EVERYTHING *shrug*

[2018-01-29 01:55] mario commented on #84
@jookk push works for you on Xiaomi?

[2018-01-29 01:56] mario commented on #84
And would you mind sending me screenshots of this "settings" to mario AT nextcloud.com? Thanks! :)

[2018-01-29 01:57] mario commented on #84
Same for you @elpraga  ^_^

[2018-01-29 01:58] jookk commented on #84
Mario, at least, you can require "no batt optimised" android permission. On
miui (android 7) this permission turn miui optimization off. (we can test)

Dňa 29. januára 2018 2:53:35 AM používateľ Mario Đanić
<notifications@github.com> napísal:

[2018-01-29 01:59] jookk commented on #84
Receiving call, you mean? Yes.

Dňa 29. januára 2018 2:55:55 AM používateľ Mario Đanić
<notifications@github.com> napísal:

[2018-01-29 02:00] mario commented on #84
@jookk I'll have a test version for you tomorrow. Would appreciate if you can test it on both Huawei and Xiaomi cc @elpraga

[2018-01-29 02:05] jookk commented on #84
Huawei not possible till friday - at least.

Dňa 29. januára 2018 3:00:17 AM používateľ Mario Đanić
<notifications@github.com> napísal:

[2018-01-29 02:14] mario commented on #84
Ah I found a better way to fix this. Gimme a few days :)

[2018-01-29 10:39] elpraga commented on #84
OK, I can test it on Huawei. I'll send you  the screenshot later on as well!

[2018-01-29 11:00] mario commented on #84
@elpraga please try push now. With "Keep running after screen off" unset of course!

[2018-01-29 12:59] mario opened #86 "Change public & group icons"
https://github.com/nextcloud/server/blob/master/core/img/actions/public.svg
https://github.com/nextcloud/server/blob/master/core/img/places/contacts-dark.svg

[2018-01-29 13:00] mario opened #87 "Investigate call controls & rotation strangeness"

[2018-01-29 13:00] mario commented on #86
D5D5D5

[2018-01-29 13:38] #86 closed

[2018-01-29 18:51] mario commented on #84
Same to you @jookk ^_^

[2018-01-29 18:53] jookk commented on #84
What to do? Is there new version to tedt or Im missing something? :O

[2018-01-29 18:58] mario commented on #84
No, existing version. Enable all battery optimizations, and remove the check from "Keep running after screen off". Then try calling your phone from another account and see if you get a notification.

[2018-01-29 20:47] jookk commented on #84
Yes, it worked - got push notification.

[2018-01-29 20:57] mario commented on #84
Thanks @jookk. Now just waiting for @elpraga to confirm, and we can close the issue :)

[2018-01-29 21:03] elpraga commented on #84
testing now
.

[2018-01-29 21:05] jookk commented on #84
Strange (at least for xiaomi) :D

Dňa 29. januára 2018 9:57:47 PM používateľ Mario Đanić
<notifications@github.com> napísal:

[2018-01-29 21:12] elpraga commented on #84
before I finish testing.. @jookk  , where are you from? 😄

[2018-01-29 21:14] jookk commented on #84
Slovakia

Dňa 29. januára 2018 10:12:14 PM používateľ elpraga
<notifications@github.com> napísal:

[2018-01-29 21:23] elpraga commented on #84
I was born in Brno, I've been living in Spain for last eleven years..
I keep testing the behaviour, still not working 100%. I'm trying to check all possible options. I'll let you know when I finish..

[2018-01-29 21:24] mario commented on #84
@elpraga let me know. It really SHOULD work now :)

[2018-01-29 21:39] elpraga commented on #84
I'll take my time testing @mario . So far i. doesn't work 100, I'll test it thoroughly, I'll try to guess the behaviour in normal use. I'll definitely let you know.

[2018-01-29 23:21] elpraga commented on #84
Ok. I've got my results.
First, the devices I used for testing:
1. Tablet Huawei MediaPad T10, Android 7.0,  Nextcloud talk 1.1 (the version @mario uploaded here),
     The battery saving option can be found __Settings__ -> __Battery__ -> __Close apps on screen lock__  -> __Nextcloud Talk__ -> _Unchecked_, text _Won't be closed_ appears under the name of the application.
2. Phone Huawei Y6II, Andr

[2018-01-30 06:40] mario commented on #84
Thanks for testing @elpraga. Disappointing results, since the way we do push, should pierce even through battery optimizations, but it is what it is.

It is possible to ASK for you to ignore battery optimizations, but not really recommended by Google. Let me see if we'd fall into the exceptions category.

[2018-01-30 06:42] mario commented on #84
@jookk you tried with Xiaomi, right?

[2018-01-30 07:04] jookk commented on #84
Yes, with xiaomi, android 7, miui9.
Its strange, because I have more apps with miui batt optimisations off.
(nextcloud, davdroid...)
Maybe, on miui8 android6 miui batt optimisations was stricter.

I now tried calling after reboot and Talk app ringed.

Dňa 30. januára 2018 7:42:33 AM používateľ Mario Đanić
<notifications@github.com> napísal:

[2018-01-30 07:55] mario commented on #84
@elpraga when you disabled battery optimisations, did you also tick the app under Autostart apps?

[2018-01-30 08:28] elpraga commented on #84
No, I haven't. I don't even know where to look for Autostart apps.

What really surprises me is that I'm not able to receive __any calls__ (not even with the app open and focused) on the tablet with Android 7.0 unless I uncheck the Close app on Screen Lock

[2018-01-30 08:32] mario commented on #84
@elpraga this Huawei stuff is worse than Xiaomi :( At least it works on Xiaomi, as @jookk confirmed.

[2018-01-30 08:58] elpraga commented on #84
You're right :(

[2018-01-30 12:06] mario commented on #84
@jookk did you try to force close the app and see if you get notifications then with battery optimizations on?

[2018-01-30 12:07] mario commented on #84
@elpraga since this seems to be a platform bug, not much I can do on Huawei :( Bug them? :P

[2018-01-30 12:16] mario commented on #84
@elpraga did you set your app as "protected" btw?

[2018-01-30 12:21] jookk commented on #84
Actually I cant force close talk
See button on bottom of the screen "Ukončiť" grey.

Dňa 30. januára 2018 1:06:50 PM používateľ Mario Đanić
<notifications@github.com> napísal:

[2018-01-30 12:22] mario commented on #84
@jookk sent me an email with screenshot or?

[2018-01-30 12:23] jookk commented on #84
Yes

Dňa 30. januára 2018 1:22:11 PM používateľ Mario Đanić
<notifications@github.com> napísal:

[2018-01-30 12:23] mario commented on #84
OK, waiting :)

[2018-01-30 13:28] mario commented on #84
@elpraga could you look into Settings > All, and choose Startup manager.?

[2018-01-30 15:16] Ivansss opened #88 "Detect when user is talking and send proper data channel messages."
- [ ] Send speaking/stoppedSpeaking datachannel messages.

https://github.com/nextcloud/talk-ios/issues/46

[2018-01-30 21:05] elpraga commented on #84
I haven't got anything similar in the Settings. Are you sure it is a standard part of Android install?

[2018-01-30 21:14] elpraga commented on #84
I don't have anything like "Protected", both names are different, but I can set don't close after screen off thing. I'm not sure if bugging Huawei is the way to go, can talk get the exception you talked about? Maybe stating this example would help?

[2018-01-30 21:17] elpraga commented on #84
Or can talk check if it's running in a Huawei device,  check if this permission is set, and if not, prompt the user to set it manually?

[2018-01-30 22:24] mario commented on #84
@elpraga it can check if it's Huawei, but not if it has proper stuff set. Didn't you say setting "Keep running after screen off" doesn't help when you kill the app though? :(

[2018-01-30 22:42] jancborchardt commented on #62
Hm :/ design-wise it looks very bland and text-heavy with only text and not the app-logo there. Also the header text is not properly aligned with the content text. Guidelines or not, this just looks very sloppy.

Of course I can't win a voting against 3 people as the only designer. ;) Maybe @nextcloud/designers have more input?

[2018-01-30 22:50] jancborchardt commented on #55
I'm late, but:

Yes. Your thumb is on the bottom.

[2018-01-30 22:52] mario commented on #55
They are already on the bottom, so you're late, yes :P

[2018-01-30 22:53] mario commented on #62
Sorry, but this would go against everything I know in creating a good UI on Android, and especially against guidelines :(

[2018-01-30 22:56] AndyScherzinger commented on #62
Well, I'd say aligning header and context shouldn't be an issue and is easy to fix and yes I also like alignment of UI elements but I still don't think adding a logo to the bar is the way to go.

[2018-01-30 22:57] mario commented on #62
Well, the title actually IS aligned to the beginning of the content. 24dp, as is standard ;)

[2018-01-30 22:59] mario commented on #62
![screen shot 2018-01-30 at 23 59 35](https://user-images.githubusercontent.com/5810/35596295-a93a467c-0619-11e8-8c77-0255704cb254.png)

[2018-01-30 23:13] AndyScherzinger commented on #62
Just checked, yes fine by me. Is the whole icon area including whitespace 72dp then?

[2018-01-30 23:13] AndyScherzinger commented on #62
Just asking since the left and right whitespace of the icon differ which indeed looks a bit off.

[2018-01-30 23:32] mario commented on #62
Left whitespace - 24dp, icon 40dp, right 8dp.

[2018-01-30 23:33] mario commented on #62
So yup, 72 :)

[2018-01-30 23:34] mario commented on #62
And yes, it might be 24-24-24, but then the icons would maybe be too small.

[2018-01-31 01:10] mario commented on #84
@elpraga Settings -> Advanced settings -> Battery manager -> Protected apps ? :)

[2018-01-31 01:39] mario commented on #84
@elpraga also I got one idea that you can test (for not receiving notifications when you swipe). APK in a sec.

[2018-01-31 01:41] mario commented on #84
@elpraga http://172.104.243.61/nextcloud/index.php/s/j4oRkb9PyXZtGqN
Same to you @jookk  :)

[2018-01-31 01:41] mario commented on #84
Test with and without battery optimizations, swiping, rebooting etc :)
Thanks! :)

[2018-01-31 06:21] pixelipo commented on #62
AFFAIRS, in material design, left edge of the header is reserved for hamburger/Back icon, depending on context.

The only few apps on my phone that have a logo in header are those that are not religious about Material.

If there's a plan to add a sidebar in the future, then it's header is a good location for the icon

[2018-01-31 06:39] jookk commented on #84
Wow! Great!
Bigger buttons, room actions! Fine :)
Updated talk, phone reboot, batt opt. off, autostart on - > call
notification worked, video, audio fine.

Switched off autostart, miui batt opt. ON, Phone reboot - > no call
notification.

Tried room actions - working fine

Issue with buttons when in call. (calling in progress) impossible to show
buttons. They are there, but not visible. (I know, b

[2018-01-31 07:12] mario commented on #84
Hey, don't try the other features haha xD

Thanks for testing, so it really looks like there's nothing we can do.

Google considers "force close" means you don't want any more notifications, so *shrug* :)

[2018-01-31 12:55] elpraga commented on #84
I'm off to work now. I hope to be able to have a look at it after work!

I'll let you know.

[2018-02-01 00:42] elpraga commented on #84
exactly the same behaviour as before @mario

Great to see the call options! I have to admit that i had problems with the …  button. Sometimes it wouldn't work, sometimes it would start the call instead..

great work!

[2018-02-01 14:05] mario commented on #84
I found a way to detect if autostart is enabled on Xiaomi. Now to find a way to see if I can detect "Keep running after screen off" ...

[2018-02-01 14:07] jookk commented on #84
Good! 🤞

Dňa 1. februára 2018 3:05:59 PM používateľ Mario Đanić
<notifications@github.com> napísal:

[2018-02-01 18:31] jookk commented on #84
At Huawei (I think) this is not standard android os feature. If you @mario want to test batt optimisation off permission @elpraga can test it. If this helps to resolve screen off issue on huawei.

[2018-02-01 21:24] elpraga commented on #84
It does seem that the __Keep running after screen off__ option on Huawei also autostarts the app. As I mentioned previously, A.I. Floating Keyboard set it up upon install (there might be many more, this is the one I know off).

And yes, I can help to test it @mario

[2018-02-03 14:46] #62 closed

[2018-02-05 16:21] mathiasconradt opened #89 "No visual notification when a new call has started"
When a new call has started, the phone just rings, but there is not visual notification.
So, when the phone is locked and the screen asleep, the screen does not get woken up. I need to unlock the screen manually and then pull down the notification menu, in order to join the call. From a UX perspective, these are too many steps.
Better to have a visual notification right on the screen, where you ju

[2018-02-05 17:24] mario commented on #89
Will investigate if we can bypass this in a simple way.

[2018-02-05 19:12] mathiasconradt commented on #89
Related to this: there should also be a way to reject the call. Right now the phone keeps ringing, and if you don't want to answer it, but also want it to stop ringing, there is no real visual indicator how to do it.
Would be good if there would be two buttons: accept / reject, similar to other call apps.

[2018-02-07 15:12] mario opened #90 "Allow choosing browser wherever we open a browser"

[2018-02-08 00:51] mario commented on #84
So I have a special Huawei APK built now at http://172.104.243.61/nextcloud/index.php/s/NNbaLtHE4PAEo75

How to test:
- enable all battery optimizations
- make sure Keep runinng after screen off is NOT ticked
- make sure Autoboot is NOT ticked
- start the app

Keep in mind, since I'm coding blindly, the app might crash and burn. HOWEVER!

Even if it does that, please make sure after you've ran it,

[2018-02-08 05:50] jookk commented on #84
I have test that apk also?

[2018-02-08 07:18] mario commented on #84
Only if you have huawei :)

On Thu, 8 Feb 2018 at 06:50, jookk <notifications@github.com> wrote:

[2018-02-08 11:40] markcs opened #91 "Audio only calls"
Hi,

It would be great if there was an option to select 'audio call' or 'video call' before the call is established (much like is now implemented in Google Duo).  An audio call would not then send video.

Is that possible?

[2018-02-08 11:41] mario commented on #91
Of course. Will be done in the future.

[2018-02-08 13:01] d-sko commented on #85
Oh yes, that would be good, the current behaviour is a little confusing imho.

[2018-02-08 14:09] mario commented on #91
After thinking about this, I'll make audio-only calls the default, and you'll be able to turn on the camera. Is that ok?

[2018-02-08 14:16] #83 closed

[2018-02-08 14:16] #87 closed

[2018-02-08 14:18] mario commented on #50
Probably not needed.

[2018-02-08 14:18] #50 closed

[2018-02-08 16:15] mario commented on #84
New APK: http://172.104.243.61/nextcloud/index.php/s/xGfX4b6QxK7BNmw

[2018-02-08 16:42] jookk commented on #91
Good idea +1

[2018-02-08 21:21] elpraga commented on #84
I'll try it out as soon as I can Mario!

On 8 Feb 2018 5:15 p.m., "Mario Đanić" <notifications@github.com> wrote:

[2018-02-08 21:55] GLLM commented on #91
+1 :-)

[2018-02-09 10:00] Maulwurf16 opened #93 "Nextcloud Talk cannot cope with strange ports"
Short story.
I use my Nextcloud behind a DS-Lite (Unitymedia) internet access, and therefore have no public IPv4 address. Thus, I use a Portmapper, which maps my IPv6 Address to something like:

http://some.verystrangeaddress.de:123456/nextcloud

which is public available.

The Nextcloud App (iOS as well as Android) and the desktop sync Clients can cope with this, the chat app however cannot. I as

[2018-02-09 10:12] mario commented on #93
I have no idea. Did you install and configure TURN server? :)

[2018-02-09 10:22] Maulwurf16 commented on #93
No I don't :(, however I can initate calls via browser, even outside of my home network. So thoug I don't know for sure, I do assume, that I would not need a TURN Server

[2018-02-09 10:23] mario commented on #93
You probably do need TURN. Browser is a different thing I guess. But unsure. If you have an Android phone, try this...

[2018-02-09 10:31] mario commented on #93
I will close this in the mean time :)

[2018-02-09 10:31] #93 closed

[2018-02-09 10:39] Maulwurf16 commented on #93
Am ok with closing :) as this issue is not android related.
Just for interest pruposes: I just tried accessing with a TURN Server, which didn't change anything. The (iOS) Nextcoud Talk App still cannot connect with the error message "Nextcloud Talk App not found"

[2018-02-09 10:53] mario commented on #93
Ah ok. Would appreciate if you could find the Android device to test with too! :)

[2018-02-09 10:54] Maulwurf16 commented on #93
will do this evening :)

[2018-02-09 13:23] mario commented on #93
@Maulwurf16 thanks ;)

[2018-02-09 20:58] Maulwurf16 commented on #93
@Mario just tested with the Android Client. Everything works absolutely fine :)
Arbytrary ports and just http is absolutely no problem for the Android app.

It really only is the iOS Client, which cannot cope with pure http connections.
All of this has nothing to do with the port.

Sorry for the false alarm.

[2018-02-09 21:05] mario commented on #93
Thanks for testing 👍

[2018-02-11 08:49] mario commented on #91
Will happen sooner than I initially thought, so marking it to 1.1 :)

[2018-02-11 15:41] #91 closed

[2018-02-11 15:42] mario commented on #78
That part is also done, now needs to support capabilities added last week to be complete.

[2018-02-11 15:42] mario commented on #74
Partially done.

[2018-02-12 09:44] testbird commented on #58
An elegant way for nextcloud to avoid depending on google push servers (or whatever current cover name) could be leverage on the IMAP push. On phones without GCM it is proven to work (https://delta.chat) and is using even less battery then having GCM installed.

All the NC server would have to do is to a send special email (so that can also be easily filtered), and the NC client could watch the IM

[2018-02-12 09:51] testbird commented on #58
Actually, there is a delta.chat issue open to support initiating video chat.
So maybe get in contact to work out an "email signaling format" that could let delta chat open a NC chat.
Then you don't even have to implement and run another IMAP watcher on the phone.
https://github.com/deltachat/deltachat-core/issues/101

[2018-02-12 11:08] testbird commented on #58
@mario is there maybe already some manual way to invoce the nextcloud app from another app? For example, can it answer a call if the caller send a link in an email message, and the user clicks on the link.
Maye do some brain storming, at https://github.com/deltachat/deltachat-core/issues/101.

[2018-02-12 14:04] testbird commented on #58
Some "email push" message standard brain storming (possibly based on autocrypt, and email chat standard) at https://github.com/deltachat/deltachat-core/issues/101.

[2018-02-12 18:48] testbird commented on #58
The paging / notification works very fast with deltachat. So if initiating a call with Nextcloud talk could send an email message with a link, then answering/receiving a call may be made as easy as clicking the link in the message when it arrives in the mobile email messenger (deltachat, conforming to autocrypt and other stanards https://delta.chat/en/standards), and have the messenger app open th

[2018-02-13 18:41] schemar commented on #58
I am assuming you do not want to look at push implementations where you need to set up a different server as everything should be part of the Nextcloud server, right?
Maybe it is time for Nextcloud to create an open PHP project for push notifications ¯\_(ツ)_/¯

[2018-02-13 19:47] mario commented on #58
Well ... afaik, you cannot do a websockets as part of PHP, so it would need to be a separate server, sure. And this would obviously increase the barrier to entry as not everyone will be able to host it. It would also need an app to nextcloud to make it work, or a patch to an existing one. So not that easy :)

[2018-02-13 22:19] testbird commented on #58
That's why I proposed email. By now it has wide-spread push functionality, and virtually everybody has email.

Establishing an Email-push-notification standard that defines push messages in a way that allows to auto-sort/filter them into a separate folder by sieve server filters and/or the IMAP subscribed client (similar to the Email-chat https://delta.chat/en/spec) would realize an alternative th

[2018-02-14 00:51] testbird commented on #58
Note that a email push notification standard could reduce the transfered data quite much. It might only use full email messages with body and public keys attached for the initial autocrypt initialization handshake. The actual push messages might not have to contain much more than a signature as "payload" (possibly in the subject). IMAP push then informs the client that a new message is waiting, an

[2018-02-14 06:36] mario commented on #58
The Telegram-FOSS issue is correct. You cannot guarantee a persistent service, and IMAP push cannot wake the device.

[2018-02-14 06:38] mario commented on #58
There's MicroG like I mentioned before, and that's the best solution, even if it's still subject to background limitations etc etc etc.

[2018-02-14 08:27] testbird commented on #58
Does push necessarily need to wake the device? Maybe ringing and letting the user wake the device is enough?

[2018-02-14 08:57] mario commented on #58
You need to wake the device to ring :)

On Wed, 14 Feb 2018 at 09:27, testbird <notifications@github.com> wrote:

[2018-02-14 09:05] testbird commented on #58
Ok, then deltachat-core lib wakes the device. It holds open a permanent notification that it is waiting for messages. To avoid that every app need its own watcher and hold an own notification open, deltachat-core lib could maybe be refactored into separate service app, that forwards messages to other apps.

[2018-02-14 09:34] schemar commented on #58
One last try, even though I understand that push is practically not feasible :disappointed: Ratchet is a PHP WebSocket server implementation: https://github.com/ratchetphp/Ratchet

[2018-02-14 10:12] X-Ryl669 commented on #58
The issue with MicroG is that it's replacing/emulating GCM. In order to do so, it's replacing Google's private key in the ROM by its own keys for the GCM's service, so you must be root to install it. There is no MicroG without being root and you can't have both GApps and MicroG, so said differently, it's not a solution for the majority of users.

There is no solution to this issue, Google locked u

[2018-02-14 10:30] thermatk commented on #58
A better idea would to move to foreground with a persistent notification(as notifications can be hidden per channel in Oreo, it's not annoying). Yet it would be extremely ineffective to do this in every app. Implementing one common gate for push notifications that users can self-host and installing one foss helper app that would talk to it would be the best. And I don't know a project better suita

[2018-02-14 10:31] testbird commented on #58
Thanks for clarifying @X-Ryl669. This emphasizes the need for a free, federated and commonly maintained push messaging alternative. Not only for android devices, but also for UBports, Librem 5, plasma-mobile, custom roms etc.

Experience showed notifications work very well with https://github.com/deltachat/deltachat-core which builds on IMAP push (federated email system).

[2018-02-14 10:35] testbird commented on #58
Then one would only be able to reach Nextcloud users, instead of all email  accounts.

[2018-02-14 10:43] X-Ryl669 commented on #58
deltachat use a foreground service so you get a permanent notification (you currently can't mask because any other notification would be masked too). So no, deltachat solution is not good either. I don't want to clutter my notification area with many filtering rules, it's not intuitive and, IMHO, it's a hack that Google will fix in a later version anyway.

[2018-02-14 10:44] X-Ryl669 commented on #58
@thermatk Can you be more specific about the "hidden by channel" in Oreo ? How do you do that ?

[2018-02-14 10:53] thermatk commented on #58
@X-Ryl669 Oreo introduced Notification channels, so even if the app implements it like having two channels "Persistent push channel" and "Everything else", one would be able to hide and mute just the persistent notification. Didn't see an app needing or doing it yet, but should work.
Yet channels are not important if we make one tiny unified push receiver with one open socket connection and one no

[2018-02-14 10:59] testbird commented on #58
Well, the android notification channels won't be important to hide the permanant notifications of multiple apps, but the "unified push receiver" would still need to be able to have something like channels to know know to to which app a message needs to be forwarded. (https://github.com/deltachat/deltachat-core currently implements "chats" and "group chats" (based on the From: and autocrypt).

[2018-02-14 11:03] thermatk commented on #58
This has nothing to do with notification channels, just with the implementation of client app, respective lib to be added to apps and their inter-process communication

[2018-02-14 11:14] testbird commented on #58
Right, we may better refer to that as something like inter-process receiver apps. (Current https://github.com/deltachat/deltachat-core frontends could become inter-process receiver apps as well, instead of packaging the lib.)

[2018-02-14 11:35] Bubu commented on #58
Wow, this issue exploded...

Here is my 2c, why microG shouldn't be the solution:

* the needed libraries client-side are still proprietary, so no inclusion into f-droid for everything that requires it.
* We are still relying on the centralized google infrastructure which is bad for privacy concerns. Even if sending just empty pushes through that it still allows google to analyze all the communica

[2018-02-14 11:44] X-Ryl669 commented on #58
@thermatk It has. Because the only way to avoid GCM is to have a process that's not killed by the system and the only way to have a persistent process is to have it run a foreground service. Because foreground service requires a persistent notification, it's a pain for users (why did google invented this?). Because it's "process" wide, unless you use notification channels, you can't really use thi

[2018-02-14 11:56] testbird commented on #58
Thats how deltachat-core currently implements it, and it's even acceptable on Android =< 7 where I see one persistent notification "connected to name@email.server, waiting for messages ..." (and way better than not getting any push messages).

[2018-02-14 12:09] X-Ryl669 commented on #58
True.
But, before Oreo, you can only hide the whole application's notification, one can not hide the "connected to ..., waiting for messages..." notification, else she would loose all notifications. If you have 20 applications like this, then it'll clutter your notification panel.

If, starting with Oreo, you can hide only the "foreground notification" but keep the other (that are sparse by nature

[2018-02-14 12:15] testbird commented on #58
Wouldn't that actually be ok for a "unified FLOSS push service"? I mean if deltachat-core would be converted into a separate service, it's permanent notification could be hidden by default, and only the inter-process receiver apps would not need neither to each implement a push server and client, nor have a hidden channel.

[2018-02-14 15:34] testbird commented on #58
Ok, I see two aspects to this then.

Having a central notification source (daemon) on the device. This makes very much sense, because otherwise multiple apps would have to implement a part that stays permanently in the foreground, draining the battery. But GCM is increasingly locking apps into their central and closed system, so we need an alternative.

Relying on a common push protocol. This is n

[2018-02-14 19:07] #78 closed

[2018-02-14 20:18] mario commented on #65
@HammyHavoc can you mail me please? mario AT nextcloud DOT com :) In case you haven't seen my original request.

[2018-02-14 22:27] skjnldsv opened #94 "Do not override screen orientation / gyroscope"
I have my screen always set to portrait mode. Nextcloud talk ignore my settings and rotate my screen when I rotate/tilt it.

We should not ignore a user setting. :)

Thanks a lot for your amazing work!! 🤗

[2018-02-14 23:25] mario commented on #94
Hm? Only on a few screens, in the beginning (account setup), do I lock the screen orientation to portrait - everything else is set to a full sensor and should respect whatever you've set in the system.

[2018-02-15 06:57] skjnldsv commented on #94
Strange, I can't reproduce. Sorry! :/

[2018-02-15 07:06] mario commented on #94
Hehe, all good! :)

[2018-02-15 13:13] testbird commented on #58
Well, to get forward, people will need to reach out now, consult, and step forward with areas of knowledge, ideas, support, availability, funding etc.:

Implementing FLOSS push message service (daemon app)
On android, it should create a permanent (hidden) notification to stay in forground, and provides
- [ ] inter-process communication with client apps
- [ ] network communication with support for:

[2018-02-15 14:36] thermatk commented on #58
@testbird what am I missing and how is it even related to IMAP finally? To implement push emails one needs an open connection, for which there is an extensions for IMAP, but what's that have to do with the daemon? Is there an open source implementation?

In my opinion, priority would be API compatibility of the client library with GCM, changing just the package name in the best case and keeping ot

[2018-02-15 15:30] X-Ryl669 commented on #58
@thermatk What you describe is called MicroG. This has downside because:
1) GCM's application is a system application, you can't replace it without being root
2) The application is using cryptography to prevent being replaced -kindof- so you must be root to add your own keys
3) Not all application developers want to manage one or more servers for their users, yet GCM **requires** a server to work.

[2018-02-15 15:42] Bubu commented on #58
What about moving this discussion elsewhere? It doesn't seem particularly related to this issue.

I'd propose creating a new gitlab.com project (because we want to use free software, which github is not) giving everyone interested a wiki-like space for coordinating the efforts.

Additionally something for live discussion s would be nice. Not sure what we could all agree on. I can create an irc cha

[2018-02-15 15:54] testbird commented on #58
It's an open and wide-spread "on-the-wire" protocol for message delivery.
I think 95% yes there is an implementation for what's needed, the https://github.com/deltachat/deltachat-core lib is implementing the handling of general, autocrypted, and spam exempt, [Email-chat spec](https://delta.chat/en/standards) compliant messages by listening on a connection to an arbitrary, regular email accounts (w

[2018-02-15 16:19] testbird commented on #58
Time to spread the word, definitely, meet people who want this and are able to commit to this. Then start a gitlab project, or somebody is determined to take the lead and start a project.

[2018-02-15 16:34] iteco commented on #58
@testbird Isn't solution with IMAP leaving communication details between servers for a plain view (except encrypted message content)? If so, it looks that IMAP based solution is great for email apps (like K9) as a gradual step to improve things. But for the end-to-end encrypted new generation message apps (Telegram, Signal, NextCloud talk) that seems like a step backwards.

However, common FOSS no

[2018-02-15 16:56] testbird commented on #58
@iteco I really don't have an in depth answer concerning the implications for the newest generation apps.

Concerning IMAP, it should of course be secured IMAPS (non gcm servers). Think that it depends whether you communicate over your own server, and that one may distinguish between email as a universal way to communicate and just doing push notifications (for some unrelated updates etc.). This s

[2018-02-15 17:16] testbird commented on #58
@iteco Maybe you thought about something like FOSS notification service on the mobile device, or your IMAPS server, to use something like a tor protocol. Though, just as the alternatives listed at
https://stackoverflow.com/questions/20329403/android-push-notification-without-using-gcm
this will require mobile and web app writers to support a new protocol, instead of just sending a (https://autocry

[2018-02-15 17:17] mario commented on #58
You should be discussing how to create a service that will not die, not the protocol :) Since the first is obviously harder and on some phones an impossible problem to solve.

[2018-02-15 17:28] testbird commented on #58
Yes, what much can we do about such presuming phones, other than working on alternatives? Nothing.

@mario Your discussion is actually brilliant and right on point, you close the case with "impossible problem to solve", period.

[2018-02-15 17:30] mario commented on #58
We need new phones that will get 50% of the market - done :)

[2018-02-15 18:59] mario commented on #58
@Bubu there seems to be an alternative to client side libs?

https://github.com/microg/android_packages_apps_GmsCore

[2018-02-15 20:36] mario commented on #58
@Bubu do you think you could mail me at mario@nextcloud.com? I'd like some input on F-Droid support :)

[2018-02-15 21:31] lebochequirit opened #95 "Strange output in Error message during initial start/config"
I had afwall blocking a fresh Nextcloud Talk install and it said
"failed to connect to nc.mydomain.com/217.11.48.191:443"

I presume it should say "failed to connect to $givenserveraddress:443" or even omit the port?

This is meant as a humble contribution, not as a complaint.

L.B.Q.R.

[2018-02-16 02:16] Bubu commented on #58
As nobody objected to gitlab I created a group and a wiki project there: https://gitlab.com/foss-push/planning/

You should be able to request access to the corresponding group in gitlab.

I also created `#foss-push` on freenode... all welcome to at least get some clarity about goals, requirements, options for this written down.

Let's see if this goes anywhere.

@mario Sorry for hijacking your is

[2018-02-16 13:13] mario commented on #84
@elpraga news? :)

[2018-02-16 20:10] testbird opened #96 "allow to open video chats through links from other apps"
Ideally, this should work both ways, say sending a video chat link to someone in an email, as well as receiving a video chat link in an email.

Clicking the link in the email/text message should then open Nextcloud-talk and establish the connection.

As sending might involve creating a special url, this might have to be initiated within the Nextcloud-talk app (send invitation link -> choose app to

[2018-02-16 20:13] testbird commented on #96
Oh, and doing this signaling with links in email/text should enable video chats even if google push messaging is not available.

[2018-02-18 22:16] elpraga commented on #84
I'm sorry @mario , I've been quite busy lately. I did notice a change when using the Huawei with Marshmallow 6.0.  It worked out of the box. Nonetheless there was no difference in behaviour on the Android 7.0 on my tablet.

I've installed _Termux_ recently, and it did install as a _protected app_ out of the box. They even mention that the app needs to be __protected__ on their website. I'm not sur

[2018-02-19 00:08] mario commented on #84
@elpraga and @jookk , please test http://172.104.243.61/nextcloud/index.php/s/4XLcai2cDrTgTfg as soon as you can.

Steps:
0) Unset app as protected and remove "Autostart"

1) Remove the existing app
2) Install this one
3) Run the app

Xiaomi:
4) Check if app autostart is enabled
5) ??

Huawei:
4) Check if app is set as Protected
5) ??

Thanks!

[2018-02-19 01:55] jookk commented on #84
Removed autostart
Cleared app data
Uninstall
Downloaded new apk
Installed
First run
Imported account
Back
Checked app permissions and Autostart not enabled

Dňa 19. februára 2018 1:08:43 AM používateľ Mario Đanić
<notifications@github.com> napísal:>

[2018-02-19 02:33] mario commented on #84
Thanks @jookk. New APK: http://172.104.243.61/nextcloud/index.php/s/BzXZfc6eFR3NABw

[2018-02-19 05:36] jookk commented on #84
Cant be run. FC all the time

Dňa 19. februára 2018 3:33:03 AM používateľ Mario Đanić
<notifications@github.com> napísal:>

[2018-02-19 08:44] mario commented on #84
FC? XD

On Mon, 19 Feb 2018 at 06:37, jookk <notifications@github.com> wrote:

[2018-02-19 09:28] mario commented on #84
@jookk sounds strange, runs for me (but I don't have xiaomi).

http://172.104.243.61/nextcloud/index.php/s/BzXZfc6eFR3NABw

Same url, different APK :)

[2018-02-19 10:02] jookk commented on #84
App started, autostart not enabled.

Dňa 19. februára 2018 10:28:13 AM používateľ Mario Đanić
<notifications@github.com> napísal:>

[2018-02-19 10:13] mario commented on #84
:( Sad day. Did you try to reboot to see if it maybe changes? xD

[2018-02-19 10:18] jookk commented on #84
No, I did without reboot. I try

Dňa 19. februára 2018 11:13:44 AM používateľ Mario Đanić
<notifications@github.com> napísal:>

[2018-02-19 10:30] jookk commented on #84
Mario, can you send me apk which fc for me? I rebooted and I have mishmatch
with apks :D
Thx

Dňa 19. februára 2018 11:13:44 AM používateľ Mario Đanić
<notifications@github.com> napísal:>

[2018-02-19 10:31] mario commented on #84
Uh I don't think so xD I deleted that one already :-/

Can you mail me btw? Easier to talk that way! :)

[2018-02-19 11:52] mario commented on #95
Ah. You're right - I simply show whatever the library we use returns. Will eventually/hopefully fix improve this!

Thanks for the report!

[2018-02-19 12:01] mario commented on #96
Yup, a very good idea.

[2018-02-19 12:03] mario commented on #58
With some help from @Bubu, I've done lots of work on F-Droid support (without push of course), so we might still see this on F-Droid for 1.1 too :)

[2018-02-19 12:05] mario commented on #84
@jookk same url, new APK :P

[2018-02-19 12:41] jookk commented on #84
Autostart not enabled, running ok

Dňa 19. februára 2018 1:05:15 PM používateľ Mario Đanić
<notifications@github.com> napísal:>

[2018-02-19 14:45] c0fe opened #97 "[FEATURE REQUEST] Add text chat capabilities"
I would like to request that text chat capabilities are added to the Android client for Nextcloud Talk. XMPP is bulky and Nextcloud Talk is good but having only video chat is annoying. Please add text chat capabilities.

[2018-02-19 14:51] mario commented on #97
Duplicate of https://github.com/nextcloud/talk-android/issues/59 :)

Will be done, but not soon! :)

[2018-02-19 14:51] #97 closed

[2018-02-19 15:00] c0fe commented on #59
@mario what exactly would be the issue in activating this capability if the API supports it? I am a bit confused.

[2018-02-19 15:04] mario commented on #59
Well, there are several reasons why I'm postponing this :)

a) Currently focusing on the core experience and calling
b) Chat API exists, but is not very good / not meant for mobile
c) It takes time :P

[2018-02-19 15:31] c0fe commented on #59
@mario just a bit of clarification, you say core, are you referring to Nextcloud overall or the core for Nextcloud Talk specifically?

[2018-02-19 15:33] mario commented on #59
@c0fe core experience of the Nextcloud Talk on Android and Nextcloud Talk in general :)

[2018-02-19 15:34] mario commented on #84
Sad sad @jookk :)

@elpraga let me know when you get a chance to test latest APK!

[2018-02-19 15:35] c0fe commented on #59
@mario any timeline/ETA on when you anticipate having text messages available? XMPP is ancient, MatterMost is more geared towards team chat, Nextcloud Talk would be perfect.

[2018-02-19 15:40] mario commented on #59
@c0fe no :( I'm hoping 2.0 will mean chat, but as for time ... I don't know when that is. This year? :D

[2018-02-19 22:39] mario commented on #84
@jookk new APK :D

[2018-02-19 23:23] testbird commented on #58
Thanks, Mario, looking forward to the F-Droid premiere!

(PS: @thermatk better explanations concerning push protocol and IMAP seem to be covered at https://gitlab.com/foss-push/planning/ now.)

[2018-02-20 05:34] jookk commented on #84
Good morning,
So:
Cleared app data
Uninstall
Reboot
Install ftom
http://172.104.243.61/nextcloud/index.php/s/BzXZfc6eFR3NABw
App started, imported account
Then autostart not enabled in settings

[2018-02-21 17:01] jancborchardt opened #98 "Switching between calls and contacts takes too long to load"
When you switch the two main tabs, Calls and Contacts, it always takes a second to load the view. Every time.

This makes the app feel very slow and unresponsive. Can we instantly show the lists or cache them? They can always be updated in the background, but showing should be instant.

[2018-02-21 17:06] jancborchardt opened #99 "Call menu design"
- Can we place the menu just where the menu icon is instead of at the bottom? The menu shouldn't be in a different plce than where was clicked. Also compare to Files Android app.
- Then we can also drop the irrelevant header "What would you like to do today?"
- "Leave call" should always be the last item in the list, and colored red
- Can we get icons to the left of the items? Rename pencil, Share

[2018-02-21 17:09] jancborchardt opened #100 "Contacts list dividers"
- They shouldn't be colored Nextcloud blue, it's too much and breaks the list. Instead just white
- The letter should left-align with the people's names, so move a bit to the right
- Can the divider be a bit transparent/blur elements behind, like on iOS or our server in the file list?

[2018-02-21 17:13] jancborchardt opened #101 ""Start new conversation" action should not have intermediate step"
Currently you need to choose between starting a new conversation or joining via link. Starting a new conversation then opens another menu with "NEW PUBLIC CALL" (needs to be lowercased btw). This makes starting a call much too cumbersome.

Instead, the menu should be cut out. Tapping the + should directly lead to the select contacts screen, with "New public call" and "Join from link" as items abov

[2018-02-21 17:15] jancborchardt opened #102 "Show own avatar when camera is disabled"
Currently there is no feedback how you will look to other participants. In the server we show your own avatar because of that. We should do the same when you deactivate your video.

As discussed, for this reason we should also show your avatar in place of the settings icon in the bottom bar.

[2018-02-21 17:18] jancborchardt commented on #8
@mario any progress here? This is one of the most confusing parts in the UX. :) Just simply showing the other person's avatar (or the group icon) and below "Waiting for <person name> to join …" would go a long way.

[2018-02-22 09:51] markcs opened #104 "Ringback tone"
Hi!

When calling a person I don't hear any ringback tone, so it is hard for users to know that the call is actually connecting.

A ringback tone is standard when calling.  Can this be implemented?

[2018-02-24 16:11] Bubu commented on #58
I've a preliminary metadata file here: https://gitlab.com/Bubu/fdroiddata/commit/3e5144287ebc004c9edf92100552f1b7ad31afe2

What's missing is a release containing the necessary changes for this to work. And @mario could you add descrition, summary and screenshots to your repo? See here https://f-droid.org/en/docs/All_About_Descriptions_Graphics_and_Screenshots/

[2018-02-24 17:02] mario commented on #58
Hm, I thought I've answered this on IRC, but just in case .... ^_^

- screenshots, description and summary will be added
- beta2 is scheduled in a week or so
- as for tags, all unstable releases are either marked as unstable (via github flag (can you track this?)) or I'll have a "beta" in the tag name
- are capitalized flavour names a big issue for you?

cc @Bubu ^_^

[2018-02-24 17:19] Bubu commented on #58
matrix.org's irc bridge was having trouble the last few days apparently, I never got your reply :-/

We can't track the github flag, but beta in tag name we can deal with. We'll figure something out.

No, it just requires to manually set the output path, no big deal. Just an edge case that didn't come up before.

[2018-02-25 10:43] DaCryptor opened #105 "only works when being in the same wifi"
Device 1: Samsung Galaxy A5 2017 (Android 7.0)
Device 2: BQ Aquaris X Pro (Android 7.1.1)

Nextcloud 13 including the talk-app is installed on my shared-hosting (all-inkl.com).

Works perfect when the two devices are in the same wifi, but when one of the two devices is connected via 4G/LTE, the phone rings, but I cannot hear or see the other person (black screen, no audio).

Any ideas?

[2018-02-25 11:26] steffanson commented on #105
I experience the same issue with Nextcloud Talk **1.1.0 beta 1** on LineageOs 14.1 (Feb. 2018).

[2018-02-25 11:27] mario commented on #105
Do you guys have TURN configured?

On Sun, 25 Feb 2018 at 12:26, steffanson <notifications@github.com> wrote:

[2018-02-25 11:32] steffanson commented on #105
I thought it was already setup as I use the standard config of the Nextcloud Talk addon, however as I see right now only the STUN server is configured (`stun.nextcloud.com:443`).

[2018-02-25 11:34] DaCryptor commented on #105
@mario
Can you please explain that to me?
I am just using the standard installation/configuration and have nothing changed.

[2018-02-25 11:34] mario commented on #105
That is Stun which Nextcloud provides as a service if you dont want to host
your own. But in some cases you will also need to host and setup your own
TURN (I suggest coTurn)

On Sun, 25 Feb 2018 at 12:32, steffanson <notifications@github.com> wrote:

[2018-02-25 11:41] DaCryptor commented on #105
I do not think that I can install coTurn on my shared-hosting environment.
Any other options?

[2018-02-25 16:39] mario commented on #105
@DaCryptor I guess you could either rent out a dedicated server (virtual or a real one) and install, or use a TURN service from one of the providers.

I'm happy to to answer all questions, but I do have to close this issue now because it's really not a problem with the app :)

[2018-02-25 16:39] #105 closed

[2018-02-25 16:40] mario commented on #105
@DaCryptor it does not work because STUN cannot determine IP of one of your phones. TURN would solve this by relaying everything through it.

[2018-02-25 21:59] mario commented on #104
I'll consider it.

[2018-02-26 01:23] elpraga commented on #84
I'm sorry for the delay @mario the last app-GPlay-release.apk works correctly on Android 7.0 - app is protected right after install. The same app is not protected after install on Android 6.0.

Hope it helps.

[2018-02-26 14:42] jancborchardt opened #106 "Text block on sharing link"
When you share the link to a call, there’s a whole block of text being copied:

It feels a bit weird since it’s not written by yourself, and you would never send something like that to a friend or so cause it sounds like an advertisement.

Instead, let’s just go with copying only the link?

[2018-02-26 14:45] mario commented on #106
And there was me being especially proud of this :P

It actually works really well with the people I've asked + it would also insert a password if the call you're sharing has a password :P

In addition, you're given a chance to modify this, are you not?

[2018-02-26 14:50] jancborchardt commented on #106
Yeah I could modify it, but when I want to share something I want it to be quick. Needing to delete all the prewritten text is a bit strange. :\

If there’s a password, the text could simply be:

[2018-02-26 14:51] mario commented on #106
Why don't you rather come up with a "friendlier" text that I'd be happy to include? One that would work for both friends and business associates?

[2018-02-26 14:52] jancborchardt commented on #106
Simple and versatile would be:

[2018-02-26 14:55] Ivansss commented on #106
I will use that text for the iOS app then.
At the moment we are using:
"You can join to this call: https://..."

[2018-02-26 14:56] mario commented on #106
OK, sure. I dislike it, but sure :P

[2018-02-26 14:57] Ivansss commented on #106
@jancborchardt  What about the subject if user wants to share the call by email?

[2018-02-26 16:05] jancborchardt opened #107 "Not possible to join via link"
When you have the dialog asking for the »Conversation link«, it’s impossible to paste a link cause the keyboard overlaps that dialog.

Instead let’s start by using standard Android dialogs? ;) We can experiment on top of that when the basics work.

[2018-02-26 16:07] jancborchardt commented on #106
@Ivansss let’s say »Nextcloud Talk invitation«?

[2018-02-26 16:08] jancborchardt commented on #104
This is super important for proper feedback. Are there standard Android sounds we can use?

[2018-02-26 17:39] mario commented on #107
I will check this.

Bottom sheet is the standard dialog and using it across the app gives a consistent experience and nicer ability to animate things etc etc.

[2018-02-27 09:10] mario commented on #107
Can't reproduce. What version of Android?

[2018-02-27 12:28] mario commented on #104
It's not a bug, however.

[2018-02-27 12:31] mario commented on #100
- The divider is never blue. The header of a contacts group is, however.
- The current design is standard. There's a reason why header text starts earlier. Just like when you do lists and sublists, you use indentation.
- What divider? The header or one that divides the items? In either case, not convinced since this is not standard across Android.

[2018-02-27 12:32] mario commented on #102
The idea that we should pollute space (on a limited screen) with a largely meaningless avatar is probably not a good one. But I think @Ivansss has this, so for consistency sake, and because I don't care too deply, I'll do it.

[2018-02-27 12:34] mario commented on #101
Join via link is a completely separate thing and doesn't belong in the contacts screen.

When you select new conversation, you're lead to a contacts selection screen where you can invite people to your new conversation. If you don't tap on "NEW PUBLIC CALL" then it's a one-to-one OR a group call, whereas if you tap NEW PUBLIC CALL it's a public call.

This approach is well recognized and used in o

[2018-02-27 12:35] mario commented on #99
In order of your questions :)

- no, because bottom sheet is also standard way of showing a menu + it enables a nicer flow for operations
- we can discuss this - we can either change it or remove completely
- this shouldn't be a problem
- also not a problem, but we probably can't get it for all actions. Unsure.

[2018-02-27 12:50] Ivansss commented on #102
I removed the avatar for space reasons.
Also because with the new calling UI (buttons at the bottom) it didn't like the avatar hanging up there (see image below).
I added the avatar in the past because there were buttons (audio and video) next to the local video.

![img_0127](https://user-images.githubusercontent.com/4638605/36729605-11ec99c0-1bc5-11e8-91f2-926c6ef419d4.PNG)

[2018-02-27 12:57] mario commented on #102
Good so I can close this too :P

[2018-02-27 12:57] #102 closed

[2018-02-27 17:53] #101 closed

[2018-02-27 17:55] #106 closed

[2018-02-27 17:55] mario commented on #106
Done!

[2018-02-27 17:57] #74 closed

[2018-02-27 17:58] mario commented on #84
@elpraga thanks. I'll try to hunt down a 6 phone to see what's wrong :(

@jookk will need a Xiaomi phone to fix this looks like :(

[2018-02-28 04:55] markcs opened #108 "Notification of ongoing call"
After a call has been established, there should be a notification in the status bar that a call has been established and is ongoing.  The notification should be removed when the call is finished.

I've had instances where I thought I'd finished the call, but NextCloud talk was still active in the background without me realizing it.

[2018-02-28 13:56] mario commented on #32
@tobiasKaminsky this is already yours.

[2018-02-28 13:56] mario opened #109 "Automate screenshots via fastlane"

[2018-02-28 16:11] mario commented on #58
@Bubu can you check shots and descs now?

[2018-03-01 10:08] Bubu opened #110 "compile error on current master"
I currently get the following compilation errors:

[code]

This is on cb6785c5b14ec3153bcfb43b93074fe260e029ac

[2018-03-01 10:59] mario commented on #110
Fixed ;)

[2018-03-01 10:59] #110 closed

[2018-03-01 11:17] Bubu commented on #58
Screenshots and description don't show up as is. I have not much experience with this myself it might again be related to the flavour thing.

@tobiasKaminsky you implemented flavour specific fastlane metadata for fdroid, right? Could you have a look at this?

[2018-03-01 15:01] fantasio31 opened #111 "Screens overlap"
Hi,

I have an issue when navigating between scrren. screens are overlapped.
Here is the scenario:
 1) Open Nextcloud Talk android App
 2) go to Parameters view
 3) click on "private life" (i have it in french so it is "Vie privée") ==> a popup ask me to choose the application to open the link
 4) Click on "Cancel" (it's "Annuler" on my French Xiaomi phone) ==> the popup is closed
 5) click on "Co

[2018-03-02 09:57] mario commented on #111
Hm? Can you show me the screenshot where this "private life" is?

[2018-03-02 10:09] fantasio31 commented on #111
Here are the screens:
 - One with "Vie Privée"
 - The other one showing the overlap
![screenshot_2018-03-02-11-03-35-665_com nextcloud talk2](https://user-images.githubusercontent.com/23166621/36893924-16b02a84-1e0a-11e8-95cc-5f9262d99fc0.png)
![screenshot_2018-03-02-11-03-46-140_com nextcloud talk2](https://user-images.githubusercontent.com/23166621/36893925-16e31142-1e0a-11e8-9166-3bc47e9ec894.p

[2018-03-02 10:16] mario commented on #111
Thanks, I'll investigate :)

[2018-03-03 18:18] mario commented on #111
Could you try the beta please? I couldn't reproduce there: https://play.google.com/apps/testing/com.nextcloud.talk2

[2018-03-04 06:11] fantasio31 commented on #111
Same behavior.

Le 3 mars 2018 19:19:00 GMT+01:00, "Mario Đanić" <notifications@github.com> a écrit :

--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2018-03-04 09:07] mario commented on #111
I'll need to test this on Android 5, since I can't reproduce at all :(

[2018-03-05 09:09] xXSTrikeXx opened #112 "Add new talk, Layout is under the keyboard"
Add new Talk and name the talk, the layout of the talk is under the keyboard. Pic says more then words.

![inkedscreenshot_2018-03-05-10-05-02_li](https://user-images.githubusercontent.com/1523741/36966507-44efa190-205d-11e8-9058-20649b5e7b84.jpg)
![inkedscreenshot_2018-03-05-10-05-08_li](https://user-images.githubusercontent.com/1523741/36966521-4e876698-205d-11e8-81a3-7e8a67dd5fd8.jpg)

The layo

[2018-03-05 09:54] mario commented on #112
@xXSTrikeXx what android version?

[2018-03-05 11:14] xXSTrikeXx commented on #112
@mario Android 6.0

[2018-03-05 11:31] mario commented on #107
Found it. Now have to find a way to fix it :P

[2018-03-05 17:37] #112 closed

[2018-03-05 18:10] #107 closed

[2018-03-05 18:10] mario commented on #107
Found it! Thanks for reporting this.

[2018-03-05 18:25] xXSTrikeXx commented on #112
Works great, but please make the "Done" Button bigger :)

[2018-03-05 18:25] mario commented on #104
To further comment on this, we can get ringtones but they are not in any way standard and you can't know which one is which. So I could put up a default ringtone, but it wouldn't be the same across platforms (it would be what you chose actually).

I'm unfortunately not aware of any open source/free sounds we could use? :(

[2018-03-05 18:26] mario commented on #112
@xXSTrikeXx I did already?

[2018-03-05 18:27] mario commented on #112
It's 64dp instead of 32dp.

[2018-03-05 18:27] mario commented on #112
Not enough @xXSTrikeXx ?

[2018-03-05 18:32] mario commented on #112
Yup, let me know!

[2018-03-05 18:42] xXSTrikeXx commented on #112
@mario yup 64dp is enough. 128dp is too much :D

but for any reasons its not accepted while adding new talks. Tested it now on my device and AVD ;) It´s still the old  :D

![unbenannt](https://user-images.githubusercontent.com/1523741/36993130-4904b0ae-20ad-11e8-979b-757a647a89e4.jpg)

[2018-03-05 18:48] xXSTrikeXx commented on #112
Yep, your changes even to 128dp is not changing anything ;)

[2018-03-05 18:48] mario commented on #112
Will investigate.

On Mon, 5 Mar 2018 at 19:48, xXSTrikeXx <notifications@github.com> wrote:

[2018-03-05 19:00] xXSTrikeXx opened #113 "Too small "done" button"
yup 64dp is enough. 128dp is too much :D

but for any reasons its not accepted while adding new talks. Tested it now on my device and AVD ;) It´s still the old  :D

![unbenannt](https://user-images.githubusercontent.com/1523741/36993130-4904b0ae-20ad-11e8-979b-757a647a89e4.jpg)

Created this new error, to have a better log and not all in one issue :D
ref: #112
commit 07313680caaaf87c1757993dbdc2a9

[2018-03-05 20:25] #113 closed

[2018-03-05 20:25] mario commented on #113
I've set it to 48dp. Looks really good that way. 64dp is too much.

[2018-03-05 21:04] mario commented on #111
@xXSTrikeXx can you reproduce this?

[2018-03-05 23:06] xXSTrikeXx commented on #113
You're right! :grinning:

[2018-03-05 23:14] xXSTrikeXx commented on #111
@mario No. I cant reproduce. When I click on privacy ("private life") it doesnt open a new layer. Talk redirects me to chrome and it will open the URL there. :wink:

[2018-03-06 06:04] fantasio31 commented on #111
I have some browsers (firefox, firefox klar ans chrome) but is none defined as default. My MIUI system always ask me which one i want to use to open a web link.

Le 6 mars 2018 00:14:14 GMT+01:00, xXSTrikeXx <notifications@github.com> a écrit :

--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2018-03-06 07:57] mario commented on #111
I also get a choice of browsers, but no overlap @fantasio31  :-/

Did you maybe do some rotation or something?

[2018-03-06 09:40] jancborchardt commented on #104
That's ok. It should be the default ringtone on each platform, like same as when you get a phone call on Android, or when you get a call on iOS etc.

[2018-03-06 09:57] mario commented on #104
Sure, but the issue is about the sound when you are calling?

Because ringtone is already set for receiving call.

On Tue, 6 Mar 2018 at 10:40, Jan-Christoph Borchardt <
notifications@github.com> wrote:

[2018-03-06 10:41] markcs commented on #104
How does an open source app like Signal do it?

Can't you get a file from somewhere like https://www.audioblocks.com/royalty-free-audio/computer-sound-effects, http://soundbible.com/suggest.php?q=tone&x=0&y=0 or https://freesound.org/ ?

[2018-03-06 10:44] mario commented on #104
Or well, a public domain :)

[2018-03-06 10:50] markcs commented on #104
Creative Commons Attribution 3.0 okay?

Creative Commons Attribution 3.0 is one of many CC Audio types. Creative Commons Attribution 3.0 put simply means you can use this audio but you must attribute your work to this person. If the audio is from Mike Koenig then you need to give him credit somewhere. That somewhere could be in the credits, the cd cover, or a link to the sounds page from your site

[2018-03-06 10:51] mario commented on #104
@markcs let me call in @schiessle as our resident legal expert :D

[2018-03-06 11:15] jancborchardt commented on #104
@mario there is no standard sound for that? Like the one in the Android phone app

[2018-03-06 11:55] mario commented on #104
@jancborchardt not as far as I know.

[2018-03-06 13:52] schiessle commented on #104
@mario a sound file is just data used by our app, as such it doesn't have to be compatible with the GPLv3. Still we should make sure to pick a free license. CC-BY is completely fine. As said by @markcs we just have to mention the the author and the license

[2018-03-06 13:53] mario commented on #104
@schiessle cool, thanks! @markcs feel free to find something that is CC-BY and is nice :D

[2018-03-06 14:55] tobiasKaminsky commented on #109
What screenshots do you want?
We will need to have integrationTests for this, so setup of NC server and stuff like this must all work automatically...

[2018-03-06 21:31] mario commented on #111
Can't reproduce even on Android 5.x :(

[2018-03-07 07:10] tobiasKaminsky commented on #58
@Bubu I took your build receipt and enhanced it a bit: https://gitlab.com/fdroid/fdroiddata/merge_requests/2968

Currently it will not compile, due to a build error.

[2018-03-07 07:25] mario commented on #58
@tobiasKaminsky you should probably make sure to only build non-beta versions.

Also what's the problem with building?

[2018-03-07 07:41] xXSTrikeXx commented on #111
Maybe its only China's software:stuck_out_tongue_closed_eyes::grinning:

[2018-03-07 08:06] fantasio31 commented on #111
May be 😁.
Anyway opening the conversation view cleans corrently the screen and the display is ok.

Le 7 mars 2018 08:41:25 GMT+01:00, xXSTrikeXx <notifications@github.com> a écrit :

--
Envoyé de mon appareil Android avec Courriel K-9 Mail. Veuillez excuser ma brièveté.

[2018-03-07 08:40] tobiasKaminsky commented on #32
PR: #114

[2018-03-07 08:52] tobiasKaminsky commented on #58
Auto update is set to stable version.
We can manually add beta versions, so that an user can select and install them.

[2018-03-07 09:16] markcs commented on #104
http://soundbible.com/1869-Phone-Ringing-8x.html or http://soundbible.com/1868-Ringing-Phone.html ?

[2018-03-07 09:22] tobiasKaminsky commented on #58
Latest beta cannot be build with ./gradlew assembleGeneric

[code]

According to drone, this seems to be fixed on master. Therefore I removed beta build on fdroid.

[2018-03-07 09:23] tobiasKaminsky commented on #58
@Bubu https://gitlab.com/fdroid/fdroiddata/merge_requests/2968 is now ready for review & merge :tada:

[2018-03-07 14:11] #32 closed

[2018-03-08 07:30] mario commented on #111
@fantasio31 does the same happens with 1.1.0beta2?

[2018-03-08 08:56] tobiasKaminsky commented on #58
@mario can we have a stable release, which supports "generic" flavor? Current stable 1.0.14 still have google deps and therefore cannot be published on fdroid.

[2018-03-08 09:58] mario commented on #58
@tobiasKaminsky 19.03. for a stable release.

[2018-03-08 10:30] mario commented on #109
1) Calls list - Text above it: "Access your calls with ease"
2) Contacts list with search - "Quickly find your conversation partner"
3) Create new conversation screen - "Starting a conversation is easy"
4) Login screen - No idea, open to suggestions :P
5) Settings screen - "Manage your settings"? Or something else/
6) Actual conversation screen - "Enjoy crystal-clear video"

[2018-03-08 10:30] mario commented on #109
I guess once we agree on the text I can put them in strings.xml and we can get these translated too?

[2018-03-10 19:36] mario commented on #90
Works already.

[2018-03-10 19:36] #90 closed

[2018-03-10 19:37] mario commented on #58
cc @jospoortvliet if 19.03. suits you? That is, assuming nothing bad happens :P

[2018-03-13 16:27] mario commented on #104
Thanks @markcs

[2018-03-15 14:22] Bubu commented on #58
The fdroid keysharing issue has been solved. How do we proceed? add beta4 already? wait for release?

[2018-03-15 14:26] mario commented on #58
@Bubu awesome! I'll tag a stable release either tomorrow or on saturday. Is that ok?

[2018-03-15 15:18] tobiasKaminsky commented on #58
Just ping me @mario, then I can do the froid release and @bubu can merge it :tada:

[2018-03-15 15:27] Bubu commented on #58
@tobiasKaminsky Way ahead of you! ;-)

https://gitlab.com/fdroid/fdroiddata/merge_requests/2968#note_63451053

[2018-03-15 15:28] Bubu commented on #58
@mario feel free to close this or leave it open until the release is actually live on F-Droid.

[2018-03-15 15:31] mario commented on #58
Will close, special thanks to @Bubu , @tobiasKaminsky  and everyone else who participated in this issue!

[2018-03-15 15:33] #58 closed

[2018-03-16 15:16] tobiasKaminsky commented on #58
@Bubu https://gitlab.com/fdroid/fdroiddata/merge_requests/2968/diffs#note_63634442
I fear that we need to change to "gradle=generic" .

[2018-03-16 21:03] rajil opened #115 "Black screen with Turn server"
Hello,

Firstly, video calls in the LAN network between android and Web work fine. However, i get black screen when the android phone is in a different network (cellular). I have created a digital ocean drop with coturn as follows:

[code]
The server is running fine
[code]

In the Web GUI of nextcloud i specified,
Stun server:
stun.nextcloud.com:443
Turn server:
http://167.99.6.125:3478, static ke

[2018-03-16 21:04] mario commented on #115
TURN logs don't reveal any connections from clients afaik. If you go to about:webrtc in the web browser, what do you see?

[2018-03-16 21:06] rajil commented on #115
Chrome returns,
The webpage at chrome://webrtc/ might be temporarily down or it may have moved permanently to a new web address.
ERR_INVALID_URL

[2018-03-16 21:07] mario commented on #115
Hm, but I said "about://webrtc" :)

[2018-03-16 21:08] rajil commented on #115
Chrome automatically changes about://webrtc  to  chrome://webrtc/

[2018-03-16 21:08] mario commented on #115
Ah. You need to leave out "http://" from the TURN server configuration in nextcloud admin interface :)

[2018-03-16 21:08] mario commented on #115
Just saw that!

[2018-03-16 21:11] rajil commented on #115
Ok, the admin interface suggests to put 'https://turn.example.org' as the default.

[2018-03-16 21:11] mario commented on #115
That's wrong I guess. cc @Ivansss and @nickvergessen :)

[2018-03-16 21:26] rajil commented on #115
Thanks, it seems to be working now.

[2018-03-16 21:27] mario commented on #115
Awesome!

[2018-03-16 21:27] #115 closed

[2018-03-17 10:32] maulwuff opened #116 "Push to talk instructions unclear"
The instructions for push to talk don't make clear what to do. The location goes to a position on my phone where there is no button.

The text only says to push and hold the button, but doesn't make clear which one. Vol up, vol down, power?

[2018-03-17 10:35] maulwuff opened #117 "Own video preview gone"
Since the last 2 betas (currently beta4) the display of the own video picture in the top right corner is gone.

It only appears while switching apps. Either to or from to the talk app.

[2018-03-17 10:36] mario commented on #117
Yes, because the video is disabled by default. Check the control buttons on the bottom of the call and enable it?

[2018-03-17 10:37] mario commented on #116
Uh. What phone and what Android version? Basically the animation is just flawed then :-/

With microphone disabled, click & hold to use push-to-talk.

[2018-03-17 10:37] mario commented on #116
(The microphone button obviously)

[2018-03-17 10:42] maulwuff commented on #117
It is of course ;-)

Am 17. März 2018 11:36:39 MEZ schrieb "Mario Đanić" <notifications@github.com>:

[2018-03-17 10:43] mario commented on #117
It is what? Enabled or disabled? :D

[2018-03-17 10:44] maulwuff commented on #117
Sorry, enabled. Let me try a screen recording

Am 17. März 2018 11:43:46 MEZ schrieb "Mario Đanić" <notifications@github.com>:

[2018-03-17 10:45] mario commented on #117
Sure. Also tell me what Android version and what phone.

[2018-03-17 10:54] maulwuff commented on #116
Lol ok.
I assumed that the blue line animation should tell me to push vol up/down or power button to use for ptt. It lines up perfectly between the vol rocker and the power button. (bq aquaris x5 plus)

Am 17. März 2018 11:37:31 MEZ schrieb "Mario Đanić" <notifications@github.com>:

[2018-03-17 10:55] mario commented on #116
So the animation works and it stars from the microphone button at the
bottom?

On Sat, 17 Mar 2018 at 11:54, maulwuff <notifications@github.com> wrote:

[2018-03-17 10:57] maulwuff commented on #116
Yes it starts from the bottom to where  the vol keys are located.
![screenshot_20180317-115042](https://user-images.githubusercontent.com/4960210/37554503-3e0718f0-29da-11e8-9f88-8e2676294b8a.png)

Maybe just leave out the 90° bend to not confuse useres that they can't use the hardware buttons?

[2018-03-17 11:38] maulwuff commented on #117
Just tried to do a video call with a bq aquaris m5, using the same beta version. It turns out, that neither phone is receiving a video stream. It's all black.
behavior is the same refarding the preview video, like shown in the screen capture above.

The m5 has Android 6.0.1

Video works with the current stable Version from the play store.

[2018-03-17 13:28] maulwuff commented on #116
I assumed that it is intended to be used when the screen is off.
Sorry for the confusion ;-)

Am 17. März 2018 14:03:11 MEZ schrieb "Mario Đanić" <notifications@github.com>:

[2018-03-17 14:15] mario commented on #116
I could try to implement that too, sure. But I need to think how. Hijacking volume buttons might not be a smart idea :)

[2018-03-17 14:56] mario commented on #117
@maulwuff I'll build a special version for you to try. Can you please let go to "About" for both phones, and let me know what it says for "MODEL"?  Thanks!

[2018-03-17 15:29] realbout commented on #117
Hello there,

i got exactly the same problem, but with different phone. We have two LG G5 h850 running on Android 7.0.
On the Tablet (Samsung Galaxy S2 t810 [Exynos]) it runs fine with own videopicture.

Havent testet beta4 right now, but with beta 1 to 3 it was fine.

[2018-03-17 15:33] maulwuff commented on #117
Of course, am I just waiting for play store update to appear?

Am 17. März 2018 15:56:35 MEZ schrieb "Mario Đanić" <notifications@github.com>:

[2018-03-17 16:26] mario commented on #117
@realbout can you give me the same? Go to about phone and tell me what it says under the model? Then send me an email at: mario @ nextcloud.com.

[2018-03-17 16:26] mario commented on #117
@maulwuff well you need to send me an email: mario@nextcloud.com so I can give the APK to you for installation. But you do need to give me models before that :P

[2018-03-17 16:32] mario commented on #117
@realbout also not sure I understand, what version are you on of the Talk app? Because you say beta 1-3 work and you haven't tested 4 yet?

[2018-03-17 16:38] maulwuff commented on #117
Done

Am 17. März 2018 17:26:48 MEZ schrieb "Mario Đanić" <notifications@github.com>:

[2018-03-17 17:07] realbout commented on #117
@mario i'll send you a email soon and give you the phone data, i havent it here right now. To your other question. I'm currently on 1.1.0 - and i've tested 1.1.0beta4 a few minutes ago, there is the same problem, no video in the right upper corner and no video on the called persons screen. Yes, video was enabled.

[2018-03-17 17:11] mario commented on #117
@realbout ok, send me the email and I'll send you the test APK to install.

[2018-03-17 17:20] realbout commented on #117
@mario on my Phones, under "about phone" - "hardware information" - "model number": LG-H850
Android version: 7.0
Android security patch level: 1. october 2017
I hope this helps. Now i send you the email with the same information.

[2018-03-17 18:31] realbout commented on #117
@mario you've got it.
Got some mails with Mario, he send me a version which works perfectly fine. Thanks again Mario!

[2018-03-17 18:32] maulwuff commented on #117
For me too 👍

[2018-03-17 18:33] mario commented on #117
👍

Thanks for testing!

[2018-03-17 18:33] #117 closed

[2018-03-17 18:41] maulwuff opened #118 "Leaving a left chat gives error message"
If a user tries to leave a chat/call from the calls list (using the 3 dots menu) which is already left by its peer (using the same 3 dots menu), this will give the error message "something went wrong" to the second user.
Refreshing the list removes the call entry.

[2018-03-17 19:18] mario commented on #118
Right right. Will fix this, but since it's not critical, won't rush it like I did for your other bug :)

[2018-03-17 19:20] mario commented on #111
@fantasio31 what about newest beta? :D

[2018-03-17 19:29] mario commented on #117
Rolled this out to beta @realbout and @maulwuff in the Play Store - so you should be able to go back to official deployments soon. Thanks for the patience and testing!

[2018-03-18 13:06] krodelabestiole commented on #77
hi @mario , and thanks for your great work.

I think people who use nextcloud often want to avoid google services as much as possible.
and we often install lineageos for the exact same reason.

therefore I think an alternative to Gapps (whether "open" or not) would be much appreciated.

I already use linphone and xabber without gapps at all, and I guess they keep it on using their own services.

I

[2018-03-18 13:28] mario commented on #77
You avoid Google services via MicroG 99,99%. The only thing is that messages are still sent via FCM, but they're encrypted and don't contain any useful content.

Starting next release, we'll have a version on F-Droid that runs without Google, but also without push notifications.

[2018-03-18 17:44] krodelabestiole commented on #77
ok I didn't knew about MicroG. I doubled checked and you convinced me ;)

I've just upgraded 3 devices to LineageOS for microG (using the [migration zip](https://download.lineage.microg.org/extra/) then flashing the rom) and it worked fine. I had to activate everything about MicroG, reboot, and reinstall Nextcloud Talk.

thanks for the tip :)

[2018-03-19 07:56] Ivansss commented on #115
The problem with the `https` placeholder was fixed in https://github.com/nextcloud/spreed/pull/682.
This fix will be include in the next Talk release.
Also, in chrome you should use `chrome://webrtc-internals/` to see webrtc stats.
`about:webrtc` in firefox.

[2018-03-20 10:21] tobiasKaminsky commented on #58
It is now in Fdroid available :tada:
As I manually installed it at some point, and also installed gplay version at some point, I fear this is due to my messed up android, but does anybody have an idea how to fix this?
With root I deleted everything related to nextcloud talk and even wiped all fdroid data.

![screenshot_f-droid_20180320-092314](https://user-images.githubusercontent.com/5836855/3764

[2018-03-20 10:30] lachlan-00 commented on #58
The apk package is signed when built. Fdroid and Google apks have different signatures.

When you install a google play or custom signed version you need to uninstall the apk first then install the fdroid version.

[2018-03-20 11:10] tobiasKaminsky commented on #58
Sorry, I guess I was a bit unclear, no talk app is installed anymore.
I verified this via:
[code]

[2018-03-20 11:14] Bubu commented on #58
The error message says something about left over app data. You could do a `find / -name talk` or something maybe?

Anyway, I just installed and account importing from nextcloud worked! Very nice!

On March 20, 2018 12:10:11 PM GMT+01:00, Tobias Kaminsky <notifications@github.com> wrote:

[2018-03-20 11:17] mario commented on #58
@Bubu yay! I'm so happy that we waited! :)

[2018-03-20 13:41] idnovic opened #119 "Sailfish - Android 4.4"
if possible please build for android 4.4+
Sailfish uses android 4.4 and I did like to try the app.

I installed over f-droid store.

[2018-03-20 13:46] tobiasKaminsky commented on #58
@Bubu

I did exactly this, find / -name talk...

[2018-03-20 22:47] Lyokovic commented on #94
In fact, I just had this issue right after configuring my account. I just installed the 1.1.1 from F-Droid and setup an account from the Nextcloud app (on Oreo).

It does not happen anymore so it seems to be only during the first steps.

[2018-03-21 08:24] mario commented on #118
Thinking about this, this is the correct behavior. It fails because there clearly is no such call anymore. :-/

[2018-03-21 12:50] ndom91 opened #120 "Allow text chat for clients without camera or microphone"
Currently users without a microphone or camera get enumerateDevices() fail and then the UI simply says "Error while accessing microphone & camera" and does not load the user list, room list, anything.

They shoudl still be allowed to text chat, right?

If there is a workaround currently available, please point me in the right direction. I've been playing around with ../spreed/js/webrtc.js to disab

[2018-03-21 12:51] mario commented on #120
Hm, this isn't about an Android app :)

Can you please file a bug here? :) https://github.com/nextcloud/spreed

Thanks!

[2018-03-21 12:51] #120 closed

[2018-03-21 12:52] mario commented on #118
Thoughts @maulwuff ?

[2018-03-21 13:04] ndom91 commented on #120
No this is about the webapp :)

[2018-03-21 13:06] ndom91 opened #121 "Allow text chat for clients without camera or microphone"
Since Mario quickly and incorrectly closed my last issue - here it is again. I do specifically mean the webapp!

Currently users without a microphone or camera get enumerateDevices() fail and then the UI simply says "Error while accessing microphone & camera" and does not load the user list, room list, anything.

They shoudl still be allowed to text chat, right?

If there is a workaround currently

[2018-03-21 13:07] #121 closed

[2018-03-21 13:08] mario commented on #121
All good :P

[2018-03-21 13:10] mario commented on #120
Haha :P

[2018-03-21 13:16] maulwuff commented on #118
If it doesn't exist anymore, maybe just remove it from the list, without the error message? (perhaps also in an automated way)

[2018-03-21 18:59] splitt3r commented on #111
![Version](https://user-images.githubusercontent.com/1869584/37731419-54268e20-2d42-11e8-9b9b-26aa132813aa.png)

Also the bottom bar overlaps the version number now.

[2018-03-21 19:00] mario commented on #111
@splitt3r this one I know. :) Already fixed - https://github.com/nextcloud/talk-android/commit/fff270c36b9e0fd808c4692fa1470128b6d9d7c9

[2018-03-21 20:54] fantasio31 commented on #111
My issue is not fixed in the last beta version.
Also tried with the F-Droid version, same issue.

[2018-03-21 20:55] mario commented on #111
@fantasio31 yea I don't know :( I still can't reproduce that one :(

[2018-03-21 20:57] fantasio31 commented on #111
anyway to activate logs or to set a debug mode in order to help you ?

[2018-03-21 21:00] mario commented on #111
Uh, how good are you with development? Android Studio + Vysor + TeamViewer would help? :D

[2018-03-21 21:05] fantasio31 commented on #111
I work as developper, but not an Android one ;).

When I'll have time to invistigate (when my child will not be here), I could try to invistigate.

[2018-03-21 21:07] mario commented on #111
Awesome! :D

So I'd need the above + git checkout of this repository :)

[2018-03-22 13:05] steffanson commented on #105
@DaCryptor  @mario  Thanks for you hint. I now setup a `coTURN` server and calls over LTE now work as expected.

[2018-03-22 13:22] steffanson opened #122 "Always show the microphone button in a video chat when using "push to talk""
Right now the control buttons, including the microphone buttons, fade out after a few seconds.

In order to talk again by "push to talk", you got to tab first on the screen to let the buttons fade in again before you can hold the microphone button. IMHO this is annoying and it could be implemented more comfortable.

For instance, you can add an option for "push to talk" in the settings to show the

[2018-03-22 13:24] mario commented on #122
No, sorry. More options are more annoying than a second it takes for the button to appear. I'm open to better options if you have them though :)

[2018-03-22 13:34] steffanson commented on #122
That's too bad. There are very few options there; I would also vote for an expert settings section. ;-)

Suggestion which come to my mind:
* When buttons are fade out: indicate that push to talk is active, long press anywhere on the screen triggers a "push"
* When mute, don't hide the microphone button

[2018-03-22 13:37] mario commented on #122
As someone who added Expert option in the vanilla Nextcloud app, people are more confused by the option than ever :)

I will consider your other suggestions.

[2018-03-24 17:44] BloodyIron commented on #64
Yeah, really need to get at least a basic sound notification here. If someone wants to call me, I'm going to easily miss it by not having any sound. Can we get this with a higher priority please?

[2018-03-24 20:42] mario commented on #64
@BloodyIron you should have the default ringtone right now. Don't you get it ringing when you get a phone call?

[2018-03-24 23:01] BloodyIron opened #124 "Screen / Desktop sharing, Android Talk can't see"
So I am testing a demo instance of nextCloud. Installed the Talk app on the demo server, and I have Talk-Android on my android 7.1 phone.

I open the demo instance in Firefox, go to talk, and start sharing something on my desktop. So far as I can tell in firefox, it's correctly sharing the desktop.

However, on my phone, all I see is a black screen. It seems that desktop / screen sharing to/from A

[2018-03-24 23:27] BloodyIron commented on #64
@mario I just tested with a demo instance of NC13, then added the Talk app to the system. Then set my Android phone up with the demo instance, and that's the only account configure in the Android Talk app on my phone.

I then take Firefox, log into the demo instance with User1. Start call with User2 (the phone is using this account).

On the phone, for User2, I see the graphical notification come

[2018-03-25 06:19] mario commented on #124
Well not a bug since we never supported this. But I'll work on this eventually :)

[2018-03-25 06:47] mario commented on #64
@BloodyIron thanks for testing. This is then a bug as it really should work and something must have gone wrong along the way.

[2018-03-25 15:50] BloodyIron commented on #64
@mario it would be nice also if we could get a setting to change the notification sound (when it works).

Additionally, since I have no idea what the actual default sound is, I think it would be a good idea if NC-Talk had a unique (compared to other apps) sound used for notifications. This could already be the case, and if it is, disregard this part. But a default behaviour of having it blend in t

[2018-03-25 15:52] BloodyIron commented on #124
Well, I wasn't sure if it was a bug or not. But I think others are going to want this kind of functionality, and I anticipate there are those that would get confused about it "not working". As there is no information saying "Screen/Desktop Sharing doesn't work with mobile users". A bit surprised it didn't work out of the box as I anticipated it would encode/send the video content in the same way a

[2018-03-25 20:08] mario commented on #64
@BloodyIron, in theory, you can do that by changing the default ringtone sound in your Android settings. But like we concluded, for some reason, it does not work. I'll investigate.

[2018-03-25 20:10] mario commented on #124
I know, I know. It is p2p, but the issue is mostly from the mobile perspective where screen estate is limited and I need to decide how to show this.

For 1.2 I'm working on re-working the call UI, so maybe I can do this too.

[2018-03-25 22:04] BloodyIron commented on #64
Having the NC-Talk sound tied to the system alert noise defeats the point of having a separate noise for it. So, if you could take a gander at that while you're poking around, that'd be swell! :)

[2018-03-25 22:04] BloodyIron commented on #124
Is desk/screen sharing P2P even when using a desktop/browser client?

Perhaps pinch to zoom or something on mobile/tablet might be a good idea?

[2018-03-26 06:02] mario commented on #124
It should be, yes :)

[2018-03-27 04:37] DaCryptor commented on #58
After Googles "stunt" regarding Gapps and CTS (possible long-term lock-out for Custom ROM users in the future) it seems to be smart to find a solution to replace Google Cloud Messaging (GCM) soon.

[2018-03-27 05:44] DudleyDursley commented on #58
And even today, not everyone wants to install MicroG just to get push notifications for 1 app. But if I understand [marios post](https://github.com/nextcloud/talk-android/issues/58#issuecomment-358408480) correctly, there already is a plan to offer an alternative.

[2018-03-27 06:20] mario commented on #58
@DaCryptor can you link me somewhere to read more on this?

[2018-03-27 06:21] mario commented on #58
@DudleyDursley well, f-droid flavour is already out, I don't know when I'll get to thinking about this.

[2018-03-27 06:37] testbird commented on #58
What kind of push notification method or other signaling is used in the f-droid version?

[2018-03-27 06:40] mario commented on #58
@testbird absolutely none. I might implement polling mechanism eventually, but this will most probably kill the battery :-/

[2018-03-27 06:44] testbird commented on #58
Ah, ok. And, would it be wrong to expect being able to receive calls if app is in  background / foreground?

[2018-03-27 06:51] mario commented on #58
Once polling mechanism is in place, chances are that you will get call notifications while actively using the app, and not in other cases. On the other hand, chances of getting a notification while in background are rather slim I'm afraid.

This all comes with the additional drawbacks:
- the other end might hang up in 10-15 seconds window on how long it takes to poll so you will miss the call
- th

[2018-03-27 07:39] testbird commented on #58
OK, thanks, now I understand the current state better. (Maybe inform about this limitation in to the F-Droid description?)

So, in lack of implementing a free push messaging client https://gitlab.com/foss-push/planning/ , piggybacking links into asynchronous email / massaging communication (https://github.com/nextcloud/talk-android/issues/96) might be an option that could avoid polling in nextclou

[2018-03-27 07:44] testbird commented on #96
Text Messengers could then support passing the call setup links to nextcloud talk.

For example:
https://github.com/deltachat/deltachat-core/issues/101
https://github.com/deltachat/deltachat-core/issues/44

[2018-03-27 19:35] DaCryptor commented on #58
@mario
Original article in German: https://www.computerbase.de/2018-03/google-play-store-apps-sperre/
Google-translation: https://translate.google.de/translate?sl=de&tl=en&js=y&prev=_t&hl=de&ie=UTF-8&u=https%3A%2F%2Fwww.computerbase.de%2F2018-03%2Fgoogle-play-store-apps-sperre%2F&edit-text=

Hopefully Google does not cut off the custom-rom-users one day...

[2018-03-29 19:53] muppeth opened #126 "Manually add contacts"
In cases where nextcloud instance has disabled autocompletion of usernames, there should be an option to specify usernames manually when starting a call. Otherwise you need to first do it via webinterface.

[2018-03-29 20:57] #126 closed, assigned to nobody

[2018-04-03 10:03] fancycode opened #127 "Support standalone signaling server"
The Android app should support using a standalone signaling server.

[2018-04-03 11:22] mario commented on #127
We'll talk at hackweek :)

[2018-04-03 13:32] mario commented on #127
@fancycode I hope I'll see you there?

[2018-04-03 15:13] jancborchardt opened #128 "Remember video on/off and mute/unmute state when rejoining"
Just like we do in the web interface:

1. Join a call and mute yourself
2. Exit that call
3. When you join that call again later, you should be muted

Same for Talk on iOS @Ivansss

[2018-04-03 15:18] Ivansss commented on #128
That call or any call?
In the web app we remember last state, not last state per call.

[2018-04-03 15:23] mario commented on #128
This all makes no sense to me. If I join a call I want to be at least heard
so voice is on by default, but camera is disabled. (Yet you always receive
remote video atm)

Absoluely 0 complaints on this behaviour so far.

On Tue, 3 Apr 2018 at 17:19, Ivan Sein <notifications@github.com> wrote:

[2018-04-07 09:02] cpatscheider commented on #59
If nextcloud/talk-android would be available at bountysource i would support this feature!

[2018-04-07 20:48] jancborchardt commented on #128
@mario This is literally the first complaint then. And it’s not by the design we use for the web interface.

I am in a call, get disconnected, or disconnect and retry for whatever reason, and I have to mute myself again. That’s annoying. I shouldn’t be wondering if now the microphone is on when I specifically muted it.

We do need good feedback if you are actually speaking but muted – that’s the c

[2018-04-08 10:16] jancborchardt opened #129 "Position own video according to where the front camera is"
Currently the own video feed is always shown in the top right. That works when you hold the phone in portrait mode and the camera is on the top right.

When in landscape mode, the video could switch to the top left (when tilted to the left) or to the bottom right (when tilted to the right).

cc @Ivansss @mario, probably same for iOS @marinofaggiana

[2018-04-08 10:32] mario commented on #129
Actually @Ivansss does the iOS Talk app. Let's discuss this at the hackweek.

[2018-04-09 08:51] mario commented on #129
After discussing this with @Ivansss, don't think it makes much sense and camera location is not always the same on different phones.

[2018-04-09 08:51] #129 closed

[2018-04-09 12:44] nickvergessen commented on #104
https://github.com/nextcloud/notifications/pull/117

Replace the audio file here when the license is valid ;)

[2018-04-09 16:15] dikshu11 opened #130 "View password toggle to confirm password is correct"
Currently in call actions, while setting password(Set a password), there should be an option for Confirm Password field. Similarly, when user clicks on Change a password again, It should ask user to type current password, then type new password and confirm it. Also, when user clicks on Clear password, it should ask user to type password and then clear it.
![whatsapp image 2018-04-09 at 9 41 36 pm

[2018-04-09 16:52] jancborchardt commented on #130
As this is on mobile, we must make sure that people don’t need to type that much. To confirm the password, it’s better to have a »Show password« toggle on the right side of the field:
![screenshot from 2018-04-09 18-52-01](https://user-images.githubusercontent.com/925062/38511045-1e95b4fe-3c27-11e8-9869-fc815bd747ae.png)

A toggle icon is here: https://github.com/nextcloud/server/blob/master/core/

[2018-04-10 18:19] dikshu11 commented on #130
@jancborchardt  Would you please review the issue regarding option "Change password". Clicking on this option should ask for current password first, verify it and then ask user to type new password.

Similarly option "Clear password" should ask for current password, verify it and then clear it.

[2018-04-10 18:41] dikshu11 opened #131 "Call logs and notification"
Currently, leaving a call delete its history from the app. There should be an option to see all the call logs. User should be able to see contact name, phone, call duration, time and date. S/He should be notified whenever any call is missed.

![whatsapp image 2018-04-11 at 12 04 04 am 1](https://user-images.githubusercontent.com/33371085/38576655-6006fb82-3d1c-11e8-910c-64c2cb63c2cd.jpeg)

![whats

[2018-04-11 04:01] mario opened #132 "Multi-session support"

[2018-04-11 04:01] mario opened #133 "Client-certificate auth"

[2018-04-11 04:02] mario commented on #131
I understand what you mean but this is a bit harder to do. Let's see what we can do about this in the future.

[2018-04-11 04:03] mario commented on #128
Let's discuss this today as it's one of the biggest gripes I have with your issues :P

[2018-04-12 13:39] Slevin7 opened #134 "Only work with wifi"
Hello, i have a strange behavoir. The talk app works only when i am connected via wifi. on the way with lte connection i doesnt get a video or sound.

is this wanted or did i miss something?

mfg slevin7

[2018-04-12 14:04] Slevin7 commented on #134
i am sorry.
my turn server had a problem, so it was not a problem with the app but with my server.

[2018-04-12 14:04] #134 closed

[2018-04-12 14:04] mario commented on #134
:) Glad it works!

[2018-04-12 16:35] steffanson opened #135 "Resume call or notify after connection loss"
Hi! Last time I tried NextCloud Talk I experienced the following:

When using NextCloud Talk with mobile data (LTE) it may happen, that a call starts to hang due to an unstable connection.

In that case, no video or audio will be broadcasted and the video screen stays black. There is no information to the user about what happened. In order to phone again, a new call has to be initiated.

Therefore

[2018-04-12 17:49] steffanson opened #136 "Add loading spinner while joining call"
As proposed here: https://github.com/nextcloud/spreed/issues/707

[2018-04-13 13:42] mario opened #137 "Improve client-cert auth"
- Make sure user is notified app restart is needed after clearing/changing cert in both settings and add server
- And basically, restart automatically in some seconds

[2018-04-13 13:43] #133 closed

[2018-04-15 01:38] danger89 commented on #59
Will you also support end 2 end message encryption?

[2018-04-15 01:40] danger89 commented on #132
No description given haha xD?

[2018-04-15 03:48] mario commented on #59
No, not for now.

On Sun, 15 Apr 2018 at 03:38, Melroy van den Berg <notifications@github.com>
wrote:

[2018-04-15 03:48] mario commented on #132
I will add one. But it is basically to allow you to be in multiple chat
conversations at once.

On Sun, 15 Apr 2018 at 03:40, Melroy van den Berg <notifications@github.com>
wrote:

[2018-04-15 10:13] JGjorgji opened #138 "Cannot paste into the join via link field"
If i get a link i can't paste it into the application.

[2018-04-16 21:10] JGjorgji commented on #138
Phone is Huawei P9 lite with Android 7.
App version: 1.1.1
Also reproducible on i think either Lineage 14.1 or 15.1.

When you tap and hold in the "Conversation link" field expecting paste to appear as in other input fields nothing happens.

[2018-04-17 05:34] jookk commented on #138
Confirmed on Lineage 14.1.

[2018-04-17 21:18] HAVP opened #139 "Unreliable Signaling - connection problems"
Hello,

the signaling seems to be unreliable in Nextcloud 13.0.1 and Talk 3.1.0. Sometimes I don't even get the remote candidate. Sometimes I get an video connection but screen sharing fails. It's hard to reproduce.
It happens with Firefox and Chrome - did not test other browsers.

I use stun.nextcloud.com:443 and coturn  turnserver-4.5.0.7-CentOS7.4-x86_64 on CentOS with UDP and TCP.

Nextcloud i

[2018-04-17 21:37] mario commented on #139
Hello, can you please file the issue under https://github.com/nextcloud/spreed since this repository is for the Android client? Thanks! :)

[2018-04-17 21:37] #139 closed

[2018-04-18 17:51] mario commented on #128
Discussed so closing.

[2018-04-18 17:51] #128 closed

[2018-04-18 17:53] mario commented on #111
@fantasio31 think I got it. Look for the next release soon ;)

[2018-04-20 02:58] tigernero79 opened #140 "impossible to scroll users"
with last release it is not possible to scroll and display all available users. when I try to flip the list vertically it is blocked. obviously you need to have more than a certain number of users who do not enter the basic screen.

[2018-04-20 06:15] mario commented on #140
The rotation thing sounds strange and shouldn't happen unless you disabled the rotation on your phone.

However! I did find  bug with scrolling so fixing it right away :)

Thanks for the report!

[2018-04-20 09:36] j-ed opened #142 "Menu bar overlays the last contact in the contacts list"
### Actual behavior
After I’ve installed the latest app version (1.1.2) I opened the contacts list in which the last available entry is overlayed by the menu bar so that it cannot be seen nor selected.. Only the alphabetic header is shown.

![talk](https://user-images.githubusercontent.com/2572764/39043923-f91ca26c-448e-11e8-87ee-92818e1666ec.jpg)

### Expected behavior
All available contacts shou

[2018-04-20 09:50] adeseg opened #143 "may i please get the setup documentation"
link to setup

[2018-04-20 10:08] mario commented on #142
Fixed in 1.1.3 :)

On Fri, 20 Apr 2018 at 11:36, j-ed <notifications@github.com> wrote:

[2018-04-20 12:48] #142 closed

[2018-04-20 13:01] mario commented on #143
Do you have Nextcloud server and Talk app installed inside Nextcloud?

In addition, you might need a TURN server like coTurn.

[2018-04-23 11:40] adeseg opened #144 "cant we have the chat included in this app"
any new ways to go about it

[2018-04-24 15:31] mario commented on #144
Working on this. :)

[2018-04-24 15:31] #144 closed

[2018-04-24 22:31] adeseg commented on #144
ok nice to hear

[2018-04-25 17:15] Vaibhav1587 opened #145 "Missing dependencies .. Code is not consistent"
Missing class
`com.nextcloud.talk.models.database.UserEntity;`
`com.nextcloud.talk.utils.glide.GlideApp;
`
Imported code into the android studio 3.2.

[2018-04-25 18:33] mario commented on #145
It's all there. Try now :)

[2018-04-25 18:33] #145 closed

[2018-04-25 18:35] mario commented on #143
@adeseg around? :)

[2018-04-25 19:13] Vaibhav1587 commented on #145
Thanks for the quick reply.
But seriously `UserEntity` class is not present in the package rather there is 'User'. Either I'm so stupid or something really missing here..
![missing_dependancy](https://user-images.githubusercontent.com/34318157/39267495-9c665332-48ea-11e8-9458-8ebaa49ac06b.png)

Is there any setup instructions. Because simply importing code into android studio not working ..

[2018-04-25 21:57] mario commented on #111
@fantasio31 better now? :)

[2018-04-25 22:07] mario opened #146 "Preserve "Public call" header ALWAYS on top in "New conversation view""
So when you scroll, you still see it. This might need changes to pull it away from recycler view since I don't think we can make it an all-encompassing sticky header.

But if we can, that would be awesome :D

[2018-04-26 09:04] #100 closed

[2018-04-26 09:56] fantasio31 commented on #111
Hi,

Yep, it's ok now. Thanks !

[2018-04-26 10:34] mario commented on #111
:)

[2018-04-26 10:34] #111 closed

[2018-04-26 11:00] #132 closed

[2018-04-26 12:26] mario commented on #99
@AndyScherzinger please add icons (not the colored versions thought) and put leave call always as last item. Example from iOS:

![screen shot 2018-04-26 at 14 09 00](https://user-images.githubusercontent.com/5810/39305485-90b37b3c-495d-11e8-8906-9b8fa9d36afb.png)
![screen shot 2018-04-26 at 14 09 13](https://user-images.githubusercontent.com/5810/39305486-91baac80-495d-11e8-8bd1-844a02f9508a.png)

[2018-04-26 15:09] AndyScherzinger commented on #61
Still can't compile the app anymore but my guess would be that something like this added to the `` could maybe work...

in `onAttach` add
[code]
with
[code]

while this is missing a dp to px conversion of course.

Since I can't compile, no idea if this might even work or just crash.

[2018-04-26 18:27] Vaibhav1587 commented on #145
Thanks for recognizing.

[2018-04-26 18:33] mario commented on #145
This seems to be a problem with newer Android studio and Dagger. But oh well.

[2018-04-26 18:53] mario commented on #145
https://github.com/nextcloud/talk-android/pull/148

[2018-04-26 22:01] AndyScherzinger commented on #61
@mario true that I also where I put the code so let's see if I get it to compile with your fix :)

[2018-04-27 09:16] Art4 commented on #138
Confirmed on Android 5.0.1

[2018-04-27 09:30] AndyScherzinger commented on #146
closed via  #148

[2018-04-27 09:30] #146 closed

[2018-04-27 11:01] AndyScherzinger commented on #61
@mario I'll where to put it. Due to objects I need access to I guess it'll have to be `BottomNavigationController`.

[2018-04-27 11:02] mario commented on #61
@AndyScherzinger if that's needed, fine.

[2018-04-28 07:10] mario commented on #138
@AndyScherzinger wanna investigate?

[2018-04-28 07:12] #99 closed

[2018-04-28 07:51] AndyScherzinger commented on #138
Sure, also can't paste, same for the server address login field. My guess it is a general issue with the used Ui element.

[2018-04-28 07:56] mario commented on #138
Fix the element :P

[2018-04-30 09:17] AndyScherzinger opened #151 "Drop header in bottom menu"
see https://github.com/nextcloud/talk-android/pull/150#issuecomment-385339658

[2018-04-30 09:29] xf- commented on #138
Tested on Moto Z Android 8 and Pixel 2 Android 8.1 and same issue

[2018-04-30 09:30] AndyScherzinger commented on #151
To be discussed, @jancborchardt. Also looking through most Bottom sheets there is a header (usually grey) and menu items (usually black). So I'd say we can keep the header and paint it grey and make the menu items text black to have the focus on the menu items.

[2018-04-30 09:42] AndyScherzinger commented on #138
Works nowhere since it isn't supported by the used UI library: https://github.com/HITGIF/TextFieldBoxes/issues/76 opened by Mario, let hope it'll be added.

[2018-04-30 10:11] mario commented on #151
Do that.

On Mon, 30 Apr 2018 at 11:30, Andy Scherzinger <notifications@github.com>
wrote:

[2018-04-30 10:32] AndyScherzinger commented on #151
PR is #152

[2018-04-30 15:58] Vaibhav1587 commented on #145
Does older version Android studio will work ?

[2018-04-30 16:09] AndyScherzinger commented on #145
@Vaibhav1587 No, due to the Android/gradle dependencies you need to run Android Studio 3.1

[2018-05-02 05:46] Glebelg2 opened #155 "contacts online status"
Is it any possibility to see if a contact is online before initiating a call?

[2018-05-02 05:59] mario commented on #155
No. This is probably a request for https://github.com/nextcloud/spreed first - to support Availability status.

[2018-05-02 08:48] Glebelg2 commented on #155
Right, I posted an issue on spreed's github. Thanks.

[2018-05-03 01:30] Gaeldrin commented on #58
Hello, I would have a question about this as I am using F-Droid without any Google anything (Android 7, LineageOS 14), but with a few extra APKs like WhatsApp and Facebook Messenger. The things is - Messenger seemingly polls the Facebook servers only when opened which is in accordance with what @mario said.

WhatsApp, however, receives all kinds of notifications basically in real time without me o

[2018-05-03 05:04] mario commented on #58
@Gaeldrin there are some apps that are automatically whitelisted by the phone vendors so they can do that, and that includes Whatsup. Unfortunately, we're nowhere near as "famous" as they are yet to be able to request this.

[2018-05-03 15:46] #138 closed

[2018-05-03 15:46] mario commented on #138
Fix will be in the next release.

[2018-05-03 19:05] AndyScherzinger commented on #138
@mario also needs to be fixed address login field ;)

[2018-05-03 19:08] mario commented on #138
Done @AndyScherzinger

[2018-05-04 09:06] mario opened #156 "Improve mentions"
- [ ] - Show loading dialog when first loading contacts
- [ ] - Use filtering after initial load if https://github.com/nextcloud/spreed/issues/853 is implemented

[2018-05-05 09:58] Soundbytes opened #157 "Back Button behavior not in line with app design guidelines"
The back button always returns the user to the android home screen.
As a user I find this annoying because this is not the expected behaviour in Android.
The button should instead bring up the previous screen.
Example: Clicking the back button should never bring up the home screen. instead the user should be brought back to the previous which can only be either the calls or contacts screens.
Curre

[2018-05-05 10:02] mario commented on #157
What version of the app and in which screen does that happen?

[2018-05-05 10:25] Soundbytes commented on #157
The version is 1.1.3.  It happens in all screens.
 I have to correct myself a bit. I wrote wrongly:

The android home screen should of course be brought up if the back button is pressed  before the user has navigated to any other screen within the app.

NB: I had to retrieve the version info from the google app store since I could not find it in the about section of the sttings screen. It might be

[2018-05-05 10:27] mario commented on #157
I fixed the bottom of the screen issue in settings, so it'll be in the next release.

So I just tested the button (both the one in the menu top-left and the hw button) and it works as expected :/

[2018-05-05 10:32] Soundbytes commented on #157
then it took me longer to report the issue than for you to fix it.
I feel old!  :/

[2018-05-05 10:36] mario commented on #157
Haha sorry about that! There's probably gonna be a beta release next week, so if you're part of the beta team, maybe you can report back once you test that? :)

[2018-05-05 10:43] Soundbytes commented on #157
this is strange. The behaviour ahould be consistent through all android versions. Anyway here are my phone specs:
Android 6.0.1
Model - Vodaphone VFD 600

To clarify here are steps to reroduce the issue:
1. Open talk app (Calls screen is now present).
2. Navigate to app settings screen.
3. Hit the HW back button.

Observed Result: The User is brought back to the android home screen
Expected: The a

[2018-05-05 10:44] mario commented on #157
Ergh no? This is not what's expected. We misunderstood each other.

The whole screen with bottom navigation is a single screen - so if you're in settings, there's no way back other than the android home screen.

[2018-05-05 10:52] Soundbytes commented on #157
And that is what I find annyoing (mildy in fact)
please read the guidlines that I have linked to in my previous post. I don't think these leave much room for interpretation.
Just to clarify: I am quite aware that this issue shouldn't necessarily have a high priority at all .

[2018-05-05 11:04] mario commented on #157
I will read it :) In the meantime, do you have examples of applications that work the way you say?

[2018-05-05 11:36] Soundbytes commented on #157
I'd say all google apps that have more than a single screen. (chrome, youtube, gmail, maps ...)
Youtube is a great example since it also uses the button bar at the bottom of the screen.
Try clicking a few buttons there then use the back button until you finally end up at the android home screen.
I know fixing this does not contribute a bit to the functionality. Still users will feel much more at h

[2018-05-06 11:51] jebos commented on #59
Any ETA for this feature?

[2018-05-07 23:59] c0fe commented on #59
@mario how to sign up?

[2018-05-08 04:31] mario commented on #59
https://play.google.com/apps/testing/com.nextcloud.talk2

[2018-05-08 09:49] mario opened #158 "Add messages grouping"

[2018-05-08 09:50] mario opened #159 "Replace mentions with display name in entry view"

[2018-05-08 09:55] mario commented on #155
Let's discuss the idea further in https://github.com/nextcloud/spreed/issues/832.

[2018-05-08 09:55] #155 closed

[2018-05-09 06:43] juliushaertl opened #160 "Clicking a mention notification should open the chat view"
When a user receives a notification about being mentioned in a chat, it currently opens the video call. It would probably make more sense to open the chat instead so i can instantly see the message.

@mario

[2018-05-09 07:18] hpaiss opened #161 "Application doesn't even open ongalaxy s8"

[2018-05-09 07:19] mario commented on #161
What version of the app? What happens exactly?

[2018-05-09 07:26] mario commented on #161
OK. Send a report and I'll investigate.

Thanks!

[2018-05-09 07:28] hpaiss commented on #161
I've sent a report.
Thank you

בתאריך יום ד׳, 9 במאי 2018, 10:26, מאת Mario Đanić ‏<
notifications@github.com>:

[2018-05-09 08:41] jancborchardt opened #162 "Don't vanish video/mute/hang up controls in audio call"
When there's no video from most people, vanishing the controls makes no sense and is actually confusing as the screen will be all black.

As talked about at the hackweek, for a call with voice only (and also while connecting) the controls should not vanish.

[2018-05-09 08:44] jancborchardt commented on #136
This is quite important for feedback as currently it is just a black screen.

What should be there is exactly what the web app and iOS app do: Show an avatar of the other person (or icon of the call if it's a group call) and below that "Calling Ivan …" (or "Waiting for Ivan to join the call …", depending on the situation).

This is quite important and confusing in the current experience, so puttin

[2018-05-09 08:46] jancborchardt opened #163 "No way of viewing/writing chat when in a call"
Oftentimes people post links in the chat during the call. It's not possible to check it out without disconnecting.

There should be a function to go back to the chat without dropping the call (probably a back icon in the top left). Ideally that also has a red dot icon added to it when there are new messages.

[2018-05-09 08:51] jancborchardt opened #164 "Chat jumps to bottom if there's a new message"
If I'm somewhere up reading past messages, and someone writes a new one, the chat view jumps to the bottom, which rips me out of the flow.

Instead, we should do it like Twitter etc: Keep the view, but show a "2 new messages" toast on the bottom which is cliclable to move the view down (quick animated scroll).

Of course it's fine to directly show the message and scroll down if you are already vie

[2018-05-09 08:55] jancborchardt opened #165 "In mention notification, show actual message in second line"
Currently the notification only says: "Tobias mentioned you in a gr…" (can't read more because it's phone width - but it should say the call name instead of what I assume to be "group call").

**And the point: We should show the actual message in the second row here.**

[2018-05-09 08:56] mario commented on #165
Please file this issue against the spreed repository since the server generates notifications.

[2018-05-09 08:59] jancborchardt opened #166 "Own message text should be white to not look inactive"
Currently your own messages look like this
 ![](https://i.imgur.com/kZocYkf.jpg)

The text is a bit transparent it seems (or just colored) which makes it look inactive/disabled or as if it was not sent yet.

It should be proper #fff white to not confuse in this way.

[2018-05-09 09:03] mario commented on #166
The reason why it's like that is simple - mentions are white for the outgoing messages.

Regular text for outgoing messages is: #99DBFF

[2018-05-09 09:04] jancborchardt commented on #165
Done https://github.com/nextcloud/spreed/issues/879

[2018-05-09 09:05] jancborchardt commented on #166
But mentions are also bold, so it's not necessary to also differentiate by text color. :)

[2018-05-09 09:10] #166 closed

[2018-05-09 09:11] mario commented on #166
Fixed.

[2018-05-09 09:13] jancborchardt commented on #166
Thank you! :)

[2018-05-09 09:14] mario commented on #164
Can you show me a screenshot of how it looks on Twitter? I'd do it on the top rather unless convinced otherwise.

[2018-05-09 09:19] jancborchardt commented on #164
Since new messages arrive on the bottom, that's where it should be placed.

Here's a screenshot of how Twitter does it (on the top cause their timeline of course goes that way):
![](https://i.stack.imgur.com/UDRLW.png)

[2018-05-09 10:01] lachmanfrantisek opened #167 "Scroll on the top with keyboard"
Hi,

thanks so much for the chat implementation!

I only found one minor bug -- on chat view, when the keyboard is visible, you cannot scroll to the top. (First messages are hidden, because of the keyboard height.)

Thanks!

----

- Xiaomi mi4c (android 7)
- talk-android v1.2.0 (beta)

[2018-05-09 12:29] nickvergessen opened #168 "View "breaks" when @-mentioning empty string"
* Start typing: `Nice @admin`
* Before sending remove text until you have `Nice @`

### Expected

You can still type and do something

### Actually

Input breaks somehow, keyboard is visible, but the input field is missing:
![screenshot_20180509-142756](https://user-images.githubusercontent.com/213943/39814604-5076cbae-5395-11e8-9bc0-312174b9dd33.png)

[2018-05-09 12:42] mario commented on #168
Will see if I can reproduce. What phone and Android version?

[2018-05-09 12:47] nickvergessen commented on #168
Xiaomi Mi A1 - Android 8.0

[2018-05-09 12:47] mario commented on #168
XIaomi :(

[2018-05-09 12:52] mario commented on #167
Always trouble with Xiaomi :P I will test though.

[2018-05-09 16:16] mario commented on #167
Found it, fixed it. Thanks for reporting. Will be in beta2.

[2018-05-09 16:16] mario commented on #164
Will be in beta2. Please check once that is released and let me know how you like it.

[2018-05-09 16:17] lachmanfrantisek commented on #167
@mario Thanks, it was quick!

[2018-05-09 17:09] mario opened #170 "Fork popupBubble"
https://github.com/webianks/PopupBubble

Fix layout issues and allow for more customizability.

[2018-05-09 18:02] mario commented on #168
Fixed, thanks for the report.

[2018-05-09 18:10] #168 closed

[2018-05-10 06:41] mario opened #171 "Voice calls"

[2018-05-10 06:43] mario commented on #161
Unfortunately haven't received any reports from S8 :-/

[2018-05-10 06:48] hpaiss commented on #161
I sent it from the crash screen.
Is there any other way to send you the report?

בתאריך יום ה׳, 10 במאי 2018, 09:43, מאת Mario Đanić ‏<
notifications@github.com>:

[2018-05-10 06:49] mario commented on #161
That should usually work :-/

[2018-05-10 06:51] hpaiss commented on #161
I've just sent again.
Thanks

בתאריך יום ה׳, 10 במאי 2018, 09:49, מאת Mario Đanić ‏<
notifications@github.com>:

[2018-05-10 06:53] #59 closed

[2018-05-10 13:31] #157 closed

[2018-05-10 13:31] mario commented on #157
Thanks for the report. This has been fixed and will be in v1.2.0beta2 once released.

[2018-05-10 21:55] Vaibhav1587 opened #172 "Blank Screen. No voice no video"
Build the application using the current master build.. App not working tried following combinations.

- WEB to Android app - didn't work
- iOS App to Android App - didn't work
- Android app to iOS app - didnt work

Whereas iOS app working fine.

Tested on Moto X Play.

[2018-05-11 04:50] mario commented on #172
Strange. What Android version and do you have TURN server?

[2018-05-11 04:54] mario commented on #172
Also what commit did you compile? I did a lot of changes yesterday :)

[2018-05-11 09:04] lesykm commented on #59
Thank you for implementing this feature.
Having an issue though - installed 1.2 beta, but see no text functionality in the client :(
Also, message sent from server to account with android client does not appear in android client.
Could you please help, how to turn this feature on?
Versions:
Android client: 1.2 beta
Server: 13.0.1
Talk app: 3.2.0
Thank you!

[2018-05-11 09:59] mario commented on #59
Should be turned on by default. What happens when you click on one of the conversations in the "Conversations" tab?

[2018-05-11 10:54] violoncelloch commented on #58
would it be possible to publish pre-releases to f-droid too? so they can be installed manually? I think there are many people using f-droid willing to test pre-releases...

[2018-05-11 13:39] #171 closed

[2018-05-11 13:48] mario commented on #161
Do you know how to catch a log via adb maybe? :-/

[2018-05-11 14:26] lesykm commented on #59
In my case ordinary call is invoked - I could only play with Mic, Speaker, Camera.
I've Galaxy S8 upgraded to Android Oreo.
Context menu for conversations has following records: ['Make conversation public', 'Leave conversation']

[2018-05-11 14:29] lesykm commented on #59
OK, found how to fix it:
1) Go to app manager and invoke force kill
2) Start Talk again and voile - chats are in place.
Looks like after upgrading to beta app was not restarted.

[2018-05-11 14:45] mario commented on #59
Super strange. But glad it works now.

On Fri, 11 May 2018 at 16:31, Mikhail Lesyk <notifications@github.com>
wrote:

[2018-05-11 15:48] Vaibhav1587 commented on #172
Android version
    compileSdkVersion 27
    buildToolsVersion '27.0.3'

Do have the TURN server . Web to Web n iPhone to Web calls are working.

Taken code on Tuesday.

[2018-05-11 16:16] mario commented on #172
Take code today :)

On Fri, 11 May 2018 at 17:48, Vaibhav1587 <notifications@github.com> wrote:

[2018-05-11 18:07] mario commented on #58
@Bubu could you add 1.2.0beta1 to F-Droid as a manual install?

[2018-05-14 07:37] Bubu commented on #58
Added beta1 now. I noticed the version name doesn't reflect the betaX status, it just shows 1.2.0 not sure if that's intentional? (It works this way as well, it just might be confusing for some people).

Just to clarify, you are planning to bump the VersionCode for beta2 and again for release I then?

[2018-05-14 07:48] mario commented on #58
Yes. The version name lacking beta1 was just an omission on my part. Beta2
will have it.

On Mon, 14 May 2018 at 09:37, Marcus Hoffmann <notifications@github.com>
wrote:

[2018-05-14 15:43] jancborchardt commented on #164
Oh that was quick, cool stuff and thank you! :)

cc @danxuliu @Ivansss for the iOS app and the web interface (also for comments) as we should do it similarly there.

[2018-05-14 19:33] Vaibhav1587 commented on #172
Build the application with latest code.
After login nothing happens endless loading spinner.
complete log in the IDE as follow,

Need to swap out application and open again to get it working. Still didn't able to receive any call not even a notification for the call. Where as on iOS able to get the notification as well as connect to the call with some delay from android app.
When I call from the i

[2018-05-15 14:50] Vaibhav1587 commented on #172
Thanks for the reply.

Which version should I compile? n how? :-?
Notification app is installed on the server and its enabled.

[2018-05-15 16:51] hpaiss commented on #161
I never did that before, but if you'll point me to instructions I don't
mind to try.

Thanks,
Hadar

בתאריך יום ו׳, 11 במאי 2018, 16:48, מאת Mario Đanić ‏<
notifications@github.com>:

[2018-05-16 10:43] mario commented on #160
Beta3 after all. Beta2 was quite heavy in changes and I need to do testing plan on how to properly implement and test this.

[2018-05-16 11:05] mario opened #173 "Testing plan for v1.2.0"
Nextcloud servers setup:

- [x] - Setup Nextcloud 12
- [x] - Setup Nextcloud 13 with Talk app and no guest signaling
- [x] - Setup Nextcloud 13 with chat-v2 support

Conversations test:
- [ ] - Join call on own server
- [ ] - Join call on own server with password
- [ ] - Join call on another 13 with no guest signaling
- [ ] - Join call on another 13 with guest signaling
- [ ] - Join call on anothe

[2018-05-16 11:19] brtptrs opened #174 "Searching for contacts returns only a subset of users"
When searching for contacts in the Android app only the pre-loaded contacts seem to be taken into account. In our case this means the fast majority of contacts can not be contacted via the Talk app.
App Version: v1.2.0beta2
Talk: 3.2.1
NC: 13.0.2

[2018-05-16 11:26] brtptrs commented on #174
We are happy Nextcloud customers already :-)
I have also opened a support ticket

[2018-05-16 11:26] mario commented on #174
Yay for that! :D

[2018-05-16 11:30] brtptrs commented on #174
It seems like around 50 contacts get pre-loaded and ca be searched, the rest are ignored.

[2018-05-16 11:33] mario commented on #174
Should really be 200 because that's what I ask Nc instance for and then do local search, but it's possible there's a bug in there somewhere. However, a solution to the problem is three-fold really:

- [ ] - Allow loading more contacts once you reach the bottom
- [ ] - Use remote search instead of local one
- [ ] - Perform local search only if target set is less than 200 users

[2018-05-16 11:40] mario commented on #174
@brtptrs found why it might be 50.

[2018-05-16 11:54] mario commented on #174
@brtptrs since you already have a support ticket, let's handle it there! :)

[2018-05-17 09:19] violoncelloch opened #175 "sent message doesn't show up in new conversation/room"
In a newly created conversation/room or a room without a message sent, after sending messages I have to go back to conversations and open the room again to make the message appear. After that messages show up immediately after sending.

talk-android: v1.2.0beta1
spreed: 3.2.1
nextcloud: 13.0.2

[2018-05-17 09:33] violoncelloch opened #176 "joining via link only opens a call, should be possible to chat as well"
talk-android: 1.2.0beta1

it could open the chat view as standard and allowing to join the call via the icon at the top right?

maybe a conversation joined via link could even be kept in conversations view? probably marked as such?

[2018-05-17 09:38] mario commented on #175
Please try beta2

On Thu, 17 May 2018 at 11:19, violoncelloch <notifications@github.com>
wrote:

[2018-05-17 09:45] violoncelloch commented on #175
waiting for it to be downloadable via f-droid...

[2018-05-17 10:38] mario commented on #175
Yes, it should. Just poked responsible people for F-Droid :)

[2018-05-17 10:40] mario commented on #176
This is fixed in beta2. As for conversations staying there - they'll stay if you join a public room on the same server, but not if you're a guest.

[2018-05-17 10:40] #176 closed

[2018-05-17 10:40] mario commented on #175
I'll close the issue now, and let me know if it doesn't work in beta2! :)

[2018-05-17 10:40] #175 closed

[2018-05-17 10:47] violoncelloch commented on #175
Thank you!

[2018-05-17 10:50] violoncelloch commented on #176
sorry for reporting a duplicate then... wil wait for beta2
I think it would be nice if chats would stay inside talk-android for servers I'm a guest too... would this be possible?

[2018-05-17 10:51] mario commented on #176
@violoncelloch try filling a bug here - https://github.com/nextcloud/spreed :)

[2018-05-17 18:11] mario commented on #172
It's all good, the debug version isn't bad. But I don't see why there's no push activity.

I know the trouble with push notifications, it's fixed in the current master.

But no idea about the black screen - what phone you have? (vendor + android version)

[2018-05-17 18:13] mario commented on #172
Ah you said Moto X Play, but not the Android version?
Can you send a test account to mario@nextcloud.com?

[2018-05-18 16:05] #174 closed

[2018-05-19 15:48] violoncelloch commented on #175
Still waiting for beta2 while beta3 has already been released... is there a way to speed up f-droid publishing?

[2018-05-19 16:14] alex9099 opened #177 "Where is the chat?"
Hi, where is the chat?

if click on some contact it goes directly to the video call

[2018-05-19 16:53] mario commented on #175
Nop, patience is all you need :)

[2018-05-19 16:54] mario commented on #177
You need Talk 3.2.x installed on the server in order to have chat + Nextcloud Talk for Android v1.2.0beta(1,2,3).

[2018-05-19 16:54] #177 closed

[2018-05-19 17:08] alex9099 commented on #177
hmm, i was using the recomended from F-droid(1.1.3) :) the 1.2.0 version from F-droid seems to work fine, thanks ;)

[2018-05-20 16:55] alexara opened #178 "Disable Google Analytics introduced by Firebase"
Since you have introduced Firebase, you might need to explicitly disable Google Analytics:

Source: https://firebase.google.com/docs/analytics/

Source: https://firebase.google.com/support/guides/disable-analytics

See also https://stackoverflow.com/questions/39327141/disable-the-analytics-service-for-firebase-cloud-messaging

[2018-05-20 16:58] mario commented on #178
Only Firebase messaging is compiled with the app, not analytics :)

[2018-05-20 16:58] #178 closed

[2018-05-20 17:44] mario commented on #178
Well, but like the line says, we don't include firebase-core, in fact, we even remove it from all dependencies if any of them ship it.

[2018-05-21 00:51] gerroon opened #179 "FR: Url handler for public chats"
Hi

It would be nice if the NC Talk app can become a url handler for public chat urls, without even needing a user account on the server.  For instance if you have some kind of Youtube app installed (like Newpipe), any youtube url can be opened with those apps either through shares, or through browser's url line, generally there would be an addiitonal icon to open the url directly in the correspon

[2018-05-21 08:29] mario commented on #161
Since a lot of betas changed since then, any news on this? :)

[2018-05-21 08:42] hpaiss commented on #161
It still not working after the last update couple of days ago.

בתאריך יום ב׳, 21 במאי 2018, 11:29, מאת Mario Đanić ‏<
notifications@github.com>:

[2018-05-21 08:43] mario commented on #161
The trouble is, your crash report is not on the Play Store, so I can't see it!

Try this? https://support.apteligent.com/articles/knowledge_base/How-to-Collect-Logs-via-Command-Line-ADB-on-Android-Devices

[2018-05-21 08:45] hpaiss commented on #161
I'll look into it layer today.
Thanks,
Hadar

בתאריך יום ב׳, 21 במאי 2018, 11:43, מאת Mario Đanić ‏<
notifications@github.com>:

[2018-05-21 08:45] mario commented on #161
Thanks.

[2018-05-22 05:51] mario commented on #178
I have checked our Firebase, and we indeed have absolutely 0 (zero!) information even on users who opened the app. I'll add the tag regardless.

[2018-05-22 10:31] brtptrs commented on #174
@mario Beta3 now works as expected. Thanks for the professional assistance!!

[2018-05-22 10:31] mario commented on #174
@brtptrs happy to be of help! :)

[2018-05-24 13:00] gradinaruvasile opened #180 "Non-Google (GCM/FCM) notifications?"
Hi,
Is there a plan to implement independent notifications that work without the Google framework?
It would be great to have some (worst case poll-based) notifications on the F-Droid version too.
For example Riot.IM has them as fallback in case Google push does not work and work really well and are also customizable (the time between polls).

[2018-05-24 22:27] mario commented on #180
No plans. There's been a LOOOONG discussion about this in one of the previous F-Droid issues. Polling wouldn't work on newer Android versions, and even if it did, it would consume significant battery resources.

[2018-05-24 22:27] #180 closed

[2018-05-25 03:01] gradinaruvasile commented on #180
In this case you should update the F Droid description to make sure people know this. Right now notifications are part of the feature list. Also it should be pointed out clearly that this version does not implement notifications at all which in a messenger app should be a requirement.

BTW on Android 8.1 Riot and other apps like Telegram and Conversations seem to work just fine with their own noti

[2018-05-25 05:21] mario commented on #180
I'll happily entertain reviewing & merging such functionality if you think you can do it properly.

Remember it needs modification to the mobile apps, Nextcloud, and a separate push service binary.

[2018-05-28 16:53] mario opened #181 "Check if we need to leave call before joining"

[2018-05-28 19:03] mario commented on #172
Closing because I can't reproduce and it doesn't seem to be a problem with the app, but rather the setup.

[2018-05-28 19:03] #172 closed

[2018-05-28 19:10] mario commented on #116
Sorry, nobody complained about this still :(

If people complain, I'll re-open the issue though!

[2018-05-28 19:10] #116 closed

[2018-05-28 19:10] #160 closed

[2018-05-28 19:11] mario commented on #161
Any news on this?

[2018-05-29 15:27] miniskipper opened #182 "No ringing sound after first call"
I have removed the fdroid-version and installed the play store version of the app (v 1.2.0b3) so that the phone rings on an incoming call.
But this only works for the first call. As soon as there is a successful connection, there is no ringing anymore.
When deleting the conversation from the list and starting a new call, the device rings again. But again only 1 time  :/

Doesnt matter if the clien

[2018-05-29 15:29] mario commented on #182
Yup, aware of this. I'll work on better ringtone support in one of the follow-up versions.

[2018-06-04 17:55] jancborchardt commented on #151
The comment about the header being unnecessary is still valid. :)

In the case of tapping the Plus-icon, the header could be removed completely because it says nothing with a bunch of text. »What would you like to do today?« is not really needed. It distracts from the actions. → Header can be removed.

And for the 3-dot-menu for calls, it also shows that, which is not relevant to the call. → Inste

[2018-06-04 18:04] jancborchardt commented on #109
1. Active video call: »Simple calls« (this is the most important one, so of course needs to be first)
2. Calls list: »All conversations in one place«
3. Call with multiple people: »Conference calls«
4. (Call with screensharing, but this isn’t possible on mobile yet, right? »Share presentations«)
5. Log in screen: »Use your own Nextcloud«

Settings, contact list, search etc are details we don’t nee

[2018-06-06 06:40] #173 closed

[2018-06-06 09:32] mathiasconradt opened #184 "Clicking on notification (when mentioned) does not lead me to the correct room"
When a user mentions me in a chat and I am in another room already, and I click the notification, the app does not redirect me to the correct chat room, but instead leaves me in the room/chat list.

This bug only happens if I am already somewhere in another room/chat.

The bug does not happen if I am either in the chat/group list or if the app is entirely closed.

v2.0.0

[2018-06-06 09:47] mathiasconradt opened #185 "Autocompletion/mentioning not working properly because no space added after the name"
Autocompletion/mentioning not working properly because no space added after the name: when I start typing a username and then click the suggested user when it comes up via autocompletion recommendation, the app seems to append a space behind the name when in fact it doesn't. Because once I type the next letter, it gets appended right after the name, no space in between. It seems as if typing the n

[2018-06-06 11:17] moonwolf-github opened #186 "No text input in chat when in portrait mode"
On Galaxy S8+ there's no text input field when phone is in portrait mode and you can't post any message.

![screenshot_20180606-130424_nextcloud talk](https://user-images.githubusercontent.com/10871358/41035019-b11ee098-698b-11e8-952a-6605509dd94b.jpg)

In landscape mode all works as expected.

![screenshot_20180606-130440_nextcloud talk](https://user-images.githubusercontent.com/10871358/41035027

[2018-06-06 13:02] mario commented on #186
Thanks for the report. I'll investigate.

[2018-06-06 14:05] mario commented on #185
So I looked into the screencast. It looks like your PHONE autocompletion is misbehaving here. If you look closely, you'll see that "ivan" continues to be underlined as you type and autocorrected to what it thinks it should be.

Afaik, the only solution would be to disable autocompletion on a field which I don't think is a good idea.

Let me know your thoughts!

[2018-06-06 14:06] mario commented on #186
Unfortunately I don't have the phone specified but I tried Android 8 + same resolution and it works.

However. I do have one idea, so once 2.0.1 beta is out I'll ask you to test!

[2018-06-06 15:41] #184 closed

[2018-06-06 17:52] moonwolf-github commented on #186
Sure!

[2018-06-06 17:56] mario commented on #186
@moonwolf-github one thing. Could you try writing bunch of messages when in landscape (enough to fill the screen) and then rotate the phone to see if input field appears?

[2018-06-06 18:57] moonwolf-github commented on #186
Looks like it doesn't:

![screenshot_20180606-205446_nextcloud talk](https://user-images.githubusercontent.com/10871358/41059178-1dc377aa-69cc-11e8-8b5d-fc6e614ae417.jpg)

[2018-06-06 18:59] mario commented on #186
Strange. But you can still scroll, right?

[2018-06-06 19:01] moonwolf-github commented on #186
Yes, i can.

[2018-06-06 19:01] mario commented on #186
Ok, thanks. Please take a look at 2.0.1beta1 once its released (aka in half an hour or so).

https://play.google.com/apps/testing/com.nextcloud.talk2

[2018-06-06 19:02] mario commented on #184
Should be fixed in 2.0.1beta1.

[2018-06-06 19:31] moonwolf-github commented on #186
Unfortunately it doesn't work.

[2018-06-06 19:52] moonwolf-github commented on #186
Layout looks OK in my Android Studio. Here's layout boundaries from phone, maybe this will help?
![screenshot_20180606-214840_nextcloud talk](https://user-images.githubusercontent.com/10871358/41061710-ce27fe70-69d3-11e8-99f5-8c0b9fe09f1e.jpg)

[2018-06-06 19:54] mario commented on #186
Hm. Do you think we could do a TeamViewer (or something) session so I can test this out?

[2018-06-06 20:32] mario commented on #186
I'm basically interested to see if messageInput in ChatController is null and why.

[2018-06-06 20:36] godfuture opened #187 "Responding audio-only calls opens up front cam video"
When I get an audio call and respond to it, my front cam is opened automatically. I did not expect my video to start for audio calls.

NC server: 13.0.2
Talk server: 3.2.2
Talk Android: 2.0

[2018-06-06 20:37] mario commented on #186
If you could set ButterKnife.setDebug(true) and send me the logs, that would be awesome!

[2018-06-06 20:38] mario commented on #187
That's because we don't know what type of call is it before we answer it. In one of the future versions you'll be able to answer either audio-only or video (different buttons).

Sorry about the inconvenience.

[2018-06-06 20:38] #187 closed

[2018-06-06 20:39] #181 closed

[2018-06-06 20:39] mario commented on #161
@hpaiss ^_^

[2018-06-06 20:42] godfuture opened #188 "Display does not turn off automatically when covered"
When I have started an audio call and put my mobile to ear, the screen does not turn off automatically.

NC server: 13.0.2
Talk server: 3.2.2
Talk Android: 2.0

[2018-06-06 20:43] mario commented on #188
It shouldn't really turn off. But the camera should stop being shown. Can you please clarify?

[2018-06-06 20:55] godfuture opened #189 "Incoming call can't be responded anymore if call notification was slided sidewards"
A calls B. B gets a notification. B slides the notification a side and is no longer able to pick up the call from A, even A is still calling.

NC server: 13.0.2
Talk server: 3.2.2
Talk Android: 2.0

[2018-06-06 20:59] godfuture commented on #188
I guess you speak about the video being stopped when the approximation sensor gets covered. I meant the display that should be turned off. This is the usual behaviour for many voice apps.

In the end it would make sense to turn off both display and camera when the approximation sensor is covered.

[2018-06-07 05:07] mario commented on #186
(Also just released 2.0.1beta2 in a strange attempt to fix it)

[2018-06-07 06:44] moonwolf-github commented on #186
Still no joy :(
I'll get my hands on another S8+ and S5 today so i'll give this a try. But unfortunately before weekend i won't have time to dig into it further.

[2018-06-07 06:45] mario commented on #186
@moonwolf-github this is with full screen on, right?

[2018-06-07 06:55] moonwolf-github commented on #186
Yes.

[2018-06-07 06:55] moonwolf-github commented on #186
Oh. With navigation bar it works!