[2018-12-14 19:12] mario commented on #374
https://github.com/nextcloud/talk-ios/pull/184

[2018-12-14 19:12] mario commented on #370
Sure, but that's a different matter. It's part of the #265 issue.

[2018-12-14 20:47] mario commented on #376
Not really - my issue is I have no way of reproducing this atm :( But I'm still hopeful!

[2018-12-14 20:53] mario commented on #365
Closing since there is no feedback. Feel free to re-open if needed.

[2018-12-14 20:53] #365 closed

[2018-12-17 14:56] mario opened #391 "Remember bottom sheet state and restore on rotate"

[2018-12-17 14:57] #358 closed

[2018-12-17 14:57] #362 closed

[2018-12-17 14:57] #361 closed

[2018-12-17 14:57] #363 closed

[2018-12-17 14:57] #227 closed

[2018-12-17 14:57] #356 closed

[2018-12-17 14:57] #390 closed

[2018-12-17 20:11] mario commented on #124
@danxuliu and @nickvergessen - would any of you be so kind to tell me what's the signaling difference when receiving a screen, apart from roomType being "screen"? Am I supposed to send different messages etc?

[2018-12-17 20:45] mario commented on #384
@Ivansss where can I find the SVGs for text icon and lock thing?

[2018-12-18 09:39] Ivansss commented on #384
Text icon:
https://github.com/nextcloud/server/blob/master/core/img/filetypes/text.svg

Lock icon:
https://github.com/nextcloud/server/blob/master/core/img/actions/password.svg

[2018-12-19 17:37] ghost opened #392 "Can't talk to guests"
Devices: Samsung Galaxy Tab A (2016) - Android 8.1, Honor 9 - Android 8.0

When I start a public call (with or without video), I am disconnected the very moment a guest who has been invited via link joins the call. However I can talk to other users when they use their own account.

[2018-12-20 16:22] oliob opened #393 "E2E encrypted push notifications"
Hi,

are the push notification payloads (e.g. the message bodies) actually end-to-end encrypted?

By default, FCM uses https between the NC server and the Google server and ssl over tcp between the FCM Google servers and the Android device. However the payload of the push message is readable for the Google servers.
There is a description on how to enable E2E for FCM here:
https://android-developer

[2018-12-20 19:01] mario commented on #392
Hello @lobler. I apologize that the app did not meet your expecations. Can you please let me know what version of Nc and what version of the Spreed app are you using so I can help you better?

Thanks!

[2018-12-20 19:05] mario commented on #393
Hello @oliob. I appreciate your concern for the security when it comes to push notification payloads - this is indeed a huge topic. As you probably know, since you're following Nextcloud, we invest quite a lot of time and energy into making sure that everything is properly secured.

While we don't use Project Capillary to achieve payload end-to-end encryption, we do achieve end-to-end encryption u

[2018-12-20 19:05] #393 closed

[2018-12-21 12:04] oliob commented on #393
Thank you very much for your clarification @mario !

I guess your link to the file got lost ;-)

[2018-12-21 18:54] mario commented on #393
Sorry about that @oliob - https://github.com/nextcloud/talk-android/blob/master/app/src/main/java/com/nextcloud/talk/jobs/NotificationWorker.java :)

[2018-12-21 19:35] jookk opened #394 "Camera switch"
Viber app switches to rear / main camera with one click to camera picture.
will be glad if you add it in talk :)

[2018-12-21 19:42] mario commented on #394
This is already how it works? There is an icon though...

On Fri, 21 Dec 2018, 20:35 jookk <notifications@github.com wrote:

[2018-12-21 21:03] mario commented on #394
Let me know if that works for you @jookk :)

[2018-12-22 08:06] jookk commented on #394
Yes, working.

[2018-12-22 08:09] jookk opened #395 "cant call with app"
Galaxy j3 2017 android 8
Started call - only loading spinner. Probably only with audio call. Video sometimes working sometimes not.
Local net.
Switched off syn-flood and ddos protection on router. But ...

[2018-12-24 07:56] gradinaruvasile commented on #395
Can confirm. App version 3.1.2 has calling issues (can pick up direct calls but cannot join any kind of call, direct or group).
Downgraded to 3.1.1 and outgoing calls are working again.

[2018-12-24 09:06] jookk commented on #395
Nc 15.app 3.1.2 -
Anorher issue:
Start call -> on receiving phone only short ring but in moment ring stop, (as caller canceled call) but caller is still waiting to hang up.

[2018-12-26 11:41] Pillaknuff opened #396 "Control conflict between app and web interface"
To reproduce:
1) sign in to the nextcloud Talk Webinterface
2) sign in with the nextcloud android app (iOs has the same problem as well)
3) start a call via web interface to another web interface
4) leave call using the smartphone control
=> now joining can only be done using the smartphone, the join conversation button in the web interface does nothing. If joining or calling via the app, video an

[2018-12-27 11:06] mario commented on #396
Since you mentioned the iOS has the problem as well, maybe it's a server problem @nickvergessen ?

[2018-12-27 14:21] #392 closed

[2018-12-27 14:21] #395 closed

[2018-12-27 14:58] mario commented on #395
Please let me know if this works in 3.1.3! :)

Thanks!

[2018-12-28 10:01] cron0mat commented on #338
There is an option at _Sharing_ on _administrator settings_ called _auto-completion of usernames_
(Deutsch : Die Auto-Vervollständigung von Benutzernamen im Teilen-Dialog erlauben...)

This needs to be checked to allow nextcloud-talk android app to discover usernames and fill the contacts list !

[2018-12-28 14:09] emersonkfuri commented on #338
Considering we don't want to use username autocompletion in share, the contacts interface on android-talk should permit to search for full username/email as web interface permits, right?

[2018-12-28 17:51] gradinaruvasile commented on #395
Yes, it seems to be working correctly with 3.1.3

On Dec 28, 2018 15:26, "oliob" <notifications@github.com> wrote:

Can confirm the bug described by OP. Seems working now with 3.1.3.
Thanks Mario!!!

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub
<https://github.com/nextcloud/talk-android/issues/395#issuecomment-450359092>,
or mute the thread
<https

[2018-12-28 20:06] mario opened #398 "Add support for loading remote images"

[2018-12-29 01:41] mario commented on #396
Ok, so this is expected. Understood! :)

[2018-12-29 01:41] #396 closed

[2018-12-29 01:46] mario commented on #398
Includes animated images like gifs.

[2018-12-30 14:40] #398 closed

[2018-12-31 16:52] cron0mat commented on #257
It is absolutely not easy to implement a GCM free solution but there are also success stories, see this report :

[replacing gcm in tutanota](https://f-droid.org/de/2018/09/03/replacing-gcm-in-tutanota.html)

[2019-01-01 14:44] jancborchardt commented on #257
@cron0mat this was already mentioned by @testbird above in https://github.com/nextcloud/talk-android/issues/257#issuecomment-423903883 :)

[2019-01-02 21:56] #295 closed

[2019-01-02 22:53] mario commented on #369
![screenshot 2019-01-02 at 23 50 49](https://user-images.githubusercontent.com/5810/50616618-83a04b80-0ee9-11e9-9578-36ddef9147e3.png)

cc @jancborchardt

I unfortunately do not have 5.x to test :( @tobiasKaminsky maybe?

[2019-01-02 22:54] mario commented on #367
Tested, works as expected. Feel free to re-open if the issue happens again.

[2019-01-02 22:54] #367 closed

[2019-01-03 10:57] mario commented on #366
Just tested this, it works as expected. Feel free to re-open if you experience it again.

[2019-01-03 10:57] #366 closed

[2019-01-03 11:11] mario commented on #350
Since you seem quite adept at using networks, can you verify if you've had a 503 response with the old IP before you cleared cache/data?

[2019-01-03 11:28] mario opened #401 "Allow per-conversation notification sounds"

[2019-01-03 11:28] mario opened #402 "Allow DnD exceptions (priority contacts)"

[2019-01-04 07:19] tobiasKaminsky commented on #369
I only have 4.4.x, 4.0.x and 6.x as hardware devices.
But I guess that an emulator will work, at least while testing for files app, I can receive push notifications on an emulator.

[2019-01-04 11:00] Ivansss commented on #124
@mario There is no difference apart from setting `roomType="screen"` in the signaling messages.

[2019-01-04 16:35] jancborchardt commented on #369
@mario on your screenshot it indeed looks way better!

- What’s "lily" in this case though? I assume the recipient / owner of the account? Do we need to display that?
- I guess you don’t have a display name set, but it would show the display name instead of the username? :)
- Still no possibility to show avatars? Is this just not done on Android messengers?

[2019-01-07 00:45] mario commented on #314
Part of this is fixed for 3.2, the other part (split screen) will have to wait I'm afraid :(

[2019-01-07 08:55] mario commented on #369
@jancborchardt yes we do, otherwise you have no idea what account it relates to (and I have bunch of accounts).

- sure, it would be display name.

- there's an issue for avatars in notifications in the follow-up stable release  (3.3)

[2019-01-07 09:36] jancborchardt commented on #369
2 issues here:

- In the screenshot of the notification I showed above, I only had one account configured. In this case you don’t need to have your own name shown.
- It’s very likely that your own name / username is the same on your instances. It won’t help distinguishing the message. If we want to make it distinguishable, showing the domain would be the factor to show.

[2019-01-07 10:56] alx-tuilmenau opened #404 "Allow search for contacts even if no contacts are in list"
It would be great to not hide the search icon within the contacts tab if no users are displayed. For privacy reasons I don't want to allow everyone to list all users (~5k), but search (with a limited number of results) is possible. This works on the talk web app, but the android app hides the search icon if the user list is empty.

[2019-01-08 01:10] mario commented on #369
At least for me it definitely helps. But I can understand your first complain so I'll fix this if you only have one account.

[2019-01-08 01:11] mario commented on #369
(it's unlikely the domain would fit btw in lots of cases)

[2019-01-09 00:31] jancborchardt commented on #369
Yeah, you’re right. But even if we, say, only display the top level domain, it would already be more informative than the username. For me it would be the difference between "jan"/"jan" and "jancborchardt.net"/"nextcloud.com". :wink:

[2019-01-09 00:32] mario commented on #369
OK, let's try that. It's an abuse of the expected text in there, but yea ... :P

[2019-01-09 09:52] amiraliakbari opened #405 "Right to Left Layout Problem"
When I run Nextcloud Talk, it crashes with: `java.lang.IllegalStateException: Circular dependencies cannot exist in RelativeLayout`. I have tested the F-Droid build and compiling the latest commit.

The phone I am testing on shows applications in right to left layout by default. By adding `android:supportsRtl="false"` to manifest the problem is resolved, so I think the cause is RTL layout.

For re

[2019-01-09 09:55] schiessle opened #406 "improve incoming call screen"
yesterday I received a call on my mobile phone, the incoming call screen looks like this:

![image](https://user-images.githubusercontent.com/1589737/50890734-0dc14600-13fb-11e9-8618-b1be639a54bc.png)

I was really confused how to pick up the call. Just looking at the buttons, it looks like the call is already running and I could use the two blue buttons to mute audio/video while what they actuall

[2019-01-09 10:02] mario commented on #406
@jancborchardt thoughts? I'd be more than happy to do this. Just give me the exact hex of the green color we should use.

[2019-01-09 10:05] mario commented on #404
Thanks for the report. I'll take a look and see if this is possible.

[2019-01-09 10:05] mario commented on #405
Thanks for the report, I'll take a look.

[2019-01-09 13:11] mario commented on #405
Ideally, I'll remove the complete library in the follow-up stable release. Thanks for finding this.

[2019-01-09 13:13] mario commented on #406
Actually, we already use #006400 so might try that :)

[2019-01-09 13:16] #406 closed

[2019-01-09 16:02] jancborchardt commented on #406
Sounds good @mario! :)

@schiessle also thanks for the issue! Next time when researching please use more current screenshots of comparable apps though please. ;) We don’t want to make mistakes others did in the past.

[2019-01-09 16:24] mario opened #407 "Get rid of TextFieldBoxes"

[2019-01-10 11:51] mario commented on #394
@jancborchardt do you think that the tap on the Camera preview should also toggle camera switch action?

[2019-01-10 12:07] #124 closed

[2019-01-10 12:07] mario commented on #124
Basic implementation was done for 3.2.

[2019-01-10 12:16] jookk commented on #394
Yes 👍🌝

Dňa 10. januára 2019 12:51:58 používateľ Mario Đanić
<notifications@github.com> napísal:

[2019-01-10 21:33] jancborchardt commented on #394
Yeah, it sounds like it’s more accessible when the whole camera image is tappable. @Ivansss is that also possible on iOS? We should still show the "camera switch" icon though so people know they can tap.

[2019-01-10 23:22] #394 closed

[2019-01-11 14:45] schiessle opened #408 "idea to improve mentioning other people"
right now you have to start typing `@sch` to get a suggestion to mention @schiessle for example. While this might be quite obvious for all of us using thins pattern on Github, etc. regularly, I don't think it is generally known. Also typing on a mobile device, characters like '@' is often not super quick.

I know it from other chat apps on Android that you can "click/touch" a users avatar in the c

[2019-01-11 21:32] mario opened #409 "Allow selecting outgoing video resolution"

[2019-01-12 02:00] mario opened #410 "Add emoji (Twitter) keyboard"

[2019-01-12 02:00] mario opened #411 "Add GIF (Giphy) keyboard"

[2019-01-12 13:47] #410 closed

[2019-01-12 21:57] mario commented on #402
Should this be separate to favorite? (cc @jancborchardt @nickvergessen)

[2019-01-13 01:12] nickvergessen commented on #402
Favorites is pinning to the top of the list. It should not influence dnd

[2019-01-13 02:46] mario opened #412 "Investigate smaller emoji size in toolbar"

[2019-01-13 02:46] mario commented on #412
Compared to say in conversations list last message.

[2019-01-13 10:34] mario commented on #402
@jancborchardt afaik, this has been removed in Android 9. But even if it weren't, our "users" are not regular contacts with phone numbers and we cannot add them as system-wide favorites, so it is indeed inside the app.

I see the two of you (@nickvergessen and @jancborchardt) have different opinions - happy to talk it through on Monday in our regular Talk meeting at 10:00.

[2019-01-13 21:12] jancborchardt commented on #402
Ok, sounds good @nickvergessen. It also seems similar to the 3-dot menu in server where you can pick between the mention/notification level. Breaking DnD would be one level on top of that.

[2019-01-14 15:46] nickvergessen opened #413 "Translation string concatenation creates wrong string"
The translations from:
https://github.com/nextcloud/talk-android/blob/7bb0c79b8922e104dd07064c04408d800790aa0f/app/src/main/java/com/nextcloud/talk/models/json/chat/ChatMessage.java#L196-L212

are used as they are and appended to the name of the participant.
In a one to one conversation it's either you or someone else.

`<You> <sent an image.>` and `<Mario> <sent an image.>` are both correct.

How

[2019-01-14 18:22] mario opened #414 "Update the app to use BottomAppBar"

[2019-01-15 15:49] Bubu commented on #257
That doesn't really sound like it's related to the no-push support. At least it really shouldn't be.

[2019-01-15 15:52] mario commented on #257
This will require the following changes:

- support for the user to automatically whitelist the app as "Ignore battery optimizations" on F-Droid build
- changes to the mobile app to support setting websocket server url manually
- changes to the notification app to POST notifications to the websocket server instead of the push proxy
- a websocket server (to be self-hosted as I'm not sure if we'll h

[2019-01-15 23:55] mario opened #415 "Change owner to moderator in a string"

[2019-01-15 23:55] mario commented on #415
This is so it looks the same as on Web and iOS.

[2019-01-15 23:58] mario opened #416 "Switch to older WorkManager due to issues on Android 5"

[2019-01-16 01:04] mario commented on #413
That is fine, but how do you solve the fact that it needs to be: "You: whateverMessage" ?

[2019-01-16 01:05] mario commented on #413
Found a way :)

[2019-01-16 11:37] #416 closed

[2019-01-16 11:37] #415 closed

[2019-01-16 12:22] mario commented on #308
https://github.com/nextcloud/talk-android/issues/312#issuecomment-433984317

[2019-01-16 12:32] mario commented on #257
Please read above where I said it could be self-hosted.

I don't care about the exact implementation, WebSocket server was mentioned as a technical means to accomplish something. That being said, a WebSocket server would be infinitely more scalable.

But it all depends on what we need to accomplish. First we get the time and contributors, then we get into the technical nitty-gritty :)

But yea.. d

[2019-01-16 16:33] testbird commented on #257
FWIW, why is that the site claiming the Hoa library is already "trusted by owncloud", anyone? https://hoa-project.net/En/

[2019-01-16 17:00] nickvergessen commented on #257
The API was part of ownCloud/Nextcloud but has been removed.

[2019-01-16 17:03] nickvergessen commented on #257
It's even still there:
 https://github.com/nextcloud/server/blob/master/lib/private/legacy/eventsource.php

[2019-01-17 11:22] Bubu commented on #257
I'll be working on one solution for this issue through prototype fund, beginning in March: https://prototypefund.de/project/open-source-push-service-fuer-android-apps/

Finding a suitable technology/protocol for this will be part of the project.

But as there'll be a server and a client library part to this neither the nextcloud sevrer nor the apps should care about the chosen implementation all t

[2019-01-17 11:33] #413 closed

[2019-01-17 17:38] testbird commented on #257
Congratulations for getting the project @Bubu ! :+1:

Hooray, https://gitlab.com/foss-push/planning/wikis/home
A more universal solution, that is usefull for more than just a single application like talk-android, is of course even better!

Jep, and the abstraction also allows to support alternative protocols, for example to allow operation already with just basic e-mail accounts (imap servers), wh

[2019-01-18 04:20] jookk commented on #411
Mario, can you add google gif keyboard too? When I want to add some gif from g keyboard, it only flash info, that talk app do not support gif pasting to this (text box) area.

[2019-01-18 08:30] mario commented on #411
I am not sure what a Google GIF keyboard is. Can you ssend me a link to the app?

[2019-01-18 09:28] jookk opened #420 "cant import account"
NcTalk Beta5, android 8.1
Nc15.0.2
Nextcloud android 3.4.1
App installed from g play, selected nc account, then white screen.

[2019-01-18 19:46] jookk opened #421 "cant call with app"
NcTalk Beta5, android 8.1
Nc15.0.2
After voice call start, only connecting is shown.
Then its not possible to pick down the call (end call) with buttons. App freezes probably and only possible way is force closing via task manager

[2019-01-18 21:50] jookk commented on #421
I dont know if this is related, but may be, because I wanted to call in that time from nc andrid talk app...
from nextcloud log
![error](https://user-images.githubusercontent.com/11217085/51414618-5d2e1180-1b73-11e9-98c8-328e008da364.jpg)

[2019-01-18 21:54] mario commented on #421
@nickvergessen knows issues with push proxy today?

Thanks @jookk .

[2019-01-19 10:18] jookk commented on #421
![screenshot_20190119-111427_1](https://user-images.githubusercontent.com/11217085/51425396-f133c380-1bdb-11e9-9ec4-fe58f243ac1f.png)

[2019-01-19 10:20] jookk commented on #318
![screenshot_20190118-204025_1](https://user-images.githubusercontent.com/11217085/51425408-29d39d00-1bdc-11e9-9f50-cc1b7d24a5b1.png)

[2019-01-21 08:54] nickvergessen commented on #421
Push proxy still works, so not sure

[2019-01-21 09:46] jookk commented on #421
Yes, Ill try and give feedback

Dňa 21. januára 2019 10:29:17 používateľ Mario Đanić
<notifications@github.com> napísal:

[2019-01-21 10:36] jookk commented on #421
Now it worked
Call success

Dňa 21. januára 2019 10:29:17 používateľ Mario Đanić
<notifications@github.com> napísal:

[2019-01-21 22:20] mario commented on #421
Sorry about the issue - this is probably https://github.com/nextcloud/talk-android/issues/386. Will try to fix soon.

[2019-01-21 23:16] #420 closed

[2019-01-21 23:42] mario opened #423 "Store entire capabilities"

[2019-01-22 09:38] gradinaruvasile opened #424 ""Ability to load remote images in a conversation" feature?"
Hi, i noticed the "Ability to load remote images in a conversation" in the newest gplay release. What does it do exactly?

[2019-01-22 09:42] gradinaruvasile opened #425 "Tapping a shared image from a conversation wants to open it in browser"
Tapping a shared image from a conversation wants to open it in browser. This is not really helpful since not many will be logged into a mobile browser to actually see the image.

Tapping on a shared image should open the image in the nextcloud files app. Is this doable?

[2019-01-22 10:07] mario commented on #424
Find an image on the web and paste the link in the conversation :)

[2019-01-22 10:07] #424 closed

[2019-01-22 10:08] mario commented on #425
Sure - and planned. But not at the moment :)

[2019-01-22 11:20] mario commented on #425
Re-opening so it serves as a reminder, even if it's already planned.

[2019-01-22 11:21] mario commented on #420
Should work in 3.2. Thanks for testing the app, as always!

[2019-01-22 20:38] jookk commented on #425
I have idea...
Or it should open in nc talk app on fullscreen.

[2019-01-23 07:09] ningxuanxuan opened #426 "miss https and port when login"
nextcloud talk v3.2.0,
nextcloud 15.0.2,
when i try to login in nc talk with https://foo.bar.com:8443/cloud, can't login in, the webkit show that the error time out and location is http://foo.bar.com/cloud/index.php/login/flow...
i think may be it missing the protocol and port when request.

[2019-01-23 10:03] ningxuanxuan commented on #426
i m sorry, this issue is because of my nginx reverse proxy configure by mistake when pass https request to http request,
please close it, thank you

[2019-01-23 16:59] #426 closed

[2019-01-24 09:53] faaaaabi opened #427 "App returns immediately to background after start"
App ( Playstore version from 21.01.2019) returns to background immediately after startup

**Nextcloud Version:** 15.0.2
**Nextcloud Talk Version:** 5.0.1
**Smartphone:** Huawai P20 Pro (Build CLT-L29 8.1.0.161 (C432) Android 8.1.0)

The chat overview pops up and immediately afterwards the app returns to background (no crash, stays in task manager). Even reopening it from the task manager leads to

[2019-01-24 10:14] mario commented on #427
Hello @faaaaabi. First of all, thanks for using the app and for the trace.
I'll investigate it as I personally use P20 Pro and it works like a charm :( So there must be something strange going on...

[2019-01-24 10:37] faaaaabi commented on #427
Thanks for investigating :) I just talked to a mate which also uses my nextcloud instance with the android talk app. He uses a Samsung device. Maybe something API specific is involved in this behavior.

I will also take a look at the server logs

[2019-01-24 15:31] SnackyWell opened #428 "emoji are displayed as 4 ????"
I just started with Talk and got this Problem and try ti solve it with 4-byte support but my problem is now thare as before can you help me?

[2019-01-24 23:31] mario commented on #427
Can you maybe try 3.2.1? Have no idea if it's related at all, but it fixes lots of bugs.

[2019-01-24 23:33] mario commented on #428
Sounds very strange. So the only reason why this wouldn't work is if the DB was wrongly setup, but you say it should be fine. Did you try sending new emojis AFTER you've changed the DB?

[2019-01-25 10:32] SnackyWell commented on #428
my MariaDB version is:  10.1.34-MariaDB-0ubuntu0.18.04.1
and done the Barracuda File format as you see here:
`+---------------------------------------+-------+-------------+
| NAME                                  | SPACE | FILE_FORMAT |
+---------------------------------------+-------+-------------+
| nextcloud/oc_accounts                 |   252 | Barracuda   |
| nextcloud/oc_activity

[2019-01-25 10:38] mario commented on #428
Thanks for this. Well, first of all I do see that some emojis are working which makes it a bit strange.

I have absolutely no idea if this is needed for Maria, but maybe you can give it a shot if you haven't already?

sudo -u www-data php occ config:system:set mysql.utf8mb4 --type boolean --value="true"

[2019-01-26 12:08] faaaaabi commented on #427
I tried it and it works like charm again :)
Solely the emojis aren't showing up. But this is an other issue
Thanks a lot!

[2019-01-26 12:08] #427 closed

[2019-01-26 23:12] mario commented on #427
@faaaaabi did you switch the DB to proper collation and all? Just wondering ... :)

[2019-01-28 07:52] SnackyWell commented on #428
Since i done this got an error while looking in the users and the emoji are doesent work anyways

[2019-01-28 08:02] SnackyWell commented on #428
[code]

[2019-01-28 08:16] mario commented on #428
The error itself tells you that character set is utf8 while it should be utf8mb4.

[2019-01-28 08:16] #428 closed

[2019-01-28 08:20] nickvergessen opened #429 "Position in the conversation list is not expected after it is refreshed."
### Scenario 1

1. Go to the conversation list
2. Pull down to reload the list
3. **Expected:** You are at the top of the new list
  **Actually:** You are somewhere in the middle of the list

### Scenario 1

1. Go to the conversation list
2. Go to a conversation somewhere down in the list
3. Write a message and go back out again
3. **Expected:** You are at the top of the list where your room is no

[2019-01-28 08:25] nickvergessen opened #430 "Autocomplete suggestions are not coming anymore"
1. Go to a conversation with a few people including mario
2. Start typing `@m` and wait
3. No suggestions are coming :crying_cat_face:

[2019-01-28 08:34] mario commented on #430
Yup, it's a typo (!= instead of ==). But there's another bug that I found that I'll fix as well.

[2019-01-29 00:18] aaronSkar opened #431 "Nextcloud Docker version 15.0.2 notifications not working"
Hi, I am running Nextcloud version 15.0.2 in docker and am no longer receive notifications on the phone app for conversations/calls.

I also have a Nextcloud 14 snap instance signed in with the same app and calls ring the phone and chat messages create notifications immediately, this version works as expected.

--

NC Version: 15.0.2
NC Talk Version: 5.0.1
NC App Version: 3.4.2
NC Talk App Version

[2019-01-29 01:32] gdamjan opened #432 "RFE: flip (horizontally) the self image video"
People are more used to see themselves in a mirror image, than in "real" orientation.

But currently this app shows your self video in the same orientation that the other side sees you. My suggestion is to flip the self video horizontally, ie. if you wave your left hand, the video of your-self should wave on the left side (as yourself sees it).

Platform: lineage os 15.1 (android 8.1), oneplus 3,

[2019-01-29 12:21] mario opened #433 "Dont mirror back camera in pipView"

[2019-01-29 13:43] #430 closed

[2019-01-29 13:43] #432 closed

[2019-01-29 14:16] mario commented on #376
Hello @Spartachetto. v3.2.2 should be out in beta today, so if you're a beta user could you please test it?

[2019-01-29 17:20] mario commented on #431
Do you have any errors in the Nc log? Also what version of Android are you running?

[2019-01-29 17:53] sleeplessnight2 opened #434 "[nearly Bug] Autodelete Notifications Status Bar"
Hello,

If you open a unread message (directly in the app or from the status bar), it will not automatically disappear from the status bar. You have to delete this extra.
Is a little annoying...

It would be nice if this would also check other people to exclude my Samsung as a source of error.

[2019-01-29 18:12] mario commented on #434
It should. I will check - thanks for the bug! :)

[2019-01-29 18:14] sleeplessnight2 opened #435 "[Feature Request] Sharing Files directly"
It would be nice if you can take or select a photo directly and sent this immediately.

I hate comparisons, but as it is done in the well-known Messengers: choose or take a picture without first having to manually upload it.

At the moment it's only possible to send a text-message...

[2019-01-29 18:33] aaronSkar commented on #431
Hi @mario, I am testing between 2 devices.
Device 1:
Samsung S9
Android Version 8.0.0
Kernel Version 4.9.65-14745140

Device 2:
Samsung S6
Android Version: 7.0
Kernel Version: 3.10.61-11510561

I have not noticed anything in the logs but ill double check and post back on that.

[2019-01-29 19:59] aaronSkar commented on #431
So I do not see any errors. But I did some more testing and have uncovered some interesting behavior.

When testing from an admin account (this account has never been connected to a phone) from the web interface I can message either the S9 or S6 device and notifications and call all function properly.

But when using either the account on the S6 or S9 notifications do not function properly whether

[2019-01-29 20:09] mario commented on #435
Planned :) I just don't know when.

[2019-01-29 21:36] Spartachetto commented on #376
@mario I am a bit confused.

I was not a beta user so I thought that I could become one to give you feedback.

I accessed the Play Store and I discovered that I had not yet updated to 3.2.1
I thought that I could
- update to 3.2.1
- test that version
- switch to beta and update again
- test 3.2.2
- provide feedback

I updated to 3.2.1 and tested. No problem with autocomplete ...

I double checked

[2019-01-29 21:39] mario commented on #376
@Spartachetto thank you for your patience and testing. And yes, I quickly moved the app from beta to stable after getting several confirmations it all works.

Keep using the app and give feedback when you have time - it is very valuable and appreciated.

[2019-01-29 21:39] #376 closed

[2019-01-30 01:13] vwbusguy commented on #192
For what it's worth. Notifications work fine on my galaxy s9+ but not my wife's s7. Same app and server version, but if she sends a call or message I get a notification, and no matter what she never gets on. I verified Talk isn't battery optimized and notifications are allowed on hers. Not sure the difference but based on this thread, it might be something with Samsung Galaxy s6 and s7 devices?

[2019-01-30 08:19] Spartachetto commented on #376
@mario thank __you__ !!!

[2019-01-30 20:52] gdamjan commented on #432
now it's reversed on the back camera too

[2019-01-31 00:09] mario commented on #432
Yup, will be handled.

[2019-01-31 01:27] mario opened #436 "Support external sites"

[2019-01-31 02:11] #61 closed

[2019-01-31 14:04] nickvergessen opened #437 "Account deleted after joining public link?"
1. Set up an account
2. Join via a public link on another instance
3. Press the ⬅️ in the navigation
4. Should see something, but the screen is white :boom:
5. Press on ⚙️ in the navigation
6. Info shown is your displayname from 1. and the URL from 2. :boom:
7. Think this is wrong and delete the account
8. Account from 1. is "also" deleted :boom:

If you simply kill the app at 4. and reopen it man

[2019-01-31 14:31] nickvergessen opened #438 "Joining via a public link should not reuse existing account names?"
1. Set up an account
2. Join a public link on another instance
3. Post a chat message

### actual
The message is posted using your displayname from 1.

### expected
I can set my name, or none is used at all.

[2019-01-31 14:32] nickvergessen opened #439 "Chatting in a public link joined room crashes the app"
1. Set up an account
2. Join via public link
3. Write something into chat
4. Wait until after some moments the app just closes.

[2019-02-01 21:11] mw80 opened #440 "Support Single-Sign On"
Support Nextcloud Single Sign On, like the nextcloud android app for news.
https://github.com/nextcloud/Android-SingleSignOn

[2019-02-02 00:30] mario opened #441 "Add support for setting a name when joining via link"

[2019-02-02 00:31] mario opened #442 "When entering conversation and going back, scroll is wrong"

[2019-02-02 00:33] mario opened #443 "Investigate changes to conversation info"
https://github.com/nextcloud/spreed/pull/1502

[2019-02-03 12:14] faaaaabi commented on #427
No i didn't. Thanks for the hint ;-)

[2019-02-06 09:35] simo97 commented on #281
Hi actually i have the same problem.. but mine is working perfectly on the Play store's version... but the code on the repo is not working the same way. How can i do please ?

[2019-02-06 09:37] developerfromjokela commented on #281
Hello!
I will be back at afternoon (GMT+2.00 Finland Time).

Regards,
@developerfromjokela

[2019-02-06 09:39] mario commented on #281
@simo97 you need to create your own Firebase project and update the references to this.

[2019-02-06 09:41] simo97 commented on #281
the references... let me check... i made a reverse of the play store version and i saw it within the manifest file... and a lot of permissions

[2019-02-06 09:43] mario commented on #281
all the permissions that are in the Gplay are also in this repository.

[2019-02-06 09:46] simo97 commented on #281
The two manifest files are differents.. from what i saw.

[2019-02-06 09:46] mario commented on #281
You can see both in the repository via builds.

[2019-02-06 09:51] simo97 commented on #281
Oh i see... it is here : https://github.com/nextcloud/talk-android/tree/master/app/src/gplay
So i will have to merge them and add the firebase services  to get it working or is there a compilation rules command i should use ?

[2019-02-06 10:00] mario commented on #281
It's a separate build type so just use Android Studio or gradlew to build a gplay build.

[2019-02-06 10:02] simo97 commented on #281
yep.. i just saw it. I am building for a new test

[2019-02-06 10:31] simo97 commented on #281
i did it.. put nothing !!! is there anything i need to add on the server itself ?

[2019-02-06 10:34] mario commented on #281
You need to create a Firebase project and change the references in the setup.xml to the project.

[2019-02-06 10:37] simo97 commented on #281
i did it already. But when receiving calls (for eg) i just see the small ```@user join the call``` but nothing else. In setup.xml i've saw :
 ```<string name="nc_push_server_url" translatable="false">https://push-notifications.nextcloud.com</string>```

Is there anything to do with that ?

[2019-02-06 10:40] mario commented on #281
Nop, that's the one to use. And for further debugging I'd have to dig into your changes which is not something I can really do, sorry about that :-/

[2019-02-06 10:45] simo97 commented on #281
hummmm do i need to touch anything in AndroidManifest.xml ? like specific stuff related to firebase integration ?

[2019-02-06 11:39] simo97 commented on #281
Still nothing even when i test the actual version in this repo with gplay build type.. without changing nothing

[2019-02-06 19:26] Valdnet opened #444 "No smiley display"
In the sent messages as well as in the conversation history you can not see the smilies being sent.

Nextcloud Talk v3.2.3 - Google Play
Android 6 and Android 7 and Android 6.1

[2019-02-06 19:46] Valdnet opened #445 "No sound of message arriving in the conference"
During conversations in the conference, there is no sound or vibration when a new message arrives.

Sounds and vibration in settings enabled.

During conversations with a single user, it works correctly.

Nextcloud Talk v3.2.3 - Google Play
Android 6 and Android 7 and Android 6.1

[2019-02-06 20:26] Valdnet opened #446 "No closing of emoticons"
No closing of the emoticons by the `X` button. Closing via the "undo" navigation of the smartphone works correctly.

Nextcloud Talk v3.2.3 - Google Play
Android 6

[2019-02-06 20:27] mario commented on #446
Hi. This is because X sign is meant to delete a character/emoji, not close the emoticon keyboard.

[2019-02-06 20:27] #446 closed

[2019-02-06 20:28] mario commented on #444
This is due to wrong DB configuration - https://docs.nextcloud.com/server/15/admin_manual/configuration_database/mysql_4byte_support.html

[2019-02-06 20:28] #444 closed

[2019-02-06 20:28] mario commented on #445
This I can take a look at - thanks for the bug report.

[2019-02-06 21:00] Valdnet opened #447 "Translations"
There are no translations in the application:

[code]
And I would check these:

[code]

In transifex the words are translated quite a long time ago.

In addition, it is missing for translation in transifex:

[code]

[2019-02-06 21:10] Valdnet opened #448 "[Question] Sending pictures"
How can you send pictures ?

I have not found this option anywhere.

[2019-02-06 22:03] EricThi commented on #448
Hello, it's only possubke via talk web. (for this moment ???)

[2019-02-07 07:44] developerfromjokela opened #449 "Why Nextcloud Talk App is not saving Conversations to local (SQLite) database?"
# Hello!

I likes the app, but there is one question.

Why the app is not saving Conversations and messages to database, because all other char apps are doing this, like XMPP clients.

If it's because security, maybe data can be encrypted?

If I have enough time, I can Implement it.

Regards,
@developerfromjokela

[2019-02-07 09:44] Valdnet opened #450 "Vibration switch"
There is a vibration switch error when changing the sound (just go into the sounds) in the account's main settings.

Procedure:
1. Set the vibration to ON.
![obraz](https://user-images.githubusercontent.com/47037905/52638014-385a5f00-2ed1-11e9-95a9-ed9a42e2b20d.png)

2. Open `Notification sounds` settings: `One-on-One Calls` or  `Other`.

3. Change the sound type and exit or do not change the soun

[2019-02-07 10:39] Valdnet opened #451 "Silence of sound in Mute sounds in the conversation info settings."
No sound after turning off the text message mute

Procedure:
1. Start a text conversation.
2. Mute sounds in the conversation info settings.
3. Exit the conversation info settings.
4. Go back to the conversation info settings.
5. Turn off mute.
6. **The notification sound is still muted.**

Nextcloud Talk v3.2.3 - Google Play
Android 6

[2019-02-07 12:17] mario commented on #449
Because we do not have offline support just yet - there is an open issue for that :) Once we do, we'll only use the messages from the DB and update via network calls. Requery (the DB abstraction layer) we use does allow constant fetching, but we'd maybe move to Room if we get the time.

So I'll close this ticket since there already is one, but you're more than welcome to discuss your ideas and the

[2019-02-07 12:17] #449 closed

[2019-02-07 12:17] mario commented on #447
I'll take a look.

[2019-02-07 12:18] mario commented on #448
We'll add support for this later on. First step will be attaching images/files you already have in your Nextcloud. So I'll close since there's another issue for this, but we're working on it! :)

[2019-02-07 12:18] #448 closed

[2019-02-07 14:30] Valdnet commented on #448
Cool. For sure, this feature will be very useful for all users.

[2019-02-08 07:55] Valdnet opened #452 "Group in contacts"
When moving contacts in the list, the `Group` name is static. Do not move when scrolling contacts.

Nextcloud Talk v3.2.3 - Google Play
Android 6

[2019-02-08 07:56] Valdnet commented on #444
Thanks. Already done. Now it is great.

[2019-02-08 08:05] mario commented on #452
Not sure I understand?

On Fri, 8 Feb 2019, 08:55 Valdnet, <notifications@github.com> wrote:

[2019-02-08 12:35] Valdnet commented on #447
I'll take a look.
OK.

I already know that.

[2019-02-08 13:15] Valdnet commented on #452
![obraz](https://user-images.githubusercontent.com/47037905/52480101-1009f200-2bab-11e9-87e8-e7891eb2c3cd.png)

The `Group` description does not scroll with contacts.

![obraz](https://user-images.githubusercontent.com/47037905/52480136-21eb9500-2bab-11e9-9d32-ec04c27bb17c.png)

Procedure:
1. View contacts.
2. Scroll down contacts.
3. `Group` **description remains in place**.

[2019-02-09 11:45] Valdnet opened #453 "Duplicate call termination message"
After the call is completed, the call ending message is duplicated.
![obraz](https://user-images.githubusercontent.com/47037905/52520320-8de00300-2c68-11e9-96f2-f973840fc317.png)

[2019-02-09 11:53] Valdnet commented on #451
Okay. I close the subject. My mistake in understanding this option. Sorry.

[2019-02-09 11:59] #451 closed

[2019-02-09 12:07] Valdnet opened #454 "[Feature request] Call signal when ringing"
I suggest adding a call signal when connecting to another user. Similar to a telephone connection.

This is missing. During the call, it is not known whether you are connecting to another user and when you have answered or disconnected.

[2019-02-10 03:35] mario commented on #452
This is expected. Scroll a bit further and it will disappear.

[2019-02-10 03:35] #452 closed

[2019-02-10 21:20] mario commented on #447
It seems the translation are in the repository? I'm not sure what you're referring to?

[2019-02-11 09:28] mario commented on #453
Pretty sure this is server related at this point. cc @nickvergessen

[2019-02-11 11:32] Valdnet commented on #453
There is only one message on the server in the messenger window. However, in the Nextcloud Talk application the message is double.

Are you sure that the error lies on the server side?

[2019-02-11 12:40] Valdnet commented on #452
Okay. With three groups and three users it's hard to notice.

This is the second issue. If you follow these steps:
1. You start contacts (description disappears when scrolling).
2. Turn the screen into a transverse position.
3. Scroll through contacts.
4. The names of the titles behave differently. **They immediately follow the list of groups and users**.

Such a small detail.

[2019-02-11 16:31] mario commented on #453
OK, let me re-open.

[2019-02-11 16:39] scalderwood1 commented on #219
@mario Looking at the prereq on server, according to the issue log 5.0 included this as of Dec '18. Is this something that can be prioritized for android-mobile now?

[2019-02-11 16:41] mario commented on #219
@scalderwood1 this was never implemented on the server. Where have you seen this?

[2019-02-11 16:52] Valdnet commented on #453
Okay.  I tested it again and find out that the server is also duplicated information. I also report the @nickvergessen problem. You can close again. Sorry for the confusion.
![obraz](https://user-images.githubusercontent.com/47037905/52578981-929de600-2e25-11e9-917d-01a90b08e336.png)

[2019-02-11 17:04] scalderwood1 commented on #219
@mario - Perhaps I am misreading the milstone adoption for the project. Looking at milestones 5.0.0 shows as being attached to that feature request and shows as 100% done. Release is shown as 5.0.2 currently.

[2019-02-11 17:15] mario commented on #219
Link me up? :)

[2019-02-11 17:15] #453 closed

[2019-02-11 17:19] scalderwood1 commented on #219
Sure thing, @mario - [Spreed issue here] links to  [milestone 5.0.0 for spreed](https://github.com/nextcloud/spreed/milestone/15) which shows 100% completed. In latest releases they are on version 5.0.2

[2019-02-11 17:41] mario commented on #219
This was changed to Backlog, so not done.

[2019-02-11 17:44] scalderwood1 commented on #219
Ah- so i was misreading it.  ;)

[2019-02-12 12:50] Valdnet opened #455 "Automatic hiding the keyboard"
Procedure:
1. Create a new connection with the user.
2. Write a message to the user.
![obraz](https://user-images.githubusercontent.com/47037905/52638716-da2e7b80-2ed2-11e9-81b6-90175da065f4.png)

3. Return to the list of users via the arrow in the Nexctcloud Talk application menu.
![obraz](https://user-images.githubusercontent.com/47037905/52635936-89675480-2ecb-11e9-9d06-7f0e31dbc505.png)

4. **

[2019-02-13 07:24] Valdnet opened #456 "[Suggestion] Change of sound selection descriptions"
I suggest changing the descriptions of sound selection. The current descriptions are confusing for the user of the application.

I suggest such descriptions:
![obraz](https://user-images.githubusercontent.com/47037905/52694017-b4ec4c80-2f68-11e9-838b-12550b74d163.png)

[2019-02-13 11:02] Valdnet opened #457 "Blocked emoticons after locking the smartphone"
Procedure:
1. Create a new connection with the user.
2. Write a message to the user.
3. Switch to emoticons.
![obraz](https://user-images.githubusercontent.com/47037905/52705304-e245f400-2f82-11e9-9b70-ce526812bb3f.png)

4. Wait for the smartphone to lock or block yourself.
5. Unlock your smartphone.
6. Try disabling the emoticons on the keyboard - **no reaction**.
7. Re-switching only changes the

[2019-02-13 15:11] mario commented on #457
Uh, I'm not sure I understand what's happening? :-/ But I'll check it out.

[2019-02-13 15:11] mario commented on #456
I'm not sure what would you like to change these to?

[2019-02-13 17:01] Valdnet commented on #456
So, I requested a merge for this one, number #458. Please check it and let mi know that everything is clear.

[2019-02-13 17:05] vix95 commented on #445
Hi, good job. I found this bug also.

[2019-02-13 17:17] vix95 commented on #457
Hi @mario , I think that @Valdnet tried talk to you like this.
When you open emoticons window and block the phone and next unblock the phone during conversation then keyboard can't to show. The emoticons window is still open. In case if you are trying to close emoticons window you can't to close.

[2019-02-13 17:24] mario commented on #457
@vix95 thanks for the clarification, that makes sense. I've done a lot of changes to the Emoji Keyboard handling, so I'll take at this as well.

[2019-02-13 17:30] vix95 opened #459 "Send photos from gallery and the camera"
Hi, I know that is already open post like this but other post are including send files only from Nextcloud. The best feature for me will be send photos and short movies by gallery and the camera. It's very helpful and familiar feature if you'd like to fast send any photo for example. I'd like to fast share, I won't to first upload on the Nextcloud. Please think about this. For me it's the must hav

[2019-02-13 17:32] vix95 commented on #457
@mario , great, you're welcome!

[2019-02-13 17:33] Valdnet commented on #447
@mario I thought that these words for translation belong to Nextcloud Talk for android.

PS: I have already done a translation for spreed :wink:

[2019-02-13 18:15] omarusman opened #460 "Manual App (iOS/Android) Push Notification?"
Hi,

Is it possible to send a push notification on mobile apps manually?
I'd like to fire a manual push notification message outside, like on my web server.

Thank you in advance.

[2019-02-13 19:41] Valdnet commented on #459
I have already discussed this topic in thread #448. I also think that this is a necessary option that would increase the popularity of the application.

[2019-02-13 22:10] mario commented on #459
Closing because we have https://github.com/nextcloud/talk-android/issues/435, but thanks for keeping us on our toes! :)

[2019-02-13 22:10] #459 closed

[2019-02-14 00:13] mario opened #461 "Fix emoji picker appearance"
The emoji keyboard sometimes doesn't appear at all.

[2019-02-14 00:17] mario opened #462 "Add support for incognito keyboard"

[2019-02-14 00:18] mario opened #463 "Add support for screen security"
Would prevent screenshots.

[2019-02-14 00:18] mario opened #464 "Add support for screen lock"
Includes support for screen lock inactivity timeout.

[2019-02-14 00:18] mario opened #465 "Add support for disabling link previews"

[2019-02-14 00:26] mario commented on #431
Strange. But I think I know what's happening and I'll look into it.

[2019-02-14 01:40] mario commented on #421
Closing this for the time being, but there's another issue where I'm tracking this.

[2019-02-14 01:40] #421 closed

[2019-02-14 02:32] mario opened #466 "Stop using keyboardutils and use resize magic"

[2019-02-14 02:36] #457 closed

[2019-02-14 02:36] #461 closed

[2019-02-14 02:36] mario commented on #455
Fixed, will be in the next minor release.

[2019-02-14 02:36] #455 closed

[2019-02-14 03:27] mario opened #467 "Investigate if conversation info is viable for guests"

[2019-02-14 03:28] #437 closed

[2019-02-14 03:28] #438 closed

[2019-02-14 03:28] #439 closed

[2019-02-14 04:30] #450 closed

[2019-02-14 04:39] #433 closed

[2019-02-14 04:49] mario commented on #447
Cool.

[2019-02-14 04:49] #447 closed

[2019-02-14 06:25] mario commented on #340
After careful consideration, we're going to implement this eventually. Thanks for your request.

[2019-02-14 06:27] mario commented on #340
Will track it as part of
https://github.com/nextcloud/talk-android/issues/464

[2019-02-14 06:27] #340 closed

[2019-02-14 06:36] mario commented on #462
This will be supported on O and up.

[2019-02-15 01:11] mario opened #469 "Add support for fingerprint"

[2019-02-15 14:05] jcastang opened #470 "Video call does not work with TURN server"
Hello,

Here is the scenario:
(1) Calling from Android phone using app to a client (Chrome on PC) that is not on the same network show black screen on both (Chrome on PC and App on phone).
(2) Calling from Android phone using Chrome to a client (Chrome on PC)  that is not on the same network works.

So TURN setup seems to be correct.

When in scenario (1), TURN server seems unable to authenticate

[2019-02-15 14:17] Valdnet opened #471 "The keyboard is not hiding"
Step to step:
1. Create a conversation.
2. Turn on the keyboard.
3. Go to:  `:` ->`Conversation info`.

**The keyboard is not automatically hidden.**

![obraz](https://user-images.githubusercontent.com/47037905/52862142-c2563200-3134-11e9-912e-d98d2a93624a.png)

Nextcloud Talk v3.2.5
Android 6

[2019-02-15 16:26] resoli opened #472 "v3.2.5 crashes when starting call."
Just tried on two different devices: OP3T with lineage 15.1 and nexus 7 2012 tablet with lineage 14.

[2019-02-15 17:08] Valdnet commented on #472
Step to step:
1. Create a conversation.
2. Make a call or video call.

**The application turns off.**

Nextcloud Talk v3.2.5
Android 6

[2019-02-15 17:09] mario commented on #470
Hi, this sounds VERY strange. What version of the app?

[2019-02-15 17:09] mario commented on #472
Thanks. Will be fixed shortly.

[2019-02-15 17:18] mario opened #473 "Investigate calls as guest"

[2019-02-15 23:36] mario commented on #472
Please confirm it's fine now?

[2019-02-16 07:26] Valdnet commented on #472
@mario the 3.2.6 application works very well. Good job :wink:

[2019-02-16 07:33] Valdnet commented on #434
It is also a bit of a nuisance to me. Especially with more messages.

We are waiting for a quick update :wink:

[2019-02-16 09:19] resoli commented on #472
Fixed.

[2019-02-16 09:19] #472 closed

[2019-02-17 10:32] alexara commented on #178
Just a note @mario : Currently https://reports.exodus-privacy.eu.org/en/reports/58849/ finds one tracker, by name Google Firebase Analytics, though it is disabled as we know.

However, if you like to remove the warning at Exodus and to go sure that the the library doesn't ignore the parameter from the manifest, you can also remove the appropriate classes, as Conversations has been doing it for qui

[2019-02-17 12:22] mario commented on #178
Ah so they changed the way Firebase is bundled. Let me fix this - thanks @alexara :)

[2019-02-17 12:28] mario commented on #178
https://github.com/nextcloud/talk-android/commit/24626ba2dda4f1f6e617aa2ae2ebbcf9ce5b7e6c cc @alexara :)

[2019-02-18 09:01] jcastang commented on #470
Last version (3.2.6).
It seemed to be TURN server related.
I used talk.sh script from NextcloudVM setup and then it worked.

[2019-02-18 09:01] #470 closed

[2019-02-18 09:40] nickvergessen opened #474 "Do not show own avatar in "last message""
We shouldn't show the users own avatar in the last message info.
It is especially confusing for one-to-one calls where the other users avatar is not shown, but only your own. I think we should show none for one-to-one calls and only the other avatars for group/public class.

[2019-02-18 13:13] #463 closed

[2019-02-18 13:13] #465 closed

[2019-02-18 13:14] mario commented on #464
Includes

[2019-02-18 13:14] #464 closed

[2019-02-18 13:14] #462 closed

[2019-02-18 13:15] mario commented on #469
This now also includes iris and face recognition support. It will however only start working once the vendors implement a standard API rather than doing their own custom SDKs.

[2019-02-18 13:15] #469 closed

[2019-02-18 16:54] aaronSkar commented on #431
OK thanks!  If you need anything from me just ask and I will try to get the info you need.

[2019-02-19 10:03] mario commented on #445
Works as expected. If it's not working, you probably disabled the sound somewhere in the phone settings or lowered it :)

[2019-02-19 10:03] #445 closed

[2019-02-19 10:09] mario commented on #471
Tested this, definitely works as expected.

[2019-02-19 10:09] #471 closed

[2019-02-19 10:14] mario commented on #434
Seems to work as expected atm.

[2019-02-19 10:14] #434 closed

[2019-02-19 10:40] #474 closed

[2019-02-19 11:16] mario commented on #460
Yup, see: https://github.com/nextcloud/notifications/blob/master/docs/admin-notifications.md

Though they won't be shown in the Talk app atm.

[2019-02-19 11:16] #460 closed

[2019-02-19 11:27] Elfanar commented on #226
Got same issue, NC 15 and Talk 5.0.2

[2019-02-20 10:08] tobilra opened #475 "Locked LDAP Accounts after Password Change"
First Thanks for your greate App!
Our Nextcloud Login is configured with Active Directory logon. If I change the password for an account it seems that the Nextcloud Talk App does not get any information about this state and try to login with the old Password. After N tries the Account gets locked. Currently I have to logout in the App before I change the password in our Active Directory. It would

[2019-02-20 12:02] mario commented on #443
Disabled conversation info for guests.

[2019-02-20 12:02] #443 closed

[2019-02-21 00:13] mario commented on #207
@dan0xii given your great contributions to the Android app, would you be willing to work on this + https://github.com/nextcloud/talk-android/issues/250 here as well? I am, of course, more than willing to assist.

It would need some refactoring I assume since I didn't get around to extracting all the colours yet.

I'm sure the users would be grateful as your contributions have really been great in

[2019-02-21 09:04] dan0xii commented on #207
Sure, I'll take a look. I might be able to port the dark theme from the main app.

[2019-02-21 09:11] mario commented on #207
@dan0xii that would be awesome. Like I mentioned, might need a bit more work as colors are hardcoded at places, but you seem to be the expert in these things - so... :)

Remind me to get you a beer/wine/coffee/pancakes when we meet :)

[2019-02-21 09:42] mario commented on #473
This was an issue with the app in how it handled guests when doing websocket connection.

[2019-02-21 09:45] #473 closed

[2019-02-21 12:55] Valdnet opened #476 "[Feature request] Separating sounds in the selection list"
It would be more legible to separate the system sounds from my sounds on the selection list.
![obraz](https://user-images.githubusercontent.com/47037905/53170202-d17b2b00-35df-11e9-93a3-ec8b1a3efa9f.png)
Option for: `One-to-one calls` and `Other`.

[2019-02-21 12:57] mario commented on #476
Is that even possible? Which app has it this way?

On Thu, 21 Feb 2019, 13:55 Valdnet, <notifications@github.com> wrote:

[2019-02-21 13:58] Valdnet commented on #476
I do not know that 😉

In system settings of sounds and notifications in android, e.g. 6.
But in fact I did not meet in other applications :grinning:

[2019-02-21 17:12] dan0xii commented on #207
I curse whenever I see hard-coded colours !

I won't forget. :)

[2019-02-21 18:53] mario opened #477 "Make room name mandatory"

[2019-02-21 18:53] mario opened #478 "Support @all"

[2019-02-21 18:53] mario opened #479 "Support commands"

[2019-02-21 18:54] mario commented on #467
It's not.

[2019-02-21 18:54] #467 closed

[2019-02-21 22:58] gerroon commented on #207
This is the spirit!

[2019-02-22 14:05] #442 closed

[2019-02-23 16:15] yohan-b commented on #431
Hi, it seems I have the same issue. This bug makes the Talk Android app mostly useless for me. :-( Is there a workaround while waiting for a fix ? I'd be happy to help with debugging and testing.

[2019-02-23 16:31] mario commented on #431
Send me a test account @yohan-b? mario AT nextcloud.com.

[2019-02-23 19:39] mario opened #480 "Use PowerManager to prevent sleeping in calls"

[2019-02-24 10:48] Valdnet commented on #447
@mario  in Nextcloud Talk v3.2.7 there is no new translation in the Polish version :wink:
`<string name="nc_settings_vibrate_desc">Phone will vibrate unless it\'s silenced</string>`

[2019-02-24 10:53] mario commented on #447
It will be there in 3.3.

On Sun, 24 Feb 2019, 11:48 Valdnet, <notifications@github.com> wrote:

[2019-02-24 11:16] Valdnet commented on #447
OK. So we wait patiently :wink:

[2019-02-24 11:17] mario commented on #447
Thank you for the translations!

On Sun, 24 Feb 2019, 12:16 Valdnet, <notifications@github.com> wrote:

[2019-02-25 09:37] Valdnet commented on #447
No problem 😉
I corrected the translations and approved them. I think it's good.
There is only one translation of the function: `Instructs keyboard to disable personalized learning (without guarantees)`
Can you describe this function?

[2019-02-25 13:43] gdamjan commented on #432
seems fine as of 3.2.7 (f-droid)

[2019-02-25 13:44] mario commented on #432
Cool

On Mon, 25 Feb 2019, 14:43 Дамјан Георгиевски, <notifications@github.com>
wrote:

[2019-02-25 15:44] mario commented on #447
@Valdnet it basically asks the keyboard not to remember/send to 3rd-party the things you type.

[2019-02-25 17:17] Valdnet commented on #447
@mario Ok, I thought so :wink:
It's hard to translate to the Polish word: **Instructs** keyboard.
Can you type more familiar word?

[2019-02-26 08:33] mario commented on #447
@Valdnet well, feel free to use something else, like "Tells keyboards" or "Tries to disabled keyboard personalised learning (without guarantees). The translation doesn't have to be a word-by-word translation if it's hard :)

[2019-02-26 09:22] Valdnet commented on #447
@mario Thank you for your response 😉

That's right.
Only that this word "Instructs" is very important :grin:
I do not want to write stupid 😉

[2019-02-27 03:00] lachlan-00 commented on #436
Support for external sites means support for external talk users?

[2019-02-27 04:23] avuton opened #481 "Emoji won't send"
Using the Nextcloud Talk 3.2.7 from F-Droid, with Nextcloud Talk App 5.0.2, Nextcloud Server 15.0.4. I cannot send emoji. I click any emoji, click send, and it goes away but never sends.

The only helpful thing I've found is in the logcat the following shows:
```LatinIME: Starting input. Cursor position = 3,3```

The '3,3' doubles for each one on the line. Sorry if that's not helpful, please let m

[2019-02-27 04:26] avuton commented on #481
I'm going to close this, just tried on the web and I get an error there too. I'll reopen if I confirm this is a talk-android issue.

[2019-02-27 04:26] #481 closed

[2019-02-27 07:19] mario commented on #436
Nop, it's support for: https://apps.nextcloud.com/apps/external

[2019-02-27 07:35] mario commented on #481
Hi. This is an issue with your setup I'm afraid - please see:
https://docs.nextcloud.com/server/15/admin_manual/configuration_database/mysql_4byte_support.html

[2019-02-27 08:21] avuton commented on #481
Thank you, I'm kinda surprised this kind of thing isn't detected and reported in the server issues, but that's a different story. I'll fix this tomorrow.

[2019-02-27 13:43] rhonda opened #482 "no notifications for chat messages"
I'm currently trying out the nextcloud talk app, and I noticed that I don't receive any notification, which feels very weird. I installed it from frdoid, version 3.2.3, if that's of any relevance.  When I open up the app again I see that there are new messages, but there wasn't any notification in between.

[2019-02-27 13:46] mario commented on #482
Hi. The F-Droid build does not support notifications unfortunately.

See https://github.com/nextcloud/talk-android/issues/257 for more details.

[2019-02-27 13:46] #482 closed

[2019-02-27 14:46] pm-pm commented on #257
Hello, in the meanwhile you could have a look at gotify project: https://gotify.net/
It is a SIMPLE, SELFHOSTED, FOSS, CROSSPLAFORM and BATTERY SAVING push service. (Brilliant for my private use!)
Maybe the nextcloud server could a) integrate gotify or b) use gotify push service as interface for push massages to talk app.
On my Android 8.1 Motorola i have not really any battery problems with gotif

[2019-02-27 17:55] mario opened #483 "Fix delete/leave room"
https://github.com/nextcloud/talk-ios/pull/206

[2019-03-02 16:11] yohan-b commented on #431
Hi, I've just updated to Nextcloud 15.0.5 and Talk 3.2.7. The bug is still there. :-(

[2019-03-04 07:56] mario opened #485 "Implement locked one-to-one"

[2019-03-04 08:06] #480 closed

[2019-03-04 08:06] #188 closed

[2019-03-04 09:00] tobiasKaminsky opened #486 ""bypass" account import"
Coming from https://github.com/nextcloud/notifications/issues/82

- click "add a new account"
- select any account
- wait for webflow login
- click back

Video: https://github.com/nextcloud/notifications/issues/82

On two devices: you are logged in, without typing password and then Push does not work anylonger
On another device: you are not logged in, everything remains working

Both misbehaving d

[2019-03-04 09:01] tobiasKaminsky opened #487 "Remove account should ask for confirmation"
"remove account" can accidentally be pressed when "add a new account" is wanted.
As it is a destructive action it should have a confirmation.

[2019-03-04 09:02] tobiasKaminsky commented on #486
This then leads to having two accounts with the same push token and thus the later one (Talk) is receiving all push notifications.

[2019-03-04 09:12] mario commented on #486
Fun :D

[2019-03-04 09:18] Valdnet opened #488 "[Feature request] A beep when ringing"
I am asking for a function so that the person calling the user will hear the call signal as in the telephone earpiece (tiiiiiiit, tiiiiiiit, tiiiiiiit ...) 😁 Something similar to Skype.

☎️
Currently, when calling from the Nextcloud Talk application for Android from the phone placed to your ear, you can not see if a call is being made and you can not hear when you are rejecting the call.

[2019-03-04 09:21] mario commented on #488
Already requested in
https://github.com/nextcloud/talk-android/issues/454.

[2019-03-04 09:21] #488 closed

[2019-03-04 09:35] Valdnet commented on #488
Sorry. I forgot quite.
This is missing in the application.

[2019-03-04 11:56] mario commented on #487
Absolutely. Will be in the next beta.

[2019-03-04 11:56] mario commented on #373
Partly done for 3.3.

[2019-03-04 13:14] mario opened #490 "Show error when last moderator tries to leave a room"
https://github.com/nextcloud/talk-ios/pull/207

[2019-03-04 14:14] #483 closed

[2019-03-04 14:14] #485 closed

[2019-03-04 14:14] #486 closed

[2019-03-04 14:14] #487 closed

[2019-03-04 15:08] mario opened #491 "Check app group restriction"
https://github.com/nextcloud/talk-ios/pull/209

[2019-03-05 17:14] aaronSkar commented on #431
I have also performed the same upgrade.  I also did a test migration from a snap instance to a docker instance that that deployment now has similar behavior.

[2019-03-05 18:14] aaronSkar commented on #431
On the snap -> docker migration many of the users cannot even log in to android-talk properly. They are only presented with a spinning wheel on white background after granting access.  If the account is removed and re-added it says updating existing account as if the account still exists on the phone.  After uninstalling and re-installing the app seems to have persistent data as it still seems to

[2019-03-05 20:50] #159 closed

[2019-03-05 20:51] mario opened #494 "Open chat with user by clicking on mention"

[2019-03-06 12:43] #478 closed

[2019-03-06 16:03] aaronSkar commented on #431
Ok so one of my iphone users was having the exact same issue.  He noticed that if you logged out of icloud he was able to sign into talk with no issues and notifications work. I will be testing on an android client by signing out of google/samsung/etc services this afternoon and will update if it also solves for android.

[2019-03-06 18:12] aaronSkar commented on #431
Ok so I have tried disabling Samsung sync and google app data sync and clearing 3rd party app-data from google. After each step I uninstalled, cleared phone data via android storage and then re-installed the app.  I am able to sign in fine but still no notifications.

[2019-03-06 18:56] aaronSkar commented on #431
Ok work around has been found.
I went into mysql manually and deleted all push notification tokens for the user.  Then reinstalled the app and signed in and everything is working normal.  An example for my user on a particular server would be like this:
`delete from oc_notifications_pushtokens where uid like 'aarons';`

[2019-03-07 08:45] yohan-b commented on #431
Hi, this won't work for me. The table is already empty :

Empty set (0.00 sec)

[2019-03-07 22:43] aaronSkar commented on #431
Hmm.. So I have fixed a handful of users so far by deleting tokens. The app doesn't need to be uninstalled just the user needs to sign back in and then after a few minutes everything is normal. What I find odd is that you don't have any push notifications.  If I delete the token and sign back in with a phone a new token is in the table for that user almost immediately.  I don't think notifications

[2019-03-10 13:56] Valdnet opened #496 "No translation "no proxy""
There is no translation of "no proxy" in the application.

![obraz](https://user-images.githubusercontent.com/47037905/54085980-6900ad80-4344-11e9-8cad-9c6cae30216f.png)

![obraz](https://user-images.githubusercontent.com/47037905/54085993-951c2e80-4344-11e9-832f-5628d2950c42.png)

I improved in #495

Should it not be translated or deleted?

[code]

[2019-03-10 16:46] gradinaruvasile opened #497 "Message privacy?"
The notifications are sent through the nextcloud push server (push-notifications.nextcloud.com) and through the google FCM.
What data is actually sent? In the logs the whole message is seen but i'm not sure it is transmitted to google.
If the whole message is sent, the mobile talk app should have an option of sending only metadata in the message (user id and room id), not the actual text.

[2019-03-11 13:29] jancborchardt opened #498 "Top right menu in conversation is blue"
The background of the menu in the top right of a conversation is blue:
![Talk Android menu is blue](https://user-images.githubusercontent.com/925062/54122243-cce6ad00-43fc-11e9-854d-e9453108f0f1.png)

Instead it should be the default background (white for light theme, dark for dark theme), as in the Files app:
![Nextcloud app menu](https://user-images.githubusercontent.com/925062/54127399-fce87d00

[2019-03-11 13:33] jancborchardt opened #499 "Highlight of your name when others mention you"
Currently when other people mention you, your name is displayed in some sort of bronze color:
![Talk Android mention is bronze](https://user-images.githubusercontent.com/925062/54127488-2ef9df00-440a-11e9-968a-00cb7144c334.png)

We don’t use that color anywhere else, and should instead use the primary color (Nextcloud blue by default). :)

As discussed @mario

[2019-03-11 13:34] jancborchardt opened #500 "Send icon is too small"
The send icon in the conversations is a bit too small. Here a comparison with current above, and suggested below:
![Talk Android send icon size](https://user-images.githubusercontent.com/925062/54127724-c19a7e00-440a-11e9-93f4-ca054226ff1f.png)

As discussed @mario – what do you think?

[2019-03-11 13:37] jancborchardt opened #501 "Not possible to open conversations in right-to-left languages"
In any right-to-left language (e.g. Hebrew, Arabic, etc) the app is impossible to use because you can not open a conversation. Instead, the scroll helper is triggered:
![Talk interface right to left](https://user-images.githubusercontent.com/925062/54127876-15a56280-440b-11e9-8a7e-65d9b97fef55.png)

(Another issue is the name of the conversation not right-aligning.)

[2019-03-11 13:46] jancborchardt opened #502 "Confusing "reauthorize" and "client certificate" settings"
Currently the first settings you see are "Reauthorize" and "Set up client certificate", which are quite technical. (And is "Reauthorize" necessary?):
![Talk settings certificate etc](https://user-images.githubusercontent.com/925062/54128461-68334e80-440c-11e9-86b3-c2df0b1d84b3.png)

We could condense it to this using a "more" menu:
![Talk settings condensed](https://user-images.githubusercontent.c

[2019-03-11 21:09] jancborchardt opened #503 "Settings heading shows "Nextcloud Talk""
When you go to the settings by tapping your picture in the top right, the title stays at "Nextcloud Talk" just like in the main view.

This view are the settings though so it should say "Settings". :)

[2019-03-11 21:18] mario commented on #502
Reauthorize will disappear eventually when the app is ready for that. I do agree the cert is a bit technical though, but three dots (especially in the place you put it at) also looks strange.

Got another suggestion?

[2019-03-11 21:19] #496 closed

[2019-03-11 21:20] mario commented on #497
Room token mostly, and notification ID. But they are end-to-end encrypted so only your phone can actually decrypt this.

:)

[2019-03-11 21:20] #497 closed

[2019-03-12 03:46] gradinaruvasile opened #504 "Push notifications fail sometimes"
It seems the nextcloud google push notification server is not reliable. I occasionally see un-delivered messages (to the Android clients) with the following errors in the logs:

`{"reqId":"joKt2WlHfWqQZFW118Ek","level":3,"time":"2019-03-12T03:25:55+00:00","remoteAddr":"192.168.1.1","user":"username","app":"notifications","method":"POST","url":"\/nextcloud\/ocs\/v2.php\/apps\/spreed\/api\/v1\/chat\

[2019-03-12 05:13] mario commented on #504
Not related to Android I'm afraid but to the push proxy. We're working on its reliability. Sorry about the issues :(

[2019-03-12 05:13] #504 closed

[2019-03-12 09:00] jancborchardt commented on #502
Why do the 3 dots look strange? It’s a standard Android element, and it’s right of the account it relates to.

Maybe the "Add a new account" entry should be a button instead, centered below? Then it looks less strage.

(And we usually omit the protocol part (https://) from the server, which simplifies the view more.)

[2019-03-12 12:47] Valdnet commented on #502
In my opinion the @jancborchardt proposal is good. At once, the application settings are more orderly.

[2019-03-14 15:13] mario opened #505 "Use preview info for better fallback"
https://github.com/nextcloud/spreed/pull/1601

[2019-03-15 15:54] RyanBluth opened #506 "Add Option to get notifications for all messages in group chat"
It would be nice to have an option to get a notification for every message in a group chat. I have to make an effort to check the app every so often in order to not miss messages

[2019-03-15 20:16] mario commented on #506
Done already if you have Nc15. Just go to conversation info, and set the notification level :)

[2019-03-15 20:16] #506 closed

[2019-03-15 22:29] genodeftest opened #507 "Login screen: Keyboard is hiding login form"
Steps to reproduce:
1. Start nextcloud Talk for the first time on an android device (or after you cleared all logins)
2. Try to log in using the app connect option
3. Begin typing your username + authentication token

What should happen:
always display both forms as long as they are used for input.

What happens:
Both forms (username and authentication token) are hidden behind the keyboard.

It lo

[2019-03-15 23:08] genodeftest commented on #507
Note: This issue also happens with the Nextcloud app. Looks like a duplicate  of nextcloud/android#2677

[2019-03-15 23:08] #507 closed

[2019-03-21 07:40] tobiasKaminsky commented on #440
We enhanced the library so that multi-account is working fine.
Maybe you want to give it a try?

[2019-03-22 19:39] mario commented on #499
Can't do Nextcloud blue as the outgoing bubble default colour is Nextcloud blue - so this wouldn't work :) But I think I have an idea - once I implement, will show you.

[2019-03-24 00:41] flemmome commented on #312
Mario, is it possible to tell us a release date for this function? The app really works great, but I miss this feature to share pictures, further it would even be great to share videos and sound files in the chat directly, but pictures is the most important I think.

[2019-03-25 12:20] nickvergessen opened #509 "Display notification when you are invited/added to a group conversation"
things changed a lot in this regards and since the default for group conversations is to not be notified unless mentioned, you should get the invitation notification

[2019-03-25 12:22] nickvergessen opened #510 "Remove old compatibility workarounds"
The required minimum for the Android app can/should be Talk 4, you can pick Talk 3 to prevent too many bad reviews.

Rule of thumb is supported Nextcloud version (which is always 2.5 releases) +1 against bad reviews.

[2019-03-26 11:07] mario opened #511 "Add support for read-only rooms"

[2019-03-26 12:45] mario commented on #386
Re-authorization didn't properly trigger registering for push again. This is now fixed.

[2019-03-26 12:45] #386 closed

[2019-03-26 12:52] mario opened #512 "Show re-login dialog on 401"

[2019-03-26 13:23] mario commented on #312
I'm afraid not @flemmome.

[2019-03-27 09:51] tobiasKaminsky commented on #510
On Android Files app we decided to use latest supported version - 2, so for now: NC14 - 2 = NC12.

[2019-03-27 09:52] nickvergessen commented on #510
Since Talk is still new and changing heavily, this is just creating too much overhead, specially if your server is not supported anyway.

[2019-03-27 17:33] jjazzjj commented on #512
Help me plz I am going to send my x by friend to Jai he has hacked all my stuff kids school info my info

[2019-03-28 17:45] Pedulla commented on #326
Not seeing it.
Did I miss it?

With the immanent demise of gho this is the killer app for me.

[2019-03-28 17:49] Pedulla commented on #312
with the immanent demise of gho this IS the killer app
How do I/we encourage its development?

[2019-03-29 19:04] ralfi opened #513 "Can not open with Nextcloud 16-Beta"

[2019-03-29 19:07] ralfi commented on #513
My first entry... Today i am update NC to 16-Beta docker image and Talk cannot login after this.

[2019-03-29 19:13] ralfi commented on #513
Error querying skills - Show the screen

[2019-03-29 19:38] ralfi commented on #513
Error only on Galaxy Tab S2 (lineageos), works find with S9

[2019-03-31 11:54] mario commented on #513
Is the Talk app installed and enabled?

[2019-03-31 15:08] #503 closed

[2019-03-31 15:08] #500 closed

[2019-03-31 15:08] #509 closed

[2019-03-31 15:08] #511 closed

[2019-03-31 15:50] #369 closed

[2019-03-31 19:18] yohan-b commented on #431
Hi, took me a while, but I finally figured it out. It was not the same bug as aaronSkar. I was using the Talk app from F-Droid, which does not support notifications according to this thread: https://help.nextcloud.com/t/no-call-notification-signal-ring-tone-at-other-party-when-trying-to-start-a-call-audio/34230/6

I downloaded the app from github and now it works. There really should be a warning

[2019-03-31 20:12] ardevd commented on #241
I agree with this one.

One of the main usability issues I have with the android app is the fact that sent messages are not shown until they've seemingly been synced with the server. The end user experience becomes a bit slow and sluggish compared to other messaging apps.

I would recommend showing sent messages immediately and have some sort of visual indicator on the state of the message (sendin

[2019-04-01 07:49] mario commented on #513
As I suspected, there's no Talk release compatible with 16 just yet. Please be patient :)

[2019-04-01 07:49] #513 closed

[2019-04-01 08:01] ralfi commented on #513
Hi Mario, thanks for reply but please let me have a deeper look at the logfiles and aunderstand the relationship between the components.

[2019-04-02 08:34] mario commented on #370
This will be fixed once we move to inbox/messaging style notifications.

[2019-04-02 08:43] tobiasKaminsky opened #514 "Second account import never finishes"
- Have NC files app with two account from two different servers
- freshly install talk app
- open talk app and import one account -> works
- do the same for second one -> spins endlessly after granting access
- go back
- see in settings "switch account", but no other account is listed there (empty list)
- delete the account that is visible, suddenly see second account

tested with latest stable)

[2019-04-02 11:10] prog-amateur commented on #257
Hello, what is the status of this topic please ?

Two solutions have been proposed here: **FOSS-PUSH** and **GOTIFY**.
It seems that Nextcloud-talk developers were informed about the FOSS-PUSH project a little over a year ago: https://gitlab.com/foss-push/planning/issues/2

Which one would you like to implement into Talk for F-Droid, and what could be the agenda ?

Thank you very much for your fee

[2019-04-02 11:27] mario commented on #257
None.
1) Foss-push seems to be not doing anything?
2) We're working on an alternative solution at the moment and you'll be notified as soon as it's ready.

It's a shame though that everybody seems to push push push, yet nobody wants to contribute :(

[2019-04-02 12:35] #479 closed

[2019-04-02 16:18] mikelupe commented on #257
@Mario, all respect and credits given for this great app and for making it available on f-droid. It's sad no one wants to at least partly finance the development of this feature.

But I don't think that all of those manifesting the need for this feature are as well developers (or big companies with large budgets). At work we (some of us NC fans) already lost the challenge "nctalk vs telegram vs si

[2019-04-02 17:29] mario commented on #257
@mikelupe we're working on this regardless of the customer or not, we'll do this for the community - it's just taking a bit of time.

[2019-04-05 19:03] n-e-y-s commented on #209
@mario Having the same problem. Using FDROID to install apps on my phone and neither google play nor google play services installed due to privacy concerns.

Is there really no google-free solution for getting notifications? There are apps out there being able to give notifications, e.g. Conversations.

[2019-04-05 19:33] mario commented on #209
Please stop spamming the issue :-/ There will be a partial solution for fdroid installs soon.

[2019-04-05 19:43] makuser commented on #209
@mario Holy cow.

It was a normal question and/or note that @n-e-y-s had and there was NOTHING from you on this topic here for nine months, so I'd say it's valid to refresh it once more.

And now you immediately react like that?

Please chill the f*** down, noone is spamming after replying to an issue that's nine months old without any progress being made (at least not made visible in this issue).

[2019-04-05 20:16] mario commented on #209
@makuser spamming it is because this issue has NOTHING to do with F-Droid and it was closed as a setup issue.

If you want F-Droid related thing, please take a look into https://github.com/nextcloud/talk-android/issues/257. Also, look at the latest reply there where I said exactly what you wanted to hear.

In the mean time, please take a look at Code of Conduct or I will be forced to take further

[2019-04-06 07:26] rahra opened #515 "Upload stops when screen is locked"
When uploading files the and the screen is locked, the upload is paused. This is not very useful, specifically when uploading many files.
Is there a way to disable this?

[2019-04-06 14:42] mario commented on #515
Sorry, but can you clarify this? :) Because Nextcloud Talk doesn't allow uploading files for the moment :)

[2019-04-06 14:42] #515 closed

[2019-04-06 23:15] #130 closed

[2019-04-06 23:15] #477 closed

[2019-04-07 14:23] lvarnava opened #516 "[notifications] Fatal: error:0906D06C:PEM routines:PEM_read_bio:no start line"
[notifications] Fatal: error:0906D06C:PEM routines:PEM_read_bio:no start line
POST /ocs/v2.php/apps/spreed/api/v1/chat/ii32kaau

Nextcloud 14.0.8.2
ubuntu 18.04.1
postgresql 10.6
apache 2.4.29
php 7.2.15
Talk 5.0.2
Nextcloud Talk (android 9) 3.2.7
notifications 2.2.1
openssl 1.1.0g-2ubuntu4.3

I get an error in the logs when I add an account in the nextcloud-talk 3.2.7 (android 9) or send a messag

[2019-04-07 14:39] mario commented on #516
Sounds like a setup issue on the server side?

[2019-04-07 14:42] lvarnava commented on #516
can you tell me where to look?

[2019-04-07 14:45] mario commented on #516
I'd assume something is wrong with the SSL certificate you use, but I can't debug it like this obviously :)

I'll close the issue as it doesn't seem to be Talk Android-specific, but let me know if you manage to solve this for yourself eventually.

[2019-04-07 14:45] #516 closed

[2019-04-07 14:46] lvarnava commented on #516
ok

[2019-04-07 14:49] lvarnava commented on #516
by the way the certificate fro domain is received through letsencrypt.

[2019-04-07 19:31] mario opened #517 "Add time to system messages"

[2019-04-07 20:06] rahra commented on #515
Hi! Very sorry for this, just delete it, accidently posted to the wrong repo.

[2019-04-07 20:11] mario commented on #515
All good :)

[2019-04-09 09:26] mario commented on #431
So really this seems to be a setup  issue so I'll close this for now :(

[2019-04-09 09:26] #431 closed

[2019-04-09 11:38] #389 closed

[2019-04-10 10:38] mario opened #520 "Add chips to system messages"

[2019-04-10 12:30] #498 closed

[2019-04-10 12:56] mario opened #521 "Implement mention chips"
![Screenshot_20190410_142651_com nextcloud talk2 debug](https://user-images.githubusercontent.com/5810/55880292-b1f48d80-5ba0-11e9-8364-1f209e5c6625.jpg)

[2019-04-10 12:58] #521 closed

[2019-04-11 08:59] #494 closed

[2019-04-11 15:41] Pistos commented on #209
(for reference, here's the deleted comment: https://gist.github.com/Pistos/2420c65117ed9edc56df8c2ba3c53026 )

Personally, I think the aggression on both sides was unwarranted.

[2019-04-13 14:17] dudemyass opened #528 "When removing account from mobile android device account can not be activated again on that device"
…

[2019-04-14 16:35] Bubu opened #526 "Cannot create new public conversation"
Whenever I want to create a new public conversation I just get an error bar at the bottom which says:

"Sorry, something went wrong. [OK]"

There's nothing in the logcat output.

Nextcloud Talk version: 3.2.7 (F-Droid)
Nextcloud Version: 16 RC1
Speerd/Talk app version: 6.0.0-rc.2

[2019-04-14 16:38] Bubu commented on #526
So, I'd guess the new beta versions fix that and I should just add them to F-Droid?

[2019-04-14 18:02] mario commented on #526
Or wait for stable in two weeks :)

On Sun, 14 Apr 2019, 18:38 Marcus Hoffmann, <notifications@github.com>
wrote:

[2019-04-14 18:10] Bubu commented on #526
Stable software is so boooring :-p

(I added the beta3 to f-droid now, hopefull it'll be available in 1-2 days)

[2019-04-14 18:47] mario commented on #526
You mean in time I release beta4 xD

On Sun, 14 Apr 2019, 20:10 Marcus Hoffmann, <notifications@github.com>
wrote:

[2019-04-14 20:06] mario commented on #526
Closing since this is working :)

[2019-04-14 20:06] #526 closed

[2019-04-15 06:26] timo12357 commented on #312
Any news on this? Sharing pics or any type of file is a key function.

[2019-04-16 12:51] mario opened #527 "Fix chip alignment with text when multi-line message"

[2019-04-16 17:32] #499 closed

[2019-04-16 17:35] #156 closed

[2019-04-16 18:21] jancborchardt commented on #499
But your own name is never in the outgoing bubble, cause that’s what you say. :) Actually it would be perfect because blue would always refer to "you".

Since it’s closed, what did it end up being?

[2019-04-16 18:25] jancborchardt commented on #499
Saw https://github.com/nextcloud/talk-android/pull/519#issuecomment-483789586 and answered there :)

[2019-04-16 21:57] Bubu commented on #526
It's available now, I see no beta4 ;-).

And the beta indeed fixes the reported problem. :tada:

[2019-04-17 23:51] mario commented on #528
Just tried this with the latest beta and it works like a charm.

[2019-04-17 23:51] #528 closed

[2019-04-18 07:12] Art4 commented on #261
This feature would make it possible to use Nextcloud Talk as a privacy friendly news room for school classes or events. One could create a conversation with link and tell the parents/participants to install the Nextcloud Talk app. They could join the conversation without the need for an account. That could be a serious alternative instead of using WhatsApp for this purposes.

[2019-04-24 06:35] #312 closed

[2019-04-24 06:35] #374 closed

[2019-04-24 06:35] #423 closed

[2019-04-24 06:35] #505 closed

[2019-04-24 06:36] mario commented on #312
@timo12357 @Pedulla soon :)

[2019-04-25 08:28] Pedulla commented on #312
I see file sharing!  sweet!

[2019-04-29 10:12] mario commented on #380
Hm, I'm just testing this and this is indeed how it works? It only shows you the settings thing if you previously said "Do not ask me again".

[2019-04-29 12:16] tobiasKaminsky commented on #380
Tested it again with Android 9 emulator.
(initial report was discovered on a OnePlus 3, with Android 8/9).

[2019-04-29 13:27] Valdnet opened #533 "Disabling the application when displaying png"
When you receive the png file and try to display it in the conversation, the Nextcloud Talk application automatically turns off.

App:
Nextcloud Talk v6.0.2
Android 6

[2019-04-29 13:54] mario commented on #533
You mean via sharing?

[2019-04-30 09:00] Valdnet commented on #533
Yes.

When sharing a jpg file, the situation is the same.

[2019-04-30 10:08] mario commented on #533
Works here, but maybe it's something with Android 6. Will check.

[2019-04-30 21:21] thecyberd3m0n commented on #257
GCM/FCM is just XMPP. So I think we could reproduce whole process in Nextcloud by adding XMPP part to Nextcloud Server and to "Service" part of mobile app. We need to do what other FOSS Android XMPP Clients did.

I'll start to dig into it in free time, I'm also very interested in this feature. We could bring Nextcloud Cloud Messaging instead of Firebase Cloud Messaging, why not? :)

[2019-05-01 12:04] muppeth commented on #126
Can't the same api as with file sharing be used? It works via webinterface (including talk app, file sharing, circles, etc). Can't the app use the same request to lookup a user?
Currently any user on shared nextcloud instance with user autocompletion off, can't really initiate calls from mobile.
Shall I re-open this as separate feature request? I wanted to throw some cash on it as a bounty to make

[2019-05-01 12:25] Bubu opened #534 "F-Droid build fails with unknown maven repo https://dl.bintray.com/mdjanic/maven"
F-Droid doesn't like your custom maven repo.

Using jitpack like for your other forks doesn't work here?
Do you see any possible way to get rid of this maven repo?

If not, how could I recreate that repo prior to the f-droid build?

[2019-05-02 09:14] mario commented on #534
I tried using Jitpack but it didn't work out due to complicated nature of Fresco building :(

I can take a look at it again eventually. What's the issue with maven btw?

[2019-05-02 09:15] mario commented on #533
Do you have a space in your username?

[2019-05-02 09:54] Bubu commented on #534
There's no guarantee that the artifacts published in a maven repo correspond to any published sources.

That is of course the same for any maven repo, but things like `maven.google.com` or `jcenter` have much more eyes on them that could detect anything malicious going on.

In short, it's a current policy of F-Droid to only allow a whitelist of known-good maven repositories. That's far from ideal

[2019-05-03 07:38] mario opened #536 "Support twitter emojis inside mention chips"

[2019-05-03 07:55] #527 closed

[2019-05-04 19:20] Valdnet commented on #533
No.
I have spaces in the password.  If it matters.

[2019-05-04 20:11] mario commented on #533
This should be fixed with 6.0 3

On Sat, 4 May 2019, 21:20 Valdnet, <notifications@github.com> wrote:

[2019-05-05 09:52] Valdnet commented on #533
In version 6.0.3 it is also the same.
I would like to add that when sending from me for another user the image is displayed correctly.

[2019-05-05 09:53] mario commented on #533
No idea. Can you send me a test accou T with such a conversation?
Mario@nextcloud.com

On Sun, 5 May 2019, 11:52 Valdnet, <notifications@github.com> wrote:

[2019-05-05 10:16] Valdnet commented on #533
Ok. I send.

[2019-05-08 08:26] tobiasKaminsky commented on #514
Now this happens on a fresh 6.0.3 installation also on the very first account.

[2019-05-08 08:44] tobiasKaminsky commented on #514
Tested with Android 9 emulator, there it works.
On my OnePlus 3 with Android 9 not…

[2019-05-09 07:39] ChristophWurst opened #537 "Notifications do not vanish, even if I visit the conversation"
If I open the conversation that triggered a notification I would expect the notification to be removed. In the latest Android Talk client it's not.

[2019-05-09 07:41] ChristophWurst opened #538 "Clicking notification opens the wrong conversation"
Steps

1. Have notification for group chat
2. Have notification for private conversation
3. Click the latter
4. See the group chat

Latest version from Google Play.

[2019-05-09 07:53] juliushaertl opened #539 "Pressing the back button in chat view doesn't go back to the conversation list"
I cannot reproduce this reliably yet, but I have seen this a couple of times. When pressing the back button while you are in the chat view, the main contend slides out but you end up in the chat view again.

Just a feeling is that it happens more often when entering talk though a notification.

[2019-05-09 12:19] nickvergessen commented on #537
This will be fixed via https://github.com/nextcloud/notifications/pull/318 for 17

[2019-05-09 12:20] nickvergessen commented on #536
Is this issue the same as the following?
* Have a conversation with name `🐈 cat`
* `@all hellp` in the conversation
* Displayed message is `(mention-chip: 🐈 cat) 🐈 (mention-chip: 🐈 cat) hello`

[2019-05-09 12:43] 4ug3r commented on #261
I would welcome this feature

[2019-05-10 14:01] Valdnet opened #540 "Error when removing emoji"
When emoji is removed by the "x" button and the keyboard is returned to the keyboard, the previously deleted emoji appears.

### Steps:
1. Choose a conversation.
2. Choose emoji.
![obraz](https://user-images.githubusercontent.com/47037905/57532494-12abed00-733c-11e9-8176-cea9d6a1e89a.png)
3. Delete emoji by the "x" button.
![obraz](https://user-images.githubusercontent.com/47037905/57532596-3a9b50

[2019-05-13 08:25] ralfi opened #541 "Cannot get debug infos"
Hi talkis,

i have a local network test install with 6.0.3 / nextcloud 16. Text chat and file transfer works well between android devices but video chat do not work. App rights are okay and now i try to get any debug infos but i find no way to do this.  How can i get it and / or what could be wrong?

Thanks in advance.

[2019-05-13 08:27] developerfromjokela opened #542 "Ring sound when calling to someone"
Hello!

I can make some sound for ringing when calling someone with FL studio, have anyone some ideas, comment these, I will check out.

Regards

[2019-05-14 14:37] skjnldsv opened #543 "Use system emoji"
I use specific choose emoji on my android phone and I like to have a constant style when I use them.

Please use the built-in emoji font and not use any custom one :)

[2019-05-14 15:00] juliushaertl opened #544 "Empty conversion view is sometimes shown above the chat"
This just happened when I opened a notification on my phone:

![image](https://user-images.githubusercontent.com/3404133/57708503-c2010080-7669-11e9-93db-45924c8748dd.png)

The empty chat view is visible and can be accessed so pressing into the chat view will send a message.

[2019-05-14 18:14] mario commented on #543
(on vacation, but I see you added developing so I have to react)...

It was previously agreed that we use Twemoji (Twitter emojis) everywhere for standardization as evidenced here: https://github.com/nextcloud/server/issues/10293

[2019-05-14 19:50] skjnldsv commented on #543
@mario get back to your vacations and answer when you're back ;)

Pinging @jancborchardt

[2019-05-14 21:41] jancborchardt commented on #543
Yep, we standardized on Twemoji. Other platforms do it similarly, and this way everyone seeing the emojis sees the same thing.

[2019-05-15 05:38] skjnldsv commented on #543
@jancborchardt well, same goes for the enforced font.
Please reconsider using the system emoji. Creating a new standard for us when there is already an existing one is not a good idea imho :)

| Using system | Overriding defaults |
|:---------:|:------:|
|Signal|Whatsapp|
|Textra|Messenger|
|Android stock messaging|-|
|Instagram|-|
|Telegram|-|
|Snapchat|-|

[2019-05-15 05:47] jakobroehrl opened #545 "Account create with QR Code: Talk is not able to import"
If I create an account with the QR Methode / App Password I can't import this account on the Talk App. Other Apps with import/SSO methods do not work either.

Tested with 3 different phones. Latest Android version and NC 16.

If I create the account with user/password it works correct.

[2019-05-15 06:10] tobiasKaminsky commented on #545
I transferred this to Talk.
I assumes that QR code scanning is not yet implemented in Talk.

[2019-05-15 08:47] jancborchardt commented on #543
We don't enforce the font anymore, yes. :)

Signal does override the default btw, they use iOS emojis on Android as well as desktop when you pick them via their emoji selector in the text input. (You can get to the Android emojis through the keyboard, but the posted ones will be iOS style.)

So in the table, double-check that the posted emojis are actually the same. And what happens for the deskto

[2019-05-15 08:56] jancborchardt commented on #543
Just checked (play store, don't use the apps so might be wrong):
- [Instagram](https://play.google.com/store/apps/details?id=com.instagram.android&hl=en) in one of their screenshots shows Android emojis, in the last one it's iOS
- [Snapchat](https://play.google.com/store/apps/details?id=com.snapchat.android&hl=en_US) shows iOS emojis in the screenshot.
- [Telegram](https://play.google.com/store/ap

[2019-05-15 08:58] skjnldsv commented on #543
Ah, I might have mischecked then.
I changed the system default on my phone with the iOS ones, so seeing telegram with iOS styling made my brain connect the two :)
Isn't it weird that they use it? Is it really allowed to them?

[2019-05-15 09:03] jancborchardt commented on #543
(And Android stock messaging and Textra don't really count as they are not cross-platform. Textra even has a selector for the Emoji style, including Twemoji and iOS. ;D)

[2019-05-15 09:04] skjnldsv commented on #543
Okay, so Instagram uses android default. Their screenshot is not representative of what you get.
Telegram uses iOS style
Snapchat uses default android

[2019-05-15 09:05] skjnldsv commented on #543
Exactly. You can choose the default or override it in the app.
Default is the app, you need to install additionnal extension to get the other emoji styles :)

[2019-05-15 09:05] jancborchardt commented on #543
Yeah, that's what I was thinking too :/ not sure about it. But that's also a part of why we use Twemoji, cause we need to ship smth with the server and that should have an open license.

[2019-05-15 09:10] skjnldsv commented on #543
So, in the apps I tested, we're now at almost 50/50. (Table updated)
It does not seems to have *a* way of doing it. So I'd still argue my case by stating it's frustrating to have an app mess with your system settings. Same argument I had for the enforced system font. :)

[2019-05-15 10:35] skjnldsv commented on #543
Tested a few more popular apps (which I never used):
- Line, 11.4M dls: Default system
- Viber, 12.8M dls: USing another emoji, don't know which one :thinking:
- Wechat, 5.6M dls: iOS style

[2019-05-15 11:10] jancborchardt commented on #543
So regarding "which emojis does the app use on Android?" we have this so far:
- Android/Google style: Instagram, Snapchat, Line
- iOS style: Signal, Telegram, Wechat
- Custom (all different ones): Facebook, Messenger, WhatsApp, Viber

Messenger lite and Facebook lite don’t really count as both Facebook and Messenger don’t use Android, and of course a lite version wouldn’t ship anything out of the

[2019-05-15 11:27] skjnldsv commented on #543
That is why I added both of the versions. I'd say they count as well. They're an interesting option.

Well, let's not draw conclusions for the sake of going your way :grin:

Why so? Why would our standard override the android's one? I actually prefer having a unity on my phone than across an app on different platforms :)

Same apply, samsung's style just use a different emoji font. So It will be t

[2019-05-15 11:47] jancborchardt commented on #543
(Just for the record as we talked about this via chat too:)

Often it happens to me that people send me emojis and they are not displayed because it’s a hot new emoji and not supported yet. Signal actually has a page on that: https://support.signal.org/hc/en-us/articles/360017561992-Why-are-the-emoji-on-Signal-Android-different-from-the-other-apps-on-my-phone-

[2019-05-15 11:54] jancborchardt commented on #543
3 possible solutions (could be more):
- We keep Twemoji: Looks strange on iOS and Android, but is uniform across server and possible desktop app, and is openly licensed
- We use iOS style: Looks strange on Android, but a third of surveyed apps use it so not _so_ strange. But it’s not openly licensed so we can probably not do this anyway.
- We use system default: Looks consistent on the device, but

[2019-05-17 19:08] mario commented on #545
@tobiasKaminsky it's not, but this issue seems to be about something else.

@jakobroehrl I'll take a look but really the only way to properly create an account is through user/password via login flow. That being said, I thought QR method would work in this way @tobiasKaminsky ?

[2019-05-17 19:09] mario commented on #537
@nickvergessen no, this has nothing to do with this, at least not if he's referring to visiting a conversation on the android phone locally.

But yea, I do need to implement delete push messages.

[2019-05-17 19:09] mario commented on #536
No, but I will fix that too @nickvergessen.

[2019-05-20 07:35] tobiasKaminsky commented on #545
I think this issue is about this:
Login via QR is
- login in web UI
- go to your personal settings -> security
- create a new app token
- "Show QR code for mobile apps"
- scan QR

The QR contains userId, url, app token.

And yes, this needs to be implemented by all apps.

I think you mix something up. SSO means that you only login via Files app and then other apps, e.g. News app can use these cred

[2019-05-23 13:49] fancycode opened #547 "Accepting calls does not work with the MCU"
There is a problem when accepting a incoming call when the MCU is being used. I can reproduce this by calling a user on Android from my (Chrome) browser.

## What happens:
- The Android app shows the "ringing" screen and I can accept the video call.
- The user in the app sees the browser streams.
- The browser user doesn't see the streams from the app but shows "Waiting for XXX ..."

## What shoul

[2019-05-23 14:10] fancycode commented on #547
@Ivansss and I traced it down further and I think I have a reproducible test case for you now:
1. Kill the mobile app so you start with a clean environment.
2. Open the app which connects to the signaling server internally.
3. Call the app from the browser. The app shows the ringing screen and both sides see/hear each other when accepting the call.
4. Hangup the call.
5. Now (while keeping the app

[2019-05-24 09:22] mario commented on #541
You could do it via ADB. But really, this is probably the issue with non-existing TURN like I mentioned - if the two devices can't communicate directly (you can try with two PCs) then ... it's time to setup TURN.

[2019-05-24 09:27] Valdnet opened #548 "Selection window after writing @"
After entering @ for group conversations and returning to the list of all conversations, the users selection window does not hide.

Steps:
1. Create a group conversation.
2. Go to the conversation and enter @.
3. Go back to the conversation list (main application window).
Error: the user selection dialog for the group conversation remains.

Additionally, the application is crashing when the user i

[2019-05-26 10:40] ralfi commented on #541
Yeah mario, its really time to setup TURN... No more need to tell at this momemt. Perfect!

[2019-05-27 08:50] mario commented on #541
:)

[2019-05-27 08:50] #541 closed

[2019-05-27 15:07] mario commented on #547
@fancycode sometimes, when using resumeid to reconnect, I see this which pretty much breaks it all:

2019-05-27 17:05:56.632 23353-23666/com.nextcloud.talk2.debug D/MagicWebSocketInstance: Receiving : {"type":"error","error":{"code":"internal_error","message":"No url passed to perform JSON request \u0026{Type:room Auth:\u003cnil\u003e Room:0xc42049e730 Ping:\u003cnil\u003e}"}}

Ideas?

[2019-05-27 15:10] fancycode commented on #547
Yes, you need to update your signaling server to version 0.0.6 which contains a fix for this. @Ivansss already reported this quite a while ago.

[2019-05-27 17:00] mario commented on #547
I did some work on this today. We can test together tomorrow (cc @schiessle)

[2019-05-28 07:02] antonixus opened #549 "Notifiactions not worked on Samsung S8, S8 plus"
Hello,
We testing Nextcloud Talk on a few devices and only Samsung S8 Plus and S8 has no notifications worked.  There are no errors in the server's system log.

#### Server:
Ubuntu 18.04.2
PHP 7.2.17
nginx/1.14.0
Coturn 4.5.0.7
Nextcloud 16.0.1 from snap package

#### Client device:
Samsung S8 Plus
model SM-G955F
Android 9
Core ver. 4.4.111-15838602

I can provide additional information if require

[2019-05-29 13:03] Hanskes commented on #326
Is it possible to add a photo directly from the nextcloud talk app, whereby the photo is also added immediately in nextcloud itself? Now you need two apps to add a photo, first the nextcloud app to upload the photo to the server, then the talk app to add the photo to a conversation. If you still have to take the photo with your phone, you even need three apps. It would be great if you could take a

[2019-05-29 13:05] Hanskes commented on #326
when you want to add a photo from the android talk app, you only see the name of the photo and not the photo itself, this makes it difficult to add the correct photo.

[2019-05-29 14:24] mario commented on #549
Do you  have a notifications app installed on the server?

[2019-05-29 14:31] DudleyDursley commented on #425
On my tablet it will open the Nextcloud app and highlight the picture in the pictures folder but not open it. The browser is only used if the Nextcloud app isn't installed. I guess this happend with one of the recent updates.

Opening it directly in Talk would be better though.

[2019-05-29 14:33] mario commented on #425
Ah, this was indeed implemented. Opening it in Talk will be done later on. :)

Thanks for reminding me @DudleyDursley !

[2019-05-29 14:33] #425 closed

[2019-05-30 07:06] antonixus commented on #549
Problem solved after resetting phone.

[2019-05-30 07:06] #549 closed

[2019-05-30 12:17] mario opened #550 "Avatar not rounded for Android 6 or so"

[2019-05-30 12:33] mario opened #551 "Support delete/delete-all notifications"

[2019-05-30 18:52] mario commented on #548
It'll be fixed in the next release. Could you upload a screenshot of the mention window pls?

[2019-05-30 18:54] mario commented on #540
Can't reproduce :( Can you try again pls?

[2019-05-31 00:17] szaimen commented on #308
Any update on this?

[2019-05-31 06:53] Valdnet commented on #540
Step 3:

follow through

![obraz](https://user-images.githubusercontent.com/47037905/58687144-1ce06a80-8381-11e9-9023-d1635d19e78c.png)

[2019-05-31 07:16] Valdnet commented on #548
Step 2:

![obraz](https://user-images.githubusercontent.com/47037905/58687499-11417380-8382-11e9-96fb-395f2b3fc8e7.png)

Return through:

![obraz](https://user-images.githubusercontent.com/47037905/58687909-48fceb00-8383-11e9-91e4-be611182e993.png)

The window remains:

![obraz](https://user-images.githubusercontent.com/47037905/58687714-b3615b80-8382-11e9-8d23-733de19f995d.png)

Go back again thr

[2019-05-31 07:18] mario commented on #548
Thanks, as I suspected you have other issues too? So in the autocomplete dialog there are NO names, or did you just remove them for the sake of uploading?

[2019-05-31 07:38] Valdnet commented on #548
There are no names.

It surprised me too 😉

[2019-05-31 08:18] mario commented on #540
Yea, this is the button I clicked :) But it did not help :(

[2019-05-31 08:29] #537 closed

[2019-05-31 08:29] #544 closed

[2019-05-31 08:29] #550 closed

[2019-05-31 08:29] #548 closed

[2019-05-31 08:30] mario commented on #533
Fixed, will be in the next release.

[2019-05-31 08:30] #533 closed

[2019-05-31 08:48] mario commented on #547
@fancycode please do another round of testing once you're around.

[2019-05-31 09:45] Valdnet commented on #540
@mario I have sent a video on @ from emoji error, which occurs to me.

[2019-05-31 09:56] Valdnet opened #552 "No old conversation removed"
When you delete a conversation and create a new conversation with the same user, the old chat entries remain.

Steps:
1. Create a conversation with the X user.
2. Lead a conversation.
3. Delete the conversation.
4. Create a new conversation with the X user.

ERROR: Old conversation remains.

App:
Android 6
Nextcloud Talk 6.0.5

[2019-05-31 09:57] mario commented on #552
Expected. You shouldn't be able to delete logs from the other user :)

[2019-05-31 09:57] #552 closed

[2019-06-01 19:09] ririx2 opened #553 "Contact List using LDAP more 1000 user just spinning well"
If i using web browser, searching still can use, but on Talk-Android when open Contact Search, just spinning well.

and i try trik like on this link,
https://github.com/nextcloud/spreed/issues/825,
i can open contact search, but i just search contact on my group not from all user.

Contact List using LDAP more 1000 user just spinning whell.
Server using ubuntu 18.04, Nextcloud 16, Talk 6.0.0

![Sc

[2019-06-03 09:04] fancycode commented on #547
:+1: I can no longer reproduce the error with the latest (beta) version of the app.

[2019-06-03 09:07] mario commented on #547
Awesome, thanks @fancycode !

[2019-06-03 09:07] #547 closed

[2019-06-03 11:40] mw80 commented on #440
There is a import of nextcloud app. But I need to login again?!

[2019-06-03 11:42] mario commented on #440
@mw80 yes because you need a new app token.

[2019-06-03 11:49] mw80 commented on #440
I expected the same behavior like nextcloud news app. Without app token.

[2019-06-03 11:50] mario commented on #440
News app doesn't rely on push notifications which needs a new app token per application/account.

[2019-06-03 11:52] mw80 commented on #440
Ok, got it :) Thank you!

[2019-06-03 11:52] #440 closed

[2019-06-03 19:22] mario commented on #404
This will be released in a few minutes, thanks for your patience @alx-tuilmenau.

[2019-06-03 19:31] #404 closed

[2019-06-04 07:09] ririx2 commented on #553
in Iphone, searching contact working well..
query still running, still spinning but searching contact can be use.

![WhatsApp Image 2019-06-04 at 07 53 20](https://user-images.githubusercontent.com/16436967/58858495-36afe380-86da-11e9-8a3c-132f22170e61.jpeg)

![InkedWhatsApp Image 2019-06-04 at 07 53 22_LI](https://user-images.githubusercontent.com/16436967/58858705-b938a300-86da-11e9-9e10-097fe3c

[2019-06-06 10:28] mario opened #554 "Fix avatar handling in calls"

[2019-06-06 14:12] tobiasKaminsky opened #555 "Chromebook support"
Acer Chromebook 13 says NC Talk is not compatible.
Not all Chromebooks have camera, so this must be optional.

Please refer to https://github.com/nextcloud/android/pull/4076.
In Files case I just disabled possibility to use camera if there is none.

[2019-06-06 14:23] tobiasKaminsky opened #556 "Remove push notification if read on other device"
- have one mobile set up
- receive a push notification about a new chat
- open this chat in browser on e.g. desktop
- notification on top right of web ui vanishes
- push notification on mobile remains

These messages can pile up easily to more than 20…

[2019-06-06 14:23] mario commented on #555
Already optional, this is the real issue:

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

There's a way to workaround obviously, but then no video calls for people at all (even receiving video).

[2019-06-06 14:33] tobiasKaminsky commented on #555
Damn… ;-)

[2019-06-07 08:04] mario commented on #556
You mean https://github.com/nextcloud/talk-android/issues/556? :)

[2019-06-07 08:36] mario commented on #454
Duplicate of #254

[2019-06-07 08:36] #454 closed

[2019-06-07 08:36] mario commented on #542
Duplicate of #254 - this will be added soon.

[2019-06-07 08:36] #542 closed

[2019-06-07 08:37] mario opened #557 "Add states in the call"

[2019-06-07 08:37] mario opened #558 "Add ICE restart support"

[2019-06-07 09:00] tobiasKaminsky commented on #556
Self referring will result in an endless loop ;-)

[2019-06-07 09:02] mario commented on #556
@tobiasKaminsky ah, damn - I meant #551 ?

[2019-06-07 10:01] tobiasKaminsky commented on #556
Not sure if this is the same, as there is too little info.
If you think it is the same you can close it.

When would you use "delete all"?
Delete all notifications per conversation should be enough, or?

[2019-06-07 11:07] mario commented on #556
I will use delete all when all the notifications on the server are cleared, of course.

But it's not the same, you're right - if you want the functionality requested in this ticket we need (probably) a new endpoint on the server where I'd say - "Read notification with ID" or "Read all  notifications for a conversation RoomToken"

[2019-06-07 11:46] tobiasKaminsky commented on #556
Yeah, a new endpoint to mark all notifications for a conversation.
And then a silent push notification to get this info to all other clients.

is not needed in my opinion, or when can it happen that a user reads only one out of 5 remaining messages in a conversation?

[2019-06-07 11:48] mario commented on #556
K, yea - might not need that.

On Fri, 7 Jun 2019, 13:46 Tobias Kaminsky, <notifications@github.com> wrote:

[2019-06-09 18:28] #554 closed

[2019-06-09 18:28] #557 closed

[2019-06-09 18:40] #254 closed

[2019-06-09 18:40] #558 closed

[2019-06-10 08:44] schiessle opened #559 "single-sign on with Android files app"
I just installed the Nextcloud News app for Android and discovered a really nice feature, I never saw on any other Nextcloud Android app: https://f-droid.org/packages/de.luhmer.owncloudnewsreader/

I can enter the credentials of my Nextcloud server or chose "single-sign on with Nextcloud app". If I chose single-sign-on I can chose an account which is already configured in the files app and I'm dir

[2019-06-10 12:50] Luticus opened #560 "Signaling Server"
I'm not sure where it's appropriate to ask this question so I figured I'd put it here.  In the talk app settings there's a warning: "An external signaling server should optionally be used for larger installations. Leave empty to use the internal signaling server. Please note that calls with more than 4 participants without external signaling server, participants can experience connectivity issues

[2019-06-10 14:23] mario commented on #559
Already requested here https://github.com/nextcloud/talk-android/issues/440 - explanation on WHY NOT is also there :)

[2019-06-10 14:23] #559 closed

[2019-06-10 14:24] mario commented on #560
Hi,

it's basically the HPB (high performance backend) which is more than just a signaling server and is included as part of a subscription.

Hope that clarifies it, but if not I'm you can always mail me at mario@nextcloud.com :)

Cheers!

[2019-06-10 14:24] #560 closed

[2019-06-12 08:54] skjnldsv commented on #442
Still happens for me (latest internal)

![TRIM_20190611_141156](https://user-images.githubusercontent.com/14975046/59337207-62495400-8d00-11e9-8a3b-a411bf867862.gif)

[2019-06-13 19:04] albertooka opened #563 "Send content from the Android sharing menu"
I would like you to add the function of being able to share content (images, documents, links ...) from the Android sharing menu.

[2019-06-15 19:32] maxlinux2000 opened #561 "Emoticons do not work in chats"
To reproduce the error is simple:
Open a nextcloud talk, click on an emoticons and send.
In the box where the message is written the emoticons are seen correctly, but once it is sent, the message appears "????"

look this screenshot:

![photo5776165576836755934](https://user-images.githubusercontent.com/5683921/59555575-f5121900-8fb4-11e9-9eb2-cc354f63185c.jpg)

my phone is: Android 8.1 stock - Mo

[2019-06-16 01:17] jordanbancino commented on #561
This is not an issue with the app, but rather, your server. You must enable emoji support for your database backend. You can see instructions for that [here](https://docs.nextcloud.com/server/15/admin_manual/configuration_database/mysql_4byte_support.html).

[2019-06-16 07:24] maxlinux2000 commented on #561
You are rigth!

[2019-06-16 07:24] #561 closed

[2019-06-16 09:33] ezaquarii opened #562 "Conversation list stuck in loading state"
- Have some conversations
- Start the app
- List is stuck in loading
- Close the app
- Open again
- Conversation list is shown as expected

This problem occurs quite often for me.

![talk_conversation_list](https://user-images.githubusercontent.com/1426823/59562304-f67a2a80-9022-11e9-9120-6f2e5ae00cb0.jpg)

[2019-06-16 12:40] mario commented on #562
Hi @ezaquarii did you maybe try to debug what's happening?

[2019-06-16 15:57] ezaquarii commented on #562
I did not have time to check the source code *yet*, but if I disable the network, I can reproduce it 100%.
I suspect it requires a response from backend before displaying the list.

[2019-06-16 15:57] ezaquarii commented on #562
@mario I did not have time to check the source code *yet*, but if I disable the network, I can reproduce it 100%.

I suspect it requires a response from backend before displaying the list.

[2019-06-16 17:18] mario commented on #562
@ezaquarii ah yup, that's it. We do plan to work on full offline support in the future, but atm the focus is on connection stability/reconnections.

In the mean time, maybe we could extend the current state to show an error or something when it fails to get backend response or there's an error.

[2019-06-16 18:33] ezaquarii commented on #562
@mario Since I noticed this issue under poor network conditions, maybe a better retry mechanism could improve it?

[2019-06-16 18:38] mario commented on #562
@ezaquarii that's also possible and should be trivial given that we use rxjava(2).

https://github.com/nextcloud/talk-android/blob/c02f820304bb09abaff5256c789305dcbd9d61f9/app/src/main/java/com/nextcloud/talk/controllers/ConversationsListController.java#L312

[2019-06-16 18:48] ezaquarii commented on #562
@mario Trivial solution would be to simply re-try on error, but I'm worried that it will misbehave on persistent network error (private net, airplane mode, list GSM signal, etc), contunously trying to retry fast-failing task.

Also, I'm not sure if it will handle network re-connection well.

This is a stateful behavior with possible edge cases - I'm not sure how to model it using rx. Suggestions?

[2019-06-16 18:54] mario commented on #562
I've began working on some magic that involves reconnections, but there are still some edge cases that I didn't quite catch, but if you look here you'll see there are events for connect/disconnect being sent: https://github.com/nextcloud/talk-android/blob/c90ff879c27f39341a030a03f13133674d990974/app/src/main/java/com/nextcloud/talk/utils/singletons/MerlinTheWizard.java, in addition to the isConnec

[2019-06-16 18:55] mario commented on #562
Opinions and comments welcome, of course.

[2019-06-16 19:04] ezaquarii commented on #562
Those are very cleanly handled by state machines, as FSMs can lift arbitrary level of complexity. If you are struggling with covering all cases, https://github.com/oxo42/stateless4j could help.

[2019-06-16 20:03] mario commented on #562
@ezaquarii I'll definitely take a look at that, thank you. But the problem at hand is a bit more down-to-earth atm that I'd like to fix before I move to stateless4j for state magic.

https://github.com/novoda/merlin/issues/193

See here for details. Strangely, it works in their demo :-/

[2019-06-16 20:10] ezaquarii commented on #562
@mario Can you point me to your code? I'll take a look.

[2019-06-16 20:11] mario commented on #562
@ezaquarii pretty much all is here - https://github.com/nextcloud/talk-android/blob/c90ff879c27f39341a030a03f13133674d990974/app/src/main/java/com/nextcloud/talk/utils/singletons/MerlinTheWizard.java

And then you can use "Find usages" to see where each of the methods are used. Let me know if you have any questions.

[2019-06-19 07:13] ririx2 commented on #553
thankyou for not hide searching.

https://github.com/nextcloud/talk-android/issues/404

[2019-06-19 07:13] #553 closed

[2019-06-22 22:02] EmberHeartshine opened #565 "Inline image previewing is unable to view full size"
Steps to reproduce:

1. Paste image URL into chat, send
2. Note that inline URLs are processed as image previews
3. Tap image

You can't view the image in full resolution, nor can you open it in a browser by tapping the link.

[2019-06-24 16:13] mario commented on #565
Aaaah. Yea. Thanks!

[2019-06-24 16:14] mario commented on #540
Can't reproduce on emulator in any way, and I don't have an Android 6 device :(

[2019-06-25 14:03] mario commented on #556
Ok, so the #551 was indeed the same :)

[2019-06-25 14:03] #556 closed

[2019-06-25 20:54] #551 closed

[2019-06-25 20:54] #565 closed

[2019-06-25 21:37] mario opened #566 "Fix done button not visible sometimes"

[2019-06-25 21:38] mario commented on #566
cc @schiessle

[2019-06-25 21:44] #566 closed

[2019-06-26 06:11] #370 closed

[2019-06-26 06:11] #538 closed

[2019-06-26 06:11] #539 closed

[2019-06-26 06:55] mario opened #567 "Reorganise backstack when same conversation is entered"

[2019-06-26 06:55] #567 closed

[2019-06-26 07:11] mario opened #568 "Reduce avatar size in conversations"

[2019-06-26 07:12] mario opened #569 "Change "Join via link""
Join with a link

[2019-06-26 07:13] mario opened #570 "Hide join link if you clicked Public conversation"

[2019-06-26 07:13] mario opened #571 "Big person until someone joins"

[2019-06-26 07:13] mario opened #572 "Change hang up button coloring"

[2019-06-26 09:22] #568 closed

[2019-06-26 09:22] #569 closed

[2019-06-26 09:22] #572 closed

[2019-06-26 14:59] mario commented on #572
@jenniferpiperek

[2019-06-26 14:59] mario commented on #569
@jenniferpiperek

[2019-06-26 14:59] mario commented on #568
@jenniferpiperek

[2019-06-26 18:14] maxlinux2000 opened #573 "nextcloud talk blocked and without calls"
I have a problem with nextcloud talk.
Yesterday, I could make call and video calls correctly.
On my mobile phones I have the nextcloudTalk from google installed and the notifications worked.
Today in "Talk" (in the browser of the computer) from the menu of the users (the 3 dots) I have disabled the notifications, and then reactivated.

![Screenshot_2019-06-26_14-52-22](https://user-images.githubus

[2019-06-28 17:53] gerroon commented on #534
Hi

Any plans on when we can get the F-droid builds?

[2019-07-02 11:50] maxlinux2000 commented on #573
Ok, I think I found the problem. The tun server (stun.nextcloud.com:443) was down, so the push messsge and calls doesn't works.
My workaround was setup a tun server using the same vps of my nextcloud installstion.
For the moment seem works. I will update this bug next week

[2019-07-03 13:06] alirasol opened #574 "The screen stays on after finishing the call"
After a finished call I noticed the phone's screen stays on and my phone does not go to sleep mode after the set time of 30 seconds, even after closing the app. And when I turn my screen off, and get a notification or a message. the screen stays on and drains the battery. I am forced to restart my phone after every call with Nextcloud Talk to go around this problem.

[2019-07-04 08:29] maxlinux2000 opened #575 "Bug: About the dectector of the push messages (again)"
There is a problem with push notifications (in the google version).
When I start a conversation with another user using chat, the first time the push warning message arrives several seconds late (up to 30 seconds), then the chat and any calls or video calls run without problems.

But if I let pass a time where meanwhile the screens of the mobiles have been turned off, and I want to make a call to

[2019-07-04 09:02] mario commented on #575
There's not much we can do about this. You can disable battery optimizations, and depending on your phone, do other things like enable app auto-launch.

If you'd like anything different and feel like you have a technical solution, please open a PR.

Thanks!

[2019-07-04 09:02] #575 closed

[2019-07-04 09:02] mario commented on #573
@nickvergessen could this really be the issue?

[2019-07-04 09:02] mario commented on #574
Will look into this, thank you.

[2019-07-04 09:28] nickvergessen commented on #573
No, STUN is only used in webrtc to determinate the public IP of the participants.
But that is waaaay after the notification has been sent already.

[2019-07-05 05:43] mario opened #576 "Add support for changing max chat size"

[2019-07-05 07:53] #576 closed

[2019-07-05 10:13] maxlinux2000 commented on #573
I have rebuild de nextcloud installation from zero, setup the coturn server in the same vps, and installad in the phones the google version of nextcloud talk.

Now seem works, but sometimes the phone don't receive the push message from the other one. This occurs especially after some hours from the las message or call.

first device have LineageOS 14.1 (android 7.1 like) with openGapps. All other

[2019-07-05 14:36] #574 closed

[2019-07-05 14:54] mario commented on #534
@gerroon no idea, sorry :(

[2019-07-08 18:20] Joeviocoe commented on #75
Just to be clear, MicroG cannot just be "installed".  It requires a custom ROM and possibly rooting\unlocked bootloader.

It's like trying to close one door, and another opens.

[2019-07-10 08:57] tobiasKaminsky opened #577 "Accept text"
I have a nice website I want to share, so I click on share and want to select Talk and then one (or multiple) conversations.

Currently I would have to copy text manually and go into Talk app.

[2019-07-11 11:12] chrisjq opened #578 "Fix ContactsController.java swap lines 925 and 926"
Fix ContactsController.java swap lines 925 and 926 so that the Done header button is displayed when you select public link.

[2019-07-11 12:07] chrisjq commented on #578
Incorrect. Already fixed in previous release.

[2019-07-11 12:07] #578 closed

[2019-07-11 12:52] maxlinux2000 commented on #573
Ok, with the las update the problem is gone. Closed!

[2019-07-11 12:52] #573 closed

[2019-07-12 17:26] Valdnet opened #579 "Duplicate call termination message"
Duplicate message when call is terminated with the user:

![obraz](https://user-images.githubusercontent.com/47037905/59187514-ec18e600-8b75-11e9-9b47-57b5d1859459.png)

The error was discussed in [Spreed](https://github.com/nextcloud/spreed/issues/1924).

App:
Nextcloud Talk v6.0.7
Talk v6.0.2
Android 6

[2019-07-13 19:45] tigernero79 opened #581 "written explanation URL chat public error"
the problem of bad centering of the explanation of the URL to activate public chat takes place on Nexus 6 with android 7.0 perhaps for display?
the explanation is well centered on Samsung s8 and 2xl pixels.  but from the photo you notice the bug of the writing that not of law.  Italian language

![Screenshot_20190713-213948](https://user-images.githubusercontent.com/35575744/61175895-7f9b6780-a5b7

[2019-07-14 13:18] celocore opened #580 "App crashes after photo share"
Hello there,

after sharing a photo from the album of my mobile phone in talk, the app for the chat with the photo crashes on all devices. All other chats still work. I think the reason is the size of 2.8 MB.

All devices are Android 9 and Nextcloud talk version is 6.0.7

Greetings
Michael

[2019-07-14 13:26] mario commented on #580
There's no option to share a file from your device just yet. How did you do this?

[2019-07-14 13:30] celocore commented on #580
Sorry for the inaccurate description.
I shared the photo from my device with NextCloud client and then added it in the chat with the + button in front of the input field.

[2019-07-14 13:36] mario commented on #580
Thanks, I'll investigate though size here is really irrelevant and the functionality should work.

[2019-07-14 13:40] mario commented on #577
Closing as duplicate of https://github.com/nextcloud/talk-android/issues/308.

[2019-07-14 13:40] #577 closed

[2019-07-14 13:40] mario commented on #563
Closing as duplicate of https://github.com/nextcloud/talk-android/issues/308.

[2019-07-14 13:40] #563 closed

[2019-07-15 09:15] nickvergessen commented on #581
Moving to android repo

[2019-07-19 16:04] adymorz opened #582 "Troubles adding account to android talk app"
Versions:
Nextcloud: 16.0.3
Talk: 6.0.2
Android-App: 6.0.7

# White page after authentication by token:
* "Konto hinzufügen" ("Add account")
* Add URL
* Button "Alternative Anmeldung via App-Taken" ("alternative authentication using app token")
* Add Username / App-Token
* Button "Zugriff gewähren" ("Grant access")

Expected result:
Accounts get added.

Current result:
A white page gets shown, no

[2019-07-19 17:29] mario commented on #582
There is 99,999% chance this is a setup issue on the server side, so please look into that.

[2019-07-19 17:29] #582 closed

[2019-07-19 19:31] adymorz commented on #582
Thanks for your fast answer. You are right.

`'overwriteprotocol' => 'https'` has been missing in the configuration.

[2019-07-21 10:38] johnripper1 opened #583 "Dispay error while opening conversation"
Device: Galaxy S10+
Android App Version: 6.0.7
Server: 15.0.5.3
Talk App Version: 5.0.4

If i want to start a conversation the FERTIG Button in the upper right side is missing, even if all Informationen are provided properly.
See the missing button here:
![20190721_123232](https://user-images.githubusercontent.com/10068353/61590086-a65b2e80-abb3-11e9-943f-976532fa1cba.jpg)

Furthere more display i

[2019-07-21 10:41] mario commented on #583
Should be fixed in master when it comes to the done button. The display issue is outlined here: https://github.com/nextcloud/talk-android/issues/581

[2019-07-21 10:41] #583 closed

[2019-07-21 12:29] mario commented on #580
Works in master, so it'll the fixed with the next release :) Please reopen if that's not true!

[2019-07-21 12:29] #580 closed

[2019-07-21 20:38] mario opened #584 "Implement conditional chat refresh when using MCU"
This replaces long-pooling.

[2019-07-21 21:19] #584 closed

[2019-07-22 07:57] mario commented on #582
:) Glad it works now.

[2019-07-22 09:12] mario opened #585 "Fix issues with bot avatars"

[2019-07-22 10:30] mario commented on #543
Using the built-in emoji set is very weird because it will not work as expected on many phones. On the other hand, I recognize that you might dislike Twitter set. For that reason (and because it solves a few other issues we've been having) I'll switch to the default Google emoji font (bundled) which will look the same across all the Android devices.

Not perfect, but better than status quo that we

[2019-07-22 10:30] mario commented on #540
Should be fixed in the next release. Let me know if not.

[2019-07-22 10:31] #412 closed

[2019-07-22 10:31] #536 closed

[2019-07-22 10:31] #543 closed

[2019-07-22 10:31] #585 closed

[2019-07-22 10:35] skjnldsv commented on #543
so we're shipping the latest emoji fonts?

[2019-07-22 10:37] mario commented on #543
Yes @skjnldsv

[2019-07-22 10:40] skjnldsv commented on #543
Could we send a mail to Apple asking for permission to ship theirs? :p
They're far more advanced and good looking than the cartoon-style google ones :see_no_evil:

[2019-07-22 10:51] mario commented on #579
Should be fixed in the next release. Let me know if now.

[2019-07-22 10:59] mario commented on #581
Should be fixed in the next release. Let me know if not.

[2019-07-22 11:08] skjnldsv commented on #543
![Capture d’écran_2019-07-22_13-07-49](https://user-images.githubusercontent.com/14975046/61628128-b8a39e00-ac81-11e9-94e7-58efd749a3d9.png)

[2019-07-22 11:10] #581 closed

[2019-07-24 07:40] tobiasKaminsky commented on #429
This is happening for me with 6.1.1 (and at least 6.0.x).

[2019-07-24 07:45] mario commented on #429
Yup, something got screwed up probably due to some rebase. I'll look into it.

[2019-07-25 08:20] jookk opened #586 "microphone not working"
Model: SM-J510FN
Android 7.1.1
Talk android 6.1.1

In voice call other side cant hear me. I remember that behaviour in previous versions too.

[2019-07-25 08:22] jookk commented on #586
Video call afected too. Mic not working

[2019-07-25 09:32] mario commented on #586
Thanks, I'll investigate.

[2019-07-25 16:56] mario commented on #586
Hi,

I just tried this - works like a charm :-/ Can you please make sure the other side has turned on volume or give me some more information to debug?

Cheers,
Mario

[2019-07-25 17:03] jookk commented on #586
It's wired. Other samsung working fine. (Other model).
Samsung have some sort of privacy protection. It notifies user if app uses
microphone in background.
I tried to search in phone, but couldn't find it.
(I thought, if (my sister) blocked it accidentally.

Dňa 25. júla 2019 18:56:49 používateľ Mario Đanić
<notifications@github.com> napísal:

[2019-07-25 17:04] mario commented on #586
Once you find me a way to reproduce, please re-open the issue - I'll happily look into it again. As it stands right now I can't reproduce :(

[2019-07-25 17:04] #586 closed

[2019-07-25 18:23] jookk commented on #586
So, I requested device reboot and ... mic working. Thx

[2019-07-27 14:59] prog-amateur commented on #257
Hello the last answer makes me doubt if this issue is solved or not, and how.
@thecyberd3m0n : could you please tell me if you can have notifications on Talk Android version from F-Droid just by upgrading your phone firmware ? Thank you !

[2019-07-28 06:23] thecyberd3m0n commented on #257
I'm learned to use Google Play version, but I'll check it

[2019-07-28 21:10] prog-amateur commented on #257
OK, I see, thank you very much for your feedback. So we're still at the starting point.

[2019-07-31 05:49] alirasol commented on #574
Just wanted to thank you for fixing the issue

[2019-07-31 07:36] mario commented on #574
:) You are more than welcome - thank you for following up @alirasol.

[2019-07-31 12:13] ririx2 opened #587 "I want to share upload feature or send file directly"
I have inovation about this, i use some library, like Nextcloud:Android-library, Filepicker and Flipboard.

I work with some friend to finishing this feature.
how i can to contribute about this?

#sorry if my English too bad

[2019-08-01 16:44] mario commented on #429
Should be fixed.

[2019-08-01 16:44] #429 closed

[2019-08-05 03:04] gradinaruvasile commented on #425
This happens with version 6.1.2 again. Anyway in previous versions was pretty much useless since Talk crashed when i tapped a shared file...

[2019-08-05 03:14] gradinaruvasile opened #589 "App Lock geature: the app does not prompt for unlocking if it was not used for longer periods"
The app has the lock feature implemented, but it does not use it correctly.
If i leave the app for long periods (maybe the app is terminated in the background?), i can open it again without having to provide authentication (fingerprint, etc) even if i set the timeout to the lowest possible 30 sec.
This really defeats the purpose of this feature.

[2019-08-05 05:21] tobiasKaminsky opened #590 "Messages are not marked as read"
- open up app
- see e.g. 3 conversations with unread messages
- go into one and read it
- go back, but still see the unread messages for this conversation

Only way to get them read is doing it via web.

(found with latest 6.1.2 and our server)

[2019-08-05 05:59] mario commented on #589
What version of the app, what phone, what Android version?

[2019-08-05 06:11] gradinaruvasile commented on #589
Nokia 5, Android 9, Talk 6.1.2

On Mon, Aug 5, 2019, 08:59 Mario Đanić <notifications@github.com> wrote:

[2019-08-05 06:40] mario commented on #590
Yup, I fixed this but it appeared again. Good thing it only happens with external signaling at least so not many are affected.

[2019-08-05 09:42] gradinaruvasile opened #591 "Tapping a file preview tries to open in browser if NC app is from F DROID"
If the Talk app is from gplay and the files app is from fdroid, tapping a preview in talk opens tries to open in the bowser instead of the files app.
If both apps are from gplay it seems it works correctly.

[2019-08-05 10:35] mario commented on #591
Do you mean vice-versa? Because then it would make sense as the Talk in F-Droid doesn't support opening Files app due to this issue: https://github.com/nextcloud/talk-android/issues/534

[2019-08-05 12:01] gradinaruvasile commented on #591
No.

Talk - gplay
Nextcloud - fdroid

I don't use Talk from fdroid as it is pretty much useless without the message notification features.

[2019-08-06 20:08] schiessle commented on #591
I experienced the exact same problem, also Talk from gplay, Nextcloud from fdroid.

[2019-08-06 20:12] schiessle opened #592 "Message duplicates"
I use the Talk app version 6.1.2 from the play store in combination with the Talk High Performance Back-End and see messages multiple times in the chat view. This happens for both, messages I receive and messages I send. If I switch to another room and come back the chat history is cleaned up and everything looks good until the next message arrives. The release notes indicate that it was fixed but

[2019-08-06 20:18] mario commented on #591
Ah ok, so I know why this is. We check if the account that received the file exists/is configured within the Files app and if it is, we open the Files app.

In this case, we can't find the relevant account because the F-Droid and GPlay apps are signed with different keys so they cannot share accounts.

Long story short ... for now, please use both apps from the same place. Sorry about the inconven

[2019-08-06 20:18] #591 closed

[2019-08-06 20:19] mario commented on #592
I'll check again, thanks.

[2019-08-07 07:31] jakobroehrl commented on #254
@mario Is this already implemented?
Tested yesterday with the latest version and I can see "Calling..." but can not hear a tone.
Thanks!

[2019-08-07 10:32] mario commented on #592
Should be fixed in the next minor release, but its a relatively complex thing so unsure if completely :(

[2019-08-07 10:32] #590 closed

[2019-08-07 10:32] #592 closed

[2019-08-07 10:40] mario commented on #589
I think I know why this is. Because the app relies on the system setup, if you say go away from your phone, it'll lock itself - so when you unlock it, you basically unlocked the app as well. Does that make sense?

[2019-08-07 10:55] tobiasKaminsky commented on #590
Do you mean 6.1.3, as 6.0.3 was released a while ago? ;-)

[2019-08-07 10:57] mario commented on #590
Yup, changed :)

[2019-08-07 10:58] mario commented on #254
@jakobroehrl it is, but I disabled it. Will fix soon-ish. Thanks for letting me know.

[2019-08-07 10:59] mario opened #593 "Fix calling sound not working"

[2019-08-07 10:59] #593 closed

[2019-08-07 11:00] mario opened #594 "Lobby support"

[2019-08-07 12:03] gradinaruvasile commented on #589
By this token separate app locks should have no use.

[2019-08-07 12:09] mario commented on #589
Almost :) Which is why I didn't implement this for so long.

[2019-08-07 13:14] gradinaruvasile commented on #589
The nextcloud files app does this much better, for us paranoids it is perfect, it locks when in background.

[2019-08-07 15:38] florianwgnr opened #595 "[Bug] App crashes when pressing "+" Button"
With the newest app update the app crashes when pressing the "+" icon.

In every conversation, after pressing the "+" button, the following page starts to open but crashes immediately.

Device: OnePlus 6
Version: 6.1.3

[2019-08-07 15:45] mario commented on #595
You are right, sorry about that - fixing.

[2019-08-07 16:02] #595 closed

[2019-08-07 21:31] sleeplessnight2 commented on #435
8 Months later and carefully asked: how far is the progress?

[2019-08-08 16:33] tikoflano opened #596 "Login loop"
After I log in, either by setting the server address or by importing a Nextcloud account, it sends me back to the first step whre it asks for the server address.

My login credentials are ok, it keeps creating more and more session tokens on my server (NC 16.0.1 on Docker). My phone is a Huawei P10 running the latest version of NC Talk.

[2019-08-08 16:36] tikoflano commented on #596
Removing all data and cache for the app solved the issue.

[2019-08-08 16:36] #596 closed

[2019-08-09 15:56] #207 closed

[2019-08-10 17:51] git001 opened #600 "Rejecting re-init on previously-failed class java.lang.Class<io.requery.sql.ManagedTransaction>: java.lang.NoClassDefFoundError: Failed resolution of: Ljavax/transaction/Synchronization;"
## Steps to reproduce
1. install LineageOS Version: '16.0-20190806-NIGHTLY-FP2
2. install NC Talk App
3. start NC Talk App

### Expected behaviour
I would expect to be able to talk with peoples via NC Talk

### Actual behaviour
After calling a peer the connection is starting but we can't see or heare us

## Browser => NC Android app

**Microphone available:** yes

**Camera available:** yes

**Oper

[2019-08-12 05:44] tobiasKaminsky commented on #591
Talk app can do this
- check if Files app is installed (will be known even with "wrong" signature)
- check for account (will be none/empty with wrong signature)
- in this case Talk app knows that account might be there, but can't be sure, so it still just sends the intent.

On Files side: if account is not found, I already show a warning.

[2019-08-12 05:49] mario commented on #591
I know it can, just unsure if this is something I like from the UX
perspective...

Can SSO be used in this case to find out if an account exists?

On Mon, 12 Aug 2019, 07:44 Tobias Kaminsky, <notifications@github.com>
wrote:

[2019-08-12 06:12] tobiasKaminsky commented on #591
It would only be for those that have the apps installed from different sources, and it has a proper UX, but not the best one, as it first has to open up Files app.
But e.g. when sharing something to WhatsApp it also checks within Whatsapp if the file is good to send, and not the "sending" app is checking it.

I do not think so. We ask AccountManager to let user choose an account:
https://github.co

[2019-08-12 07:16] mario commented on #591
Yea, but Whatsapp is different. Anyway I can do this even if I don't like it.

[2019-08-12 07:24] mario commented on #591
I now check if signatures of the apps match and if they do, do an account check - otherwise I just open the Files app.

That way I keep the usual UX when both apps share the signature.

[2019-08-12 08:13] schiessle commented on #591
Thanks @mario I think this will be good from the UX. As @tobiasKaminsky said, that's the same UX the user have on all other apps as well. Also keep in mind that only a tiny faction will notice:

1. 80% will have both apps from the same appstore
2. 99% of all people who have installed both apps will also have configured the same account on both apps
3. 99% of the people join chats/calls in one of t

[2019-08-12 17:19] ericschdt opened #597 "Add Samsung Galaxy S4 Mini (serranoltexx) to HW AEC blacklist"
I experience a bad feedback with a high pitch and echos when talking over the speakers as I guess HW AEC is not supported, just like at the S5 and S7.

[2019-08-12 20:38] Simounet opened #598 "App to app not working"
Hi there,
I've got a strange issue. I can use Talk with the app and the other person using the browser on the phone but I can't connect if both are using the app. I can't see them trying to connect through the TURN server.

[2019-08-13 07:40] ericschdt commented on #597
Can you also add option in the app's settings, so that the users can (un)blacklist their device theirself?
That would help users who do not use the Stock ROM but a custom ROM, which solely does not support HW AEC.

[2019-08-13 08:29] ericschdt opened #599 "Add option to HW AEC un/blacklist app by user"
Can you add option in the app's settings, so that the users can (un)blacklist their device theirself?

Currently the list is hardcoded and removing / adding a device, also for testing purposes, requires a new release.

That would also help users who do not use the Stock ROM but a custom ROM, which solely does not support HW AEC.

Follow up question: If it's HW AEC blacklisted, will it fall back to

[2019-08-13 19:42] mario commented on #597
This I can take a look at, thanks for letting me know.

[2019-08-13 19:46] mario commented on #597
How did you install this app? Since it shouldn't be supported officially? :)

[2019-08-13 19:47] mario commented on #599
I will not do this mainly because its a niche solution to an even more niche userbase :(

But I'm happy to entertain a solution where I maintain the blacklist in the repo. Yes, it will fall back to software based AEC. So sorry, but closing this issue now :(

[2019-08-13 19:47] #599 closed

[2019-08-13 19:52] mario commented on #597
Ok, so I'm hoping it's this one - GT-I9195L :)

Let me know if not so I can update this for your specific model.

[2019-08-13 19:53] #597 closed

[2019-08-13 19:59] ericschdt commented on #597
I have installed via F-Droid.

Not sure, what you mean. :-)

The "L" stands for latinamerica. I use the general version "GT-I9195".

[2019-08-13 20:02] ericschdt commented on #599
Oh, not even in a hidden expert setting? Too bad. ;-)
Do you have an explanation why certain models don't support HW AEC, while others from the same brand and production line do?
How else can I, as a user, figure out if my device supports it without listening for echos or feedback? :)

[2019-08-14 10:28] mario commented on #600
Sounds strange, but how do I test this? I really don't have access to Lineage 16.0-20190806-NIGHTLY-FP2 and really can't test on nightlies.

[2019-08-14 11:04] git001 commented on #600
it would help to know where there problem is. Is it a missing jar file for NC Talk or for LinageOS.

[2019-08-18 20:18] mario commented on #589
This can be workarounded by clearing cache/data of the app :) So I honestly see very little point :-/

[2019-08-19 08:07] mario commented on #600
Ok, so I looked into this and its just an information message - nothing that would cause the call not to work.

Try installing/configuring TURN if you haven't already.

[2019-08-19 08:07] #600 closed

[2019-08-21 09:24] mario commented on #534
This will be fixed for the next stable. Sorry for the delay.

[2019-08-21 09:30] Bubu commented on #534
@mario can you share what will be the solution?

[2019-08-21 09:30] mario commented on #534
@Bubu Jitpack managed to build my repository :)

[2019-08-21 10:27] Valdnet opened #601 "Some emoji are not displayed correctly"
Some emoji are not displayed correctly in the message text.
Examples on the screen:

![obraz](https://user-images.githubusercontent.com/47037905/63427494-87032b80-c415-11e9-8ee2-4a73c5c91a14.png)

I don't know if the problem is with Talk, or keyboard or maybe the android version.

Android 6
Nextcloud Talk v6.1.6

[2019-08-21 14:55] cbacit opened #602 "Android Share button - Functionality"
## Steps to reproduce
1. Click on sharing in Android and NextCloud Talk isn't an option
2.
3.

### Expected behaviour
Tell us what should happen

I should be able to hit share to nextcloud talk to connections that the account has setup in it similar to slack.

### Actual behaviour
Tell us what happens instead
Nothing happens there is no option to share to nextcloud talk.
## Browser

**Microphone a

[2019-08-21 15:55] mario commented on #265
Will group and show messages that way instead.

[2019-08-21 19:59] mario commented on #602
Already requested :)

https://github.com/nextcloud/talk-android/issues/308

[2019-08-21 19:59] #602 closed

[2019-08-22 16:48] Waldhonig01 opened #603 "handshake failed"
Hello,
I have a similar problem to # 193:
Operating system Android 7 with EMUI 5.0.3
Since I renewed the certificates to RSA **and** ECDSA, I can´t log into the app "nextcloud talk" anymore. When i try, i get the error message "handshake failed". The main Nextcloud app connects and works just fine (i use the apps from the google playstore)

A login with a current Android system as well as Apple iO

[2019-08-22 16:50] mario commented on #603
Can you try deleting and readding an account pls?

On Thu, 22 Aug 2019, 18:48 Waldhonig01, <notifications@github.com> wrote:

[2019-08-22 20:42] Waldhonig01 commented on #603
First I enter the server address and already here comes the error message

[2019-08-23 07:29] jookk commented on #603
I have this hanshake error too on android 7 samsung a3 2016.

[2019-08-23 07:34] mario commented on #603
Can any of you provide a test account to mario@nextcloud.com?

[2019-08-23 07:39] jookk commented on #603
Sent

[2019-08-23 16:55] Waldhonig01 commented on #603
also just sent, if still needed

[2019-08-25 21:09] #534 closed

[2019-08-25 21:13] #231 closed

[2019-08-25 21:13] #265 closed

[2019-08-25 21:21] mario commented on #603
@Waldhonig01 your site is:

err_ssl_version_or_cipher_mismatch

Which is a server configuration problem.

And @jookk, I can login without any issues? :-/

[2019-08-26 03:14] jookk commented on #603
Via Talk android 7? Wired then.

Dňa 25. augusta 2019 23:21:49 používateľ Mario Đanić
<notifications@github.com> napísal:

[2019-08-27 09:59] jookk commented on #603
Turnserver has nothing to do with your problem.

Dňa 27. augusta 2019 11:54:22 používateľ Waldhonig01
<notifications@github.com> napísal:

[2019-08-27 10:28] Waldhonig01 commented on #603
@jookk
do you have any idea what I'm doing wrong ? I get a A+ from https://www.ssllabs.com when i check my server configuration.
result by Android 7: ok with TLS1.2>h2)

[2019-08-27 10:30] jookk commented on #603
Try generate your config with this tool:
https://ssl-config.mozilla.org/

Dňa 27. augusta 2019 12:28:35 používateľ Waldhonig01
<notifications@github.com> napísal:

[2019-08-27 17:29] szaimen commented on #440
@mario I just installed the app and wanted to use it without having to login again.
Is there no way around?
Maybe if changing the nextcloud push-api?

[2019-08-29 15:12] jrobinson52 opened #604 "Notifications not working"
I do not receive notifications for messages that I receive. I have disabled all android battery optimizations and granted all permissions, also I have cleared the cache and reinstalled the app but I still don't receive notifications.

App version: 6.1.6
Android: 10

[2019-08-29 15:54] szaimen opened #605 "Please provide the ability to write and read SMS"
Please provide the ability to write and read SMS.
If that was implemented, you would be able to chat with other contacts, that don't have a nextcloud-installation via nextcloud-talk. -> could be a killer-feature after [Federation](https://github.com/nextcloud/spreed/issues/21).
Using the Android App as a Bridge, you also would be able to chat with other contacts over SMS from other platforms like

[2019-08-29 19:57] mario commented on #604
Woot. Android 10. What phone are you using?

[2019-08-29 21:47] bugzy commented on #8
@mario any progress on this?

[2019-08-29 21:48] jrobinson52 commented on #604
Essential phone (PH-1)

[2019-08-30 09:59] #594 closed

[2019-08-30 10:38] #9 closed

[2019-08-30 10:38] mario commented on #88
We're moving away from data channels for this afaik.

[2019-08-30 10:50] Ivansss commented on #88
At the moment is the only way to promote participants when they are speaking in the WebUI.
But you are right, we'll remove this messages at some point.

[2019-08-30 11:44] mario commented on #601
@Valdnet I'll do a beta today so please test this. Please also try to put one of those as the conversation name and post the screenshot of the conversation so I can see if it works when such an emoji is in the toolbar.

[2019-08-30 12:53] jrobinson52 commented on #604
Is there a way to get a debug log for the app to provide extra information to you all?

[2019-08-30 15:38] mario opened #606 "Guest mentions"

[2019-08-30 15:52] jookk opened #607 "Notifications not working"
nc 17b3
android talk v7b

Cant call, after call started only connecting
Messages are not notified on other end.

On nc 16.04
android Talk crashing after opening conversation

[2019-08-30 15:56] mario commented on #607
What Android version are you using?

On Fri, 30 Aug 2019, 17:52 jookk, <notifications@github.com> wrote:

[2019-08-30 16:20] jookk commented on #607
android 9

Somehow after few minutes it working.
So now:
Calling working on local network, notifications working.
Messages are delivered, but not notified.

My turnserver worked fine till upgrade to nextcloud 17b3, is there any changes that I have to do in turnserver?

[2019-08-30 16:25] mario commented on #607
When are you not notified? One2one or public/group notification?

On Fri, 30 Aug 2019, 18:20 jookk, <notifications@github.com> wrote:

[2019-08-30 16:27] jookk commented on #607
one2one, public/group not tested

[2019-08-30 16:29] mario commented on #607
Maybe you changed the config option? Can you send me a test acc?

On Fri, 30 Aug 2019, 18:27 jookk, <notifications@github.com> wrote:

[2019-08-30 16:32] jookk commented on #607
I restarted coturn and now calling is working as before, local - public networks. So coturn working (must be bug on debian buster)

[2019-08-30 16:54] jookk commented on #607
you have account, I didnt deleted it.

[2019-08-30 17:24] mario commented on #607
Can't reset password - Request failed with status code 500

[2019-08-30 17:31] jookk commented on #607
Sorry I cant create new account , no change password. Going to issue bug
report to server

Dňa 30. augusta 2019 19:24:18 používateľ Mario Đanić
<notifications@github.com> napísal:

[2019-08-30 20:02] szaimen commented on #607
For me the same.

[2019-08-30 20:05] jookk commented on #607
Wait a bit, mine working

[2019-08-30 21:21] #607 closed

[2019-08-30 21:22] mario commented on #607
Found the issue and fixed. Will be in the next beta - thanks! :)

[2019-08-31 06:43] tigernero79 opened #608 "nextcloud talk does not follow theme color chosen"
I changed color style to my nextcloud and in the nextcloud application it follows the color s elto which does not happen with talk application.  Is it possible to make the talk get back color quickly from the nextcloud application?  I attach example

Color app nextcloud
![Screenshot_20190831-083913_Nextcloud](https://user-images.githubusercontent.com/35575744/64060327-4355b200-cbcb-11e9-99c2-0e8c7

[2019-09-01 11:07] Valdnet opened #609 "Crashing app v7.0.0b1 on Android 6"
Crashing the application when creating a new or opening a current conversation with the user.

Android 6
Nextcloud Talk v7.0.0b1

[2019-09-01 11:09] mario commented on #609
Nextcloud version.?

On Sun, 1 Sep 2019, 13:07 Valdnet, <notifications@github.com> wrote:

[2019-09-01 12:30] Waldhonig01 commented on #603
I have found the mistake:
After I had registered prime256v1 on the "ssl_ecdh_curve", i was able to log in successfully

[2019-09-01 12:30] #603 closed

[2019-09-01 12:57] jivarson commented on #609
Happens here too on b1. Using android 9, nextcloud 16.0.4 and latest stable Talk backend. Sent feedback / logs through Google play. Happens in both dark and light app theme.

[2019-09-01 14:38] mario commented on #603
Awesome! :)

[2019-09-01 15:23] ralfi opened #610 "Crash v7.0.0.b1 from GPlay"
NC 16.0.4

Install works, authorization works, Crash after every try to create or open existing conversation

Message:
Didnt find class android.view.EmojiiTextView
Didnt find class on Path....
FindClass Line 134

[2019-09-01 15:25] ralfi commented on #610
Samsung S9, Android 9

[2019-09-02 06:00] Valdnet commented on #609
Sorry.

Nextcloud 16.0.4
Talk 6.0.4

[2019-09-02 10:14] Valdnet commented on #601
@mario Waiting for the new beta version 😉.

[2019-09-02 11:04] mario commented on #604
Should be fixed in v7.0.0beta2, so please test and re-open if that's not the case. Should be out in a few hours.

[2019-09-02 11:04] #604 closed

[2019-09-02 11:04] #609 closed

[2019-09-02 11:04] #610 closed

[2019-09-02 11:04] mario commented on #598
No idea. What app version, what Nextcloud version? :)

[2019-09-02 11:12] mario commented on #608
Requested in https://github.com/nextcloud/talk-android/issues/250.

[2019-09-02 11:12] #608 closed

[2019-09-02 11:19] mario commented on #223
Done a while ago.

[2019-09-02 11:19] #223 closed

[2019-09-02 11:43] Valdnet commented on #601
The error still occurs. Only the color of the envelopes changed.

![obraz](https://user-images.githubusercontent.com/47037905/64112338-66c55c00-cd87-11e9-97f7-c4cfd55df262.png)

[2019-09-02 12:04] mario commented on #601
@Valdnet what about the conversation name in the toolbar?

[2019-09-02 12:08] Simounet commented on #598
Sorry about the lack of precisions.
Nextcloud 16.0.4
App 6.0.0beta3

[2019-09-02 12:10] mario commented on #598
Sounds outdated. How did you end up on that version? o.O

Could you try latest stable which is v6.1.6?

[2019-09-02 12:18] Simounet commented on #598
I get it from fdroid but I think I also tried with the one on Play Store.

[2019-09-02 12:19] mario commented on #368
Mostly done afaik with the dark theme magic.

[2019-09-02 12:19] #368 closed

[2019-09-02 12:49] Valdnet commented on #601
@mario For the name of the conversation, not all emoji is available that appears on the keyboard for the conversation.
Sample screenshot:
![obraz](https://user-images.githubusercontent.com/47037905/64115270-6df06800-cd8f-11e9-97c7-5ee148e6aefd.png)

The ones I have available are displayed in the name of the conversation:
![obraz](https://user-images.githubusercontent.com/47037905/64115361-b1e36d00

[2019-09-02 12:53] mario commented on #601
Ah yes. Could you open another issue for the toolbar & conversation name?

On Mon, Sep 2, 2019 at 2:49 PM Valdnet <notifications@github.com> wrote:

[2019-09-02 13:00] Valdnet opened #611 "Crash with incomplete link to conversation"
Application crash when entering incomplete link link to conversation.
Steps:

1. Create a conversation by: Join with a link.
![obraz](https://user-images.githubusercontent.com/47037905/64116352-61214380-cd92-11e9-95a0-fd00d05b2cfa.png)

2. Enter the incomplete link address, e.g. `http://test.pl`.
![obraz](https://user-images.githubusercontent.com/47037905/64116180-e8ba8280-cd91-11e9-9c27-42f8ae082

[2019-09-02 13:05] Valdnet opened #612 "Incomplete keyboard emoji for conversation name"
For the name of the conversation, not all emoji is available that appears on the keyboard for the conversation.
Sample screenshot:
![obraz](https://user-images.githubusercontent.com/47037905/64115270-6df06800-cd8f-11e9-97c7-5ee148e6aefd.png)

App:
Android 6
Talk Android 7.0.0b2
Nextcloud 16.0.4
Talk 6.0.4

[2019-09-02 13:07] Valdnet commented on #601
@mario Open issue: #612 😉.

[2019-09-02 14:26] #249 closed

[2019-09-02 14:26] #402 closed

[2019-09-02 14:26] #570 closed

[2019-09-02 14:26] #601 closed

[2019-09-03 09:01] #611 closed

[2019-09-03 10:08] Valdnet commented on #612
@mario I didn't notice any change in version 7.0.0b3 on Android 6. Has something been changed?

[2019-09-03 10:10] mario commented on #612
There should be an emoji field next to the name field?

On Tue, 3 Sep 2019, 12:08 Valdnet, <notifications@github.com> wrote:

[2019-09-03 10:20] Valdnet opened #613 "Sliders in conversation info"
No memorization of the slider positions from  **Important conversation** and **Mute calls** in conversation info.

Steps:

1. Start a conversation.
2. Go to Conversation info.
3. Toggle sliders from Important conversation and Mute calls.
4. Rotate the smartphone screen.
5. **Sliders do not remember their positions.**

App:
Android 6
Talk Android 7.0.0b3

[2019-09-03 10:28] Valdnet commented on #612
Ok. Now I just noticed.

No emoji display.

![obraz](https://user-images.githubusercontent.com/47037905/64165856-2973d380-ce46-11e9-9c48-4becbd8fc8f6.png)

![obraz](https://user-images.githubusercontent.com/47037905/64165754-f4678100-ce45-11e9-9a12-40afc41cd5b7.png)

The correct display of emoji only in the conversation list.

![obraz](https://user-images.githubusercontent.com/47037905/64165891-3a

[2019-09-03 11:29] Valdnet opened #614 "Choice of messages in conversation info"
No saving of the **Messages** settings in conversation info.

Steps:

1. Start a conversation.
2. Go to Conversation info.
3. Select the type of Messages:
- Never notify
- Notify when mentioned
- Always notify
4. Rotate the smartphone screen.
5. **Not** remembering message selection in conversation info (not selected).
6. Rotate the smartphone screen.
7. **Not** remembering message selection in co

[2019-09-03 11:56] jookk opened #615 "cant delete conversation"
Android talk 7b3
After long click, menu appears, click delete conversation - confirmation and click to delete.
Nothing is done. Conversation is still there.

[2019-09-03 11:57] mario commented on #615
What type of call? One2One, group, public?

What Nc version? :)

[2019-09-03 11:59] jookk commented on #615
Nc 17b3
One2one

It was there in b2 at least
Dňa 3. septembra 2019 1:57:36 odpoludnia používateľ Mario Đanić
<notifications@github.com> napísal:

[2019-09-03 13:44] mario commented on #615
Why did you close this? o.o

[2019-09-03 14:06] jookk commented on #615
Issue occured two times. Yesterday and today to me. But now looking to
conversation list and one to delete is now disappeared. So I closed.

Dňa 3. septembra 2019 15:44:17 používateľ Mario Đanić
<notifications@github.com> napísal:

[2019-09-03 14:09] mario commented on #615
I see the issue :)

[2019-09-03 14:41] #612 closed

[2019-09-03 14:41] #613 closed

[2019-09-03 14:41] #614 closed

[2019-09-03 15:22] jrobinson52 commented on #604
I have updated and still do not receive notifications (regardless of whether or not the app is open).

[2019-09-03 15:25] jrobinson52 opened #616 "Notifications not working"
Should be fixed in v7.0.0beta2, so please test and re-open if that's not the case. Should be out in a few hours.

_Originally posted by @mario in https://github.com/nextcloud/talk-android/issues/604#issuecomment-527106472_

I have updated to v7.0.0beta2 and notifications are still non-functional. Is there anything I can do to provide you with more information?

[2019-09-03 15:49] mario commented on #616
Can you look into Nextcloud logs and post parts that show that notifications are indeed sent?

[2019-09-03 15:53] jrobinson52 commented on #616
Do you mean the server logs or the app logs?

[2019-09-03 15:53] mario commented on #616
Server logs.

[2019-09-03 16:06] jrobinson52 commented on #616
I do not know where to look for those. Also as a side note, I switched to another nextcloud instance hosted by someone else and notifications work there.

[2019-09-03 17:53] mario commented on #616
Well, that might depend on how you configured your Nextcloud. Sorry but I can't be of any help if I don't have the logs.

[2019-09-03 17:54] mario commented on #615
(Btw. in Nc16 & 17 you can only leave one2one conversations, not delete - but yea, there's still a bug)

[2019-09-04 07:01] Ivansss commented on #616
@jrobinson52 Do you have the [notifications](https://github.com/nextcloud/notifications/) app enabled in your Nextcloud server?
You need that app to receive notifications in Nextcloud and push notification in mobile apps.

[2019-09-04 08:11] GLLM opened #618 "Message not visible in one2one conversation"
Hello !
I'm not sure this has been reported already or even fixed in the upcoming v7.

I'm using
* NC 16.04 on Ubuntu 18.04 LTS + the app Talk 6.0.4 (setup w/ Coturn)
* Nextcloud Talk 6.1.6 on a Galaxy S8+ with Android 9.0

I've noticed that when I chat in one-to-one conversation :
* sometime the messages I _send_ to no appear in the conversation. When I get back to the list of conversation and co

[2019-09-04 10:01] Valdnet commented on #618
This problem sometimes also occurs with me.

[2019-09-04 10:16] mario commented on #618
Could you check with 7.0 beta if it's not an issue @GLLM ?

[2019-09-04 11:47] Valdnet commented on #540
The problem remains in version 7.0.0b3.

Steps:

1. Choose a conversation.
2. Choose emoji.
3. Delete emoji by the "x" button.
4. Switch to the keyboard.
5. Write a sign.
6. Deleted emoji appears.

In this version it occurs as follows:

- When using this emoji (example):
![obraz](https://user-images.githubusercontent.com/47037905/64251465-e6366500-cf18-11e9-95a5-7df78245c16d.png)

When pressed on

[2019-09-04 11:52] Valdnet commented on #579
@mario Unfortunately, the error still occurs in version 7.0.0b3. The "You left the call" message repeats after the call.

[2019-09-04 12:22] GLLM commented on #618
@mario
I tested with beta3 of 7 :
#1 : sent message now appear properly (though it take ~2s) ✔️
#2 : when I receive a message and Talk is not open, I do get the notification so I know what to expect. Then when I click on the notification, Talk open and closes within the same second 🔴
#3 : the few messages I managed to receive seemed OK ... TBC with more tests but looks OK

thanks

[2019-09-04 18:56] jrobinson52 commented on #616
@mario @Ivansss I am still working on getting this information. This is my company's Nextcloud instance that is giving me trouble. As a side note, the other employees attached to this Nextcloud instance receive notifications with the same beta version (although they're on Android 9).

[2019-09-04 20:12] mario commented on #618
So closing this since it was fixed. I'll look into the crash if there's one in the play store.

[2019-09-04 20:12] #618 closed

[2019-09-05 08:09] nickvergessen commented on #616
Then please tell your sysadmins to take care of this. You proxying the information is not really useful. In case your sysadmin has questions they can open a support ticket in our customer support tool.

[2019-09-05 08:09] #616 closed

[2019-09-05 09:19] mario commented on #579
I do a "DELETE" on spreed/api/v1/call/<token> and get the message back twice. Any ideas @nickvergessen ?

[2019-09-05 09:37] mario commented on #579
Ok, checking again...

[2019-09-05 10:03] #352 closed

[2019-09-05 10:03] #579 closed

[2019-09-05 10:03] #615 closed

[2019-09-05 13:07] GLLM commented on #618
OK, thanks @mario  ! :)

[2019-09-06 08:05] mario opened #619 "New messages marker"

[2019-09-06 08:06] #606 closed

[2019-09-06 12:24] szaimen opened #620 "V7.0.0 Beta4 clicking on chats scrolls from the top down"
V7.0.0 Beta4 clicking on chats scrolls from the top down. (You can see the fetching of the chat)
You have to wait until everything has loaded. Then you can write something.

[2019-09-06 12:26] szaimen commented on #620
BTW: caching the chats would be much better! Also for using the app offline!

[2019-09-06 12:36] mario commented on #620
Will be fixed in beta5, thanks for reporting.

[2019-09-06 13:27] Valdnet commented on #620
@mario I thought it should be this way :smile:. It's a bit annoying  :grin:.

[2019-09-06 13:43] Valdnet opened #621 "No information about the end of the incoming call"
There is no information about the end of an incoming call from another user.

![obraz](https://user-images.githubusercontent.com/47037905/64432471-e96a5600-d0bc-11e9-9e24-30ee13c8fdd7.png)

App:
Android 6
Talk Android 7.0.0b4
Talk 6.0.4
Nextcloud 16.0.4

[2019-09-06 13:55] Valdnet commented on #502
@mario Isn't it worth thinking about it? This would shorten the settings menu a bit 😉.

[2019-09-06 14:01] mario commented on #621
Not sure I understand the issue?

On Fri, 6 Sep 2019, 15:43 Valdnet, <notifications@github.com> wrote:

[2019-09-06 20:09] jakobroehrl commented on #254
@mario It's working with the latest beta, thanks a lot!

[2019-09-06 20:26] tigernero79 opened #622 "Is rotation lock possible if it is active in Android?"
I noticed that if the rotation bloc is active on my pixel 2 XL and in general on android phones, the talk application continues to rotate in landscape. I think it is useful that it remains locked as for other applications and that it can rotate if the block is disabled. alternatively, is it possible to provide a rotation lock button in landscape in the application?

[2019-09-06 20:29] #622 closed

[2019-09-07 15:27] Valdnet commented on #621
@mario Information about the end of a call does not always appear.

![obraz](https://user-images.githubusercontent.com/47037905/64476884-c1e6bc80-d194-11e9-8af4-2d4e2721224c.png)

[2019-09-07 15:49] Valdnet opened #623 "Duplicate information when starting a new conversation"
Steps:
1. Go to "Select contacts".
2. Select a user.
3. Start a new conversation with the user.

**Duplicate information on starting a conversation.**
![obraz](https://user-images.githubusercontent.com/47037905/64476972-e8592780-d195-11e9-9989-a7d712721f0f.png)
4. Write a message.
5. Scroll up the conversation.
**Duplicate information on starting a conversation and conversation.**
![obraz](https:/

[2019-09-09 16:12] #619 closed

[2019-09-09 16:12] #620 closed

[2019-09-09 16:12] #621 closed

[2019-09-09 16:12] #623 closed

[2019-09-12 20:01] Ivansss opened #624 ""Room invite" notifications launch the app"
When a user receives a "Room invite" notification, the app is automatically launched.

**Expected behaviour:**
One-to-one invitations should be ignored.
Group/public rooms invitations should be shown as a normal notification.

[2019-09-13 07:51] ma12-co opened #625 "Call screen shown even if the call has ended when switching airplane mode off"
Steps to reproduce:
* Switch airplane mode on;
* Make somebody call you and hang up;
* Toggle airplane mode off and unlock the phone.

Expected behavior:
You see a missed call notification.

Actual behavior:
the call screen pops up for an instant and then disappears.

Phone: Huawei p20 pro, stock OS
version 7.0.0 Beta 4

[2019-09-13 07:54] ma12-co opened #626 "I got a call notification from a group conversation call"
This happened in this particular case: #625

[2019-09-13 08:31] mario commented on #626
Fixed in master.

[2019-09-13 08:31] #626 closed

[2019-09-13 08:31] mario commented on #624
Fixed in master.

[2019-09-13 08:31] #624 closed

[2019-09-13 08:32] mario commented on #625
@Ivansss to check the same on iOS.

[2019-09-13 11:28] mario commented on #625
Happens only with one2one calls because we automatically show the call screen. Needs a server-side solution probably.

[2019-09-13 13:39] Valdnet opened #627 "Emoji in push notifications"
Incorrect emoji display in push notifications.

1.

![obraz](https://user-images.githubusercontent.com/47037905/64866521-df57d280-d63b-11e9-96fb-6d94c2e60c7f.png)
Examples:
![obraz](https://user-images.githubusercontent.com/47037905/64866819-77ee5280-d63c-11e9-91f3-8a14d50f28b6.png)

2.

![obraz](https://user-images.githubusercontent.com/47037905/64866576-f8f91a00-d63b-11e9-8b55-27d887cbd611.png)

[2019-09-13 14:03] mario commented on #627
Check with beta5 pls.

[2019-09-13 15:28] Valdnet commented on #627
The issue still exists

[2019-09-13 19:33] jookk opened #628 "Profile picture"
Would be great to have ability to change profile picture via Talk android.
![Screenshot_20190913-212310-picsay](https://user-images.githubusercontent.com/11217085/64889705-2fe82380-d66e-11e9-86be-35dee153e0db.png)

[2019-09-13 23:38] mario commented on #628
Not supported by the API. Please file a server issue.

[2019-09-13 23:38] #628 closed

[2019-09-15 08:46] tobiasKaminsky opened #629 "Dark mode / beta: wrong background color on chat"
![image](https://user-images.githubusercontent.com/5836855/64919000-e4389580-d7a5-11e9-82d2-023898aca814.png)

To read this properly on mobile screen I had to manually switch to dark mode.

[2019-09-15 09:19] mario commented on #629
Do you have a system-wide dark mode?

[2019-09-15 10:26] tobiasKaminsky opened #630 "Icon on dark mode is scraggy"
![image](https://user-images.githubusercontent.com/5836855/64920133-ed306380-d7b3-11e9-8308-78f520d1382a.png)

- choose dark mode
- have a conversation without icon / with default icon

[2019-09-15 10:27] tobiasKaminsky opened #631 "Click on push notification lead to null"
![image](https://user-images.githubusercontent.com/5836855/64920152-308ad200-d7b4-11e9-8b79-10a490285102.png)

Happened 2x with latest beta (7.0.0 beta5).
- receive a push notification
- click on it

[2019-09-15 10:31] tobiasKaminsky commented on #629
Indeed, I was not aware of.
When I set it manually to "light" then it is ok, but setting it to "dark" I get above situation.
There is also an automatic mode, which will then lead to the same problem in upcoming night, I guess.

[2019-09-16 10:03] Valdnet opened #632 "Crash app when conversation to 2 users"
Steps I:
1. Open a conversation with 2 users.
2. Go to conversation info.
3. **Crash app**.

Steps II:
1. Open a conversation with 2 users.
2. Enter with conversation.
3. **Crash app**.

App:
Android 6
Talk Android 7.0.0b5
Nextcloud 16.0.4
Talk 6.0.4

[2019-09-16 10:16] Valdnet opened #633 "Unread messages counter appears when it shouldn't"
**Sometimes**, after writing a message, your message does not appear.

Steps:
1. Create a conversation.
2. Write a message.
3. **Sometimes** your message does not appear.
4. Exit the conversation.
5. Information on the unread message is displayed.

App:
Android 6
Talk Android 7.0.0b5
Nextcloud 16.0.4
Talk 6.0.4

[2019-09-16 12:05] mario opened #634 "Add support for call prevention"

[2019-09-16 12:06] #79 closed

[2019-09-16 12:10] jookk commented on #633
I have it too.
Talk b5

[2019-09-16 12:12] jookk commented on #631
If you mind receiving new message notification, mine working fine.
Click to notification opens conversation.

[2019-09-17 15:59] jrobinson52 commented on #616
We were not able to find any logs but it turns out logging into the app with an app key vs my username and password fixed notifications

[2019-09-18 18:30] tobiasKaminsky commented on #631
Normally push nofification were working, but now I have it from time to time that it shows these "null".

[2019-09-19 05:26] Valdnet commented on #632
This only happens when an old unnamed conversation is created.

[2019-09-19 05:55] mario commented on #632
Not sure I understand?

[2019-09-19 06:11] raymondbarrinuevo commented on #158
@mario is this going to be implemented also in talk-ios? thanks

[2019-09-19 06:17] Valdnet commented on #632
@mario If you have ever created a conversation on an older version of Talka that does not have the **"Conversation name"**, then after opening and closing the conversation or "Conversation Information" the app crashes.

[2019-09-19 07:33] feutl commented on #261
I was expecting this feature being implemented already, but found this issue :)
Anyhow, I would like to see this feature as well.
I am hosting NC on my own, and thought about Talk as a great alternative to Signal, Whatsapp, Threema etc for the little ones to start chatting with family members AND some selected friends. The control is still in the hand of the parents / admin and you can easily invi

[2019-09-19 07:37] feutl commented on #306
Having picture support, not in the nextcloud directory, would also be great.
Straight from the camera or the storage of the phone/tablet. This would allow the youngest family members to stick longer with Nextcloud Talk ;)

Also the same should apply for "invited" Users / Guest Users to allow them stick with a more secure solution as long as possible, instead of flipping to Whatsapp and others as s

[2019-09-19 07:39] Valdnet opened #635 "Hide "PROCEED""
I suggest to hide "PROCEED" when it is not entered:

1. Conversation name:

![obraz](https://user-images.githubusercontent.com/47037905/65223333-44d71380-dac1-11e9-8519-05dafd1cec58.png)

2. Link conversation:

![obraz](https://user-images.githubusercontent.com/47037905/65223386-620be200-dac1-11e9-92fb-1e0264e8e85f.png)

Just as it is when choosing a conversation user. "DONE" appears only when the

[2019-09-19 07:47] Valdnet opened #636 "Description "null""
During long loading or unread read conversations should not appear **"null"** next to the conversation name.

![obraz](https://user-images.githubusercontent.com/47037905/65223906-6dabd880-dac2-11e9-870b-25a575615e58.png)

App:
Android 6
Talk Android 7.0.0b5

[2019-09-19 08:17] Ivansss commented on #158
@raymondbarrinuevo messages grouping is already implemented in talk-ios :)

[2019-09-20 04:06] raymondbarrinuevo commented on #158
Hi @Ivansss, Thanks for the quick response. is it already merged in the master branch of talk-ios? I am using Nextcloud Talk 7.0.0 and I don't see messages grouping like this.

[2019-09-20 08:52] Ivansss commented on #158
Hi @raymondbarrinuevo, the Chat UI in Talk iOS is a bit different.
There are no bubbles like in the Android app, but chat messages are grouped.
https://raw.githubusercontent.com/nextcloud/talk-ios/master/docs/App%20Store/iPhone%20screenshots/iphone-chat.png

[2019-09-21 17:42] BetaLeaf opened #637 "App crashes when I join via link"
App crashes when I try to join via link. It crashes the moment I enter the link and submit to join. I sent a dump via android reporter.

[2019-09-23 11:51] mario commented on #636
#631 already reported :)

[2019-09-23 11:51] #636 closed

[2019-09-23 11:51] mario commented on #635
@jenniferpiperek thoughts on this?

[2019-09-23 12:26] mario commented on #637
Thanks for the report.

[2019-09-23 19:57] markus2330 opened #638 "proximity sensor permanently turns off video"
When in a call with video and the proximity sensor is touched (e.g. going with face near the phone), the video turns off (which is okay) but it does not turn back on again.

[2019-09-24 10:03] mario commented on #638
Thanks, I'll take a look.

[2019-09-24 10:06] mario commented on #627
https://github.com/android/user-interface-samples/issues/80

Sorry about that :(

[2019-09-24 10:06] #627 closed

[2019-09-24 10:07] mario commented on #540
Is this still an issue?

[2019-09-26 09:39] mario commented on #638
This is fixed in beta already. Will be part of 7.0.0 :)

Thanks for reporting!

[2019-09-26 10:27] #638 closed

[2019-09-26 10:27] #629 closed

[2019-09-26 10:30] mario commented on #633
This should be fixed in stable 7.0, if not (should be released today) please send me two test accounts at mario@nextcloud.com. Thanks!

[2019-09-26 11:01] mario commented on #632
Should be fixed, if not let me know!

[2019-09-26 11:01] #632 closed

[2019-09-26 11:01] mario commented on #631
Should be fixed in stable once its out.

[2019-09-26 11:01] #631 closed

[2019-09-26 11:03] mario commented on #637
Should be fixed in stable 7.0, but let me know if not!

[2019-09-26 11:04] #637 closed

[2019-09-26 11:30] mario opened #639 "Improve lobby detection"
Use response code rather than poking room info all the time

[2019-09-26 14:42] jookk opened #640 "Notification"
Notifications go to nowhere instead of message opening.
App 7.0.0 final
Nc 17rc2

[2019-09-26 14:48] mario commented on #640
More details pls

On Thu, 26 Sep 2019, 16:42 jookk, <notifications@github.com> wrote:

[2019-09-26 15:48] Valdnet opened #641 "Crashing app - push notifications"
When reading messages from push notifications, the application crashes.

Steps:

1. Receiving a push notification with a message.
2. Tap on the push notification to read the message.
3. **Crash app**.

App:
Android 6
Talk Android 7.0.0

[2019-09-26 17:53] jookk commented on #640
https://github.com/nextcloud/talk-android/issues/641

[2019-09-26 18:02] bobreidx opened #642 "Pixel 3a Android 10 crash on (latest) app launch"
Since installing the update, the app constantly crashes when launched on a Pixel 3a running Android 10. Coincidentally, the Play Store installed app cache is now also corrupt, and shows no apps installed on my phone. I have done everything short of reset the phone, and the app is now uninstalled until it gets updated again.

[2019-09-26 18:09] bobreidx commented on #642
Play Store issue resolved with resetting the Play Store app cache and restarting the app.

[2019-09-26 18:10] mario commented on #642
So the app now works as expected or still not?

On Thu, 26 Sep 2019, 20:09 bobreidx, <notifications@github.com> wrote:

[2019-09-26 18:12] bobreidx commented on #642
I haven't reinstalled the Talk app yet

[2019-09-26 18:46] bobreidx commented on #642
After a complete app reinstall, the app now launches and sets up fine, but always crashes when attempting to open a conversation thread. The contact name in the thread header quickly changes to "null" right before the crash.

[2019-09-26 18:47] mario commented on #642
What Nc version?

On Thu, 26 Sep 2019, 20:46 bobreidx, <notifications@github.com> wrote:

[2019-09-26 18:50] bobreidx commented on #642
16.0.4

sent from mobile

________________________________
From: Mario Đanić <notifications@github.com>
Sent: Thursday, September 26, 2019 2:47:19 PM
To: nextcloud/talk-android <talk-android@noreply.github.com>
Cc: bobreidx <bobreidx@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nextcloud/talk-android] Pixel 3a Android 10 crash on (latest) app launch (#642)

What Nc version?

On Thu

[2019-09-26 18:51] mario commented on #642
Mind sending test account to mario@nextcloud.com?

On Thu, 26 Sep 2019, 20:50 bobreidx, <notifications@github.com> wrote:

[2019-09-26 19:09] steinhuber commented on #642
Same on my Xiaomi Mi 9(MiMu Global 10).I geht this exception:
java.lang.NullPointerException: Attempt to invoke virtual method 'boolean com.nextcloud.talk.models.json.conversations.Conversation$ConversationType.equals(java.lang.Object)' on a null object reference
	at com.nextcloud.talk.controllers.ChatController.processMessages(ChatController.java:1126)
	at com.nextcloud.talk.controllers.ChatContr

[2019-09-26 19:28] gradinaruvasile opened #643 "App version 7.0.0 crashes frequently on Android 9"
The app version 7.0.0 crashes very frequently on Android 9 (Xiaomi MI A1 with Android One).
It crashes mainly when entering conversations (it usually works if the app is re-launched and the same conversation is entered again).
It also crashes when ending calls.
All in all a very very unstable release.
NC server is 16.0.5

[2019-09-26 19:34] bobreidx commented on #642
Unable to contact admin so far.

sent from mobile

________________________________
From: Mario Đanić <notifications@github.com>
Sent: Thursday, September 26, 2019 2:51:49 PM
To: nextcloud/talk-android <talk-android@noreply.github.com>
Cc: bobreidx <bobreidx@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [nextcloud/talk-android] Pixel 3a Android 10 crash on (latest) app launch (#642)

[2019-09-26 19:39] mario commented on #643
Sorry about that, working on fixes already.

[2019-09-26 19:40] mario commented on #642
All good, I'm working on the issues already!

[2019-09-27 07:46] jakobroehrl opened #644 "Add a Widget for homescreen"
Show new messages
Option to show also stared chats

[2019-09-27 09:59] Valdnet opened #645 "Description change "Manual" and adding description for "Lobby""
I suggest changing the description in "Webinar" - "Start time" from "Manual" to another which would inform about the lack of date and time setting, e.g .:
- Unknown
- Not set
- None

![obraz](https://user-images.githubusercontent.com/47037905/65760998-52724600-e11e-11e9-859a-e2fca92d699d.png)

The current description only informs about the possibility of setting the time and time manually.
Additio

[2019-09-27 10:00] mario commented on #645
@Ivansss @nickvergessen as we probably want to coordinate this across the platforms?

[2019-09-27 10:13] Valdnet opened #646 "No translation for "All" when choosing mention"
There is no Transifex translation of the word "All" that appears when choosing mention.

![obraz](https://user-images.githubusercontent.com/47037905/65762254-e80ed500-e120-11e9-97c3-81efb75233f7.png)

[2019-09-27 10:18] nickvergessen commented on #645
Well we just show the empty input with the placeholder "Start time" in the web

[2019-09-27 10:21] mario commented on #646
As far as I know, this won't be translated but dunno. @nickvergessen ?

[2019-09-27 10:25] nickvergessen commented on #646
yeah, it's `all` and autocomplete works with `all` and `<room name>`

[2019-09-27 10:25] #646 closed

[2019-09-27 11:01] #640 closed

[2019-09-27 11:01] #641 closed

[2019-09-27 11:01] #642 closed

[2019-09-27 11:01] #643 closed

[2019-09-27 11:23] mario opened #647 "Add reply-to"

[2019-09-27 14:52] bobreidx commented on #642
Unfortunately, app version 7.0.2 still crashes intermittently, and now has to re-download an entire message thread (previously the app would cache the thread) before trying to function. I have uninstalled, and filing a new issue.

[2019-09-27 14:58] bobreidx opened #648 "Pixel 3a Android 10 frequent crash on app v7.0.2 launch and attempted use"
After installing version 7.0.2, the Android app still crashes on initial launch, and then crashes intermittently when accessing a conversation. I was only able to post to a conversation once before another app crash. Also, the app now has to pull the entire message thread before input is allowed (similar to the web client). Before the app would cache the thread locally.

I re-installed the app to

[2019-09-27 15:03] mario commented on #642
I don't see a crash at the play console I am afraid :( did you submit it?

On Fri, 27 Sep 2019, 16:52 bobreidx, <notifications@github.com> wrote:

[2019-09-27 15:38] steinhuber commented on #642
I had the same problem. Solved it by updating nc to 17.0.0 RC and talk to 7.0.0.

[2019-09-27 18:50] Valdnet opened #649 "Notification settings"
Notification settings for a conversation with a user are not working properly.

- Setting "Important conversation" to enabled does not send "Do Not Disturb" notification.
- Setting "Mute calls" to enabled does not mute.

App:
Android 6
Talk Android 7.0.2

[2019-09-27 21:01] gerroon commented on #648
I have the same issue, the previous version worked fine. Can you please tell me how I can get the logs?

I am using it on LIneageOS 14.1

[2019-09-28 02:15] shafer commented on #648
I'm experiencing the same problem on my Nokia 7.1 and Nextcloud Talk for Android v7.0.2 talking to a server version of 16.0.5 and previously it was 16.0.4, both exhibit the same problem.

For one crash I did submit feedback instead of closing the app.

Happy to collect other logs with pointers.

[2019-09-28 06:37] gradinaruvasile commented on #643
It is still crashing on v 7.0.2 if i tap a conversation.

[2019-09-28 06:38] mario commented on #643
Can you send me a test account? Mario@nextcloud.com

On Sat, 28 Sep 2019, 08:37 Laszlo Kertesz, <notifications@github.com> wrote:

[2019-09-28 06:55] gradinaruvasile commented on #643
logcat output on crash:

[code]

[2019-09-28 06:55] gradinaruvasile commented on #643
This is an internal server i use via vpn.

[2019-09-28 07:42] mario commented on #643
Ah okx this error I know :)

On Sat, 28 Sep 2019, 08:55 Laszlo Kertesz, <notifications@github.com> wrote:

[2019-09-28 10:50] Winschu commented on #648
I've had some similar issues with Android 10 on a Pixel 2 XL. I will post a log here at a later point of time.

[2019-09-28 13:05] markus2330 opened #650 "no sounds/notification if installed from f-droid"
I use talk-android from f-droid and generally I am very happy: video calls work with good quality.

What is, however, not so satisfactory is that I do not get any notification if someone writes me a message or calls me. I know that there are some limitations because of the missing "google push notifications" but I would like to have at least a sound (or whatever the settings say, see #649) wheneve

[2019-09-28 13:08] markus2330 commented on #650
To clarify: unlike #257 here it is only about playing sounds whenever the message arrives (which might be with an arbitrary delay).

[2019-09-28 13:11] markus2330 opened #651 "post image in chat"
From the web-client one can easily post an image (available within Nextcloud as file) into the chat. Can you also support this in talk-android?

Different to #306 my use-case is that the picture is already uploaded to Nextcloud.

[2019-09-28 13:24] mario commented on #651
It's there already. Which version of the app are you using?

On Sat, 28 Sep 2019, 15:11 markus2330, <notifications@github.com> wrote:

[2019-09-28 14:12] markus2330 commented on #651
The latest of f-droid: v6.0.0beta3 (5 month old)

[2019-09-28 14:18] mario commented on #651
Support for this was added in stable v6.0. Anyway, F-Droid should soon be building 7.0 so this issue will be resolved :)

[2019-09-28 14:18] #651 closed

[2019-09-28 14:18] mario commented on #650
It's pretty much the same request - no "push", no notification of any kind, including the sound :)

Sorry about that!

[2019-09-28 14:18] #650 closed

[2019-09-28 14:51] markus2330 commented on #651
Thank you!

[2019-09-28 14:57] ScorpSoul commented on #648
Galaxy S8 having the same issue. Keeps crashing even after reinstall and data cleanup

[2019-09-28 15:13] markus2330 commented on #650
Ohh, what a pity.

Is it maybe possible to automatically accept audio/video chats if I already have an open chat with that person? That would also more or less solve my problem.

[2019-09-28 15:16] mario commented on #650
Oh. You mean when you have a chat open? I can definitely get you sound then
on each new message but I am not sure how useful that is since you already
ahve it open and actively using it?

On Sat, 28 Sep 2019, 17:13 markus2330, <notifications@github.com> wrote:

[2019-09-28 15:52] gerroon commented on #648
I went back to 6 beta 3 (which I had a back up of) and the crashes stopped.

[2019-09-28 15:54] mario commented on #648
Fixed release on Monday

On Sat, 28 Sep 2019, 17:52 gerroon, <notifications@github.com> wrote:

[2019-09-28 16:03] markus2330 commented on #650
Yes, when I have the chat open. I imagine it to be useful: e.g. if I charge the phone, the chat could be open permanently and the other person might call after an hour or so. Then I do not need to poll if the person calls, I will simply hear someone speaking. Even better would be if it also works with the screen lock on.

But in any case it is more of a temporary solution. A proper push solution i

[2019-09-28 19:45] sL5gqj6Q commented on #257
I really hope push notifications will be implemented in the F-Droid version some time soon.

[2019-09-28 21:12] nickvergessen commented on #257
Yeah, well they know that something is pushed to that device. They also know which developer certificate is allowed to push to that push token.

[2019-09-28 22:47] Niemand112233 commented on #561
Hi,
I have the same problem. I did everything written here: https://docs.nextcloud.com/server/15/admin_manual/configuration_database/mysql_4byte_support.html
with my MariaDB 10.1 and everything is enabled. But still get the ???? when sending emojis. Any hints?

[2019-09-29 00:29] jordanbancino commented on #561
@Niemand112233 That's odd, I'm not sure. Did you try restarting your server? Both the SQL server and the web server?

[2019-09-29 14:38] DudleyDursley opened #652 "importing account from NC app fails"
I tried to import my account from the NC files app but it failed. After choosing 'import account' and selecting my account, there was a spinning blue circle on a dark gray background, then a login button for maybe one second and finally the normal login page asking for a username and a password.

Nextcloud 17 (Docker) + Talk 7.0.0
Nextcloud (Playstore) 3.8.0
Talk (Playstore) 7.0.2
Android 8.1.0

T

[2019-09-29 14:50] Niemand112233 commented on #561
I restartet the whole server. Nothing. Plus the new update of the android app crashes a lot

[2019-09-29 15:23] jordanbancino commented on #561
@Niemand112233 Hmm, that's very interesting. I will admit, the last time I did this was quite a while ago. And yes, I've noticed that v7.0.2 does crash a lot. I use v7.0.0beta5 because that is the latest one that is actually semi-stable.

It is indeed possible to send emojis on the web GUI! On windows you can pull up the emoji picker by pressing Window key + . (Period) I think. And of course phone

[2019-09-29 15:41] mario commented on #561
Did you also alter the existing tables or just set the defaults? Because AFAIK the only reason why this didn't work in the past is that people didn't configure their DB correctly.

[2019-09-29 17:40] shgysk8zer0 commented on #648
Another user experiencing this issue, and I see that a fix is coming on Monday.

Just curious about 2 things:
1. A reply to someone who reported this in a review on Play Store mentioned setting up TURN server. Is that related?
2. Any issues experienced on iOS?

[2019-09-29 17:41] mario commented on #648
Turn has nothing to do with this :)

On Sun, 29 Sep 2019, 19:40 Chris Zuber, <notifications@github.com> wrote:

[2019-09-30 08:56] mario commented on #652
Actually this is normal behaviour. Since the password cannot be imported from the NC Files app (due to reasons of working push) you're expected to re-enter your password.

Sorry about the inconvenience.

[2019-09-30 08:56] #652 closed

[2019-09-30 09:18] Niemand112233 commented on #561
I thin I did. How can I check this?

[2019-09-30 10:23] alirasol opened #653 "Switching between Wifi and Mobile network"
The call stops when switching from Wifi to 4G network and vice versa. One caller has to end the call and join again to get it working again.

[2019-09-30 10:28] alirasol opened #654 "Call Notification keeps playing after answering the call"
After changing the notifications sound for the incoming call, and answering, the app keeps playing the old sound for about one or two seconds after taking the call.

[2019-09-30 10:31] mario commented on #654
Hi,

thanks for the report. The "default" incoming call sound is actually also used as a ringing sound which is why you experience this. Until I find a better properly licenced "ringing"/"calling" sound this is how it is :(

Sorry about the inconvenience!

Cheers,
Mario

[2019-09-30 10:31] #654 closed

[2019-09-30 11:16] yostral commented on #648
Nextcloud Talk updated today, but still crashing randomly. Less often, but still.

How to get more logs?

[2019-09-30 12:47] Valdnet commented on #633
In version 7.0.4 my messages also appear as unread.

![obraz](https://user-images.githubusercontent.com/47037905/65879932-34604c00-e391-11e9-8df2-87efc5ce79fd.png)

[2019-09-30 13:11] Valdnet commented on #649
In my opinion, this description of the function is hardly understood by the user.

[2019-09-30 13:13] mario commented on #649
@nickvergessen and @nextcloud/designers for thoughts.

[2019-09-30 13:13] mario commented on #633
Can you try 7.0.5?

[2019-09-30 13:14] mario commented on #648
Sorry about all the issues folks. Let me know when you test v7.0.5 that should be out later today.

[2019-09-30 13:14] alirasol commented on #654
I can live with it. I shouldn't really complain because you are doing a great work

[2019-09-30 13:16] mario commented on #654
@alirasol it's not a complaint - feedback like yours help us shape the software better to suit people like you! Maybe you'd like to help me out by finding a nice ringing/calling sound under a good enough licence? :)

[2019-09-30 13:23] mario commented on #561
@skjnldsv I hear you know something more about this? :)

[2019-09-30 13:26] yostral commented on #648
No worries, keep doing your great work! I will let you know how the 7.0.5 will behave.

[2019-09-30 13:28] skjnldsv commented on #561
@mario so I? Who said that?

[2019-09-30 13:30] mario commented on #648
You could also speed it up by installing it from a link:

https://github.com/nextcloud/talk-android/releases/download/v7.0.5/nextcloud-talk.apk

Same signature as the GPlay one.

[2019-09-30 13:41] skjnldsv commented on #649
It should be discussed with iOS and server team. So we have the same settings across all the apps/web :)

[2019-09-30 13:41] nickvergessen commented on #649
First thought: remove the important conversation setting form the UI until we handle that topic across all platforms

After looking at the screen, I would expect the following situation for a group conversation:

## Default
Normal text: No notification
Mention: Notification
Call: Notification

### Mute calls
Normal text: No notification
Mention: Notification
Call: No notification

## DND
Normal te

[2019-09-30 13:43] nickvergessen commented on #649
Basically Important makes a conversation to behave like your phone is not in DND

[2019-09-30 13:43] yostral commented on #648
It looks ok for the moment, no crash! Thank you!

And when you load a thread, it doesn't scroll from the top anymore!  That is good :).

[2019-09-30 15:19] Valdnet commented on #633
After receiving a new message from the user and sending his message, information about the new message from the user appears, which is really my message.

Steps:

1. Receive a message from the user.
2. Reply to the message.
3. Information about **unread messages** appears.

![obraz](https://user-images.githubusercontent.com/47037905/65891996-d12ce480-e3a5-11e9-95bf-67381e097e67.png)

App:
Android

[2019-09-30 20:18] AaronADev commented on #648
@mario Good job and thanks for the work on this. Issue appears to be cleared up from my end as well.

[2019-09-30 22:38] mario commented on #648
Thanks for the feedback and sorry for the issues!

[2019-09-30 22:38] #648 closed

[2019-10-01 07:39] mario commented on #649
@nickvergessen while I'd usually agree on the account of feature parity the issue is that neither iOS or Web *can* have this particular feature as they either don't have the technical means (iOS) or don't have DnD (iOS).

As for "Mute calls" - why would it impact texts and mentions?

That being said, I can change mute calls to completely not show notifications instead of silencing them.

[2019-10-01 08:01] Valdnet commented on #649
In my opinion, the "Important conversation" function is unnecessary and confuses the user.
As for DnD, I agree with @mario. Not all systems have this function. Most users probably don't really know what's going on.

As for muting, I would separate the options "Mute calls" and "Mute conversations". The user can choose what to mute. If the user wants to completely mute the phone, can the computer do

[2019-10-01 12:55] Niemand112233 commented on #561
`MariaDB [nextcloud]> show variables like 'innodb_file_format';
+--------------------+-----------+
| Variable_name      | Value     |
+--------------------+-----------+
| innodb_file_format | Barracuda |
+--------------------+-----------+
1 row in set (0.01 sec)`

`MariaDB [nextcloud]> show variables like 'innodb_file_per_table';
+-----------------------+-------+
| Variable_name         | Value |

[2019-10-01 13:12] mario commented on #561
SELECT NAME, SPACE, FILE_FORMAT FROM INFORMATION_SCHEMA.INNODB_SYS_TABLES WHERE NAME like "nextcloud%";

Output of this pls? :)

[2019-10-01 13:39] Niemand112233 commented on #561
MariaDB [(none)]> SELECT NAME, SPACE, FILE_FORMAT FROM INFORMATION_SCHEMA.INNODB_SYS_TABLES WHERE NAME like "nextcloud%";
+-----------------------------------------------------+-------+-------------+
| NAME                                                | SPACE | FILE_FORMAT |
+-----------------------------------------------------+-------+-------------+
| nextcloud/oc_accounts

[2019-10-01 14:30] mario commented on #561
Did you run this:

ALTER DATABASE nextcloud CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;
sudo -u www-data php occ config:system:set mysql.utf8mb4 --type boolean --value="true"
sudo -u www-data php occ maintenance:repair

[2019-10-01 14:44] Niemand112233 commented on #561
yes

[2019-10-01 14:45] mario commented on #561
Very strange :( Can you share a test account to mario@nextcloud.com pls?

On Tue, Oct 1, 2019 at 4:44 PM Niemand112233 <notifications@github.com>
wrote:

[2019-10-01 18:53] jookk commented on #653
I think, handover? is not possible.
Your network is changed (ip)

[2019-10-01 19:03] bobreidx commented on #648
Version 7.0.5 works really well. Thanks, Mario!!!

[2019-10-01 19:12] alirasol commented on #653
I am no developer or expert, but all other services that I use are working when switching between networks. It says "reconnecting" and voilà.

[2019-10-03 10:52] mario commented on #645
"Manual" changed to "Not set"

[2019-10-03 10:55] mario commented on #630
Do you see this issue in the newest version, and if so, where exactly?

[2019-10-03 12:16] Valdnet commented on #645
@mario And what about the function description "Lobby"?

[2019-10-03 12:33] mario commented on #645
I don't know what to put there :(

On Thu, Oct 3, 2019 at 2:16 PM Valdnet <notifications@github.com> wrote:

[2019-10-03 12:50] Valdnet commented on #645
Maybe:
- The lobby for webinar will be enabled

[2019-10-03 17:42] Niemand112233 commented on #561
I did everything you wrote, but still getting "????"

[2019-10-04 13:01] jancborchardt commented on #649
I’d also agree with @nickvergessen here:

If we can’t have it in e.g. iOS cause the tech isn’t there yet, let’s focus on things where we can have feature parity.

(iOS also has this concept of "VIP" at least in Mail, but not sure if they use it anywhere else. If anything, it could be expected that favorited conversations are important, but yet another setting is too complex to understand.)

[2019-10-05 08:41] alirasol commented on #654
Of course

[2019-10-05 14:37] szaimen commented on #308
This feature could probably be implemented before  https://github.com/nextcloud/talk-android/issues/435 and could work like that:
1. Open a website in the browser
2. Click on "share"
3. Select nectcloud-talk from the sharing list
4a. Press short to select one chat that you want to share the link with
4b. Press long to select get into batch-mode to select one or more chats that you want to share th