[2018-06-07 07:01] mario commented on #186
:)

[2018-06-07 07:02] mario commented on #186
I need to find a way to support full screen mode. But it's really hard with no phone :(

[2018-06-07 07:40] tigernero79 opened #190 "The first letter is not kept in chat"
With Nextcloud Talk, when I start a conversation in public chat via link sharing, when I start writing on smartphone in the chat, the first letter is not kept, if I write "test" exits written "est" I have to click t twice. this error does it only from smartphone browsers on pc works well

[2018-06-07 07:46] mario commented on #190
I am not sure I understand? You are talking about a mobile browser, and not a Nextcloud Talk Android app?

[2018-06-07 09:20] tigernero79 opened #191 "Is it possible not to have two participants with the same nick?"
Being me the nextcloud manager with nick "tiger" I noticed that in the public chat also another participant can assume my nick by changing the name, is it possible to avoid that more parties are using the same nick? not to worry about mess in the chat?

[2018-06-07 09:21] mario commented on #191
This is a question for https://github.com/nextcloud/spreed I'm afraid :)

[2018-06-07 09:21] #191 closed

[2018-06-07 09:22] tigernero79 commented on #190
Yes, I'm talking about a mobile browser, if I click on the generated link of the public chat, I'll log in, but when I start writing a word, the first character is not retained if I click it twice. example "test" becomes "east" without "t" if I click the initial twice then the test t remains

[2018-06-08 12:50] jurgenhaas opened #192 "Missing notifications completely"
Should there be any notification on the mobile app if a new conversation, message, mention or call comes in? I'm asking because I don't get any and I'm using 2 Android devices, one from Samsung and the other from Google.

I'm running Nextcloud 13.0.3 with my own STUN and TURN (coturn) server and chats are generally working, just no notifications.

[2018-06-08 15:01] mario commented on #192
You get a notification when a new conversation is opened, you're mentioned or you get a call.

If not, something is wrong.

In general:
a) Do you have Google Play Services?
b) Do you have Notifications app installed on the server?
c) What version of Android?

Cheers,
Mario

[2018-06-08 15:28] podkilla commented on #192
Same problem.

a) of course not
b) yes
c) Copperhead OS Android 8.1.0 June Security Patch

[2018-06-08 15:32] mario commented on #192
@podkilla your "of course not" means that you will not have notifications, sorry.

[2018-06-08 15:33] mario commented on #192
@podkilla btw. having MicroG instead would be a good alternative)

[2018-06-08 15:39] jurgenhaas commented on #192
a) yes
b) yes
c) 8.1.0 with June sec update on a pixel 2 and on a Samsung Tab S3

[2018-06-08 15:41] mario commented on #192
@jurgenhaas strange. fancy sending a test account to mario AT nextcloud.com and I can test on Monday?

[2018-06-08 15:49] podkilla commented on #192
@mario, np, thanks for the clarification.

the notifications of other apps work just fine without any google services. so no need for compromising security and  being wasteful with data by installing not needed software.

[2018-06-08 16:01] mario commented on #192
@podkilla what other apps?

[2018-06-08 16:03] jurgenhaas commented on #192
@mario sure, let's catch up on Monday then

[2018-06-08 16:06] mario commented on #192
@jurgenhaas things to try in the mean time:

a) settings>battery>battery optimization -> Ignore
b) Find the app somewhere in settings and enable all Notification channels the app created

[2018-06-08 16:13] podkilla commented on #192
@mario conversations & mastalab for example

[2018-06-08 16:17] mario commented on #192
@podkilla Conversation says this: "You need to be running the Play Store version of Conversations and your server needs to support push notifications.¹ "

[2018-06-08 16:30] mario commented on #192
That you need Google Play Services to get push even with Conversations :) Everything else is less reliable.

[2018-06-08 16:47] podkilla commented on #192
@mario copperhead os does not have google play services and still i receive notifications.
but i understand that most developers take the "easy way" and just use services that are already there instead of thinking of a way not to rely and share unnecessary data with a third party.

[2018-06-08 17:17] mario commented on #192
I had this discussion countless times. It's not the "easy way", it's the "only way" at the moment. There are alternatives like MicroG (but you still use Google in a way then) OR controlling your platform from the bottom up.

To summarize: there is no way to wake up 99,999% devices on the market out there without Google High priority messages.

[2018-06-08 18:15] lil5 commented on #56
@mario text|instant messaging is?

[2018-06-08 18:19] mario commented on #56
@lil5 it does not.

[2018-06-08 19:31] mario commented on #56
Sure, we'll work on it.

[2018-06-09 08:01] muppeth commented on #56
Possibility of adding contacts manually, would be awesome considering those servers with switched off contact autocompletion.

[2018-06-11 06:44] jurgenhaas commented on #192
@mario I have just created an account on a testplatform for you, an email should be sent to you from cloud.tc-gottmadingen.de

Over the weekend I have adjusted the settings on my Android devices (giving them all permissions and disabling power management for Android Talk), but that made no difference.

[2018-06-11 13:40] marvicz commented on #192
With Google services installed, I get a notification when someone invites me for the chat. But no notification at new message income when being out of the app.

[2018-06-11 14:01] mario commented on #192
@jurgenhaas thanks, will take a look.

@marvicz expected for now. You get call notifications and mention notifications (say "@marvics" inside chat). We'll refine that eventually.

[2018-06-11 15:56] jurgenhaas commented on #192
@mario what's interesting though, I had notifications for Nextcloud (not Nextcloud Talk) disabled on my Pixel 2 and since I enabled them there, I do get notifications on the Pixel 2 for mentions and call invitations.

However, on the Samsung devices that still doesn't work. The settings are in different places but I pretty sure I've checked everything and still can't get it to work.

[2018-06-11 17:00] mario commented on #192
@jurgenhaas super strange, they are different and Nextcloud app silently ignores Nextcloud Talk notifications. Hm.

I do have Samsung devices so I'll definitely try.

[2018-06-11 19:23] #185 closed

[2018-06-11 21:17] tobiasKaminsky commented on #186
This is working for me, if I enter at least 5 lines in landscape mode.

Adding "minHeight:100dp" to the input field leads to this
(with fullscreen):
![image](https://user-images.githubusercontent.com/5836855/41256621-72dda286-6dca-11e8-9148-9d2db82d9d97.png)

(without fullscreen):
![image](https://user-images.githubusercontent.com/5836855/41256683-a2406270-6dca-11e8-8fb9-25e145db881b.png)

--> So

[2018-06-11 21:25] mario commented on #186
Thanks @tobiasKaminsky. Did you try to maybe set messagesListView height to wrap_content? Maybe for some strange reasons it pushes edit text down since it's         android:layout_alignParentBottom="true"?

[2018-06-12 04:45] FranciscoPombal opened #193 "Handshake failed"
When trying to connect to my server, I get this error:
`Handshake failed`

The main Nextcloud app connects and works just fine. Maybe support for the newer TLS cipher suites is lacking?

Here are the ones that my server is using:
ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-CHACHA20-POLY1305

[2018-06-12 05:19] mario commented on #193
Hi,

what phone, what Android version, what protocol (SSL and what version or TLS and what version)?

Also F-Droid or Google Play?

Thanks!

[2018-06-12 05:56] tobiasKaminsky commented on #186
Does not help.

I even tried to just use a simple LinearLayout, with fixed height for input field and messagesListView taking the rest of the screen, but even then the input field vanishes.
When having LinearLayout, immediately after entering a conversation I can see the InputField, but as soon as the chat content is loaded it disappears.

After playing a long time with it, only setting height to

[2018-06-12 14:51] FranciscoPombal commented on #193
@mario
Samsung Galaxy S6 (SM-G920F)
Android 7.0 (with latest updates for my phone)
TLS 1.2
Latest app version from F-Droid

[2018-06-12 18:30] #82 closed

[2018-06-12 18:39] mario commented on #193
GPlay version automatically updates supported protocols for your phone, F-Droid one does not unfortunately which is an issue.

Keep in mind I disable all SSL protocols by default.

As for ciphers, I try to add these to supported ones (if supported by phone) along with others:

                                "TLS_RSA_WITH_AES_256_GCM_SHA384",
                                "TLS_RSA_WITH_AES_128_G

[2018-06-12 18:42] mario commented on #192
@jurgenhaas you have a message in the chat!

[2018-06-12 19:00] mario commented on #192
Closing at least temporarily since it seems to be a glitch of a particular phone after testing with @jurgenhaas. But we'll re-open if need arises.

[2018-06-12 19:00] #192 closed

[2018-06-12 19:37] mario commented on #186
@tobiasKaminsky but even with 100dp, the field doesn't seem completely visible? Did you try hiding action bar maybe?

[2018-06-13 01:51] FranciscoPombal commented on #193
@mario
I just confirmed that the GPlay version works perfectly with my setup
Can the F-Droid version be fixed? What does it take to fix it?

[2018-06-13 05:06] mario commented on #193
@FranciscoPombal sorry but no, since this is related to security provider/operating system updates and while this can be manually updated if you have Google Play Services (which I do on a GPlay variant) it's impossible to do on F-Droid :(

[2018-06-13 05:06] #193 closed

[2018-06-13 06:44] tobiasKaminsky commented on #186
100dp was just a value to show that it is then showing the input field.

As far as I know, we cannot know if an app is in fullscreen, or not.
So hiding the action bar then would be permanent.
I can try this, but showing no action bar is not wanted, I guess?

[2018-06-13 07:04] tobiasKaminsky commented on #186
Just for recording what I tried without success:
- https://stackoverflow.com/questions/43694526/samsung-galaxy-s8-full-screen-mode
- hiding action bar

[2018-06-13 12:29] mario commented on #186
Because we cannot fix this atm, unassigned milestone :(

[2018-06-13 19:27] moonwolf-github commented on #186
I was struggling with layout for some time with no success but it really looks like a bug - i tried this:
[code]

and this is result:

![screenshot_20180613-211621_nextcloud talk](https://user-images.githubusercontent.com/10871358/41373183-d98c0b7c-6f4f-11e8-8105-c8fcc5c7f416.jpg)

Notice message hides behind `separator` and `nc_message_input` is still missing. Looks like something hard to pinpoin

[2018-06-13 22:57] ClCfe opened #195 "attempt to invoke virtual method java.lang.String com.nextcloud.talk.models.database.UserEntity.getClientCertificate() on a null object reference"
Hello

i just updated to 2.0.0 from play store
I ve got this error as soon as I enter the server address that has ssl client cert enabled

attempt to invoke virtual method java.lang.String com.nextcloud.talk.models.database.UserEntity.getClientCertificate() on a null object reference

I have android 8.1.0

I have no stack trace (nothing in logcat)

Maybe this is occuring here:

https://github.com/

[2018-06-14 07:17] ClCfe commented on #195
Yes cert  is imported in android and i can connect to my nextcloud with chrome
No i haven't configured any user in the app

[2018-06-14 19:54] mario commented on #195
Thanks for the clarification.

[2018-06-14 20:40] enoch85 opened #197 "Share link directly when creating a public call"
As of now it's only possible to create public links to anonyms users through the Web GUI. That should also be possible with the Android app.

cc @mario

[2018-06-14 20:55] mario commented on #197
Already possible? Click + top right, new conversation, click "Public call" -> "Done". Then select share from that conversation options list.

[2018-06-14 20:56] mario commented on #197
Clearly, if you already have a conversation, skip the creation part xD

[2018-06-14 22:16] mjanssens commented on #192
Just my 2 cents. I had similar issue, no notifications in Nextcloud talk. Nextcloud app notifications were working.
After clear cache and clear data in android app settings for Nextcloud Talk and importing account settings again from Nextcloud app (first run) notifications are working again.

[2018-06-15 07:46] enoch85 commented on #197
Hmm, then this is a bug because I can't choose "Share" and a new conversation isn't created by just pressing done. I can only choose existing users on my Nextcloud, not just create a link.

[2018-06-15 07:49] enoch85 commented on #197
Sorry, it's working, but the conversation list isn't updated when hitting the back button on the phone. I need to choose any of the three items on the bottom and then return to "Conversations" to get an updated list.

I suggest that when you hit done you should automatically be taken to the "conversation" list (updated) or get an option to share the link directly by email or similar.

The flow isn

[2018-06-15 07:50] mario commented on #197
Yes sir - patience :D

On Fri, 15 Jun 2018 at 09:49, Daniel Hansson <notifications@github.com>
wrote:

[2018-06-16 13:57] mario commented on #197
@testbird like I said before, this is already supported.

[2018-06-18 13:30] Bellusterra commented on #58
Or for larger groups it could even be dynamic where the system learns who you frequently call and when you open your app it increases the poll rate of those individuals apps on their devices.

[2018-06-18 15:00] jancborchardt opened #200 "Tapping notification should not join call with video by default"
Currently, tapping the notification for a call joins that call by default, with the video on.

In the case of a group call this is very unexpected, especially since we changed the app to show the chat instead of directly joining the call. It would be good if tapping the notification would reflect that, first opening the chat. (Which could show a more prominent »Join call« button below the chat whe

[2018-06-18 15:21] jancborchardt commented on #163
@mario what’s your take on this? It is quite disruptive to any call on mobile unfortunately. :\

[2018-06-18 15:32] mario commented on #163
We discussed this I think @jancborchardt when we talked about the product vision. While this is something we all want, this cannot come soon as there are more pressing issues atm.

[2018-06-18 15:35] mario commented on #200
I'm currently refactoring and rewriting/rewiring the "incoming call" experience where you'll be able to select either voice or video response. Since it's an actual CALL (and not a chat message) people do expect to be able to join a call.

Let's see how you feel about this once this is ready for testing.

[2018-06-18 15:39] mario commented on #200
Edit: Yes, group calls are a bit special - but when I get a push notification, I don't know what type of a call it is, so that makes it a tricky. I'll explore how others do it and come back to you.

[2018-06-19 06:57] AndyScherzinger opened #201 "Permission to nextcloud/talk-android.git denied to nextcloud-android-bot"
Probably something @tobiasKaminsky or @mario can fix :)

** remote: Permission to nextcloud/talk-android.git denied to nextcloud-android-bot.
fatal: unable to access 'https://nextcloud-android-bot:692752d9438fbdd44d134b916eb95be72435d50c@github.com/nextcloud/talk-android/': The requested URL returned error: 403 **

_droneCI log_
[code]

[2018-06-19 07:43] AndyScherzinger commented on #201
Unfortunately, no: https://drone.nextcloud.com/nextcloud/talk-android/192/12

[2018-06-19 09:16] tobiasKaminsky commented on #201
Now it works?

[2018-06-19 09:16] tobiasKaminsky commented on #201
https://drone.nextcloud.com/nextcloud/talk-android/193/12

[2018-06-19 09:53] AndyScherzinger commented on #201
Yes :+1:  Thanks!

[2018-06-19 09:53] #201 closed

[2018-06-19 12:15] #104 closed

[2018-06-20 16:38] testbird commented on #58
Is someone interested to try exploring a proof-of-concept for push signaling in F-droid?

What kind of intent would a push notification have to emit for incoming nc-talk calls?

The idea would be to patch deltachat-android (IMAP-push based) to emit a configurable intent (e.g. to nc-talk) on messages coming from a verified email contact. https://github.com/deltachat/deltachat-core/issues/193#issuec

[2018-06-20 16:58] jancborchardt commented on #163
@mario ok, sure :) I added the issue to a new proposed 2.2 milestone. :)

[2018-06-20 17:09] mario commented on #163
I think it's further down the road @jancborchardt, but let's see :)

[2018-06-20 17:42] #64 closed

[2018-06-20 17:42] #80 closed

[2018-06-20 17:42] #89 closed

[2018-06-20 17:42] #182 closed

[2018-06-20 17:49] jookk commented on #80
Wau! Looking forward for new beta :)

Dňa 20. júna 2018 7:42:57 PM používateľ Mario Đanić
<notifications@github.com> napísal:

[2018-06-20 17:52] testbird commented on #58
(i.e. for allowing the nextcloud server to wake up the client device by sending an email to the user)

[2018-06-20 18:04] #162 closed

[2018-06-20 18:09] mario commented on #143
Basic TURN docs is available here: https://github.com/nextcloud/talk-android/blob/master/docs/TURN.md

[2018-06-20 18:09] #143 closed

[2018-06-20 18:10] mario commented on #151
@AndyScherzinger thoughts again on them matter, so we can finalize this?

[2018-06-20 18:13] mario commented on #122
In 2.1 if you use a voice-only call the buttons don't fade out. Is that good enough for you @steffanson? :)

[2018-06-20 18:13] mario commented on #85
@nickvergessen do we even know if user reject a call? Afaik no?

Is this planned?

[2018-06-20 20:35] mario commented on #186
@moonwolf-github could you compile current master and tell me if it works?

[2018-06-21 07:33] jancborchardt commented on #162
Yaaayyy! @mario this will be a great UX improvement. :)

[2018-06-21 10:04] tobiasKaminsky commented on #186
@mario I tried it with todays master, but it is still the same…

[2018-06-21 10:17] mario commented on #151
@Andy PR.

[2018-06-21 10:59] mario opened #202 "Handle proximity sensor better"
cc @skjnldsv

[2018-06-21 11:02] AndyScherzinger commented on #151
@mario #203

[2018-06-21 11:02] #151 closed

[2018-06-21 11:46] skjnldsv commented on #202
[code]

[2018-06-21 12:48] BloodyIron commented on #64
Why was this closed suddenly?

[2018-06-21 13:10] mario commented on #64
@BloodyIron because I'm a very mean person and I will not do it :P

Joking aside, it's been implemented and will be available in 2.1. :)

[2018-06-21 13:11] nickvergessen commented on #85
Well there is no reject in the web ui, you simply don't join.

[2018-06-21 13:15] jancborchardt commented on #151
@AndyScherzinger is it not possible to have the actual call name in the header? That’s important for context, instead of a generic "Configure room".

[2018-06-21 13:17] mario commented on #85
Well sure, but can we get the endpoint to do it? That way I can cancel the ongoing call if the other party rejects the call.

[2018-06-21 13:18] mario commented on #151
It is of course possible @jancborchardt, the question is what do we want.

[2018-06-21 13:41] mario commented on #151
This will be done now, but I'd once again stress that by removing the header that used to be so far, we're removing a bit of user friendliness.

[2018-06-21 13:46] jancborchardt commented on #151
From the very beginning I now asked for a relevant header. ;) Relevant for the conversation actions means to actually have the conversation name itself in the header. (Also, we call it »conversation« everywhere, not »room«.)

So the question of what we want has been answered already. ;) The actual room name in the menu header of the conversation options menu.

[2018-06-21 13:47] jancborchardt commented on #151
@mario maybe there’s some confusion because the issue title is still "Drop header" – ignore the title and simply look at my last comment. ;)

[2018-06-21 13:49] mario commented on #151
Of course, "Room" isn't mentioned anywhere.

[2018-06-21 13:49] AndyScherzinger commented on #151
There you go: https://github.com/nextcloud/talk-android/pull/204

Fixed ;)

[2018-06-22 03:07] BloodyIron commented on #64
@mario lol! Thanks! :D

[2018-06-22 08:22] #136 closed

[2018-06-22 08:51] deusama commented on #192
I do get notifications when I am invited into a video call, but still nothing if a new chat message comes in. Same for the notifications app in the browser. Is this a general limitation right now that comes from the talk app, or can I somehow configure the notification app to get this working?

Thanks,
Amadeus

[2018-06-22 10:06] mario commented on #192
You get notifications if you're mentioned (e.g. if someone writes @deusama.) We'll work on general notifications in the future.

[2018-06-22 10:47] egeu5 opened #205 "Feature-Request: disable or mute APP/disable calls"
We are planning to use NC-Talk-App to get in contact with our students (about 1000+). It would be nice if any user could disable the call/text-feature simple in the app (or "mute" the whole app so that all calls and messages are rejected or not displayed).

On a computer I can just close the windows, on the phone you have to log out...

Thank you!

[2018-06-22 10:55] egeu5 opened #206 "Feature-Request: Start new conversation with a group"
It would be nice once you start a new conversation if you could pick a group. In our NC all users are perfectly sorted into groups by using the circles app.

[2018-06-22 14:08] deusama commented on #192
Ok thanks for clarification :-)

I would have thought that it makes sense to have notifications in group chats (> 2 people) only when I am mentioned, but I would expect to have instant notifications when talking to one person directly. Just my two cents.

[2018-06-22 14:58] mario commented on #192
@deusama I know, but step-by-step - this needs changes in the Talk server app.

[2018-06-22 18:08] mario commented on #192
@jurgenhaas this should help: https://github.com/nextcloud/notifications/pull/134

[2018-06-22 18:12] mario commented on #206
I'm not very sure this will happen soon. We could potentially look into speeding it up if you have a Talk subscription and try to push it forward via a professional services contract.

[2018-06-22 18:12] mario commented on #205
I'm not very sure this will happen soon. We could potentially look into speeding it up if you have a Talk subscription and try to push it forward via a professional services contract.

[2018-06-23 08:00] Scoub29 commented on #64
Thanks a lot !! ;)

[2018-06-24 06:05] gerroon opened #207 "FR: Dark theme"
I am hoping that we will have a dark theme for this app, this is useful especially for those of us with amoled screens, also darker themes are easier on eyes.

thanks

[2018-06-24 19:51] mario opened #208 "Creating public call with no participants should open the conversation"

[2018-06-25 04:00] Grunthos opened #209 "No visual or audio clues for incoming call"
I may misunderstand the way things should work, but I call one of my contacts who has nextcloud talk app and they get no indication of any kind that a call is requested. I have set us both up with ring & message sounds. Also, text messages arrive but no sound plays.

If we both call each other then the call is connected and we can speak.

A visual and audio signal would be great.

[2018-06-25 07:02] mario commented on #209
What version od the app, what version od Talk app on the server, do you
have Notifications app installer on the server, Google Play on the phone?

On Mon, 25 Jun 2018 at 06:00, Grunthos <notifications@github.com> wrote:

[2018-06-25 07:07] Grunthos commented on #209
Sorry, I should have posted these!

App: 2.1.0beta 2 (and was at most recent non-beta before that)
NC: 13.0.4
Notifications App: 2.1.2 (enabled)

[2018-06-25 07:08] mario commented on #209
Google play services?

Also what phone & android version?

On Mon, 25 Jun 2018 at 09:07, Grunthos <notifications@github.com> wrote:

[2018-06-25 07:19] Grunthos commented on #209
Play services 12.6.85 on both.

Phone 1: Android 5.0  (Zenfone 5)
Phone 2: Android: 7.0 (Galaxy S7)

[2018-06-25 07:32] Grunthos commented on #209
Yes, on Asus, can't find on the Samsung. Still no joy.

[2018-06-25 07:33] mario commented on #209
Send me two test accounts on mario@nextcloud.com and I can test later today.

On Mon, 25 Jun 2018 at 09:32, Grunthos <notifications@github.com> wrote:

[2018-06-25 07:43] Grunthos commented on #209
OK...is there a recommended means of sending accounts to external users?

[2018-06-25 07:47] Grunthos commented on #209
You*should* receive emails. Let me know.

[2018-06-25 09:21] Grunthos commented on #209
Ahhh...could be firewall? What ports are used?

[2018-06-25 09:23] mario commented on #209
Firewall on mobile phones?

On Mon, 25 Jun 2018 at 11:21, Grunthos <notifications@github.com> wrote:

[2018-06-25 10:15] Grunthos commented on #209
NC server, since I assume phones speak via server

[2018-06-25 10:16] mario commented on #209
Notifications are related to Google servers. Anyway I will test if it works
once near a computer

On Mon, 25 Jun 2018 at 12:15, Grunthos <notifications@github.com> wrote:

[2018-06-25 15:19] jookk commented on #209
I have no problem with call notification, but text msg's are not notified.

[2018-06-25 15:24] ArtJames commented on #209
NC 13.04, Notifications 2.1.2, Coturn, Play Services 12.6.85, Android 5.1 (2 devices)

Tested phone to phone, phone to website
Voicecall: Working, including notifications
Textchat: Working, but without notifications
Videochat: App on both phones crash immediatly

Older versions 1.x work well. (Voice/Video-calls)

[2018-06-25 15:30] mario commented on #209
Text chat has notifications only if you're mentioned. Say "@jookk" or "@ArtJames".  cc @ArtJames and @jookk

[2018-06-25 15:33] jookk commented on #209
So, no notification on receiving new msg?

[2018-06-25 15:35] mario commented on #209
No @jook. See: https://github.com/nextcloud/spreed/issues/875

[2018-06-25 16:13] jancborchardt commented on #202
This currently is an audio-call-only issue, so let’s not necessarily change something in video calls. :)

We just talked about this again today with @skjnldsv @Ivansss @skjnldsv and we concluded:

- The speaker should _never ever_ activate on its own
- But when you put the phone with speaker on to your face, the speaker could switch (although we need to see about this, because it could be activate

[2018-06-25 16:32] jancborchardt commented on #202
@mario sorry – we were in an unrelated call and the topic just came up because it literally happened to me. ;) Then the issue here was mentioned

[2018-06-25 16:34] florianwgnr opened #210 "re: vibrations"
When receiving a call, it would be nice if the phone vibrates (and not only rings; newest version), otherwise you wouldn't recognize being called when your phone is in your pocket.

[2018-06-25 20:08] mario commented on #209
@Grunthos so I had a quick look. It seems like app tokens that are created as part of the login flow are not stored properly/at all and that is why push registration fails. Feel free to delete my accounts now.

(cc @rullzer anyone else complained about this?)

This is possibly a setup or a server (https://github.com/nextcloud/server) bug so you might look into that direction.

[2018-06-25 20:08] #209 closed

[2018-06-25 20:52] mario opened #211 "Basic emoji support"
- Support rendering emojis
- Support sending emojis appended by 3rd-party keyboards

[2018-06-25 20:55] #211 closed

[2018-06-26 00:16] Grunthos commented on #209
@mario Thanks for investigating. There was nothing in the logs from nextcloud that indicated an issue, and nothing in the app that indicated that regisdtration failed. So what I did was kill the app on my phone to (I assume) force it to register again. What I see is this:

    <MY-ADDR> - <USER> [26/Jun/2018:10:10:32 +1000] "POST /ocs/v2.php/apps/notifications/api/v2/push?proxyServer=https://push-

[2018-06-26 03:44] mario commented on #209
I answered via email @Grunthos since you mailed me.

[2018-06-26 03:45] mario commented on #209
But to write it again here: The reason why you get 400 is what I mentioned earlier: your Nc server doesn't store app tokens for some reason.

[2018-06-26 04:45] mario commented on #200
@jancborchardt thoughts on the beta?

[2018-06-26 13:22] nickvergessen opened #212 "Need an option to "ignore" calls in some rooms"
…

[2018-06-26 13:46] mario commented on #212
I'd guess you'd want this mostly in group and public calls, right? Once I get the call type in a notification, those calls won't be as prominent as they are now - instead they'll get a simple notification + one-time sound.

[2018-06-26 13:50] nickvergessen commented on #212
Yeah well the internal room jan created earlier had 4 calls already :D

[2018-06-26 13:56] mario commented on #212
Get me call types :P

[2018-06-27 10:02] jancborchardt opened #213 "Empty state view for when there are no chat messages yet"
Currently when you start a new chat, the main view is just empty. Instead, there should be an empty content view like in iOS and the web:
![screenshot from 2018-06-27 11-59-04](https://user-images.githubusercontent.com/925062/41967273-88b42470-7a01-11e8-8328-51e4f5b894f1.png)

[2018-06-27 10:17] jancborchardt opened #214 "Not obvious how to continue in group creation when you started by searching"
We did a short test yesterday with @jenniferpiperek, and there were some issues during group creation. Steps to reproduce for this one:

1. Press the top right + and then "New conversation"
2. You have a lot of contacts so you use the search in the top right
3. Add/check a few contacts

At this stage it’s already not obvious how to continue. The back button in the top right looks like you might go

[2018-06-27 13:02] jancborchardt commented on #200
Yup! :)

- Great stuff with full-screen thing!
- the avatar when you get a call from someone else should be even bigger – and when you accepted it and it’s a voice call, the avatar should be exactly the same size (bigger than now)
- When you accept the call, it shouldn’t animate to the right but just morph the view (cause the buttons are basically the same) and replace the avatar with the video (o

[2018-06-27 13:38] Grunthos opened #216 "Development setup not described"
I'm using latest AS and have tried HEAD and 2.0.2; on a fresh install of the app both hang after the register step (blank screen with spinning progress item).

Are there any special setup instructions I should be aware of?

After the reg step, if I press back a few times until I get "Unfortunately, Nextcloud Task has stopped", after which I can restart the app and it seems to work, but without not

[2018-06-27 15:37] jancborchardt commented on #214
@mario other options:

- Show a checkmark icon on the top right in the header (even when search is present). That acts as the "Done" action.
- Or: show the checkmark icon as a FAB button

In either case, "Clear" is not needed as you can simply cancel and start over.

[2018-06-27 16:45] jancborchardt opened #217 "Not usable offline and slow on bad connection"
The list of calls and contacts seems to load from the server every time the app is opened. This results in a second at least of unresponsiveness and more on usual mobile connections.

When offline (or in a tunnel or plane) you are not able to view any conversations or messages.

We should cache the
* conversations,
* contacts and
* messages

so loading is instant. Updates from the server can still

[2018-06-27 16:50] jancborchardt commented on #216
@mario can you add a "Development setup" section to the readme which includes this info? :)

[2018-06-27 16:50] GLLM opened #218 "Design : enable a more compact display of the text messages"
Hi !
when using NC talk (text messages) on Android (8.0, latest released version), I find that the display of chats is not taking advantage of the screen estate :
when the keyboard is visible NC talk displays only 7 lines of text (among 2 people's msg) while whatsapp displays 11, and signal 11 as well.

I findh that the font is too big and the spacing betwenn the bubbles is to large + the empty sp

[2018-06-27 16:50] jancborchardt commented on #216
@mario can you add a "Development setup" section to the readme which includes this info? :)

[2018-06-27 16:51] jancborchardt commented on #216
@mario can you add a "Development setup" section to the readme which includes this info? :)

[2018-06-27 16:52] jancborchardt commented on #212
The calls just happened because of a bug that @schiessle encountered (in the Android Talk app) where tapping the conversation started a call instead of a chat.

So that should be fixed rather than adding the requested setting.

[2018-06-27 16:53] GLLM opened #219 "Feature Request : add a Sent/Received/Read status for text messages"
hi !

maybe there's a pre-requisite of the chat server itself, but I'd love to have :
Sent
Received
Read
status indicators the same way Signal or Whatsapp do ...

The way signal or Whatapps do it is nice :
1 grey tick for Sent
2 grey tick for Received
2 blue (theme colored) ticks for Read

Anyone else ?

[2018-06-27 16:54] jancborchardt commented on #208
What does "pop the screen" mean? Showing the share sheet directly? (If so then yeah, probably good)

[2018-06-27 16:54] jancborchardt commented on #212
Also, this is a duplicate of #205

[2018-06-27 16:55] #212 closed

[2018-06-27 16:56] mario commented on #216
@jancborchardt why write this three times?

@Grunthos there are no special build steps. Git clone + run in AS. If the app itself crashes, look at the crash report and submit it if you think it's a bug in the app.

[2018-06-27 16:57] mario commented on #219
This is a request for the server app first.

[2018-06-27 16:59] jancborchardt commented on #218
Good point. Our text is not even bigger than in Signal.

We can put the time into the bubble, and next to it display a sent confirmation as mentioned in #219. And the padding of the bubble can be reduced.

[2018-06-27 17:00] mario commented on #218
Time was initially in the bubble. Then we moved it out of the bubble. Are we really moving it OUT of the bubble again?

[2018-06-27 17:01] mario commented on #218
cc @skjnldsv

[2018-06-27 17:01] jancborchardt commented on #218
@mario if that's a problem, focus on only the bubble padding first.

[2018-06-27 17:03] jancborchardt opened #220 "Feedback missing for copying message (long-press)"
I tried to copy a message by long-press and it didn't work.

Should probably work, just like in Signal where you can copy the whole message. (In the future it can also have options to forward etc., but copying is essential.)

Also cc @ivansss – not sure if it's the same in the iOS app.

[2018-06-27 17:04] mario commented on #220
Of course it works, I just tested this. Why do you think it didn't work?

[2018-06-27 17:05] jancborchardt commented on #188
Same here, the display should of course be turned off because otherwise you can accidentally touch the buttons with your face. Also it saves battery cause you don't need to look at the screen while it's on the side of your face.

[2018-06-27 17:05] mario commented on #218
I'm not sure this is a trivial change at this point.

[2018-06-27 17:06] mario commented on #188
This is not a bug. A bug means that something is not working as it should. Since this feature does not exist, this is not a bug.

In addition, technically, you cannot AFAIK turn off the display. You can lower the brightness though which I might do in the future.

[2018-06-27 17:12] mario commented on #208
No, it means going back to the conversation list. If you want a share sheet opened in this case, open a separate issue for one of the future versions.

[2018-06-27 17:31] skjnldsv commented on #218
I would stack all the messages from the same user during a specific period of time. :)

[2018-06-27 17:32] mario commented on #218
@skjnldsv that's planned and in a separate issue already - we agreed to do this already ;)

[2018-06-27 17:40] skjnldsv commented on #218
So lower the bubble padding and stack up should be enough?
![screenshot_20180627-193204](https://user-images.githubusercontent.com/14975046/41990085-b732db94-7a41-11e8-82be-5b1e0482d9d6.png)

As a reference: my sms app which I really like
![screenshot_20180508-141548](https://user-images.githubusercontent.com/14975046/41990168-f38f8952-7a41-11e8-9144-17a820f23d42.png)

[2018-06-27 17:41] mario commented on #218
This is exactly what I'll do. Eventually.

[2018-06-27 17:42] skjnldsv commented on #218
You rocks!
@jancborchardt opinions? :)

[2018-06-27 18:12] godfuture commented on #188
Don't know if I should agree here. I guess as long as touch screen inputs are disabled with lower brightness, your point makes sense. But with my current Android phone I still can use the touch screen even brightness was reduced...

[2018-06-27 18:16] mario commented on #188
I will investigate once I come to this. So far I'm only aware of PROXIMITY_SCREEN_OFF_WAKE_LOCK and I'm not sure how well that plays with running network calls in the background. But we'll see :)

[2018-06-27 18:39] GLLM commented on #219
@mario : thanks, do you need me to log an issue on the server repo ?

[2018-06-27 18:40] mario commented on #219
Yes please

On Wed, 27 Jun 2018 at 20:39, GLLM <notifications@github.com> wrote:

[2018-06-27 18:48] GLLM commented on #219
Done > https://github.com/nextcloud/server/issues/10029

I let you add the link to this enabler.
Many thanks !!

[2018-06-27 22:40] mario commented on #220
Let me know how you tested this, cause I just tried both copy AND pasting the text and it absolutely worked.

Also what Android version & phone.

[2018-06-27 22:42] mario commented on #208
Actually looking at the issue list, there's an issue for that @jancborchardt : https://github.com/nextcloud/talk-android/issues/197

[2018-06-27 22:42] mario commented on #186
@tobiasKaminsky master from now. Please try :) same for @moonwolf-github

[2018-06-27 22:46] mario commented on #214
How about just writing "Done" top right instead of an icon?

[2018-06-28 02:50] Grunthos opened #221 "App hangs on fresh install after local build"
Process:

- build in AS using latest AS and SDK etc matching build.gradle
- run app
- enter server
- enter user/password
- end up in white screen with progress circle running permanently.

Have send ADB log via email since it probably has private data etc

Pressing 'back' keys produces memory dumps from lead detecting software that is presumably in one of the many included 3rd party tools.

[2018-06-28 05:34] andrew-paglinawan commented on #220
Haven't tested it on android but in iOS it's not possible to copy text.

[2018-06-28 06:52] mario commented on #221
Are you building a generic or gplay flavour?

[2018-06-28 07:01] moonwolf-github commented on #186
Sorry, but no joy :(

[2018-06-28 07:43] Grunthos commented on #221
Default build as per the instructions, which is genericDebug

On 28 June 2018 4:52:52 pm AEST, "Mario Đanić" <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-06-28 07:53] Grunthos commented on #221
Using gplayDebug results in a successful login followed by a memory dump by the leak detecting stuff.

On 28 June 2018 4:52:52 pm AEST, "Mario Đanić" <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-06-28 07:54] mario commented on #221
That is good. Notifications?

On Thu, 28 Jun 2018 at 09:53, Grunthos <notifications@github.com> wrote:

[2018-06-28 08:46] mario commented on #221
@Grunthos ^_^

[2018-06-28 10:57] Grunthos commented on #221
Still fails to register for notifications; the 400 error still being returned.

[2018-06-28 11:06] Grunthos commented on #221
...but now my server is showing "client denied by server config". Progress.

[2018-06-28 14:14] Grunthos commented on #221
OK. I hacked the server. The problem comes from PushController.php; specifically the following code is return the 400;
[code]

[2018-06-28 14:36] nickvergessen commented on #221
Password login can not use push notifications, because they get a new token id every time the session times out and so the proxy can not verify it anymore.

This has always been like that.

[2018-06-28 14:44] Grunthos commented on #221
Probably good if the app warned users that notifications are not available then, and maybe advising on solution and offering to create a cert?

Or..why not generate a unique device id that is independent of session is and use that?

On 29 June 2018 12:36:12 am AEST, Joas Schilling <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my spelling and brevity

[2018-06-28 14:48] mario commented on #221
@nickvergessen I know, but you can only use login flow with Talk which pretty much guarantees you get an app token. And this is what makes it strange.

[2018-06-29 03:29] Grunthos commented on #221
So...does this leave me needing to investigate more; or is this something I should just leave alone for now.

If you do want me to investigate more, a hint as to where the "token" parameter is set/defined in the app would be helpful.

[2018-06-29 08:07] nickvergessen commented on #221
Well best would be to debug this in place:
1. is token-id set in the session or is it empty.
2. is the token in the database and what are it's values

[2018-06-29 08:43] mario commented on #186
Can you check @moonwolf-github ? The input view should now be visible though there are other issues now which I'm trying to resolve.

[2018-06-29 09:50] moonwolf-github commented on #186
Sorry, but i checked yeasterday and there was no difference :(

[2018-06-29 09:51] mario commented on #186
@moonwolf-github but I just pushed new code!

[2018-06-29 09:52] moonwolf-github commented on #186
Oh :) Looks like i don't see it yet :)

[2018-06-29 12:58] Grunthos commented on #221
@nickvergessen  Not sure of my way around app or server, but:

Re 1: tokenId is NOT set. Or at least  error_log('INVALID_SESSION_TOKEN: ', $tokenId ); results in just 'INVALID_SESSION_TOKEN:'

Re 2: do you mean server or app? And can you tell me a relevant query to check?

.

[2018-06-29 13:22] Grunthos commented on #221
tokenId is set and exists in DB:

 select * from oc_authtoken where id = 15798;
15798|USER|USER|c3dc03f3a2c4b33851ca88e723d4969d|2x0NPcmNF7LCrEJ/|1cc5bf8678c62ab2133be9d42a4f16e37f1ef142f343fc5164b905f04741e6827b955142acc2cc94a8feceb39ea94a3ef2c98f3275f0f85f9d41a1bea8fba979|Asus ASUS_T00J (Nextcloud Talk)|376f75320682353fe51693ad8e4fc8ce9a5674d31bd74a94f50c098c79ccd1666353a7e5a3a6e107fb9c1e8420b0f

[2018-06-29 13:35] Grunthos commented on #221
And here is the exception on the server when it tried to get the token:

Exception:

#0 /srv/www/htdocs/nextcloud/apps/notifications/lib/Controller/PushController.php(112): OC\\Authentication\\Token\\DefaultTokenProvider->getTokenById(15798)\n
#1 [internal function]: OCA\\Notifications\\Controller\\PushController->registerDevice('2581914a7cf4aa3...', '-----BEGIN PUBL...', 'https://push-no...')\n
#

[2018-06-29 13:58] Grunthos commented on #221
And a bit later I get and ExpiredTokenException:

\\nOC\\Authentication\\Token\\ExpiredTokenException in /srv/www/htdocs/nextcloud/lib/private/Authentication/Token/DefaultTokenProvider.php:191\n
Stack trace:\n
#0 /srv/www/htdocs/nextcloud/apps/notifications/lib/Controller/PushController.php(112): OC\\Authentication\\Token\\DefaultTokenProvider->getTokenById(15798)\n
#1 [internal function]: OCA\\No

[2018-06-29 14:06] Grunthos commented on #221
My naive interpretation is that the token expiry of 0 is the problem.

[2018-06-29 14:44] nickvergessen commented on #221
can you also copy the table headers? the columns seem to be in a different order than in a new install

[2018-06-29 15:08] Grunthos commented on #221
@nickvergessen  See below:

           id = 15798
          uid = USER
   login_name = USER
     password = c3dc03f3a2c4b33851ca88e723d4969d|2x0NPcmNF7LCrEJ/|1cc5bf8678c62ab2133be9d42a4f16e37f1ef142f343fc5164b905f04741e6827b955142acc2cc94a8feceb39ea94a3ef2c98f3275f0f85f9d41a1bea8fba979
         name = Asus ASUS_T00J (Nextcloud Talk)
        token = 376f75320682353fe51693ad8e4fc8ce9a5674d31bd74a94f

[2018-06-29 20:56] mario commented on #186
@moonwolf-github just pushed new code which should completely fix it. Please test both full screen and without full screen.

[2018-06-30 10:39] mario commented on #200
Closing this since the actual issue is solved. If you'd like other things, open separate issues and we can discuss.

[2018-06-30 10:39] #200 closed

[2018-07-01 16:42] moonwolf-github commented on #186
@mario I still don't see any updates in Google Play Stor :(

[2018-07-01 17:36] mario commented on #186
@moonwolf-github you need to compile the app from the repository!

[2018-07-02 11:51] mario commented on #186
@moonwolf-github beta4 is out, so let me know when you get it!

[2018-07-02 12:34] jancborchardt opened #222 "Issues found testing with TalkBack screenreader"
I did some quick testing with the [TalkBack screenreader](https://support.google.com/accessibility/android/answer/6283677) which is included in the Android accessibility settings and here’s some basic issues I found:

- [ ] In the conversation list, the 3-dot-menu button is "unlabeled button", should be "Menu for conversation with Ivan" or "Menu for group conversation Company call"
- [ ] Send butt

[2018-07-02 12:37] jancborchardt commented on #220
Fairphone 2, Android 6.0.1

I tried just tapping a message, or long-pressing. Nothing happens. To be clear: I mean copying text from messages _already sent_, so in the message list. (Of course copying/pasting from the input field works.)

[2018-07-02 12:39] jancborchardt commented on #218
Cool! I mean, to be clear, only reducing the bubble padding is fine. The rest of the style, like the big bubble border-radius is great.

[2018-07-02 12:39] jancborchardt commented on #214
@mario sounds good too! :)

[2018-07-02 12:40] jancborchardt commented on #208
Creating any call should go into the conversation itself though, not the conversation list. Or not?

[2018-07-02 12:41] mario commented on #220
@jancborchardt long-press on a message bubble should copy it. After doing that, try long press on the input field and click paste. If that doesn't work (which it should) I can look into Android 6 a bit more.

[2018-07-02 12:43] mario commented on #208
@jancborchardt well, it could. But what's the point doing that when you create a public call with no participants? :)

[2018-07-02 13:16] jancborchardt commented on #216
@mario sorry, was apparently a bug.

@mario could you please add those steps, however simple they are, as a "Development setup" section in the readme? Also, this link in the readme is broken: https://github.com/nextcloud/talk-android/blob/master/CONTRIBUTING.md

[2018-07-02 13:18] mario commented on #216
@jancborchardt absolutely.

[2018-07-02 13:19] jancborchardt opened #223 "Incoming call design enhancements"
- The avatar when you get a call from someone else should be even bigger – and when you accepted it and it’s a voice call, the avatar should be exactly the same size (bigger than now)
- When you accept the call, it shouldn’t animate to the right but just morph the view (cause the buttons are basically the same) and replace the avatar with the video (or keep avatar, when it’s a video call)

(Copied

[2018-07-02 13:19] jancborchardt commented on #200
Issue opened at https://github.com/nextcloud/talk-android/issues/223

[2018-07-02 13:20] mario commented on #223
Thanks. Now please copy the new screen designs you had in some other repo xD

[2018-07-02 13:21] jancborchardt commented on #220
Huh, it does indeed work, but there is no feedback _at all_. We need a toast/snackbar (whatever is proper) here which says "Message copied".

[2018-07-02 13:23] jancborchardt commented on #208
@mario because then you can directly send messages, or start the call already. Then when #197 is also implemented, you can share the link instantly too.

Also, this is how we do it in the web app as well.

[2018-07-02 14:34] GLLM commented on #218
The large radius is bit too large IMHO .... sooooo iphone3ish :-)

[2018-07-02 14:37] jancborchardt opened #224 "Loudspeaker icons are confusing"
The current loudspeaker vs internal speaker icons are confusing. Internal speaker uses what I guess is an ear, and the speakerphone uses a "sound system box" icon.

First off they are quite difficult to identify (and I have never seen them before anywhere in Android or in another app), and second they are not symmetric, so you have to basically try it out to find what it does.

Let’s instead use t

[2018-07-02 14:44] jancborchardt commented on #223
The mockup discussion is in https://github.com/nextcloud/spreed/issues/1011

We settled on the middle version: larger picture, and picture doubled in blurry in the background:
![](![call](https://user-images.githubusercontent.com/925062/41923083-db5290e0-7966-11e8-810a-f3cb187f3e23.jpg))
With some dark fade on the top so the white text can be read. (Like fading rgba(50,50,50,.5) on the top to tran

[2018-07-02 14:47] jancborchardt commented on #220
Reading up on it again, I would say a snackbar is better here: https://material.io/design/components/snackbars.html

So it could read:

With share being the action, and the way you can immediately share the content you just copied to other apps (bringing up the share sheet).

[2018-07-02 14:53] mario commented on #224
What two icons specifically? You mention only volume up which makes little sense to me :(

Btw. the two icons used are material icons.

[2018-07-02 19:37] mario commented on #220
The sharing part I'll ignore, but snack I can do :)

[2018-07-02 20:17] mario commented on #218
4dp
![screen shot 2018-07-02 at 22 16 27](https://user-images.githubusercontent.com/5810/42184374-96931ebe-7e45-11e8-9a15-dba9c338f9c4.png)

vs

8dp
![screen shot 2018-07-02 at 22 17 17](https://user-images.githubusercontent.com/5810/42184406-b2ba66ba-7e45-11e8-8fff-2c99df734c95.png)

@jancborchardt @skjnldsv ?

[2018-07-02 20:17] mario commented on #218
Currently it's 8dp.

[2018-07-02 20:23] #222 closed

[2018-07-02 20:24] mario commented on #222
Done. Let me know if you find something else.

[2018-07-02 21:06] jancborchardt commented on #224
Both Signal and the phone app only use the volume_up icon. When it's active, it's marked with an outline:
![](https://i.imgur.com/YQiqWWS.jpg)

So since we use a button it should probably be "pressed down".

[2018-07-02 21:10] mario commented on #224
Well, it's not really a button. How about we use volume down/volume up @jancborchardt ?

[2018-07-03 05:38] tobiasKaminsky commented on #186
It is working :+1: :+1:

[2018-07-03 06:09] mario commented on #186
Well, yay @tobiasKaminsky! Thanks for testing!

[2018-07-03 06:09] #186 closed

[2018-07-03 07:29] skjnldsv commented on #218
Could you try 2dp?
Also I kind of agree that the radius is too big @jancborchardt .
Could we lower it to something like we have on the server? 3px?

[2018-07-03 07:57] mario commented on #218
@skjnldsv can you clarify what radius are you referring to?

[2018-07-03 07:59] skjnldsv commented on #218
The radius of the bubbles, it feels too big compared to what we're using on the server: https://github.com/nextcloud/server/blob/master/core/css/variables.scss#L50

2dp was for the padding :)

[2018-07-03 08:01] mario commented on #218
@skjnldsv it is currently 15dp. And you want it 3dp?!

[2018-07-03 08:03] skjnldsv commented on #218
@mario I need to see before :p
I have no idea what 3dp looks like

[2018-07-03 08:04] mario commented on #218
![screen shot 2018-07-03 at 10 04 19](https://user-images.githubusercontent.com/5810/42206803-7a004160-7ea8-11e8-84dd-819753af1cb2.png)

2dp padding between bubbles, 3dp border radius xD

[2018-07-03 08:04] mario commented on #218
Very ugly!

[2018-07-03 08:07] skjnldsv commented on #218
Aaah, far better :D
Not sure @jancborchardt agree though. What are your thought @mario ?

[2018-07-03 08:08] mario commented on #218
I think the padding between bubbles is fine, but the border radius is super super ugly.

Let me try 6dp.

[2018-07-03 08:09] mario commented on #218
I can live with 8dp.
![screen shot 2018-07-03 at 10 09 10](https://user-images.githubusercontent.com/5810/42207038-2c14d8d4-7ea9-11e8-9430-bff0f02c4981.png)

[2018-07-03 08:12] mario commented on #218
So ... 2dp, 8dp it is!

[2018-07-03 08:13] skjnldsv commented on #218
Not a big fan :)
Signal, textra, whatsapp, all uses small radius. I guess 8dp is better that what we currently have though, but maybe an inbetween like 6 is better ;)

Also: your screenshots could benefit from more pixels :p
Hard to see on low res, especially on the radius anti aliasing

[2018-07-03 08:14] mario commented on #218
I can do 6 as a compromise.

[2018-07-03 08:15] #218 closed

[2018-07-03 08:31] skjnldsv commented on #224
I agree, this is confusing :)

[2018-07-03 08:34] mario commented on #224
@skjnldsv no, I wanted your thoughts on the solution - pressed button is a bit meh. If you both insist on volume_up, I can do that - but I'd prefer volume_up and volume_down then.

[2018-07-03 08:34] mario commented on #224
![screenshot_20180703-103335_nextcloud talk](https://user-images.githubusercontent.com/5810/42208514-a4eefe94-7eac-11e8-8e09-0572b86e9c05.jpg)

@skjnldsv

[2018-07-03 08:35] mario commented on #218
@jancborchardt @skjnldsv final:

![screenshot_20180703-103335_nextcloud talk](https://user-images.githubusercontent.com/5810/42208561-c65fbb18-7eac-11e8-9a9a-3fc75a51d0b5.jpg)

[2018-07-03 08:39] skjnldsv commented on #224
I agree with the volume up as well.
I won't really mind design wise, but whatsapp use the same as android stock, messenger... which is a button toggle with a darker background but the icon is the same no matter what state :)
So I'm on the side of the UX unification across all apps if we can ;)

[2018-07-03 09:22] jancborchardt commented on #222
Thank you! Also do test it yourself if there's new additions or views. :)

[2018-07-03 10:11] GLLM commented on #218
hey all !
just wondering : why are we keeping that large of a space/padding between teh text within a bubble and the border of the bubble ?
It just looks sooo big (to me, at least) :

[2018-07-03 11:19] Ivansss commented on #224
On iOS we use the following icons.

Loud speaker disabled:
![screen shot 2018-07-03 at 13 16 34](https://user-images.githubusercontent.com/4638605/42216862-90d52188-7ec3-11e8-9b43-2ae8347311d7.png)

Loud speaker enabled:
![screen shot 2018-07-03 at 13 16 45](https://user-images.githubusercontent.com/4638605/42216883-9ee7048a-7ec3-11e8-8fec-898fd6dc10ea.png)

[2018-07-03 11:21] mario commented on #224
But @Ivansss - this also makes little sense to me as to me that means NO SOUND.

[2018-07-03 11:21] mario commented on #218
@skjnldsv and @jancborchardt to the rescue.

[2018-07-03 11:24] skjnldsv commented on #218
I kind of agree, @jancborchardt to the rescue then? :laughing:

[2018-07-03 11:51] mario commented on #218
@GLLM @skjnldsv @jancborchardt
![screenshot_20180703-135038_nextcloud talk](https://user-images.githubusercontent.com/5810/42218219-25e26a48-7ec8-11e8-8904-768f1e79aefc.jpg)

[2018-07-03 11:51] mario commented on #218
Better?

[2018-07-03 11:53] jancborchardt commented on #218
It still seems there is a lot of padding? As a baseline, could you simply use the _same_ measure as Signal uses?

Also, the text size is quite small. The date divider size is bigger than the text. Text size should be increased to be same size as date divider.

[2018-07-03 11:55] mario commented on #218
It's 8dp vs 16dp.

[2018-07-03 11:56] mario commented on #218
Sorry, 12dp vs 16dp. I'll set it to 8 and be done with it. Text increased from 16dp to 14dp.

[2018-07-03 11:58] mario commented on #218
![screenshot_20180703-135849_nextcloud talk](https://user-images.githubusercontent.com/5810/42218521-2d740e64-7ec9-11e8-870b-f93ab6649bf3.jpg)

[2018-07-03 11:59] skjnldsv commented on #218
Nice!

[2018-07-03 11:59] mario commented on #218
I dislike the big text size heavily. The padding is fine, but I have to reduce the text size.

[2018-07-03 12:03] mario commented on #218
Final design:

![screenshot_20180703-140315_nextcloud talk](https://user-images.githubusercontent.com/5810/42218720-c9406cde-7ec9-11e8-8c38-3cf613001b60.jpg)

[2018-07-03 12:03] mario commented on #218
(Btw. date divider is bigger on purpose)

[2018-07-03 12:18] mario commented on #218
After thinking about it, made is smaller.

![screenshot_20180703-141850_nextcloud talk](https://user-images.githubusercontent.com/5810/42219367-fdb06116-7ecb-11e8-80d2-cef6fceebf74.jpg)

[2018-07-03 12:53] moonwolf-github commented on #186
Confirm. I finally got update and it's working!

[2018-07-03 14:13] GLLM commented on #218
@mario : your last attempt looks really good :) I like it this way !
I wont bugger for more changes if it remains like this !

[2018-07-03 14:35] mario commented on #218
I'd need another issue, but I'd close it right away, sorry :P
One wish at a time :D

[2018-07-03 15:13] GLLM opened #225 "Feature request : add thin lines next to the date separators in text messages"
Hi @mario !

For readability prupose, I suggest to add a very thin grey line on each side of the date separator ...
It makes the reading easier and is a visual cue when you look in your messages :+1:
Example :
![image](https://user-images.githubusercontent.com/3989573/42228413-2d034736-7ee4-11e8-9131-ed29e9fa182f.png)

Thanks :)

[2018-07-03 15:13] GLLM commented on #218
No worries ... Be careful what you wish for :)

https://github.com/nextcloud/talk-android/issues/225

[2018-07-03 17:00] mario commented on #225
@GLLM like I mentioned in the previous ticket where you suggested this, I really don't see a way this increases readability and just clutters the screen :(

Sorry! :(

[2018-07-03 17:00] mario commented on #225
You got everything else though! :D

[2018-07-03 17:00] #225 closed

[2018-07-03 20:31] mario commented on #225
You're welcome, and thanks for helping make the overall experience better!

[2018-07-04 09:24] jancborchardt opened #226 "Escaping, e.g. newline and apostrophes preceded by backslash"
In a conversation I wrote `"Something"` and it is now displayed as `\"Something\"`, with the apostrophe being preceded by backslash.

Similarly, something the other person sent through their mobile app and pressed enter in the message is shown with a `\n` instead of an actual new line.

Happening with current cloud.nc @mario

[2018-07-04 09:35] jancborchardt opened #227 "No back icon in title when clicking on mention notification"
When you click on a mention notification, there's no back button icon shown left of the converswtion name to go back to the conversation list. Should of course be there. :)

v2.1.0beta4

[2018-07-04 09:36] mario commented on #227
I tested this earlier and it worked, but I'll look into it again.

[2018-07-04 09:47] jancborchardt opened #228 "Nicer scrollbar"
Our current scrollbar is quite heavy. We should have a nice scrollbar like the AOSP email app or Signal. There only the indicator (not the whole bar) is shown, it's half-transparent, and it also vanishes.

![](https://i.imgur.com/6391Zx1.jpg)![](https://i.imgur.com/ANqhZ8e.jpg)![](https://i.imgur.com/0YrXIxG.jpg)

[2018-07-04 10:34] mario commented on #226
Discussed this via Talk. Probably an issue @jospoortvliet had if he used beta3 :)

Will let @jancborchardt close after confirmation.

[2018-07-04 11:09] Grunthos commented on #221
@nickvergessen @mario  ...so where does this leave us? Is there anything I can do?

[2018-07-04 13:58] jancborchardt opened #229 "When renaming a conversation, put current name in input field"
Currently when you rename a conversation, the input field is completely empty. Since in a lot of cases you might just want to fix a typo or add an emoji, this is not so good.

We should do it like in the web interface, and simply prefill the current name in the input field.

[2018-07-04 14:07] mario commented on #229
What if it has no name? E.g. group conversation you just created

On Wed, 4 Jul 2018 at 15:58, Jan-Christoph Borchardt <
notifications@github.com> wrote:

[2018-07-05 12:05] jancborchardt commented on #229
Then it’s fine to have no name in it. As said, put the "current name" in it, and if it has none then it’s empty. :)

[2018-07-05 12:06] jancborchardt commented on #218
Sorry, this is not about liking or disliking but about readability on mobile. The text size is too small. The one in your earlier screenshot was perfect: https://github.com/nextcloud/talk-android/issues/218#issuecomment-402129987

[2018-07-05 13:33] GLLM opened #230 "Quick reply via notification"
Hi !

I'd be really happy if, from the notification itself, I'm could
* reply to the last message
* mark the message as read
(i.e. without leaving the notification zone)

The usual suspect, Signal & Whatsapp, do this and this is a feature I use *_a lot_* !

Suprisingly, I could not find an existing issue for this !
Thanks
GLLM

[2018-07-05 13:42] GLLM commented on #218
@jancborchardt  : not sure who your last message was meant for !

But then, let's have a setting for the font size, like every 2018-ear messaging app ....
On bigger screen smartphone (such as mine) , I feel like I'm visually deficient with such a big font ! (no offense meant to visually deficient people)

GLLM

[2018-07-05 14:06] mario commented on #230
Reply could happen eventually, but mark as read is not possible since it works differently than general apps.

Messages are marked as read even if they're not really read when we pull for new messages. So again, a server issue.

[2018-07-05 14:09] GLLM commented on #230
@mario  : OK no worries.

Reply : cool ! I really like this feature when I get it !
Mark as read would have served as : remove the notif. BU ti understand your point

GLLM

[2018-07-05 21:41] mario commented on #221
@nickvergessen is the main guy here @Grunthos and he has lots of work - he'll get back to this issue in time.

[2018-07-06 09:36] mario commented on #221
@Grunthos could you set up a temporary new Nextcloud install and try with that?

[2018-07-06 15:00] jancborchardt opened #231 "Use avatar of person as notification icon"
Currently it's a generic speech bubble icon when someone mentions you or invited you to a conversation (or calls you).

Much nicer would be to use the person's avatar. Or when it's a group conversation, the group icon (as soon as we have that).

[2018-07-06 18:38] mario commented on #231
Needs https://github.com/nextcloud/spreed/issues/1001 or a different way to fetch room by id ;)

[2018-07-08 20:14] mario commented on #226
Closing as it really works :)

[2018-07-08 20:14] #226 closed

[2018-07-08 21:20] #208 closed

[2018-07-09 05:42] Mario116 opened #232 "Notifications don't work with AD autorization"
After enabling AD authorizations notifications have stopped working in talk-android. In chromium notifications works correctly. Even between created users (not imported from AD) notifications do not come

[2018-07-09 06:07] mario commented on #232
What version of Nextcloud, what version of the server Talk app, what version of the mobile app?

[2018-07-09 06:31] mario commented on #232
@Mario116 do you have a Talk subscription as a company? If so, open a support ticket in the portal and send me a test account there.

[2018-07-09 06:43] Mario116 commented on #232
No, we do not have a subscription yet. We are testing the product for now

[2018-07-09 06:51] mario commented on #232
@Mario116 through an account manager? If so, get them a test account and tell them to forward it to me :)

[2018-07-09 07:38] Mario116 commented on #232
@mario we sent you a letter with a test account. You received it?

[2018-07-10 13:05] mario commented on #231
I wonder if we should bother with this part after all. I mean - First I need to fetch the room, then I need to fetch the image, and only after that I can show the notification :(

Not sure this is a very nice thing to do @jancborchardt .

[2018-07-10 21:02] mario commented on #221
The original issue reported will be fixed in 2.2. As for why push doesn't work - most probably related to the server and I have no idea how to debug.

[2018-07-11 08:15] mario opened #233 "Don't play message sound if in call"

[2018-07-11 12:38] mario opened #234 "Rework push to show "simple" notifications on group/public calls"

[2018-07-12 21:04] mario opened #235 "Format single-emoji message differently"

[2018-07-12 21:07] mario commented on #235
Emoticon will be enlarged and background will be transparent if there is only one emoticon and no text in a message.

[2018-07-12 21:10] mario commented on #48
This was partly resolved in 2.1. Can be better, but still.

[2018-07-12 21:10] #48 closed

[2018-07-14 13:59] mario commented on #122
Poking @steffanson again! :)

[2018-07-14 13:59] #34 closed

[2018-07-14 14:00] mario opened #236 "Support conversation pinning"

[2018-07-14 14:04] mario opened #237 "Support new token-based push notifications"

[2018-07-16 10:59] Bolli84 opened #238 "Notifications are on /loud even if phone is muted/vibration"
On my Phone, once I set up the notification, it is ringing even it the normal android notification is muted or on vibration

Android 8.0
Talk-Version Beta 5

[2018-07-16 12:03] mario commented on #238
Currently expected behaviour. I'll work on it eventually to respect system sound settings.

[2018-07-16 14:07] jancborchardt opened #239 "Add screenshots to readme"
The readme would look much nicer with some screenshots below the short description. Simply taking the same ones as from the app store and showing them in one row would be great.

(A great example of a nice readme is the Mail app: https://github.com/nextcloud/mail/#nextcloud-mail )

[2018-07-16 14:09] jancborchardt opened #240 "Talk app does not honor Do Not Disturb mode"
I’m pretty much in Do Not Disturb the whole time. All apps honor this, but when I get an incoming call in the Talk app, it rings including sound.

This is also the case when I’m only on vibrate. In which case it’s also with sound, but never vibrates.

cc @mario

[2018-07-16 14:11] mario commented on #240
This is also not a bug, but something similar was reported in https://github.com/nextcloud/talk-android/issues/238 so I'll definitely take a look eventually.

[2018-07-16 15:16] jancborchardt opened #241 "When sending message, directly animate message to show in list"
When you send a message there’s some strange seconds between hitting "Send" and seeing the message in the list. There’s no feedback what happened to the message and if it’s a longer one you are worried if it’s really getting sent or saved.

Instead it should directly be animated (like in Viber) or just show directly in the list (like in Signal).

[2018-07-16 15:17] jancborchardt commented on #240
Closing in favor of https://github.com/nextcloud/talk-android/issues/238 then and marking as high because we should absolutely honor do not disturb.

[2018-07-16 15:17] #240 closed

[2018-07-16 15:18] jancborchardt commented on #238
Marking as high because not honoring this is at best annoying and at worst quite embarassing in meetings or the cinema etc.

[2018-07-16 15:22] jancborchardt opened #242 "Move "Switch camera" control onto own video feed"
Currently the "Switch camera" button is an extra button on the bottom. In the iOS app this is very elegantly solved by putting the icon on the bottom of your own video feed (of course vanishing also like the other buttons). cc @Ivansss

Would be good if we can do it like this in Android too, then we have 3 buttons regardless of call type, and hang up can always be in the middle.

[2018-07-16 20:20] mario commented on #122
Closing for now as I consider the gist of the issue resolved.

[2018-07-16 20:20] #122 closed

[2018-07-16 20:24] mario commented on #238
I agree @jancborchardt and @Bolli84 - so this will be in the next big stable release.

[2018-07-17 10:29] fancycode commented on #127
How is a call started? Joining a call will go through Nextcloud as usual (I assume this triggers the notification) and you get a message over the WebSocket connection to the signaling server that the user has changed / is now in the call (instead of having to poll for the change).

[2018-07-17 10:31] mario commented on #127
Ah ok. So I'll join a room via Nextcloud, Nextcloud will send a notification to the other user which can then join the room and pull signaling settings. Once they see it's external signaling server, they'll initiate a Websockets connection.

And that should be it if I understood this correctly @fancycode.

[2018-07-17 10:34] fancycode commented on #127
Sounds good. You then get events/messages through the WebSocket connection where you otherwise have to poll for.

[2018-07-17 18:08] mario commented on #84
@elpraga and @jookk can you both mail me? Mario AT nextcloud.com

[2018-07-18 13:55] mario commented on #241
This is because the message is shown in the list only when server receives it. Anyway, the behaviour will be changed once we support database storage etc etc.

[2018-07-18 14:22] jancborchardt commented on #225
Much better than a line divider is to have proper whitespace. :) It’s less visual clutter and a better separation.

[2018-07-18 15:55] jancborchardt commented on #231
Let’s separate UX and implementation detail. ;) Just because it’s a bit of work to make it happen does not mean it’s not a nice thing to add.

In fact, all other messengers do show the avatars of the person or group. So we should of course do that too.

[2018-07-18 15:57] jancborchardt commented on #241
Yes, that’s what I thought. However we don’t need to have the UI mirror the server 1-by-1, we need to "fake" certain things to improve the user experience. And this is one of them.

[2018-07-18 19:35] mario opened #243 "Support no-ping"

[2018-07-18 19:57] #243 closed

[2018-07-18 21:45] jancborchardt commented on #231
Ah ok. But then still I would ask _why_ it takes so much time. When we get a notification, it’s from a conversation which is most probably already in the app, so the avatars of the participants should already be cached.

And even then, it’s technical details. ;) People expect to get a notification immediately, with the avatar and the message.

[2018-07-18 21:49] mario commented on #231
It's not about the avatars being cached (their network requests indeed are, via ETags). Conversations themselves are cached, but not in a way you'd expect (so I can't access them) at least not until we introduce a database. So yea..

Can you show me screenshots of notifications from "other" apps you mention?

[2018-07-19 06:22] Akrakadil opened #244 "\talk-android-2.1.1\scripts\metadata\generate_metadata.py Mistake"
Row 42    looks like:
                                'values-ou': 'ru-RU',
It's have to be so:
                               'values-ru': 'ru-RU',

[2018-07-19 06:55] #244 closed

[2018-07-19 06:55] mario commented on #244
Thanks @Akrakadil

[2018-07-19 06:56] Akrakadil opened #245 "May be... Power button should end the call"

[2018-07-19 06:57] Akrakadil commented on #245
May be... Power button should end the call, or read this from settings.

[2018-07-19 07:11] Akrakadil opened #246 "Volume of external speaker"
Low volume of external speaker in video call. Also there's need of a filter to reduce an Echo in video call.

[2018-07-19 07:12] mario commented on #246
Volume should be as you set it.

[2018-07-19 07:13] Akrakadil commented on #246
When I make it louder echo appears

[2018-07-19 07:17] Akrakadil opened #247 "Notification does not Wake the screen"
When the phone is sleeping while calling, the screen does not Wake up

[2018-07-19 07:18] mario commented on #246
I'm not very sure this can be avoided.

[2018-07-19 07:18] mario commented on #247
Yes it does. What version of the app are you using?

[2018-07-19 07:21] Akrakadil commented on #247
I'm trying 2.1.1

[2018-07-19 07:21] mario commented on #247
Yup, the screen most definitely wakes up :-/ What phone do you have?

[2018-07-19 07:22] Akrakadil commented on #247
three different, Nubia, LeEco, Mi A1

[2018-07-19 07:23] Akrakadil commented on #247
I made right setting there

[2018-07-19 07:29] Akrakadil commented on #247
I'm not familia only can read the code

[2018-07-19 07:31] mario commented on #247
It will be really hard for me to debug this since I don't have the phones :(

[2018-07-19 07:32] Akrakadil commented on #247
Well, I'll try to do something because I like your App

[2018-07-19 07:34] mario commented on #247
Try looking into MagicFirebaseMessagingService first because that's where the push should arrive.

If you put this line in onMessageReceived method, this will help:

        Log.d("DEBUG", "I GOT A MESSAGE");

[2018-07-19 07:45] Akrakadil commented on #247
Ok. I'll install Android Studio now

[2018-07-19 07:45] mario commented on #247
Make sure you build the gplay flavour.

[2018-07-19 07:47] #242 closed

[2018-07-19 08:03] Akrakadil opened #248 "No missed call message"
May be add to chat "You have a missed call..."&Time or "You have a missed videocall"&Time, if they were?

[2018-07-19 08:30] mario commented on #248
This has to be done in https://github.com/nextcloud/spreed, sorry :(

[2018-07-19 16:21] jancborchardt commented on #231
You do use other apps like Signal and WhatsApp for testing and research too, no? ;)

Both WhatsApp and Signal always show name, message, and avatar directly. (Additionally they have a direct "Reply" function and Signal also has "Mark as read", but that’s a separate thing.)
![signal-attachment-2018-07-19-181233](https://user-images.githubusercontent.com/925062/42956260-d16a7d60-8b7f-11e8-85c3-e74c9

[2018-07-19 16:36] mario commented on #231
Mark as read is not possible at all. There's an issue for reply later on.

Missing messages and avatars are a matter of technical details and UX that we can provide right now.

Just for curiosity - what would you show for group/public chats UNTIL we even have a proper avatar endpoint for that?

[2018-07-19 16:54] rullzer opened #249 "Improve one on one chat"
Talk:

![screenshot_nextcloud_talk_20180719-184817](https://user-images.githubusercontent.com/45821/42958024-a564b7d0-8b84-11e8-8d2f-7363f094f7c5.png)

Signal (but other apps look similar)
![screenshot_signal_20180719-184033](https://user-images.githubusercontent.com/45821/42957794-f6cb940a-8b83-11e8-8e97-a8d644592943.png)

Main things I notice:

1. The avatar next to the name in the top bar
2. Th

[2018-07-19 17:46] mario commented on #249
I'm working on some changes to the design so I'll poke you once that is ready.

[2018-07-19 18:24] jancborchardt commented on #231
(I assume you meant to say "we _can’t_ provide right now"?) And this is exactly why this issue is open.

The avatar and name of the person wo mentioned you in this group. Could be adjusted to intead of just the name in the first line to say:

[2018-07-19 18:25] mario commented on #231
File issues to the Spreed/Talk app if you haven't already please.

[2018-07-19 18:36] jancborchardt commented on #249
@mario if you are working on design changes, please involve @nextcloud/designers ;) Let us know what you are working on, it’s an iterative process.

[2018-07-19 18:38] mario commented on #249
@jancborchardt I cannot do mockups clearly (at least not YET), so I'll do the changes and I'll then involve @nextcloud/designers.

Also, some of the changes were already discussed in another issue.

[2018-07-19 18:46] jancborchardt commented on #249
You don’t need to do mockups, no worry. ;) But at least describing what you plan to do would be great, before you spend time on working something. Otherwise a lot of time might be wasted, and that’s not nice for anyone.

----

Also, if you _do_ want to do mockups, the recommended free software is [Pencil](https://pencil.evolus.vn/) or [UXBOX](https://www.uxbox.io/).

[2018-07-19 18:47] jancborchardt commented on #231
@mario as apparently there’s a lot of technical stuff involved here, I don’t exactly know what I would need to write in there. It seems best if you just file it and have all the needed technical info in there already. Feel free to use the screenshots I took for illustration, and quote what I said.

[2018-07-19 18:57] mario commented on #249
@rullzer

1) IHMO the avatar in the nav bar pollutes spaces - instead whitespace + two icons already there completely visible is what I strongly prefer. (voice and video call).

2) #158 is implemented, participant name and avatar will be only be shown on the first message in a group. (e.g. group is a set of messages by the same participant in the same minute.

3) See 2. point on why I think 3. is

[2018-07-19 20:11] jancborchardt commented on #249
This is what people are used to from apps such as WhatsApp and Signal.

- In 1on1 conversations, the avatar from the other person is shown in the header next to the name, and there is no need to repeat it for every message.
- In a group conversation, it’s the group image and name up there, and then of course it shows the avatars and names for every message (or once for a set of subsequent messages

[2018-07-19 20:30] jancborchardt commented on #249
Another point why the image should be in the top bar: Viewing details of the conversation and editing them should happen through tapping the title bar (avatar & name part) and there you should also be able to edit both the conversation name _and_ a future group picture.

So showing the image there gives you the affordance or hint that this is a place for editing the picture (in the case of group)

[2018-07-20 09:07] mario commented on #245
I'd like to NOT hijack system buttons if not needed. You can either click the HW/SW back button  or click the end call button.

[2018-07-20 09:07] #245 closed

[2018-07-20 13:34] ghost opened #250 "🎨 Support Server theme"
As a company owner I would like to have the theme configured at the server visible in the mobile app.

Maybe related to #207

[2018-07-20 13:36] nr458h opened #251 "Feature Request: Support Pin Protection"
Similar to the nextcloud app and also a feature of signal I would like to see a Pin and Fingerprint Protection

Thanks for the great work!

[2018-07-20 15:23] mario commented on #251
Thanks for the request, but I don't think we'll do this. You can always enable device protection.

[2018-07-20 15:23] #251 closed

[2018-07-20 19:26] mario opened #252 "Mention that push is only supported on Google Play install"

[2018-07-21 09:47] Bolli84 opened #253 "Show unread messages"
In the webbased version, you can see number of chat messages you have open for a specific chat (One on one or group chat).
In the mobile phone version, this is not visible (at leat I cannot find it).
Is this feature available and can be found somewhere, or is not not (yet) implemented?

[2018-07-21 13:57] alexara opened #254 "Add acoustic feedback for a call actions"
It would be great to have the following acoustic feedback :)

* Play a ringing sound when a call is initiated until the call receiver picks ups or joins the call
* When a user hangs up or a call ends, play an appropriate sound

[2018-07-21 14:47] mario commented on #254
There are several issues here:

a) This is not like a phone and we don't know when it really starts "ringing"
b) We don't know when a user hangs up

There was already an issue that I closed.

[2018-07-21 15:02] alexara commented on #254
Sorry, I searched for similar topics but did not find the one you closed.

Could it not be solved by sending "special" messages, when it starts ringing at another's phone or when the user hangs up?

I think of kind of invisible messages like, "hey I receive a call from you" or "hey, I hang up", which triggers an appropriate action at the other end.

[2018-07-22 13:20] mario commented on #254
That would need to be done in @nextcloud/talk.

[2018-07-22 20:52] alexara opened #255 "Incoming call screen with only a reject button"
Last times I called a friend, his incoming call screen often looked like this:

![a9124b4c-5f6d-4a9a-a9ec-edaac5a19b65](https://user-images.githubusercontent.com/13819719/43049907-34cd1a34-8e00-11e8-8cf0-ccd8a9a1f81d.jpg)

There was no way to accept the call. That's a frustrating UX. :-(

# Setup
Receiver: Samsung Galaxy S4, LineageOS 14.1 (Jun 18), NC Talk 2.1.2 PlayStore Version
Caller: Samsung

[2018-07-23 05:43] mario commented on #255
Super strange. I do have an S4 so I'll investigate.

[2018-07-23 08:55] Mario116 commented on #232
If you do not have the opportunity to connect to us and check, tell us where you can see and understand the problem

[2018-07-23 10:44] fraengii opened #256 "Various accounts"
_V2.1.2 from F-Droid on a 5.1.1 Android phone._

Setting up first account: All nice.
Second account: App sticks in turning blue circle (at least up to 10 min). After restart there is the option to switch between accounts but it leads to a blank page.

Same with import from Nextcloud app.

[2018-07-23 12:37] mario commented on #256
Version of the Talk app please, and if F-Droid or Gplay :)

[2018-07-23 14:32] fraengii commented on #256
V2.1.2 from F-Droid on a 5.1.1 Android phone.

I tested the GPlay version via Yalp Store and it crashes when I tryed to import an account from Nextcloud and when I want to add an account (after I created the first one via server address).

[2018-07-23 14:58] mario commented on #256
Thanks for the reply. The only reason why it'd crash is if you had a Talk app from GPlay and Nextcloud app from F-Droid. Is that correct?

[2018-07-23 15:04] fraengii commented on #256
Yes, correct!

[2018-07-23 15:31] mario commented on #255
AAAAH! Lineage! Can you tell me what version of the Play Services do you have installed?

[2018-07-23 15:32] mario commented on #255
Btw. this would happen if the app cannot find the user/group that initiated the call.

[2018-07-23 15:32] mario commented on #255
(or if it's slow to get the needed info)

[2018-07-23 15:44] fraengii commented on #256
I use the Yalp Store less and just tryed it for to see if there is a difference. Usually I install all my apps from F-Droid! 8-)

[2018-07-23 15:48] mario commented on #256
The F-Droid version doesn't support call and messages notifications.

[2018-07-23 15:50] fraengii commented on #256
Will it anytime?

[2018-07-23 15:52] mario commented on #256
Yes, once Google open sources the Firebase libs and people who run MicroG/Google Play Services.

[2018-07-23 16:01] fraengii commented on #256
Sounds like "Never". Do you recommend the GPl-verson so?

[2018-07-23 16:03] mario commented on #256
At the moment, yes. But Google plans to release Firebase libraries, and you'd be surprised how many people already have MicroG (FOSS alternative to Play Services) or Play Services on their phone.

[2018-07-23 16:30] fraengii commented on #256
Thanks. I will have a look at MicroG.

[2018-07-24 02:57] mario commented on #255
OK, the one without GApps won't even have notifications.

As for your other question... how? :D I can't fix how fast your server reacts :(

But let me look into this a bit more, maybe I missed something.

[2018-07-24 07:59] alexara commented on #255
So you would advise me to upgrade my tiny VPS with LEMP? :-)

Thanks!! :)

[2018-07-24 08:01] mario commented on #255
LEMP is good.

On Tue, 24 Jul 2018, 09:59 alexara, <notifications@github.com> wrote:

[2018-07-24 10:31] nr458h opened #257 "Feature request: support notifications for f-droid version"
In #58 it was asked to release an version to F-droid , thanks that this happend.
Also there were a huge discussion related to #75, why not to use gcm/fcm.
To summarize, there are users which have concerns to use Google- infrastructer in anyway.

#75 was closed because of the relation to #58.
But now we do have a gcm/fcm free version of talk so I would like to ask to support notifications in this v

[2018-07-25 07:40] skjnldsv opened #258 "Ghost call screen when a call starts"
Lately on groups calls, when the call starts I have blank ghost screens like that.
I showed it to @jancborchardt and it happens every time :)

![screenshot_20180704-162041](https://user-images.githubusercontent.com/14975046/43186381-c85e2564-8fee-11e8-92ff-607859cc14ee.png)

@mario

[2018-07-25 07:41] mario commented on #258
@skjnldsv does it changes? This is how it is UNTIL it gets all the info which it needs, which is a split second.

[2018-07-25 07:46] skjnldsv opened #259 "Contact selection small improvements"
Two suggestions:
- [x] - The contacts should have a loading circle before rendering (even if the data is fetched)
- [X] - The red/green buttons seems out of place @jancborchardt

| Needs loader | Buttons |
|:--:|:--:|
|![screenshot_20180725-093940](https://user-images.githubusercontent.com/14975046/43186543-39785968-8fef-11e8-8edb-01446c60ada7.png)|![screenshot_20180725-094033](https://user-images

[2018-07-25 07:47] skjnldsv commented on #258
@mario no, it stays like that forever :(
With screen on too :)

[2018-07-25 07:47] mario commented on #259
The second issue was already addressed.

[2018-07-25 07:47] mario commented on #258
Only on group calls?

[2018-07-25 07:48] skjnldsv commented on #258
I did not test it on single calls :)

[2018-07-25 09:10] alexara commented on #258
Looks like what I just reported: https://github.com/nextcloud/talk-android/issues/255. However in my case it happened at a 1:1 call. :-)

[2018-07-25 09:19] skjnldsv commented on #258
@alexara exactly :)

[2018-07-25 10:44] gradinaruvasile commented on #257
+1

[2018-07-25 13:30] mario commented on #250
Since you're a company owner, you can either purchase branding service with support or get support + professional services contract to get this implemented.

Otherwise, we''ll probably come to this but I'm not sure how soon.

[2018-07-25 13:31] #252 closed

[2018-07-25 13:45] mario commented on #257
You do understand this will kill through battery and still be super NOT reliable?

[2018-07-25 13:46] mario commented on #247
@Akrakadil any news?

[2018-07-25 13:49] gradinaruvasile commented on #257
Well it is still worlds better than NO notifications.
Riot (F-Droid version) for example works quite well even with 20 sec checks. The app places a notification icon and it worked for me on Android 6 and 8.1. It was reliable. Now i'm not arguing in some setups this could create issues, but you could take a look how Riot works, it seems quite all right.

[2018-07-25 16:34] nr458h commented on #257
I used riot in the passed and there was not that big battery drain same with signal what I'm still using with for example 21mAh over the last 8 h.

I do know that it is probably not that reliable as gcm/fcm but I think for people who live completely without google it is not the biggest downside.

For example signal gives a warning to the user when it is set up without gcm.

I would be really happy

[2018-07-25 16:35] nr458h commented on #257
Maybe in addition the question if there is a technical debt which makes an implementation similar to riot, signal, telegram ... impossible?

[2018-07-25 17:16] gradinaruvasile commented on #257
@nr458h I used the fdroid Riot for a half a year or so and it was very stable. I used even a faster, 20 sec refresh time. The overall battery time improved only marginally after i installed the google play version.

[2018-07-25 17:44] nr458h commented on #257
Maybe one last post to convince you :)

It came to my mind that NC advertises metadata-free communication, so on nextcloud.com/talk it says:

"
### Unique protection

Nextcloud Talk goes further than other encrypted communication technologies by keeping metadata private.

While public solutions like Whatsapp or Telegram might encrypt content, they and whomever monitors them still can see who you c

[2018-07-25 17:47] nr458h commented on #250
Our company is to little (7 persons) to give this a high priority but its still a nice to have - thanks for the hint to the professional service.

Other question would a bounty have the same effect?

[2018-07-25 17:47] mario commented on #257
Not metadata-free, just that it's all on your server. Push is the only way to wake up a device. All content in a push message is encrypted with YOUR OWN DEVICE-SPECIFIC KEY which can be verified.

[2018-07-25 17:48] mario commented on #250
Possibly, if somebody decides to pick up the bounty? :)

[2018-07-26 07:00] mario commented on #158
![screenshot_20180725-153329_nextcloud talk](https://user-images.githubusercontent.com/5810/43246527-2f367318-90b2-11e8-9720-097a411519aa.jpg)

cc @jancborchardt @skjnldsv

and @rullzer because I'll probably close https://github.com/nextcloud/talk-android/issues/249 after this is done :)

[2018-07-26 18:48] mario commented on #232
Hi, I just tested this and push registration works like a charm.

[2018-07-26 18:48] #232 closed

[2018-07-26 20:49] ClCfe commented on #195
Hello

Bug is still here, but is definitely related to not having any user configured

if I connect to a server without client certs, then I can add the 2nd account targetting my server with certs

Maybe the bug is either in controllers/SettingsController.java
Or
utils/ssl/MagicKeyManager.java

[2018-07-27 06:00] DudleyDursley commented on #257
@mario I think people realise the downsides of not using GCM, but as gradinaruvasile said, it's still better than not getting notifications at all (or being forced to install MicroG for one app). And other apps have been doing this for quite a while now. Not as the primary or ideal way of delivering push notifications, but as an alternative method for app versions delivered outside of the Playstor

[2018-07-29 09:29] mario commented on #223
This looks quite ugly.

![screenshot_20180729-104657_nextcloud talk](https://user-images.githubusercontent.com/5810/43364837-a3f75704-9322-11e8-91ab-ffe01ce7b61e.jpg)

[2018-07-29 09:59] mario commented on #255
I think this is fixed in master, but I guess we'll see. @alexara can you confirm that you have multiple accounts configured in your app?

[2018-07-29 09:59] mario commented on #258
I think this is fixed in master, but I guess we'll see. @skjnldsv  can you confirm that you have multiple accounts configured in your app?

[2018-07-29 10:02] #258 closed

[2018-07-29 10:02] #234 closed

[2018-07-29 10:02] #237 closed

[2018-07-29 10:02] #255 closed

[2018-07-29 10:58] skjnldsv commented on #258
@mario Nope, only one account :)

[2018-07-29 12:58] mario commented on #256
I've fixed the issue with crashing on import in a way that import account doesn't show if we can't import accounts. I'll look into the other issue mentioned here too.

[2018-07-29 13:37] alexara commented on #255
Nope, only one is configured.

[2018-07-29 13:44] mario commented on #255
Okay, I guess we'll see with 3.0beta1 if this works or not :P

[2018-07-29 16:53] mario commented on #258
@skjnldsv thanks.

[2018-07-29 22:41] mario commented on #246
You can increase this using volume up/volume down. Not much I can do I'm afraid.

[2018-07-29 22:41] #246 closed

[2018-07-30 00:00] mario commented on #247
Closing with no information.

[2018-07-30 00:00] #247 closed

[2018-07-30 11:53] enoch85 opened #260 "Show full contact book instead of just Nextclouds"
It would be nice to be able to show the full contact book instead of just Nextclouds to be able to use Talk not only for Nextcloud users, but for anyone.

This would make it easier to share links to anyone, instead of manually copying the link and then send it manually.

I hope you get the point. :)

[2018-07-30 11:54] mario commented on #260
Full contacts book? You mean from your address book? But that would mean we'd need to support SMS too?

Please clarify.

[2018-07-30 12:04] enoch85 opened #261 "Generate guest accounts automatically"
To get a wider spread of Talk, and enhance the usability it would be nice to somehow generate automatic guest accounts that users could use with Talk.

So for example, if I choose a contact from the telephones contacts (full contact book) a link would be generated that automatically creates a guest user that are valid for let's say 1 hour.

That way anyone with Nextcloud and Talk installed could u

[2018-07-30 12:08] enoch85 commented on #261
Or even better, when you access a public link from a smartphone, detect that it's a smartphone and ask the user to download Talk. Then when Talk is installed, use the public link as a login somehow.

Not so thought through, but yeah I hope it's possible somehow.

[2018-07-30 12:09] enoch85 commented on #260
Yes, support sending SMS from inside the app.

[2018-07-30 12:14] enoch85 commented on #261
The point being: I don't want to create users on my server manually to be able to use Talk for Android with External contacts that doesn't use Nextcloud.

[2018-07-30 12:29] mario commented on #261
How about I make it possible to join a public conversation without an account from the app?

[2018-07-30 12:36] enoch85 commented on #261
You nailed it, as usual! :)

[2018-07-30 12:37] enoch85 commented on #261
...if you mean that it would be possible to use the app without an account, just a public link?

[2018-07-30 12:39] enoch85 commented on #261
So basically two options when you start the app for the first time:

1. Login
2. Use public link

[2018-07-30 12:59] mario commented on #261
Yup, that's it.

[2018-07-30 14:01] skjnldsv commented on #258
Happened again today with only one account :)
I did not update to latest though

[2018-07-30 14:58] mario commented on #258
Right, I assumed you didn't compile from master yourself :) Let's wait for 3.0 beta 1 before testing this ;)

[2018-07-30 15:11] jancborchardt commented on #223
Well, of course it should only be done if there’s actually an avatar set. ;) For placeholders it does not make sense and we can keep the black background. Or if there’s a way to do that, fill the background with the background color of the avatar placeholder.

Also, it looks like the M in the background is stretched in height. We should not stretch the faces, but make them fill the screen (it's fi

[2018-07-30 15:12] jancborchardt commented on #158
Looking good! :)

[2018-07-30 15:13] jancborchardt commented on #249
Sorry but basically everyone in the messenger space is doing it and people are used to it. Sure we can add another action "Conversation settings" in the 3-dot-menu, but tapping the title should certainly also do that as a quick action. :)

[2018-07-30 15:14] jancborchardt commented on #259
Could we also cache the data once it’s loaded? Because currently it _always_ seems to request the server, whereas your contact list probably does not change so often. It could show cached data and then silently make the changes once update is fetched.

[2018-07-30 15:17] mario commented on #223
@jancborchardt you know we AFAIK can't know if there's an avatar set or not. Poking @nickvergessen, maybe he knows more about this.

You will have to clarify what you mean by "fill the screen".

[2018-07-30 15:18] mario commented on #249
"Everyone does it" is not the real reason to do something.

[2018-07-30 15:20] mario commented on #259
This is a whole other issue which you've mentioned somewhere else @jancborchardt. It will be done, but not now.

(Also, even if it pokes the server, we do cache the data in a way, just not across application runs which is sane considering that Talk runs all the time pretty much)

[2018-07-30 15:35] mario commented on #249
(P.S. I'll make you a deal - if you find the pattern you want in ANY of the official material design docs, I'd be more than happy to do it)

In addition, to stay on-topic for the avatar in nav bar, even the iOS guidelines say against this:

"Avoid crowding a navigation bar with too many controls. In general, a navigation bar should contain no more than the view’s current title, a back button, and

[2018-07-31 07:57] nickvergessen commented on #223
Not sure how you are getting the avatars atm. But in the web UI we query the URL and when it' 404 we create the FirstChar thingy.

[2018-07-31 08:10] mario commented on #223
The letter avatar is generated and returned by the server if no avatar is
set. There is no 404 involved.

On Tue, 31 Jul 2018, 09:57 Joas Schilling, <notifications@github.com> wrote:

[2018-07-31 08:48] mario commented on #223
or @skjnldsv

[2018-07-31 16:45] mario commented on #223
Considering that as far as I know it's not possible to know if avatar is set, what do you want to do? Suggestions welcome @nickvergessen @skjnldsv

[2018-07-31 17:54] nickvergessen commented on #223
We could make the api return 201 whe. It generated the letter image?

[2018-07-31 17:57] mario commented on #223
@nickvergessen that would not be a bad idea.

[2018-07-31 18:02] skjnldsv commented on #223
I'm not sure this will change anything since once it's generated, it will use the same functions than any saved avatar, right?
Couldn't we just add a new endpoint to return if the user have a custom avatar set?

[2018-07-31 18:04] mario commented on #223
@skjnldsv ah due to caching. @skjnldsv this will cause additional network and processing load on mobile app which basically just wants to show the avatar as soon as possible.

[2018-07-31 18:06] skjnldsv commented on #223
You could do that php-side and add this data in the call request?
That would be one request less to do ?

[2018-07-31 18:08] mario commented on #223
Dunno. Not the server magician here.

[2018-07-31 21:02] nickvergessen commented on #223
The file name is generated instead of avatar then. I will have a look tomorrow

[2018-08-01 08:43] jospoortvliet commented on #223
Just a thought - there was a PR to auto-generate avatars on the server. Not merged but would come for 15, I suppose. Also, if the auto-generated avatar looks so bad how do we know users won't have an avatar that looks similarly bad? Not everyone uses a picture of themselves...

[2018-08-01 08:45] mario commented on #223
That was for guests. We already generate avatar if it's not set :)

On Wed, 1 Aug 2018, 10:43 Jos Poortvliet, <notifications@github.com> wrote:

[2018-08-01 09:16] mario commented on #223
Ok, so @nickvergessen did this awesome PR which will allow me to show background only if it's a custom avatar.

But the point from @jospoortvliet still stands - it could be a really, really bad thing.

[2018-08-01 10:11] nickvergessen commented on #223
That is something we can tackle once the problem exists.

Well you can't but we have to do a trade of at some point.

[2018-08-02 07:26] mario opened #263 "App doesn't start with arabic"

[2018-08-02 09:12] mario opened #264 "Support system messages"

[2018-08-02 15:08] mario opened #265 "Smart notifications"

[2018-08-03 06:58] mario opened #266 "Support new way of loading contacts"

[2018-08-03 07:40] #238 closed

[2018-08-03 08:33] nickvergessen opened #267 "Support "order by last activity""
https://github.com/nextcloud/spreed/pull/1061

[2018-08-03 08:34] nickvergessen commented on #267
Capability: `last-room-activity`

[2018-08-03 08:43] mario opened #268 "Show last message in rooms list"

[2018-08-03 09:09] mikelupe commented on #257
+1, @DudleyDursley summarized it perfectly.

[2018-08-03 09:33] #210 closed

[2018-08-03 09:33] mario commented on #210
Will be in 3.0beta2.

[2018-08-03 09:37] mario commented on #267
I am glad you're thumbing up your own issues :P

[2018-08-03 09:40] #267 closed

[2018-08-03 09:44] mario commented on #263
Can somebody test this? I set the language of my phone to a non-standard language and it seems to work ok :(

[2018-08-03 09:44] mario commented on #263
@AndyScherzinger ?

[2018-08-03 09:51] AndyScherzinger commented on #263
Haven't had a chance yet to test it :/

[2018-08-03 09:52] mario commented on #263
All good, was just poking you to tell me when you do :D

[2018-08-03 13:55] bam80 commented on #58
@testbird Would IMAP-push based notification require yet another persistent connection to IMAP server?
The idea is fine otherwise

[2018-08-03 14:53] testbird commented on #58
If someone would provide a patch to the NotificationsControler of deltachat-android (as in https://github.com/nextcloud/talk-android/issues/58#issuecomment-398816098) to emit an intent to nc-talk (proof of concept), that would work based on the same IMAP connection (email account) you use in deltachat. The nexcloud-talk server would just have to send you a recognizable email, deltachat will wake u

[2018-08-03 15:10] bam80 commented on #58
@testbird what it's intended to do with these "push" emails - should they be deleted immediately upon receive? AFAIK if they are grouped to separate IMAP folder they would require additional connection anyway..

[2018-08-03 15:16] testbird commented on #257
Only workaround with f-droid I know is using something like the https://delta.chat Email-Messenger, to ask each other to call back.

That could be improved of course:
* https://github.com/nextcloud/talk-android/issues/96 Allow other apps to init calls
* https://github.com/nextcloud/talk-android/issues/58#issuecomment-410278560 Proof-of-concept / test using IMAP-push notifications.
* Add a https-pu

[2018-08-03 15:35] testbird commented on #58
Deltachat watches the INBOX and automatically groups incoming emails from "approved contacts" into separate "chats" according to the sender and recipient group, there is no proper auto archive or delete yet https://github.com/deltachat/deltachat-core/issues/120, however it is possible to delete the whole "chat" from time to time if desired, as it would only contain wake-up notifications.

For a pr

[2018-08-03 16:14] testbird commented on #257
In case you haven't seen it: Batter consumption in deltachat is down to 1% (seems less than what gcm would use if it were installed) and reliability is good since v0.18.2

[2018-08-03 17:17] testbird commented on #58
@bam80 Some servers do allow to watch multiple folders with one connection (imap-notify) https://github.com/deltachat/deltachat-core/wiki/IMAP-strategy

(also added more details to my answer https://github.com/nextcloud/talk-android/issues/58#issuecomment-410291533)

[2018-08-03 22:26] bam80 commented on #257
@testbird, it's fine!
Is there any overhead of IMAP-push notifications compared to GCM?

[2018-08-03 23:05] testbird commented on #257
Don't have any comparison, but the Email-chat spec that deltachat uses sure leaves room for some Email-notify spec to minimize the overhead.

[2018-08-04 11:50] #253 closed

[2018-08-04 17:32] mario opened #269 "Add presence support for one-to-one conversations"

[2018-08-04 17:32] #269 closed

[2018-08-04 17:32] #256 closed

[2018-08-04 17:39] mario commented on #265
@Ivansss @nickvergessen this is basically:

- first notification in a conversation: show
- following notifications if first one is not dismissed: on second one, show "You have more new messages" or so. Ignore third and following notification in the conversation until dismissed.

[2018-08-04 17:39] mario commented on #265
Will be configurable and disabled by default for one-to-one conversations. (which is the only type where this makes sense until group/public calls get notifications on every message)

[2018-08-04 17:41] nickvergessen commented on #265
I would always do this, without configuration

[2018-08-04 17:41] mario commented on #265
We can do that too :)

[2018-08-04 20:00] #268 closed

[2018-08-04 20:00] mario opened #270 "Show "wave" hand in conversation if only system messages exist"

[2018-08-05 13:23] alexara opened #271 "Click on "Wave" sends "Hello ????""
Talk Version: 3.0.0beta1 PlayStore
Phone: Galaxy S7 (Android 8)

When I click on the wave it says "Hello ????" with four question marks.

[2018-08-05 13:34] alexara opened #272 "Show user role (Administrator)"
I have two accounts set up, a standard user account and an admin account. This admin account belongs to all user groups as contact.

Since both accounts belong to me they have the same names (first name last name). It would be convenient to differentiate both contacts by naming it's role, eg. in brackets behind the name or under the name: `John Doe (Administrator).`

[2018-08-05 13:38] alexara opened #273 "Avatar not shown in conversation list"
Talk version: 3.0.0beta1
Phone: Galaxy S7 (Android 8)

The contact list shows all avatars.
However, in case no avatar was set, the conversation list only shows the letter avatars and for all other contacts a gray pictogram of a stylized person.

**Edit:** As I just found out, this issue only effects duplicates of conversations. Eg I have two conversations open with the same user, i.e. the username

[2018-08-05 18:11] mario commented on #271
This is a database issue.

Your database should be created like following:

CREATE DATABASE nextcloud CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci;

Or switch to that charset and collation.

[2018-08-05 18:11] #271 closed

[2018-08-05 18:12] mario commented on #273
Two conversations with the same user? That sounds VERY strange and is probably a setup issue.
What version of Spreed app on the server do you have?

[2018-08-05 18:13] mario commented on #272
Unlikely to happen as this is a VERY specific use case. But I do understand you need a way to differentiate between them. Maybe you could set the name/surname of one of them a bit differently?

[2018-08-05 18:13] #272 closed

[2018-08-05 18:13] mario commented on #273
@nickvergessen have you ever seen an issue with two conversations existing for the same user? (one2one)

[2018-08-05 21:15] Pistos commented on #209
@mario (Honest question) Are you saying that Nextcloud Talk can't provide native notifications without going through Google-controlled servers?  If so: Is that just how Android is?

[2018-08-05 21:49] alexara commented on #271
Thanks, I am going to do fix it.

[2018-08-05 21:52] alexara commented on #273
The current one, 3.2.5 on NC 13.0.5

I will observe it and in case it will happen again, I will report back. For the setup I followed completely the installation guide. ;-)

[2018-08-06 05:03] mathiasconradt opened #274 "App shows responsive web layout if a different login flow is used"
On https://nextcloud-live.com the login screen of the NC offers both SAML and Direct Login.

This causes the Talk app to behave like a responsive web app rather than showing the Talk widgets. After logging in, this is what I see in the Talk app:

I had a similar issue with the NC Files app which has meanwhile been fixed and seems to be related to the login flow on the server being different than t

[2018-08-06 05:35] mario commented on #274
HI @mathiasconradt.

1) Test account please
2) Afaik, only OUR login flow provisions app token which is needed for Talk to receive notifications, so even if we make this work push notifications won't work making Talk pretty useless AFAIK :)

[2018-08-06 06:26] mathiasconradt commented on #274
I'm using the direct login (username / password of local user), it's just that this NC instance offers two login mechanism for a user to choose before the actual login page.

[2018-08-06 08:02] Ivansss commented on #272
@alexara You could also change the display name of that admin user to `John Doe (Administrator).` in NC settings :)

[2018-08-06 08:07] Ivansss commented on #273
That could be the result of making a one2one conversation public and then private again.
The result is a group conversation with that user only. The conversation name will still be the display name of the other user but the avatar will be a group conversation icon since that's the current conversation type.

[2018-08-06 08:31] mario commented on #273
Probably true @Ivansss .

[2018-08-06 08:31] #273 closed

[2018-08-06 12:16] mario commented on #274
This is an issue with the link leading to a regular Nextcloud login instead of a flow login, therefore closing as there's not much (anything?) we can do about it.

[2018-08-06 12:16] #274 closed

[2018-08-06 12:56] mario opened #275 "Add support for nid and object data"

[2018-08-06 15:33] alexara commented on #272
In the browser the tag `moderator` is already displayed next to the user name. I had hoped you could do the same on NC Talk and additionally display special user roles, like `administrator`. :)

Since everyone could do that, I consider that a bad workaround for a setup with a lot of users. However, at my small setup I will consider it. ;-)

[2018-08-06 16:18] Seferi commented on #257
+1

[2018-08-06 20:51] #165 closed

[2018-08-06 20:59] #275 closed

[2018-08-07 07:00] mario opened #276 "Modernize the app"
- [ ] - move from LoganSquare to Moshi
- [x] - move from Android-Job to WorkManager
- [x] - move from Requery to Room
- [ ] - use separate NcApi instances per account
- [x] - move to AndroidX
- [x] - move to Fresco

[2018-08-07 16:30] #6 closed

[2018-08-07 21:00] #236 closed

[2018-08-07 21:44] #270 closed

[2018-08-08 00:43] #264 closed

[2018-08-08 09:08] nickvergessen opened #277 "Fullscreen Input+Keyboard on horizontal chat"

[2018-08-09 07:55] Bolli84 opened #278 "3.0.0 beta3 existing Messages are not loaded opening a conversation"
Once I start the conversation, I see the "hand" symbol and can start the first message. Then, the existing messages appear. CLosing the conversation window, the messages are gone again and will only apear, once a participant has written something in it.

It seems, a request for existing information for the conversation is missing on opening f the conversation.

[2018-08-09 14:18] jancborchardt commented on #249
@mario from https://material.io/design/components/app-bars-top.html#anatomy (section "Images in bars")

The example they show is this:
![](https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1UmsSQiiLgULeUnPsyvwdtixhQ7VfqRmN%2Ftopappbars-images.png)

So what we could do is show an enlarged (and blurred) image of the person in the header. Not with the goal of showing their face of

[2018-08-09 14:20] mario commented on #249
I could do this. But keep in mind when you scroll this 'header' is hidden
and is not really meant for chat. But I will figure something out so
everyone is happy.

On Thu, 9 Aug 2018, 16:18 Jan-Christoph Borchardt, <notifications@github.com>
wrote:

[2018-08-09 14:36] jancborchardt commented on #249
It would be really awesome if you simply take input from the designers, like the above https://github.com/nextcloud/talk-android/issues/249#issuecomment-406399409. :) It’s a team effort.

[2018-08-09 14:52] mario commented on #249
Thank you for your input, like I mentioned above it has been taken into consideration, however my input has to be respected since I'm working on the product and I'm more aware of the overall Android UX.

[2018-08-09 19:08] #277 closed

[2018-08-09 19:18] #278 closed

[2018-08-10 06:41] Bolli84 opened #279 "v3.0.0beta4 app crash when called from website"
With beta4 installed once you get a call from another person in one one one conversation using the website in NC13.0.5 you get the vibration (good!) and then the app crash message without any hint appears.
As long, as you are do not do anything, the vibration continues.

You can call another user without this issue from the app directly.

[2018-08-10 06:48] Bolli84 commented on #253
Is this implemented in the fix? On the overall-screen with all conversations and rooms, which I opened I cannot the the current numbers of unread messages
Preference: It should be next to the Conversation name.

[2018-08-10 07:38] mario commented on #253
It's indeed implemented.

On Fri, 10 Aug 2018, 08:48 Bolli84, <notifications@github.com> wrote:

[2018-08-10 08:11] psottek opened #280 "Support request: Kitkat"
Is this possible to support this app for android kitkat?

[2018-08-10 08:48] Bolli84 commented on #253
It is not visible in v3.0.0beta3 and beta4. At least not in my view Android 8.0.0 Sony Xperia

[2018-08-10 12:04] nickvergessen commented on #249
I checked all 6 Messengers I use, in group conversations they all are the same (like ours, apart from the timestamp being next to the bubble instead of inside, but i think its okay)
as for 1-1 chats, all show the name and avatar in the header, 3 show the avatar additionally on all messages, but no name.
So I would go with the masses here and add it to the header and remove the name + avatar from t

[2018-08-10 12:18] mario commented on #249
@nickvergessen it will be done like that.

[2018-08-10 20:14] mario commented on #253
I think you need Nc14 and new Spreed. Can't remember atm.

[2018-08-10 20:15] mario commented on #280
No, sorry. That would add a bunch of devices to equation which don't even support hardware rendering and lots of other things.

[2018-08-10 20:15] #280 closed

[2018-08-10 20:20] #279 closed

[2018-08-10 20:50] Bolli84 commented on #253
Is NC14 already a stable /productive Release?

[2018-08-10 20:51] mario commented on #253
No. Beta.

On Fri, 10 Aug 2018, 22:50 Bolli84, <notifications@github.com> wrote:

[2018-08-11 10:11] Bolli84 commented on #253
It is good to hear that it is implemented, however it is prefered on a productive release. Is it possible for NC13?

[2018-08-11 12:07] mario commented on #253
No, sorry.

On Sat, 11 Aug 2018, 12:11 Bolli84, <notifications@github.com> wrote:

[2018-08-12 06:14] Seferi commented on #257
I think they should have been upfront about the fdroid version not having notofications, I have been trying to solve the problem since a month... This is how Telegram F-droid seems to solve it:

![screenshot_brave_20180812-080638](https://user-images.githubusercontent.com/2592842/43999175-7c8baafe-9e07-11e8-9bf0-94482cd1e281.png)

The app is kinda useless without notification.

[2018-08-12 10:12] developerfromjokela opened #281 "Not receiving calls in background or foreground"
When my collegue calls me, and I am not in app, I don't receive popup or notification about incoming call.
When I am in the app, and he calls me again, I can see incoming call screen.

[2018-08-12 10:42] mario commented on #281
What version of the app, what phone, what Android version?

On Sun, 12 Aug 2018, 12:12 Developer From Jokela, <notifications@github.com>
wrote:

[2018-08-12 12:28] developerfromjokela commented on #281
App Version v2.1.2 Phone Moto G5 Plus, android 8.1 (using Custom Rom)

[2018-08-12 19:14] mario commented on #281
Can you try the beta version pls?

[2018-08-12 19:17] mario commented on #257
We are VERY upfront about not supporting notifications if you install from F-Droid, in addition to me responding to queries and issues on all possible mediums (twitter, forums, github).

You're free to implement another service which the app will connect to, Nextcloud connector and a patch for the Android app which I'm happy to review and merge if it's good enough. But like the above post says (fr

[2018-08-12 19:30] developerfromjokela commented on #281
Ok I will try, where I download it?

su 12. elok. 2018 klo 22.14 Mario Đanić <notifications@github.com>
kirjoitti:

[2018-08-12 19:35] mario commented on #281
https://play.google.com/apps/testing/com.nextcloud.talk2

[2018-08-12 22:25] mario commented on #205
With 3.0 you'll be able to use system-wide Do-Not-Disturb to accomplish this.

[2018-08-13 10:06] Seferi commented on #257
Thanks for the info mate. Notification support is written on the NCTalk page on F-Droid, I find it misleading...

![screenshot_f-droid_20180813-120155](https://user-images.githubusercontent.com/2592842/44025731-2e5cedb2-9ef1-11e8-84ae-c1704ec7a395.png)

[2018-08-13 12:00] mario commented on #257
@Bubu can you pls check why was F-Droid README not updated despite me updating the fastline files? Do we maybe need one stable release before it happens?

[2018-08-13 12:25] Bubu commented on #257
Yes. Not sure if that's intended behaviour on f-droid side but that's what the code currently does :woman_shrugging: .

[2018-08-14 18:26] mario commented on #281
@developerfromjokela any news?

[2018-08-15 05:55] developerfromjokela commented on #281
So, Now When I receive call, activity shows up for 1 second as white then
it exits.

ti 14. elok. 2018 klo 21.26 Mario Đanić (notifications@github.com)
kirjoitti:

[2018-08-15 20:12] jancborchardt opened #282 "Guest names not shown, says "{actor}""
See this:

![](https://i.imgur.com/LAP21R1.png)

Instead the guest name should be shown, or in absence of a name, simply "Guest joined the call".

[2018-08-15 22:11] gradinaruvasile opened #283 "Sometimes the Android talk client spams connections to the server"
Sometimes my VM in which nexycloud is running has high cpu usage. If i look at the process list i see multiple (10?) php-fpm7.0 processes ( i have nginx and php-fpm). These processes all take some cpu time. What i saw in the access logs is that one of the Android nextcloud talk clients spams connections multiple times a second. All of them look like this:

[code]

The VM's cpu is pegged at 100%.

[2018-08-16 05:51] mario commented on #283
Well, sure? Since we can't have a constantly open connection (PHP) there's no other way than poke it all the time. Did you set keepalive?

Sorry :(

[2018-08-16 05:51] mario commented on #282
I would appreciate if you wrote a version of the app. Right now I know it's beta4, just by luck :)

[2018-08-16 05:52] mario commented on #281
@developerfromjokela I will have beta5 out soon.

[2018-08-16 06:38] developerfromjokela commented on #281
Ok, I will check when it's released and keep you up to date.

On Thu, Aug 16, 2018, 8:52 AM Mario Đanić <notifications@github.com> wrote:

[2018-08-16 07:11] gradinaruvasile commented on #283
How can a situation where we have **multiple times a second**  connections open constantly and hogging **all** resources of a server regarded as normal?

This doesn't happen all the time. Most times i can have a/v calls without this spamming. This is not the standard behavior. If i kill the app, restart it and enter a conversation most likely this doesn't happen and i have very low resource usage

[2018-08-16 08:40] gradinaruvasile commented on #283
Where can i check that?

[2018-08-16 08:44] mario commented on #283
Apache or nginx config.

On Thu, 16 Aug 2018, 10:40 Laszlo Kertesz, <notifications@github.com> wrote:

[2018-08-16 08:46] gradinaruvasile commented on #283
I have a "keepalive_timeout 65;" in the nginx.conf. Is that it? Seems to be a default value.

[2018-08-16 08:47] mario commented on #283
That should be good enough hm

On Thu, 16 Aug 2018, 10:46 Laszlo Kertesz, <notifications@github.com> wrote:

[2018-08-16 11:04] #282 closed

[2018-08-16 11:09] mario opened #284 "Investigate onDestroy of chat not fully executing on back press"

[2018-08-16 14:50] mikelupe opened #285 "v3.0.0beta5 "Settings" tab provokes error"
- v3.0.0beta5
- LineageOS 7.x
- APK download and install from here.
- no gapps, no micro-g

"Unterhaltung" and "Kontakte" works when switching tabs, "Einstellungen" gives "Nextcloud Talk wurde beendet".

Thanks for your work, Mario.

[2018-08-16 15:14] jookk commented on #285
+1 on stock 7.1.1 moto g5s plus

[2018-08-16 16:43] ArtJames commented on #285
+1 on stock 5.1 (Wiko Pulp, Odys Neo6) - Google Playstore
I tried a clean reinstall. (Data & cache cleaned) Get 'cypherSuite TLS_DHE_RSA...' error message when asked for server to connect to. Let’s Encrypt certificates up to date and working.
Old 2.x version still works without any problems.

[2018-08-16 18:00] mario commented on #285
Thanks folks.

@ArtJames this sounds VERY strange. There were no changes in regards to cipher suites.

[2018-08-16 18:31] jookk commented on #285
And with notifications?

[2018-08-16 18:32] mario commented on #285
@jookk what's happening with notifications?

[2018-08-16 19:34] mario commented on #285
Fixed in beta6. Thanks for testing folks!

@ArtJames pls let me know if you still have issues with ciphers afterwards.

[2018-08-16 19:34] #285 closed

[2018-08-16 19:53] fraengii commented on #285
I'm sorry but where can I get the APK?
:-[

Am 16. August 2018 16:52:33 MESZ schrieb mikelupe <notifications@github.com>:

[2018-08-16 20:53] mikelupe commented on #285
Thanks - settings working :)

[2018-08-16 23:45] ArtJames commented on #285
After further unsuccessful tests with beta 6 I went back to 2.1.0.

[2018-08-17 04:51] mario commented on #285
Fair enough @ArtJames - can you get me a test account at mario@nextcloud.com?

[2018-08-17 04:52] mario commented on #285
@fraengii is Google Play beta channel good enough or you want a direct link to APK?

https://play.google.com/apps/testing/com.nextcloud.talk2

[2018-08-17 05:36] jookk opened #286 "No notification sound"
NC Talk v3.0b6
Notifications workiing, but without sound. Vibrations working if enabled.
No sound notifications in new call and messages.

[2018-08-17 05:36] jookk commented on #285
On Android 5.1 still crashing

[2018-08-17 05:38] jookk opened #287 "Navigation pannel missing"
NCTalk v3.0b6
![screenshot_20180817-072639](https://user-images.githubusercontent.com/11217085/44249503-73b0f500-a1f0-11e8-83e2-11da04925c83.png)

Ocurred by navigating from Settings.

[2018-08-17 05:41] jookk opened #288 "Cant call with app"
This seems only beta 5, 6 related. (not sure) NC14.b4
Audio, video calls are not established together. Cant see other video, hear other audio and other side cant see, hear me.
After end call, app returns message that call duration is...
Tried on local net and from my 4G cell.

[2018-08-17 08:41] mario commented on #287
Phone & Android version pls.

[2018-08-17 08:41] #284 closed

[2018-08-17 08:41] mario commented on #283
Should be fixed in 3.0.0beta6.

[2018-08-17 08:41] #283 closed

[2018-08-17 08:42] mario commented on #281
Beta6 is out. Please try @developerfromjokela .

[2018-08-17 08:43] mario commented on #286
Sound turned on, and you're not in Do Not Disturb mode?

[2018-08-17 08:43] jookk commented on #287
Moto g5s plus android 7.1.1 stock
Sfter click to hw back button, app goes to calls screen and pannel is ok now

[2018-08-17 08:44] jookk commented on #286
Sound tunned on and dnd off

[2018-08-17 08:45] mario commented on #287
Strange. Please try to give me reproduction steps so I can try to fix it.

[2018-08-17 08:49] jookk commented on #287
I cant reproduce. Tried but I cant

[2018-08-17 10:37] fraengii commented on #285
If there is a chance to have a direct link I would prefer this.
Thank you!

Am 17. August 2018 06:52:12 MESZ schrieb "Mario Đanić" <notifications@github.com>:

[2018-08-17 10:39] mikelupe commented on #285
@fraengii
- https://github.com/nextcloud/talk-android/releases
- or even more direct:
https://github.com/nextcloud/talk-android/releases/download/v3.0.0beta6/nextcloud-talk.apk

[2018-08-17 11:28] mario commented on #287
OK, please re-open the issue if you find a way :)

[2018-08-17 11:28] #287 closed

[2018-08-17 16:55] gradinaruvasile opened #289 "3.0 beta6 cannot join conversations"
After update to beta6 i cannot join conversations anymore (it may be like this with beta5 but i had that one installed for a little time).
I can set up the app with importing the authentication from the Nextcloud app, user list and conversation list loads. But if i tap one conversation, i get the spinning circle indefinitely (it seems to be the bigger one, not the small one which is shown when upd

[2018-08-17 17:10] jookk commented on #289
Similar?  https://github.com/nextcloud/talk-android/issues/288

[2018-08-17 17:13] gradinaruvasile commented on #289
Maybe, but i cannot even enter the text conversations. Sometimes the top bar loads, but the audio/video buttons do nothing. Once i managed to join via the calling screen, but nothing came from the other side.
BTW i got phantom incoming calls mostly.

[2018-08-17 19:57] mario commented on #289
Should be fixed in another beta. If not, test acc pls to my mail (mario@nextcloud.com).

[2018-08-17 20:00] #286 closed

[2018-08-17 20:00] #289 closed

[2018-08-17 21:28] jancborchardt commented on #282
Right, sorry – will include the version in the future.

[2018-08-18 05:25] jookk commented on #286
B7
New call notifications - working with sound
New msg notif - no sound, only vibration, if enabled.

[2018-08-18 05:51] mario commented on #288
@jookk can you please uninstall and then install the app again? I will test the upgrade process in the mean time.

[2018-08-18 05:52] mario commented on #289
@gradinaruvasile could you try uninstalling and installing the app again?

[2018-08-18 06:01] mario commented on #288
Found the issue.

[2018-08-18 06:26] jookk commented on #288
So:
Removed app data, removed app, restarted device, install from store and the same.

[2018-08-18 06:27] jookk commented on #286
After app reinstall the same as before

[2018-08-18 07:57] fraengii commented on #285
@mikelupe, many thanks!!!

Am 17. August 2018 12:39:43 MESZ schrieb mikelupe <notifications@github.com>:

[2018-08-18 07:57] mario commented on #288
@jookk did this happen with 2.x too? Because this is an issue with Google Play Services failing to update your supported ciphers.

[2018-08-18 08:01] mario commented on #289
@gradinaruvasile found the issue. Pushing it now.

[2018-08-18 09:50] jospoortvliet commented on #178
Mentioning https://github.com/nextcloud/android/issues/2657 to connect the two issues. People regularly ask about this..

[2018-08-18 09:57] #288 closed

[2018-08-18 09:57] mario commented on #289
Beta8 is out!

[2018-08-18 10:02] mario opened #290 "Investigate why messages don't get sound notification"

[2018-08-18 13:38] #290 closed

[2018-08-18 13:58] gradinaruvasile commented on #289
It works now.

On Sat, Aug 18, 2018, 11:01 Mario Đanić <notifications@github.com> wrote:

[2018-08-18 13:58] mario commented on #289
Thanks for the feedback and testing!

I've significantly rewritten the way we do networking, so some problems slipped in it looks like!

[2018-08-18 23:01] gradinaruvasile opened #291 ""Push notifications disabled" message after account set up"
I have another issue with 3.0 beta8 (from Google Play):

After i import the account from Nextcloud,
For a second i have the message in the middle of the screen (which dissapears and the list of conversations load):

And indeed mentions, calls are not notified (tried on 2 devices with 2 separate accounts).

Server-side i have this message:

[code]

[2018-08-18 23:03] gradinaruvasile opened #292 "If i force-kill the app, after relaunched it prompts for reauthentication"
If i force-kill the app, after relaunched it prompts for reauthentication.
But if i press back and wait a while i have the conversations, users list and i can use the app.

[2018-08-19 13:09] developerfromjokela commented on #281
Ok, I will try it.

On Fri, Aug 17, 2018, 11:42 AM Mario Đanić <notifications@github.com> wrote:

[2018-08-19 13:48] mario commented on #291
Uh we don't ever do stuff with this endpoint, I believe the server might though.

Is the account you're trying to import created using the login flow?
Calling @nickvergessen to the rescue.

[2018-08-19 13:48] mario commented on #292
Woot. I'll investigate.

[2018-08-19 13:55] gradinaruvasile commented on #291
I don't remember, i surely tried with imported accounts on 2 devices. None
had working notifications.

On Sun, Aug 19, 2018, 16:48 Mario Đanić <notifications@github.com> wrote:

[2018-08-19 14:02] gradinaruvasile commented on #292
The issue seems bigger than originally described. This also happens after
an account was set up and working.

 After a while the app seems to forget the authentication credentials. If i
tap the Contacts tab nothing is shown. If i tap the Conversations tab it
will forward me to the Grant Access screen. And in this scenario i cannot
reload the lists without re authorization. Server side a single log

[2018-08-19 14:09] mario commented on #292
The "app token auth" is really a server issue already filled.

Let me think about this a bit and see if I've missed the credentials somewhere.

[2018-08-20 01:58] markcs commented on #104
HI Mario,

So you' decided not to implement this?  All calling apps I can think of have a tone that indicates that a call is being established. What is the difference to Nextcloud that makes this nor make sense?

Thanks

[2018-08-20 11:06] gradinaruvasile commented on #292
After a bit more testing it seems that the app works sometimes even after the reauthorization request if i press back and i let it idle a few minutes on the Contacts tab (which is empty) - after this time i could reload the contacts list succesfully (manually).

[2018-08-20 13:27] markcs opened #293 "Question; when is the proxy used?"
Hi Mario

I'm just curious in what situations the http proxy would be used or need to be configured?

Thanks!

[2018-08-21 06:14] developerfromjokela opened #294 "Most methods in source code cannot be resolved"
Hello!

I downloaded Source code (latest) and I'm getting errors of most voids in source code .java files.

How can I fix them?

[2018-08-21 06:16] developerfromjokela commented on #294
https://i.imgur.com/p3mDsMG.png

[2018-08-21 06:29] developerfromjokela commented on #281
It works now fine

[2018-08-21 06:29] developerfromjokela commented on #281
When I close app and someone calls me it opens Activity

[2018-08-21 08:04] nickvergessen commented on #291
Not sure what importing an account means, but if you are not using an app token it's not going to work.

[2018-08-21 08:07] gradinaruvasile commented on #291
hi,
Importing account is when you import the account from the Nextcloud app. It
works for pre-beta5 versions just fine.
I will try getting a tiken but as far as i remember i had all these issues
with tokens too.

On Tue, Aug 21, 2018 at 11:04 AM Joas Schilling <notifications@github.com>
wrote:

[2018-08-21 08:12] nickvergessen commented on #291
Does that generate a new App token @mario
Otherwise it will of course not work because an app token can only have one push token.

[2018-08-21 13:32] mario commented on #294
I'll check it out, but it should be fine.

[2018-08-21 13:32] mario commented on #281
Thanks.

[2018-08-21 13:32] #281 closed

[2018-08-21 13:34] mario commented on #291
Ah shit. You're right, this is the issue @nickvergessen. I guess I have to force re-auth after importing the credentials. Will do.

[2018-08-21 17:05] developerfromjokela commented on #294
Ok, Thanks!

[2018-08-22 09:01] zeekoe commented on #257
Not wanting to add oil to the fire, but adding a +1. My hope was that nextcloud talk could replace telegram for some of my use cases but now that it doesn't have notifications for my setup I think i need to be a little more patient / implement it myself. 🙂
I like the way telegram handles notifications, sad that Google blocked that in 8.

[2018-08-22 12:26] developerfromjokela commented on #294
Any news?

[2018-08-23 09:43] mario commented on #294
I compiled this a few times today already, so it definitely works. Do a clean & rebuild pls.

[2018-08-23 09:43] #294 closed

[2018-08-23 09:44] mario commented on #291
Found the generic issue, will be fixed for next beta.

[2018-08-23 09:44] #291 closed

[2018-08-23 10:18] mario opened #295 "Require re-auth when importing an account"

[2018-08-24 08:02] egeu5 commented on #205
Does system-wide means you can set a DND in Nextcloud Web?
Thank you!

[2018-08-24 08:04] mario commented on #205
No. It means your phone.

On Fri, 24 Aug 2018, 10:02 egeu5, <notifications@github.com> wrote:

[2018-08-24 09:04] mario opened #296 "Add empty screen for conversations"

[2018-08-24 09:05] mario commented on #292
Should be fixed. You might have to re-add the account.

[2018-08-24 09:05] mario commented on #292
Sorry for the trouble!

[2018-08-24 09:06] mario commented on #293
Only in certain cases atm. E.g. When you're communicating with your Nextcloud server (e.g. fetching contacts, conversation list, signaling info) - stuff like that.

Not in WebView and not while while actually talking.

[2018-08-24 09:06] #293 closed

[2018-08-24 09:06] #296 closed

[2018-08-24 09:07] gradinaruvasile commented on #292
It is not fixed in beta9, should be in beta10?

[2018-08-24 09:17] mario commented on #292
Please reinstall the app :)

pet, 24. kol 2018. 11:07 Laszlo Kertesz <notifications@github.com> je
napisao:

[2018-08-24 15:13] gradinaruvasile commented on #292
I reinstalled it (beta 9) twice but unfortunately it isn't working.
I still get the reauthentication prompts. Also half of the time i authenticate to grant access then it is sitting indefinitely on "Redirecting". The token is created on the server.
After authentication mostly works but after a time it still starts to ask for granting access.

[2018-08-24 15:16] mario commented on #292
Super super strange :( sorry about this.

On Fri, 24 Aug 2018, 17:13 Laszlo Kertesz, <notifications@github.com> wrote:

[2018-08-25 06:39] o0lwj0o opened #297 "Suggestion : continuous calls of StringBuilder.append"
Hi,
    I have found some continuous calls about StringBuilder.append(..) in some files. For example, there are several continuous calls from line 1549 to 1558 in the file https://github.com/nextcloud/talk-android/blob/master/app/src/main/java/com/nextcloud/talk/controllers/CallController.java

        // Set all we need
        ncSignalingMessage.setPayload(ncMessagePayload);
        ncMessageWra

[2018-08-25 06:48] o0lwj0o opened #298 "Suggestion : continuous calls of StringBuilder.append"
Hi,
    I have found some continuous calls about StringBuilder.append(..) in some files. For example, there are several continuous calls from line 168 to 173 , 180-182  in the file https://github.com/nextcloud/talk-android/blob/master/app/src/main/java/com/nextcloud/talk/webrtc/MagicProximitySensor.java

private void logProximitySensorInfo() {
        if (proximitySensor == null) {
            ret

[2018-08-26 07:10] benhartwich opened #299 "Translations not available"
Hi,

I´m beta tester of Nextcloud Talk and have installed your great app on a Huawei 20 Pro yesterday (Android 8.1). After I`m logged in I see "Benötigt keine Übersetzung" at every button:
![screenshot_20180826-090703](https://user-images.githubusercontent.com/4061954/44625699-dbadbc80-a90f-11e8-9d9f-b426627a112c.jpg)

[2018-08-26 09:41] mario commented on #299
Thank you for your report. Can you please tell me what locale are you using so I can try to reproduce and hopefully fix the issue?

Thanks, Mario!

[2018-08-26 09:42] mario commented on #298
Why don't you submit a PR? :)

[2018-08-26 09:42] mario commented on #297
Why don't you submit a PR? :)

[2018-08-26 09:53] benhartwich commented on #299
Thanks! I´ve set German (Austria) at my language settings.

[2018-08-26 10:07] mario commented on #299
Version of Android please?

[2018-08-26 10:12] benhartwich commented on #299
Android: 8.1.0, Kernel Version 4.4.103+

[2018-08-26 10:16] mario commented on #299
Could you translate it to de_AT pls?

https://www.transifex.com/nextcloud/nextcloud/android-talk/

[2018-08-26 10:16] mario commented on #299
(Never seen this error btw, must be something with Android 8.1)

[2018-08-26 10:28] benhartwich commented on #299
Thanks! No problem.

[2018-08-26 14:15] giulianograssi commented on #239
Hey there,

i created a table with titles of the screenshots and linked the images directly to the urls received from the img in the playstore. i guess those links can get broken if you ever update the playstore version or the images itself. i heard NC has a file server where you have all screenshots stored. i think linking to those screenshots would be the better way to do this.

Questions:
1. wh

[2018-08-26 14:48] o0lwj0o commented on #298
Thank you for your advice. It's worth a try.

[2018-08-26 14:48] o0lwj0o commented on #298
Thank you for your advice. It's worth a try.

[2018-08-26 15:55] giulianograssi commented on #239
i just talked with @mario and the result is
- There is no public available file server for screenshots
- Store the Screenshots into the docs folder
- Wait on the new screenshots used for the new version

just ping me when the new version is out and i will continue working on it.

[2018-08-27 08:42] mario commented on #299
Fixed. Will be in next beta.

[2018-08-27 08:42] #299 closed

[2018-08-27 08:42] mario commented on #223
Partly done for 3.0, the rest will be in 3.1.

[2018-08-27 11:50] mario commented on #239
@giulianograssi yup - will do. Thanks for contributing.

[2018-08-27 11:52] mario commented on #220
So I talked with @nickvergessen and @giulianograssi and there will be a context menu in the future with various other options. Since copy will be there, is that enough for you so we don't really need the snackbar or anything @jancborchardt?

[2018-08-27 11:53] mario commented on #292
Hi @gradinaruvasile. I just released beta10. Once it's out, would you be so kind to delete the current version and install it? Would appreciate it.

[2018-08-27 12:53] gradinaruvasile commented on #292
I removed the app and downloaded the beta10 one from github.
It is still not working.
- If i try to import account from the NC app, i am asked for granting access, i provide login details (user/pass/two factor), but it hangs on "Redirecting..."
- If i fill out manually the server url, i am taken to the Grant access screen, i fill out the login details, i am taken back to the initial blue setup scr

[2018-08-27 13:18] giulianograssi commented on #239
@mario please add ggrassi6 (at) gmail.com to the beta test group

1. i will then install the beta and make screenshots for the languages
- German
- English
- French
- Italian
2. i will upload them to talk-android/fastlane/metadata/android/xx-YY/phoneScreenshots/
3. i will use the en-US screenshots to get displayed in the README.md

[2018-08-28 11:58] MorrisJobke commented on #299
Yes - was fixed with an updated transifex sync. :/

[2018-08-30 01:47] 9662 commented on #257
This bothers me.

The Nextcloud ecosystem should not have any Google dependencies whatsoever.

If you are going to depend on features from the Google ecosystem then might as well not bother using Nextcloud at all in the first place.

So really the trichotomy is:

* notifications without Google, or
* no notifications at all; or
* not part of Nextcloud.

[2018-09-04 17:41] makuser commented on #209
@mario you asked how @Grunthos installed it and he said Google Play store. I got it from F-Droid, so I assume and hope there are no Google services integrated in this version?

Notifications don't work there too, which is why I'm here. How does it work for those setups? And what about iOS or other platforms?

[2018-09-05 19:37] #297 closed

[2018-09-05 19:37] #298 closed

[2018-09-06 11:07] mario commented on #292
Found the issue after all. :(

[2018-09-06 11:10] gradinaruvasile commented on #292
Can it be fixed?

[2018-09-06 18:38] mario opened #303 "Support file previews"

[2018-09-06 19:12] #292 closed

[2018-09-07 01:56] gradinaruvasile commented on #219
Also it would be nice to see WHO read the message in group chat.
Something like in Hangouts and Riot.im, where they place small "pills" of user icons under the message. Very useful feature.

[2018-09-07 02:01] gradinaruvasile opened #304 "The ""

[2018-09-07 02:01] #304 closed

[2018-09-10 06:15] jookk opened #306 "ability to use camera"
Straight from the app and paste image.

[2018-09-12 13:03] gradinaruvasile opened #307 "Copying messages to clipboard with long press gives no feedback (Was "Cannot copy text messages")"
The text messages should be copyable on long press.

[2018-09-12 13:14] mario commented on #307
They are?

On Wed, 12 Sep 2018, 15:03 Laszlo Kertesz, <notifications@github.com> wrote:

[2018-09-12 15:11] github-k8n commented on #58
I think there seems to be some notion that "Push" messages and specifically Google Cloud Messaging are something "special".

If I understood it correctly it should be like this:
Basically it is just the google app keeping a connection open with one of the nearby GCM servers.
That is basically the same thing that IMAP idle does.
Through this open connection, any notification can be "pushed" to the

[2018-09-12 19:22] R4U5CH1337 opened #308 ""Share with ..." function (Android)"
Hi
I was wondering why I can't find Nextcloud Talk in my list when I try to share sth. like in my Brave Browser (LOS 15.1)? Did I miss something or this right?
I would be really happy if there'll be this feature to simply share links directly with my contacts.
Thanks a lot!

[2018-09-13 05:08] edes commented on #271
I have the same problem here. Altering the database to that charset and collation didn't change anything for me.

[2018-09-14 13:13] 9662 opened #309 "Cannot talk with Nextcloud Talk"
**Version:** v3.0.0
**Installation source:** F-Droid
**Android version:** 7.x (both phones)

With both parties having the application open, a conversation is initiated by one of them by clicking on the other user's icon in the contacts list.

The receiving user does not get any notification that there is an incoming call / conversation.

The receiving user (being notified [out-of-band](https://git

[2018-09-14 13:49] mario commented on #308
Good idea. I'll add it eventually!

[2018-09-14 13:49] mario commented on #307
It's a long press. Did you try long press on the input field and click Paste afterwards?

[2018-09-14 13:50] mario commented on #309
1) F-Droid doesn't support notifications as mentioned in many issues so far
2) Do you have Turn server installed? Might help with the actual connection between the two participants.

[2018-09-14 13:50] #309 closed

[2018-09-14 19:30] gradinaruvasile commented on #307
No. But i did now and it works :)

Anyway it's a "hidden" feature, it works differently than any other app and without any feedback to the user.
So we have 2 issues here:
- The copy operation should provide some feedback, if not else, at least a toast with "copied to clipboard".
- The messages should be copyable partially too. I have some apps that annoyingly let only a full chat message to be cop

[2018-09-14 19:43] gradinaruvasile opened #310 "Longer multi-paragraph messages are not sent with no feedback"
There is a message size limit that is not obvious neither in the Android app nor the web version.
You can type/paste lots of characters into the input field, but if the limit (what is it exactly?) is reached you cannot send the message.
- On the Android client when you press "send" the message dissapears from the input field and nothing else happens, leaving the user wondering about what just happ

[2018-09-16 13:07] github-k8n commented on #257
I think there's no reason to not implement notifications without GCM.
(except maybe it's "easier" to just give up and use the google libraries)

Conversations (XMPP) does it, K-9 Mail (IMAP) does it.
Yes, I exclude them from the battery optimization, however they use almost no battery, especially when compared to the google bloatware,

Long lived connections with no traffic don't really drain the

[2018-09-16 15:00] hoellen commented on #257
This [blog post](https://f-droid.org/en/2018/09/03/replacing-gcm-in-tutanota.html) on f-droid could be interesting.

[2018-09-16 16:56] mikelupe commented on #257
@hoellen - wow

[2018-09-17 05:59] mario commented on #307
Hi,

we already have an issue for the first (https://github.com/nextcloud/talk-android/issues/220) and I believe @giulianograssi is working on it - right?. Second please file a separate issue if it's not too much of a problem.

Cheers..

[2018-09-17 06:01] mario commented on #310
I really appreciate you testing the app so much and putting in the effort to submit a bug report.

In order for me to understand the issue better:
- the input field is limited to 1000 chars and shouldn't allow you to input more. Can you confirm it actually allows you to do that? o.O

[2018-09-17 06:01] mario commented on #220
@giulianograssi any chances you've had the time to work on this?

[2018-09-17 06:03] mario commented on #239
@giulianograssi my apologies, I've just seen this but I think you became part of the beta group at the conference.

https://play.google.com/apps/testing/com.nextcloud.talk2

In the mean time 3.0 has been released as stable.

[2018-09-18 07:16] sysmoh opened #311 "crash on contact tab and new conversation click"
The app crashes when I try to open the contact tab or try to create a new conversation.

I use nextcloud 14 beta with the **user_sql** app which provides an additionnal user provider based on another database, this is probably the issue, there are no problems when using the web interface of nextcloud talk.

[2018-09-19 14:56] asgardius opened #312 "Add file attach feature"
could be great if file attach feature present in web version were also on mobile app. I have a nextcloud server and i can also test beta builds of this mobile app for reporting bugs

[2018-09-21 14:31] escoand commented on #261
Any progress so far? Using public links is already working (when logged in) so is it a bigger problem?

[2018-09-21 16:26] gradinaruvasile opened #313 "The messages should be copyable partially"
Currently the messages in the message list can be copied only in full (via long press).
This is problematic if one needs only a part of the message because it is needed to paste it somewhere.

It would be really helpful if the messages are copyable partially too
- on long press the message contents should be selected with the standard Android text selection with the options to expand/reduce and th

[2018-09-23 16:58] 9662 commented on #309
You mean the Talk version on F-Droid. I know that, in fact I linked to the corresponding issue above.

Turn server (coturn) [is installed](https://help.nextcloud.com/t/howto-setup-nextcloud-talk-with-turn-server/) and running well (though all things considered, the app should come with its own TURN service bundled in). Nevertheless, the connection is hit and miss even on the same LAN, and all but

[2018-09-23 19:44] mario commented on #257
Sorry people, but I've written quite a few times why it's not as easy as you make it out to be.

I have personally invested both my own free time and time of Nextcloud (the company) to make Nc Talk available on F-Droid and so have the guys behind F-Droid (thanks @Bubu, a lot!!!). I would be the first one to implement notifications there if it was technically possible.

Sure, there are workarounds,

[2018-09-24 06:18] DudleyDursley commented on #257
@mario
I've tested the F-Droid version again and at least the text chat seems to be able to poll the server for new messages. Would it be possible to do that on a semi-regular interval and produce a notification?

[2018-09-24 06:32] github-k8n commented on #257
@mario, first a big thanks to you and everyone making it possible to have nc talk available in F-Droid.

While I would agree that it is not as easy as just including the google libraries (google likes to make it easy for developers to say "screw it" and to just use their closed-source stuff),
and that it might require more work than is currently available (after all, the focus might not be on thos

[2018-09-24 07:04] mario commented on #257
"All it would require" is a very bold statement given that Google and/or various OEM implementations would kill the background service doing this relatively often, even if you ignore battery optimisations (which is bad UX anyway).

[2018-09-24 07:05] mario commented on #257
(Btw. I'm one of the pesky F-Droid users :P)

[2018-09-24 08:19] testbird commented on #257
Hm as nextcloud clients always have theier own server (obviously) it might be legit to use it directly. ;-)
I mean even without putting the code into a shared library to collaborate one something quite useful https://gitlab.com/foss-push/planning

See in this article
https://f-droid.org/en/2018/09/03/replacing-gcm-in-tutanota.html
that "tutanota" already implemented (stand-alone) a multi-account s

[2018-09-24 08:28] testbird commented on #257
Docs: https://hoa-project.net/En/Literature/Hack/Eventsource.html

[2018-09-26 14:20] fsxadmin commented on #312
i agree!

[2018-09-27 07:36] florianwgnr opened #314 "Problems with split-screen and after leaving the app while calling"
Two problems:

- when "closing" the app (pressing the home button) while talking with someone, the call is still active in the background. so far so good. But when you want to go back to the call by pressing the app icon on your launcher, the call stops immediately without any message and the chat opens up. But when you re-open the app via "last application screen", then the actual call re-opens.

[2018-09-29 21:54] robertfromont opened #315 "No notifications for 'open' conversations"
It seems that if you don't leave a conversation, but hit the home button or turn the screen off, you don't receive any more notifications for text messages in the conversation. So if someone doesn't respond to a chat message right away and I pocket my phone, I won't get a notification when they finally answer.

Steps to reproduce:
1. Person A sends message to Person B (there's a notification on ph

[2018-09-30 22:51] MarkusP opened #316 "Missing notification forwarding to Samsung Gear S3"
Hi all,
I use Nextcloud in version 14.0.1 on my own server, "Talk" app in version 4.0.0 is installed and enabled.
Also I use Nextcloud Talk app on Android 8 on Samsung S8, S7 and A5 (2017).
Doing chats and voice and video calls, even with notification, works good.
What is not working is, even the Android Nextcloud Talk app is enabled to do so, sending notifications to my Samsung S3 Clock/Wearable

[2018-10-01 05:43] jookk opened #317 "Ability to detect ongoing call"
I started call with nc android talk to another android nc talk app. On that mobile was ongoing call and app ringed...  So expected behavior is if user talking, app will not ring and (if possible) give feedback to other side (busy tone or text?)

[2018-10-01 07:49] Ivansss opened #318 "Message send multiple times"
Sometimes a single message is send multiple times.
Experienced this in a conversation with @mathiasconradt
![img_7650](https://user-images.githubusercontent.com/4638605/46275890-b63f4e80-c55e-11e8-9881-e88ba950c0b0.jpg)

[2018-10-01 07:51] mario commented on #318
Version of Nextcloud and version of the app?

On Mon, 1 Oct 2018, 09:49 Ivan Sein, <notifications@github.com> wrote:

[2018-10-01 07:54] Ivansss commented on #318
Nextcloud 14.0.1 and Talk 4.0.
@mathiasconradt could you provide android app info?

[2018-10-01 10:48] mario commented on #317
Thank you for the report, I'll definitely look into this.

[2018-10-01 10:48] mario commented on #316
Hey, thanks for reporting this. Unfortunately no idea as I don't have an Android Wear device :(

But maybe I'll get it in the future and I can test it.

[2018-10-01 10:48] mario commented on #315
Yup, know, will be fixed.

Thanks for reporting this.

[2018-10-01 10:49] mario commented on #314
Thanks for reporting.

[2018-10-01 10:49] mario commented on #313
Right. Will look into it eventually.

[2018-10-01 10:49] mario commented on #312
It'll appear in the future, I just don't know when.

[2018-10-01 10:50] mario commented on #311
Woot. I'll investigate, but I'm not aware at what urgency as this is the first report of the kind that I've gotten.

[2018-10-01 10:50] mario commented on #311
Thanks for the report!

[2018-10-02 21:57] jancborchardt commented on #307
Duplicate of https://github.com/nextcloud/talk-android/issues/220 → let’s continue there. :)

[2018-10-02 21:57] jancborchardt commented on #307
Duplicate of https://github.com/nextcloud/talk-android/issues/220 → let’s continue there. :)

[2018-10-02 21:57] #307 closed

[2018-10-02 21:57] jancborchardt commented on #220
@mario I’m fine with the context menu, but if that still is not started (and takes a lot of time), maybe it makes sense to have a quick fix in the form of a snackbar as mentioned above? Especially as others are filing issues too.

[2018-10-03 12:47] mario opened #319 "Accepting call takes you into a chat instead of a call"
Reported via mail. To be investigated.

[2018-10-04 11:03] jancborchardt opened #320 "Height of conversations in list should all be the same"
Currently in the conversation list there are 2 different kinds of height:
- Conversations with 1 row of text as message preview
- Conversations with 2 rows of text as message preview

This looks strange when scrolling when the avatars on the left are differently spaced. We should adjust it so the height is the same for all rows.

[2018-10-04 11:27] jancborchardt opened #321 "Force round app icon"
Our other apps like Files and Notes use the round app icon whenever possible. Here in Android 6.0.1:
![](https://cloud.jancborchardt.net/s/EMpkZC8mYa9WTLK/preview)

We should do the same for Talk.

[2018-10-06 04:38] #315 closed

[2018-10-06 04:38] mario commented on #319
Cannot reproduce.

[2018-10-06 04:38] #319 closed

[2018-10-06 04:41] mario commented on #311
Can you send me a test account to mario@nextcloud pls?

[2018-10-06 04:46] mario commented on #220
Context menu is now there.

[2018-10-06 04:47] #220 closed

[2018-10-06 04:47] #313 closed

[2018-10-06 08:49] mathiasconradt commented on #318
@mario I'm always on the latest version since I have auto-update enabled on Android. I have no more details other than I only sent a message once, however Ivan got it twice. No idea why.

[2018-10-06 16:05] mario commented on #318
@mathiasconradt when you enter the same conversation again, do you see the same message multiple times? (e.g. twice or three times?)

[2018-10-07 03:57] mario commented on #321
*shrug* @AndyScherzinger wanna do this?

[2018-10-07 03:58] mario commented on #320
Also @AndyScherzinger, wanna do this? :)

[2018-10-07 06:25] nr458h opened #322 "Delete messages"
It would be great to be able to delete messages (with multiselection)

[2018-10-07 06:40] AndyScherzinger commented on #321
Sure thing, but probably won't be able to do this before mid of October if that is fine with you

[2018-10-07 06:41] AndyScherzinger commented on #320
Absolutely! :)

[2018-10-08 06:07] mario commented on #322
As soon as the server supports it :)

[2018-10-08 06:11] mario commented on #239
@giulianograssi you around? :)

[2018-10-08 09:59] jookk commented on #322
You can del whole conversation and create new one.

[2018-10-08 12:03] gradinaruvasile opened #323 "Partial message select overlay doesn't show if own messages are selected"
Partial message select overlay doesn't show if own messages are selected. The select overlay color is in effect invisible.

![talk](https://user-images.githubusercontent.com/16729939/46607861-32abd180-cb0b-11e8-8b0b-9230b541fa2e.png)

[2018-10-08 13:58] gradinaruvasile commented on #322
That is most definitely not the goal here.

[2018-10-09 13:06] #323 closed

[2018-10-09 13:06] #303 closed

[2018-10-10 10:59] leihergo opened #324 "Status bar notifications android"
Steps to reproduce
Receive a message in nextcloud talk
Go to the bar notifications
There is nothing there
Expected behaviour
Get the notification, not just a vibration of the terminal

Actual behaviour
The mobile just vibrates, if you don't feel it, you don't know you have messages

[2018-10-10 14:18] mario opened #325 "Support notification levels"

[2018-10-10 14:19] mario commented on #324
Considering the phone vibrates, push message is received.

What phone do you have, what Android version?

[2018-10-11 13:32] ddi98 opened #326 "Send photos from the nextcloud talk app"
Hi, the app is done well but it would be useful to send files and photos directly from the app, you can do it?
I use the latest version of nextcloud stable

[2018-10-11 20:04] mario commented on #326
Already planned, see #312 :)

[2018-10-11 20:04] #326 closed

[2018-10-11 20:04] mario commented on #326
Thanks for being awesome!

[2018-10-16 08:34] johnfelipe commented on #124
screensharing for android is featured?
if not when release a version with that feature?

[2018-10-16 22:35] mcaapcop opened #327 "PTT"
Has the push to talk feature been removed? I have 3.0.1 and do not see the feature anywhere.

[2018-10-17 11:52] mario commented on #327
No? When mic is disabled, press & hold to use it?

Please let me know if this works.

[2018-10-17 13:29] gradinaruvasile commented on #257
@mario Do the recent Websocket-related commits have something to do with this?

[2018-10-17 14:03] mario commented on #257
No, sorry.

On Wed, 17 Oct 2018, 15:29 Laszlo Kertesz, <notifications@github.com> wrote:

[2018-10-19 04:06] inits opened #328 "China can’t use Google play service? should have another way to push message"
have some another way to push message notify

[2018-10-19 16:01] mario commented on #328
There's no way for this currently atm, sorry :(

[2018-10-19 16:01] #328 closed

[2018-10-19 16:02] mario commented on #328
Happy to have users in China though!

[2018-10-19 16:02] mario commented on #327
Closing - if you don't find it please let me know and we'll take a look together :)

[2018-10-19 16:02] #327 closed

[2018-10-19 23:55] dvn0 commented on #257
If you run Signal without Google Play Services installed, then Signal defaults to a "constant connection" and the device still receives timely notifications.

I believe this is a good example of an app which works both with and without Google Play Services.

I am commenting on this issue to point that out, as well as to express that *this is heavily desired* by fans and serious users of Nextcloud.

[2018-10-21 16:45] xXSTrikeXx opened #329 "No call notification when I´m on 4G"
Hello mario and the other devs 😉
It was a long time and I was oberserving it. It´s great work anyway and I don´t want to miss it anymore.

Now comes the time, that I really want to install it. I followed MichaIng tutorial to install a TURN server on my PI:
https://help.nextcloud.com/t/howto-setup-nextcloud-talk-with-turn-server/30794

I think I´ve done all alright, because in the first time I reac

[2018-10-21 21:43] mario commented on #329
Welcome back @xXSTrikeXx! :)

Congrats on the new job.

Let me investigate this and we'll see! :)

[2018-10-22 09:03] nr458h commented on #257
Another reason for introducing google-independent notification
#380

[2018-10-22 09:05] nr458h commented on #257
Another reason for google-independent notification
#328

[2018-10-22 09:21] #321 closed

[2018-10-22 09:22] AndyScherzinger commented on #321
PR is #330

[2018-10-22 10:22] AndyScherzinger commented on #320
PR is #331

[2018-10-23 10:43] #320 closed

[2018-10-23 20:06] mario opened #334 "Invite user by email / better contacts handling"

[2018-10-23 21:17] #206 closed

[2018-10-23 21:17] #266 closed

[2018-10-23 21:56] #310 closed

[2018-10-23 23:04] mario commented on #311
Closing since I can't really tst. Let me know if you get the time to send me a test account.

[2018-10-23 23:04] #311 closed

[2018-10-23 23:04] mario commented on #263
Closing since I can't reproduce. :(

[2018-10-23 23:04] #263 closed

[2018-10-24 02:51] SteveYoungs commented on #116
Complaining, LOL.

No, seriously, the graphic is extremely misleading.  I, too, thought you were supposed to press one of the hardware keys. I've only seen the animation once (never tried again because pressing my hardware keys did not, obviously, work so assumed the feature was as yet not fully implemented), but doesn't the animation travel _from_ the mic button and finish at the upper right side

[2018-10-24 03:16] SteveYoungs opened #335 "Incoming Msg Notifications While IN the Conversation"
I'm getting incoming message notifications for conversations that are currently focused and in the foreground.  I should only get notifications when either the app is in the background, or the notification is for a conversation that is not currently focused.

[2018-10-25 09:46] mario opened #336 "Autocomplete doesn't work on all phones"

[2018-10-25 09:46] #336 closed

[2018-10-25 09:46] mario commented on #336
cc @schiessle  - should work in 3.1 :)

[2018-10-26 08:47] mario opened #337 "Use Nunito font everywhere"
cc @nextcloud/designers @jancborchardt

[2018-10-26 08:48] #337 closed

[2018-10-26 09:33] mario commented on #227
@jancborchardt do you experience this with 3.0 still? I don't have an Android 6.x or lower with Play Services so I can't really test it atm.

[2018-10-26 13:44] mario commented on #127
- [] - reconnect at random intervals
- [] send nick every now and then

@fancycode @Ivansss why do we send nicks all the time? o.O

[2018-10-26 13:49] Ivansss commented on #127
This is just when using the MCU, because there is no way to know when another peer subscribed to receive your audio&video streams. Am I right @fancycode ?

[2018-10-26 13:51] fancycode commented on #127
Yes, there is https://github.com/nextcloud/spreed/issues/991 open to stop (ab)using the datachannel and use the name from the participant list instead.

[2018-10-26 13:58] mario commented on #127
OK, three smaller things remain. Will do it early next week and then it's time for beta!

[2018-10-26 21:12] wargreen opened #338 "Contacts list is empty"
On my nexus 7, nextcloud-talk 3.01 from f-droid and NC 14.0.2, the contact list is empty, and no request seem to be done to our server (log level 0). Discussion list is correctly filled.
I havn't succeed to get any log via logcat.

[2018-10-28 13:49] 9662 commented on #257
What are the specific hurdles to overcome?

[2018-10-28 14:39] testbird commented on #257
I don't know, if not collaborating with others to create a shared mobile push client (https://gitlab.com/foss-push/planning), existing server-side-events libraries and code (see posts above) may ease integrating fully fledged push messaging in the nextcloud server, and clients.

But maybe the client-server connection can work as it is? At least in the beginning for experimenting? In the end, SSE m

[2018-10-29 16:42] mdesign83 commented on #312
Please make nextcloud talk visible as an application to share something with:
![screenshot_20181029-173956_firefox nightly](https://user-images.githubusercontent.com/181026/47665644-d7b54980-dba1-11e8-9973-db02e5721ad5.jpg)

[2018-10-29 17:22] testbird commented on #334
possibly providing a link #96

[2018-10-30 18:35] wargreen commented on #338
I have never build anything for android, but i will try !

[2018-10-30 22:11] #338 closed

[2018-10-30 22:12] #127 closed

[2018-10-31 15:56] wargreen commented on #338
Same issue after installing the 3.1 apk from github's releases.
The first "wait round" is infinite (all the night and today, at least), and the contact list is empty after relaunch.

[2018-11-01 01:00] mario commented on #338
What version of android? Http or https?

On Wed, 31 Oct 2018, 17:05 wargreen <notifications@github.com wrote:

[2018-11-01 13:05] wargreen commented on #338
I run lineageOS 14.1 without gApps.
Same problem when i specify https.
On our server we have an http redirection 80 to 443. (cloud.lebib.org)

[2018-11-01 14:05] mario commented on #338
Can you send a test account to Mario@nextcloud.com?

On Thu, 1 Nov 2018, 14:58 wargreen <notifications@github.com wrote:

[2018-11-01 15:06] wargreen commented on #338
You can freely register on the homepage ;)

[2018-11-01 16:15] luntik2012 opened #339 "vibrate switch doesn't work"
- set vibrate switch on
- switch to contacts tab
- switch back to settings tab
- ...
- profit

lineage 14.1
android 7.1.2

[2018-11-01 18:42] kekePower opened #340 "Feature Request: Log in security, code, password and fingerprint"
Hi.

I'd love to see the same feature as in the main NC app where I can lock access with a password and use my fingerprint to log in.

TIA.

Cheers,
kekePower

[2018-11-01 20:37] mario commented on #340
Can you clarify why? I mean it's just like your dialer / viber / whatsapp / whatever app. If you use locking in any way throughout your system, you cannot open the app without unlocking the system first anyway.

[2018-11-01 20:39] kekePower commented on #340
Thanks for getting back to me.

I have safe zones where I don't have to unlock my phone and it's also connected to my smart watch.
Don't want anybody looking at my chats even if I'm around.

And I've also enabled this feature in WhatsApp for this reason alone.

Cheers,
kekePower

[2018-11-02 02:52] mario commented on #339
Found the issue. Thanks for the report.

[2018-11-02 03:32] #339 closed

[2018-11-02 14:09] torarg opened #341 "no push notifications if app is closed but conversation was opened before"
Nextcloud Version: 14.0.3
Android App: 3.1.0beta1

I noticed that there are no push notifications for currently opened conversations. So far this is expected behaviour, but if the app is closed or backgrounded when inside a conversation, the push notifications still keep missing.

If I reopen the app and explicitly leave the conversation and then close the app, the push notifications will work aga

[2018-11-03 23:53] mario commented on #335
Hi @SteveYoungs. Is this fixed in 3.1.0beta1? Because it should be :)

[2018-11-03 23:57] mario commented on #335
I just tried it, seems to work. Please re-open if it doesn't for you :)

[2018-11-04 00:00] mario commented on #341
Partly a server issue. But let me try to workaround it :)

[2018-11-04 00:12] #341 closed

[2018-11-04 00:12] mario commented on #341
Hopefully fixed for 3.1beta2, but feel free to re-open the issue once beta is released if it doesn't fix it! :)

[2018-11-04 00:12] mario commented on #329
Could you try 3.1beta1, just in case?

[2018-11-04 00:13] mario commented on #324
Could you  guys try 3.1beta1 please? @jimmy5670 and @leihergo

[2018-11-04 10:14] SteveYoungs commented on #335
Hi @mario.  My quick test went like this...

1. Sent a message to my wife and kept NC Talk open and focused until she replied.  I got the reply and did NOT get a notification. Yes! Good! Win!
2. Sent her another message and then opened another app so NC Talk would lose focus before she replied.  She replied and I did NOT get a notification.  No! Bad! Lose! :-(

It looks like I'm not getting notifi

[2018-11-04 10:32] SteveYoungs commented on #335
I just saw #341 That is what I'm seeing!  I'll look forward to beta2 :)

[2018-11-04 11:14] SteveYoungs opened #342 "[Feature Req] App Shortcuts"
Accessing recent conversations via app shortcuts would be great.  'Create new conversation' would be another good candidate for a shortcut.

[2018-11-04 11:45] SteveYoungs opened #343 "[Feature Req] Nicer Contacts List"
I'd like to suggest a couple of improvements to the contacts list, specifically how groups are listed.  Instead of listing them interspersed with normal contacts, put all of the groups at either the top or bottom of the list.  Having a way to see the members of a group would be really nice too, so maybe group contact entries could be expandable to reveal the members.

[2018-11-04 16:33] crifalo commented on #329
hello, I have the same things.
Best regards
Laurent

[2018-11-04 18:01] mr-bolle commented on #324
With Samsung Note 9 and Stock Android 8.1.0. I only get a notification for a incoming call. With new chat messages i get nothing.

Nextcloud Server 13.0.7 and 14.0.3
Android 3.1.0 beta 1 (with all previous versions the same)

[2018-11-06 11:18] oparoz commented on #217
Same with messages. All previous messages should be cached and there should be a spinner indicating that new ones are being loaded.

[2018-11-07 01:15] mario opened #344 "Add ability to mute calls per conversation"

[2018-11-07 01:15] #325 closed

[2018-11-07 01:16] #344 closed

[2018-11-07 02:08] mario commented on #343
Partly implemented for beta2.

[2018-11-07 02:09] mario opened #345 "Allow expanding groups in contacts"

[2018-11-07 02:15] #259 closed

[2018-11-07 02:15] #343 closed

[2018-11-07 02:15] mario commented on #345
@schiessle do you  know how can I get all users that belong to a group?

[2018-11-07 10:13] #316 closed

[2018-11-07 10:13] mario commented on #316
Will be fixed in 3.1beta3.

[2018-11-07 10:56] mario opened #346 "Offer to start new conversation if filter results are 0 in conversations list"

[2018-11-07 11:05] mario commented on #345
@nickvergessen on how to accomplish this too :P

[2018-11-07 11:09] nickvergessen commented on #345
For users there is no way to get this list.

[2018-11-07 11:12] mario commented on #345
Ok, so this won't happen then :(

[2018-11-07 11:12] #345 closed

[2018-11-07 12:59] EricThi opened #347 "app crash after clic on info button on conversation"
Hello,

I update now my app to last release beta (3.1.0beta2) and check new and test already feature.

i crash many time my apps ( android rebooted between test)

for sure, see my screenshot for version android
where a touch for crash my app
my  :
https://nextcloud.eric.ovh/s/fNjRDJYgER4ezZF

i don't any log on app (not same for app nextcloud with tab log on expert mode)

I can help you, don't hes

[2018-11-07 13:32] mario commented on #347
Should be fixed in beta3

[2018-11-07 13:32] #347 closed

[2018-11-07 13:36] mario commented on #347
Thanks for the report btw!

[2018-11-07 14:03] EricThi commented on #347
nice, thank a lot for hard work

[2018-11-07 15:08] EricThi commented on #347
update and fix it :D

[2018-11-07 16:36] mario commented on #347
Thanks for the update.

[2018-11-08 04:01] jimmy5670 commented on #324
Same situation on Android 3.1.0 beta3,
but I noticed in the talk conversation screen list message sender,
the under message sender's last activity time is not up to date,
after I tap the sender and enter the message chat screen, the last message shows immediately,
but still no notification shows up,
does message not received instantly in background?
My hypothesis is the message real received when

[2018-11-08 12:53] mario commented on #329
@xXSTrikeXx I just tried this with latest beta and it works. Can you please try? Same for @crifalo.

[2018-11-08 12:54] mario commented on #324
The conversation list needs to be updated manually. We only pull for chat messages when you are inside chat view @jimmy5670.

Push is something different.

[2018-11-08 13:02] mario commented on #324
@mr-bolle can you send me a test account please? I just tried this and it works like a charm :(

same for @leihergo

[2018-11-10 07:19] mario commented on #124
@johnfelipe as soon as I get the time or someone contributes this :)

[2018-11-10 16:59] mario commented on #324
Tested this with the user and it works as expected, therefore closing.

[2018-11-10 16:59] #324 closed

[2018-11-10 18:56] mr-bolle commented on #324
Thanks Mario

**Test results:**
- Nextcloud Server 13.x - notification only if user mention
- Nextcloud Server 14.0.3 - notification with other android app chats works, or with the desktop browser login
- public connection as guests - currently no notification (Mario wrote it should be fixed with Nextcloud Servers 15)

[2018-11-10 18:58] mario commented on #324
Sorry, maybe we misunderstood each other - currently in public calls you need to be mentioned in order to be notified.

But guests cannot be notified since they don't have a user account.

[2018-11-13 21:57] felipexpert opened #348 "Iphone compatibility"
I am going to write a app (probably with ionic to be executed on Android and IPhone) that will help my local commerce, making it ease to find everything. My project basically is a organization of stores and a chat, I would like to integrate your chat part with it, but it also has to run on Apple devices, I would like to know if I can do it. Thank you!

[2018-11-14 09:46] mollat opened #349 "Constantly crashing"
I am using a nightly LineageOS 14.1 (Android 7.1.2) on a Galaxy Note 3.

Unfortunately Talk crashes reliable when I push it into the background (with the home button) from the chat view, or when I push on 'Phone' or 'Cam' in the chat view. It does not crash when I push the home button from the _chat_overview_. However - it does not pull messages though in the background.

I already tried to instal

[2018-11-14 10:04] mario commented on #348
Sure, you can use the same APIs that this app uses to talk to the Spreed app on the server.

[2018-11-14 10:04] #348 closed

[2018-11-14 10:42] mollat commented on #349
Good hint. Found some log entries:

``11-14 11:40:28.941  3983  3983 E AndroidRuntime: FATAL EXCEPTION: main
11-14 11:40:28.941  3983  3983 E AndroidRuntime: Process: com.nextcloud.talk2, PID: 3983
11-14 11:40:28.941  3983  3983 E AndroidRuntime: java.lang.NullPointerException: Attempt to invoke virtual method 'java.util.List com.bluelinelabs.conductor.internal.LifecycleHandler.getRouters()' on a

[2018-11-14 10:46] mario commented on #349
Thanks. Let me try to reproduce this somehow.

[2018-11-14 18:25] mario commented on #349
@mollat would you mind if I reopened the issue and tried to fix it anyway? While I can't reproduce it, and neither can you on your other phone it's probably an issue that arises under certain conditions - and I'd like to avoid it if I can.

[2018-11-15 15:12] mollat commented on #349
No problem. I still have the phone here... ;)

[2018-11-15 21:25] tkintenn opened #350 "Won't login after change to DNS (server move)"
Opened Per Mario feedback via google play
Actual behaviour

I copied my NC files and DB to a new VM (moved it from 1and1 hosting). Then upgraded from 13 to 14. Talk app would not login, just said "Redirecting" and logs shows an invalid login for my user. Web interface worked fine. The Nextcloud app worked just fine.
The background was intentionally made different so i could tell when DNS switch ha

[2018-11-16 11:22] hoerup commented on #350
I had a simliar experience although the entrypoint was different. After changing my nextcloud password, i just couldn't get Nextcloud Talk app working again. Tried removing and re-adding accounts - removing and re-installing app didn't help either. But after clearing both data and cache on app i was able to login once again.

[2018-11-16 20:56] mario commented on #329
Closing until I get more info.

[2018-11-16 20:56] #329 closed

[2018-11-16 20:58] #205 closed

[2018-11-17 00:46] qoheniac commented on #257
Would it be a lot of effort to create a F-Droid repository for the Play Store version of Nextcloud Talk? Then I could get that version from F-Droid and use microG for notifications.

[2018-11-17 04:31] pgera opened #351 "No notifications with microg"
I think this used to work earlier, but I'm not getting notifications for texts or calls although the app registers with microg gcm successfully. The microg settings just says no messages received so far. Has something changed recently ? Any way to debug ? Server and client are at latest stable versions. Tried the beta for the app too but didn't help.

Edit: I see a bunch of these messages on the s

[2018-11-17 07:46] mario commented on #351
Let me check if something is wrong with the push infrastructure.

[2018-11-17 14:43] asgardius commented on #207
i'm working in a darkj theme for this app, i'll upload modified files when i finish

[2018-11-17 14:45] mario commented on #207
Dark theme will probably have to be calculated based on the existing colors
so when they are changed, dark colors change too

On Sat, 17 Nov 2018, 14:43 Page Asgardius <notifications@github.com wrote:

[2018-11-17 23:58] asgardius commented on #207
[dark theme patch.zip](https://github.com/nextcloud/talk-android/files/2592392/dark.theme.patch.zip)
Here my dark theme for Nextcloud Talk, Archive includes modified files from current master branch with a list of them in an unix txt file

[2018-11-19 20:15] bisherbas commented on #192
@florentfeougier Nope. Still the same. :(

[2018-11-19 20:58] mario commented on #192
@bisherbas did you use 3.1 beta? Same for @florentfeougier :)

[2018-11-20 18:00] bisherbas commented on #192
@mario I think you were asking for the Android app version not the server plugin. Android app I have is from the app store. It shows as 3.0.1. I haven't downloaded and installed the 3.1 apk.

[2018-11-20 18:29] florentfeougier commented on #192
@mario , I registered to the beta program and installed the 3.1 beta on 2 android devices but it's still not working. I noticed that I do get the notifications from the OSX client in Activity -> Server Activity  however.

[2018-11-20 20:49] godfuture commented on #189
You appear a little arrogant to me. You haven't read my ticket carefully enough.

Good messaging solutions try to adopt to common use cases. One common use case is that you are getting called and you simply want to silence the phone. This might be the case even when you have not entered silence mode. My idea was to somehow allow to silence a call, to gain some time to find a place to call. You hav

[2018-11-20 21:04] mario commented on #189
I appreciate the name calling and characterisation 6 months after you originally wrote the ticket @godfuture. Had you clarified your ticket further after I wrote my comment I would have for sure taken it into better consideration.

That being said, the call notification has changed significantly since the time you originally wrote the ticket so you can indeed silence the incoming call now.

I hope

[2018-11-20 21:06] mario commented on #192
@florentfeougier this is different than push notifications though. Can you send a two test accounts so I can test? mario AT nextcloud.com :)

[2018-11-20 21:10] mario commented on #207
Thanks @asgardius - I noticed you changed the colour files directly. Let me see if I can figure something out of this :)

[2018-11-20 21:11] mario commented on #192
@bisherbas if you can do the link @florentfeougier gave you, that would be awesome :)

[2018-11-20 21:12] mario commented on #257
@qoheniac that I can look into eventually, but soon there won't be a need for that as Google is Open sourcing the Firebase library. :)

[2018-11-20 21:34] godfuture commented on #189
Thats the point. You have closed the ticket in the same minute you have answered. This does not give the impression you are looking forward getting some feedback. Thats pretty much everything...

[2018-11-20 21:45] mario commented on #351
@pgera should work now - feel free to reopen the ticket if it does not.

Thanks for raising this issue and sorry for the troubles this caused you, we've had a slight hiccup with the infrastructure.

[2018-11-20 21:45] #351 closed

[2018-11-20 21:50] mario commented on #189
Pretty much all the features in this app have been driven by community demand, and one of them was change in the way calls notifications work - while not intentionally, through all those requests what you originally requested was implemented as well.

I am sorry if you thought it's arrogant, but a simple sentence 6 months ago could have resolved any misunderstandings :)

[2018-11-20 21:54] pgera commented on #351
Thanks. Works.

[2018-11-20 21:57] pgera commented on #351
Btw, are there any plans to make the push server code open and/or included within the main server ? Would it work if I use my own google api keys for accessing google apis ?

[2018-11-20 22:15] mario commented on #351
@pgera it's not a PHP component so it cannot be included with the main server.

If you use your own Google API keys it might still work, yes (with some work), but it'll use our infrastructure.

[2018-11-21 00:53] bisherbas commented on #192
@mario Using the latest beta now. Still no notification. When I hold two phones, Android and iPhone, and keep the Talk app open on both phones, and I called the one from other, I see a message at the bottom saying that called initiated. But no system notification on either phone. Whether the Talk app is open or not.

[2018-11-21 08:46] gradinaruvasile commented on #257
And this means that we will have to install the push server and an option in Nextcloud to use it?

[2018-11-21 09:13] qoheniac commented on #257
I guess it means that including Firebase wouldn't hurt F-Droid's rules anymore so that you could then use FCM with the version downloaded from F-Droid just like now with the Play Store version. You would still rely on microG Service Core (or Google Play Services).

[2018-11-21 12:18] mario commented on #257
@gradinaruvasile no, what this means is that FDroid will be able to build a regular flavour of the Talk app and those with MicroG will have Push functionality even when app was installed from FDroid.

So @qoheniac was right :)

[2018-11-21 20:12] mario opened #352 "Show generated avatars for guests"

[2018-11-21 20:16] mario opened #353 "Show participant status flags"

[2018-11-21 20:18] #318 closed

[2018-11-22 15:12] #349 closed

[2018-11-22 15:13] mario commented on #349
Will release beta5 today so  maybe you can try @mollat :)

[2018-11-22 17:19] mario commented on #349
Yes, sorry - beta6 is out.

[2018-11-22 17:27] xf- opened #354 "Pixel 2 instant crash"
Last beta update of Nextcloiud Talk App (22. Nov via Google-Play 3.1.0beta5) crashes instant on Google Pixel 2 while opining the app.

[2018-11-22 17:29] mario commented on #354
I know, sorry about that - beta6 is already out.

On Thu, 22 Nov 2018, 18:27 Xaver Maierhofer <notifications@github.com wrote:

[2018-11-22 17:44] #354 closed

[2018-11-22 17:46] xf- commented on #354
Thx for quick update :) Wasn't able to find any newer update. Maybe stuck in review process. I will test it again after the update is available.

[2018-11-22 20:38] #170 closed

[2018-11-22 20:57] mario commented on #16
Changing this a bit as we speak.

[2018-11-22 20:57] #16 closed

[2018-11-27 18:37] Mario116 commented on #232
Hello.
Notifications are still not working.

Install a clean NC.
Installing Notifications
Installing Nextcloud Talk
Notifications are still working

I add authorization through AD - notifications stop working.
Turning off authorization through AD - does not help, notifications still do not work. At the same time through the browser - everything works. Tried and turned on and off TURN and STUN - No

[2018-11-27 23:49] mario commented on #232
Hi @Mario116,

I am sorry that this is not working for you. Since AD is not officially supported by the Talk Android app just yet, it might happen that something doesn't work.

If you'd like us to look into this, please contact sales@nextcloud.com and they'll arrange for something with you.

Thanks,
Mario

[2018-11-28 13:01] mario commented on #314
This will be fixed in 3.2.

[2018-11-28 14:10] mario opened #356 "Move new conversation to FAB"

[2018-11-28 20:04] kendy opened #357 "Move the hang up button to a different place?"
I was wondering if it was possible to move the hang up button (in the videoconference screen) to some other place; like eg. the top (be it middle, left or right), so that it is hard to touch it by mistake when muting / unmuting? I can even imagine the hang up button in the middle of the screen - the buttons appear after tapping anyway.

I know that ~all the videoconferencing apps have the buttons

[2018-11-29 10:00] mario commented on #357
Thanks for this. It will be fixed in the next stable release.

[2018-11-29 13:36] #357 closed

[2018-11-29 13:37] mario commented on #357
Fixed. This is how it looks now:

![screen shot 2018-11-29 at 14 36 57](https://user-images.githubusercontent.com/5810/49225397-40335880-f3e4-11e8-8c21-072986dc9008.png)

[2018-11-29 15:32] mario opened #358 "Fix SVG icon on notification for some phones"

[2018-11-29 16:21] j-ed opened #359 "Talk 3.1.0 typo on start screen"
The latest Nextcloud Talk app cfor Android 3.1.0 ontains a typo on the start screen of German devices. If you choose "Unterhaltungen" you can read "`Kliacken` Sie auf Start um ..." instead of "**`Klicken`** ...".

[2018-11-29 16:33] kendy commented on #357
Awesome, thanks so much! :-)

[2018-11-29 16:54] mario commented on #359
HI @j-ed,

would you be so kind to contribute here?

https://www.transifex.com/nextcloud/nextcloud/android-talk/  :)

That way the translation will make it in.

[2018-11-29 17:11] j-ed commented on #359
@mario [x] done.

[2018-11-29 17:17] mario commented on #359
Thanks for the contribution :)

[2018-11-29 17:17] #359 closed

[2018-11-30 10:22] #353 closed

[2018-11-30 10:25] mario opened #361 "Move conversation info to room name tap"

[2018-11-30 10:38] mario commented on #358
@AndyScherzinger wanna look into this?

https://raw.githubusercontent.com/nextcloud/android/master/drawable_resources/first_run_talk.svg

The relevant files in drawable:

ic_logo
ic_logo_blue

Maybe also switch to proper tinting where needed instead of having it this ugly?

[2018-11-30 10:43] mario commented on #317
What would you do here @nickvergessen? Most existing apps out there actually cancel your call (Viber for example) if there's an incoming REAL call.

[2018-11-30 10:44] mario commented on #317
This is a different use case than @jookk mentioned, but it's still important.

[2018-11-30 10:44] #346 closed

[2018-11-30 13:36] mario opened #362 "Make send button in chat rounded"

[2018-11-30 13:36] mario commented on #362
cc @jancborchardt

[2018-11-30 13:36] mario opened #363 "Fix background image dimensions in call screen"
cc @jancborchardt

[2018-11-30 19:03] jancborchardt commented on #362
Yes, thanks a lot! A circle would be neat. :)

[2018-11-30 21:17] IMbiea commented on #195
I'm still seeing this issue as well.

Same error.  I have my CA installed, and client certs (same custom CA) which works with Android/chrome
But doesn't work with the latest client (3.1.1)

[2018-12-01 17:53] bonafideb opened #364 "No indication of outgoing call *no ringing*"
There's no indication of an outgoing call other than the "connecting..." disappearing. It is silent with no ringing so it is hard to differentiate whether or not the call is still 'ringing' or has been established by the other end.

[2018-12-01 17:59] bonafideb opened #365 "Sending msg during a call exits call prematurely"
Using the Talk app to send a message while during a call exits the call prematurely.

[2018-12-01 18:00] bonafideb opened #366 "Speaker phone only works while holding the button"
The speaker phone function only works while actively holding down the speaker phone icon/button rather than a press and release for on and off.

[2018-12-01 18:02] bonafideb opened #367 "Microphone icon does not do PTT"
When first using the app it indicates that actively pushing the microphone icon/button will active a push to talk (PTT) functionality. This feature does not work, rather the button only works in a press and release fashion; muting and unmuting the microphone.

[2018-12-01 18:39] bonafideb commented on #366
My apologies... this issue is intermittent, however it is present often.

[2018-12-01 20:16] mario commented on #367
Hello,

can you please confirm that the following steps do not work:

1) Disable the microphone/audio by clicking on the microphone icon
2) Click and hold the microphone icon

[2018-12-01 20:19] mario commented on #364
I am sorry that the experience of using the app has been less than optimal. For your desired functionality we would need certain changes in the server part of the Talk/Spreed.

Since this functionality has already been requested in #254 for the Talk Android app, I'll close this ticket right here, but will be sure to update you and others there in case something changes in the future.

Thank you fo

[2018-12-01 20:19] #364 closed

[2018-12-03 19:38] wargreen commented on #338
I've same issue on another android device.
Maybe i search about a wrong thing ? Is the contact panel should display the contacts who are in the contact's app in my NC server and via carddav sync ?

[2018-12-04 11:14] mario opened #368 "Extract various branding parameters"

[2018-12-04 13:21] mario commented on #227
@jancborchardt  please respond :)

[2018-12-04 14:24] jancborchardt commented on #227
@mario sorry – send me some messages on Talk and I will be able to test, have Talk 3.1.1 on Android 5.1

[2018-12-04 15:19] jancborchardt commented on #227
Could still reproduce:
![talk app header without back from notification](https://user-images.githubusercontent.com/925062/49451827-4fe5df00-f7e0-11e8-895f-250c3a1bb018.png)

It shows the arrow when switching out of the app and back in.

[2018-12-04 15:21] jancborchardt opened #369 "Notification shows own name in 3rd row"
Here I got a message from @mario saying "Hi Jan-C. Borchardt" (a mention). The 3rd row seems to be my own name, as it is also in other 1-on-1 messages:
![talk app notification shows username in 3rd row](https://user-images.githubusercontent.com/925062/49451921-7d328d00-f7e0-11e8-9a86-c9f02a6a1114.png)

I assume this is the room name, which by default is my own name? This we shouldn’t show as it’s

[2018-12-04 16:38] jancborchardt commented on #369
Could you show a screenshot of how it looks on newer Android? :) If it’s only an issue with older versions (that screenshot is from 5.1) it should be fine.

[2018-12-04 20:48] mario commented on #358
Should be fixed in one of the branches now :)

[2018-12-04 21:36] mario opened #370 "Clicking on notification does nothing"
Investigate when and why this happens.

To reproduce:
1) Have a user send you two messages
2) Only one notification will have action attached to it

[2018-12-05 07:03] tobiasKaminsky commented on #370
If this is what we discussed, then only the latest notification works, but not the previous ones.
It also seems not matter if one dismiss the older one.

[2018-12-05 08:51] mario commented on #370
Yup, that's it.

[2018-12-05 13:02] florentfeougier commented on #192
Hi @mario, I was going to create the accounts for you to test but I decided to setup a new test server as followed:

Server: Debian9 + latest Nextcloud 14.04 + coturn + Nextcloud app 4.0.1
Android client: updated from 3.0.1 to 3.1.1

it now works perfectly !

Thanks for you all your hard work on this great software :)

[2018-12-05 13:03] mario commented on #192
@florentfeougier happy to hear this! :)

[2018-12-06 09:30] mollat commented on #349
No crashes anymore with 3.1.0. Thanks!

[2018-12-07 23:27] mario opened #371 "MDM support"

[2018-12-07 23:33] mario opened #372 "Use telephony API for better calls integration"

[2018-12-07 23:34] mario opened #373 "Move conversation item menu to conversation info"

[2018-12-07 23:36] mario opened #374 "Move to Fresco"

[2018-12-07 23:42] mario commented on #230
Moving to v3.3 (sorry @icewind1991) since I'll do a lot of notifications-related stuff in that version.

[2018-12-08 00:09] mario opened #375 "Add pinch-to-zoom in calls"

[2018-12-08 08:05] Spartachetto opened #376 "Username autocomplete doesn't work properly"
I have a problem with username autocomplete.

Let us suppose that in the server that I use there is a user with a username = "mario".

If I start writing "@mar", the app correctly visualizes a tooltip with the text "@mario". I can touch the tooltip and in the text I get "@mario ".
I then push the spacebar and I get back the text "@mar ".

I tried also using other characters instead of the spacebar

[2018-12-08 15:04] mario commented on #376
Hello @Spartachetto.

I'm sorry that you're having less than perfect experience of using the Talk app. I am aware of several smaller issues with autocomplete but none like you mentioned - I did try to reproduce on a few phones.

In order to help me solve this problem for you, would you mind sharing your phone vendor and your OS version?

That would help me a lot!

Thanks,
Mario

[2018-12-08 18:46] Spartachetto commented on #376
I have a Samsung with android 8.0.0

Is this enough information?

Thank you for your prompt reply!

[2018-12-10 10:09] mollat commented on #349
Thanks for fixing so rapidly... ;)

[2018-12-10 13:46] robertfromont commented on #341
Did this make it into a release yet (v3.1.1 is still seems to have the issue)?

[2018-12-10 13:51] mario commented on #341
@robertfromont it did and it should work. Can you tell me how are you testing?

[2018-12-10 13:54] robertfromont commented on #341
Same process as here:
[https://github.com/nextcloud/talk-android/issues/315](https://github.com/nextcloud/talk-android/issues/315)
i.e.:

1. Person A sends message to Person B (there's a notification on phone B, yay!)
2. Person B opens the conversation.
3. Person B hits the home button (without leaving the coversation).
4. Person A sends another message, there's no notification on phone B

[2018-12-10 13:55] mario commented on #341
Well damn...let me re-test this again. Sorry for the trouble @robertfromont :(

[2018-12-10 17:01] tobiasKaminsky opened #379 "Error out when no talk is installed as soon as possible"
- have a server with no talk installed
- type server url
- type user / password
- see error message

as http://localhost/nc/ocs/v1.php/cloud/capabilities is exposing spreed capability even when not logged in, this can be shown directly on entering server url.

[2018-12-10 17:18] tobiasKaminsky opened #380 "Grant for permission directly"
- install app
- start a call
- see ![2018-12-10-181434](https://user-images.githubusercontent.com/5836855/49749028-85d70780-fca7-11e8-8fbd-6ea6880f597c.png)

It should be directly asked for:
![2018-12-10-181731](https://user-images.githubusercontent.com/5836855/49749170-e5351780-fca7-11e8-9b67-11fbdd48ed4d.png)

Either on first start after installation or on first call…
(Same for camera)

[2018-12-10 17:24] tobiasKaminsky opened #381 "Use introduction screen"
I think I remember that we discussed with @jancborchardt and @skjnldsv when creating Simple Signup, that this should then also used for talk…?

Android Files app / Talk
![2018-12-10-181906](https://user-images.githubusercontent.com/5836855/49749262-17df1000-fca8-11e8-8ec5-d0c8fcc289fb.png) ![2018-12-10-182144](https://user-images.githubusercontent.com/5836855/49749395-7ad0a700-fca8-11e8-8ec3-ab43a

[2018-12-10 18:01] oparoz opened #382 "Can't login on 15 RC3"
## Steps to reproduce

1. Get your session killed
2. Try to log in using a token

### Expected behaviour

I should be logged in

### Actual behaviour

Nothing happens. I can press as many times as I want on the Grant access button. Nothing happens.

[2018-12-10 18:22] mario commented on #382
Probably a server issue since token login didn't work for a while :)

On Mon, 10 Dec 2018, 19:01 Olivier Paroz <notifications@github.com wrote:

[2018-12-11 11:42] mario commented on #341
I can reproduce, sorry about that. The fix will be in 3.1.2. Let me know if it doesn't fix it for you @robertfromont.

[2018-12-11 11:43] Ivansss opened #384 "Use special icons for rooms associated to objects"
Same as in the web client:
https://github.com/nextcloud/spreed/pull/1346

[2018-12-11 12:18] mario commented on #382
Fixed via 3.1.2. Sorry for the trouble. Keep in mind token login only works on Nc15+.

[2018-12-11 12:18] #382 closed

[2018-12-11 12:29] mario opened #386 "Fix push not working if you delete the token"

[2018-12-11 12:51] mario commented on #227
Will be fixed by #360

[2018-12-11 12:55] robertfromont commented on #341
Thanks, I really appreciate the quick response @mario

[2018-12-11 13:14] robertfromont commented on #341
Now I get the notification if the app is in the background (yay!).
But I also get a notification if the app is still in the foreground.  For my purposes, that's probably fine, actually, but it might not be what you intended.

[2018-12-11 13:19] mario commented on #341
Please do let me know. I appreciate the feedback btw! :)

[2018-12-12 08:49] tobiasKaminsky opened #387 "Add participant / share link in 1:1 call"
- create 1:1 call with user A
- go into conversation/room(?)
- try to add another user
or
- share link

[2018-12-12 13:02] alexara opened #388 "Halt video transmission on bad connection"
I used to have conversations with a partner who's mobil connection is a) slow and b) bad, so there's a high latency and a high rate of package drops.

This sometimes leads to having to extremely low fps at the video transmission and even worse to robotic sounding voices and eventually to a call drop.

I know from WhatsApp that they stop the video transmission and replace the background image with

[2018-12-12 13:06] alexara opened #389 "Show own camera image as a rectangle not as a square"
The camera output is actually a rectangle (4:3 or 16:9?) and not a square.
That's why a part of left and right are cut of one's own camera preview image during a call.

It would be great to see the whole picture to know what or whom the one on the other end of the line actually sees.

[2018-12-13 11:48] Ivansss commented on #384
Let's use the text icon for files:
https://github.com/nextcloud/spreed/pull/1387

[2018-12-13 14:41] mario commented on #389
Thanks for filling an issue. Let me look into this :)

[2018-12-13 14:42] mario commented on #388
Bandwith and/or bitrate are already automagically adjusted in case of a drop in connection quality.

However, we could indeed stop the video is it's below a certain threshold. This will definitely be in one of the future releases.

[2018-12-13 20:43] mario opened #390 "Secure activities"

[2018-12-13 20:54] mario commented on #387
Sharing is already possible via conversation menu (long click on conversation), and conversations management is part of #79 :)

[2018-12-13 20:54] #387 closed

[2018-12-13 21:45] mario commented on #376
Do you use some 3rd party keyboard or something maybe?

[2018-12-14 00:22] Spartachetto commented on #376
I use the stock Samsung keyboard. Version 3.0.23.

I do not think I have other conflicting apps. Do you have suggestions on which apps to look at?

[2018-12-14 00:37] jancborchardt commented on #381
The point of this main first run screen is that people see Simple Sign up. Currently you need to have your own server.

[2018-12-14 06:17] mario commented on #381
That I can fix :)

On Fri, 14 Dec 2018, 01:37 Jan-Christoph Borchardt <notifications@github.com
wrote:

[2018-12-14 06:30] pwFoo commented on #370
Push notifications should be grouped? Works with browser / push webapi.

[2018-12-14 06:33] pwFoo commented on #265
With webpush api / browser it's possible to group notifications together. So with 2+ notifications just one is shown. Not possible with the app?

[2018-12-14 09:08] tobiasKaminsky commented on #387
ah :-)
I assumed I could do this within a conversation, so you have to leave current room.

On long clicking: is there a reason why link sharing is "hidden" behind "make public"? This seems not to be necessary on web ui?

At least for me it is a bit confusing, when same behaviour is called different.

[2018-12-14 09:11] tobiasKaminsky commented on #381
Also the idea of the introduction screen is to show what Talk + NC can do. Imagine someone is installing it "by accident". So a generic overview what the app is about is quite nice (at least this was one of the intention we figured out at previous hackweek, @jancborchardt).

This is a really really good idea, but does not conflict at all with the introduction screen.

[2018-12-14 13:20] mario commented on #381
OK, I can do an introduction screen first time you run the app indeed. @jancborchardt can you deliver the slides, please?

@tobiasKaminsky @skjnldsv and @jancborchardt - next time something like this is discussed I'd really appreciate to be involved rather than just telling me the "decision" :)

[2018-12-14 13:41] tobiasKaminsky commented on #381
The slides are here: https://github.com/nextcloud/android/blob/59cf6b9ba4965f38f2749f0624013daf0b83c946/src/main/java/com/owncloud/android/ui/activity/FirstRunActivity.java#L241

If I recall it correctly, it was first about Simple Signup on Files as there Talk was not ready for using it with providers. While discussing it turned out that the introduction screen is missing as new users do not know